<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<h:outputText
		value="#{text['userValueDetail.contactInformationLabels']}"
		style="font-weight:bold;text-decoration: underline;" />
	<p>
		<h:outputText
			value="Each individual may be assigned a classification  from the list of classification  defined here. These classifications are typically used to denote the status or state of the individual. For example: Member, Associate Member, and Regular Visitor." />
	</p>
	<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

		<p:commandButton id="cmdCntTypeDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
			styleClass="st-delete" oncomplete="PF('confirmation').show();"
			disabled="#{!userValueController.checked}"
			update=":dlgFrm:otplUserToDelete  :dlgFrm:cmdbtnConfirm">

			<f:setPropertyActionListener
				target="#{userValueController.postDeleteUpdate}"
				value=":mainFrm:acdnpnlSetting:dtContactLabel :mainFrm:growl" />

		</p:commandButton>



		<p:commandButton
			actionListener="#{userValueController.addUserValueClassfication}"
			id="cmdCntTypeAdd" icon="fa fa-plus Fs14 white" value="#{text['button.add']}"
			oncomplete="addRowOnComplete('.contact-datatable-data');"
			update=":mainFrm:acdnpnlSetting:dtContactLabel, :mainFrm:growl" />


	</p:panelGrid>

	<p:panelGrid columns="1" style="width:100%">



		<p:dataTable id="dtContactLabel" var="contactlabel"
			value="#{userValueController.contactValues}"
			rowKey="#{contactlabel.uservalueId}"
			selection="#{userValueController.selectedContactLabel}"
			editable="true" widgetVar="uvcntlbl" paginator="true"
			paginatorPosition="top" rows="10"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink}
{LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="10,25,100" styleClass="contact-datatable-data">

			<p:ajax event="rowEdit" listener="#{userValueController.onEdit}"
				update=":mainFrm:growl :mainFrm:acdnpnlSetting:dtContactLabel :mainFrm:acdnpnlSetting:cmdCntTypeDelete"
				oncomplete="PF('uvcntlbl').unselectAllRows();" />

			<p:ajax event="rowEditCancel"
				listener="#{userValueController.onCancel}"
				update=":mainFrm:growl :mainFrm:acdnpnlSetting:cmdCntTypeDelete"
				oncomplete="PF('uvcntlbl').unselectAllRows();" />

			<p:ajax event="rowSelectRadio"
				listener="#{userValueController.radioSelected}"
				update=":mainFrm:acdnpnlSetting:cmdCntTypeDelete" />

			<p:column selectionMode="single" style="width:2%" />

			<p:column headerText="#{text['userValueDetail.contactType']}"
				style="width:40%">

				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{contactlabel.name}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText id="txtName" value="#{contactlabel.name}">
							<f:validateRequired for="txtname" />

							<ui:remove>
								<f:validator validatorId="IsUniqueValue" />
								<f:attribute name="tablevalues"
									value="#{userValueController.contactlabels}" />
							</ui:remove>
						</p:inputText>
					</f:facet>`
				</p:cellEditor>

			</p:column>

			<p:column headerText="#{text['userValueDetial.description']}"
				style="width:40%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{contactlabel.descr}" />
					</f:facet>
					<f:facet name="input">
						<h:inputText id="txtDescr" value="#{contactlabel.descr}" />
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{text['userValueDetial.Actions']}"
				style="width:18%">
				<p:rowEditor />
			</p:column>

		</p:dataTable>


	</p:panelGrid>



</ui:composition>
