<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<p:confirmDialog id="dialogConfirm"
		header="#{text['userValueDetail.deleteConfirmation']}"
		severity="alert" widgetVar="confirmation" showEffect="clip"
		hideEffect="fold">

		<f:facet name="message">

			<p:panelGrid columns="1">
				<h:outputFormat id="otplUserToDelete"
					value="#{text['userValueDetail.areYouSure']}">
					<f:param value="#{userValueController.selectedUservalue.name}" />
					<f:param value="#{text['userValueDetail.classification']}" />
				</h:outputFormat>
			</p:panelGrid>
		</f:facet>



		<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
			oncomplete="PF('confirmation').hide()"
			actionListener="#{userValueController.delete}"
			update="#{userValueController.postDeleteUpdate}" />

		<p:commandButton id="decline" value="#{text['button.no']}"
			onclick="PF('confirmation').hide()" type="button" />


	</p:confirmDialog>



</ui:composition>
