<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">




	<h:outputText value="Individual Classification Codes"
		style="font-weight:bold;text-decoration: underline;" />
	<p>
		<h:outputText
			value="Each individual may be assigned a classification  from the list of classification  defined here. These classifications are typically used to denote the status or state of the individual. For example: Member, Associate Member, and Regular Visitor." />
	</p>
	
	<p:panelGrid columns="2"  styleClass="ui-panelgrid-blank">

		<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
			styleClass="st-delete" oncomplete="PF('confirmation').show();"
			disabled="#{!userValueController.checked}"
			update=":dlgFrm:otplUserToDelete  :dlgFrm:cmdbtnConfirm">

			<f:setPropertyActionListener
				target="#{userValueController.postDeleteUpdate}"
				value=":mainFrm:acdnpnlSetting:dtMemberType :mainFrm:growl" />

		</p:commandButton>

		<p:commandButton id="cmdAdd"
			actionListener="#{userValueController.addUserValueClassfication}"
			icon="fa fa-plus Fs14 white" value="#{text['button.add']}" oncomplete="addRowOnComplete('.member-datatable-data');" 
			update=":mainFrm:acdnpnlSetting:dtMemberType, :mainFrm:growl" /> 

	</p:panelGrid>

	<p:panelGrid columns="1" style="width:100%">

		<p:dataTable id="dtMemberType" var="membertype"
			value="#{userValueController.memberTypes}"
			rowKey="#{membertype.uservalueId}"
			selection="#{userValueController.selectedUservalue}" editable="true"
			widgetVar="uvdttble"
			paginator="true" paginatorPosition="top" rows="10"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink}
{LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="10,25,100"
			styleClass="member-datatable-data">


			<p:ajax event="rowEdit" listener="#{userValueController.onEdit}"
				update=":mainFrm:growl :mainFrm:acdnpnlSetting:dtMemberType :mainFrm:acdnpnlSetting:cmdDelete"
				oncomplete="PF('uvdttble').unselectAllRows();" />


			<p:ajax event="rowEditCancel"
				listener="#{userValueController.onCancel}"
				update=":mainFrm:growl :mainFrm:acdnpnlSetting:cmdDelete"
				oncomplete="PF('uvdttble').unselectAllRows();" />

			<p:ajax event="rowSelectRadio"
				listener="#{userValueController.radioSelected}"
				update=":mainFrm:acdnpnlSetting:cmdDelete" />


			<p:column selectionMode="single" style="width:2%" />

			<p:column headerText="#{text['userValueDetail.classification']}"
				style="width:40%">

				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{membertype.name}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText id="txtName" value="#{membertype.name}">
							<f:validateRequired for="txtname" />

							<ui:remove>
								<f:validator validatorId="IsUniqueValue" />
								<f:attribute name="tablevalues"
									value="#{userValueController.memberTypes}" />
							</ui:remove>
						</p:inputText>
					</f:facet>`
				</p:cellEditor>

			</p:column>

			<p:column headerText="#{text['userValueDetial.description']}"
				style="width:40%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{membertype.descr}" />
					</f:facet>
					<f:facet name="input">
						<h:inputText id="txtDescr" value="#{membertype.descr}" />
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{text['userValueDetial.Actions']}" style="width:18%">
				<p:rowEditor />
			</p:column>

		</p:dataTable>
	</p:panelGrid>



</ui:composition>
