<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">


    <p:panelGrid columns="2" id="campaignAddPnl" styleClass="Wid100 ui-panelgrid-blank">


        <p:outputLabel for="name" value="#{text['campaign.name']}"/>
        <p:inputText id="name" value="#{campaignForm.campaign.name}"
                     required="true" maxlength="50"/>


        <h:outputText/>
        <p:message for="name"/>


        <p:outputLabel for="descr"
                       value="#{text['campaign.descr']}"/>

        <p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
                         maxlength="100" counterTemplate="{0} characters remaining"
                         autoResize="false" value="#{campaignForm.campaign.descr}"
                         id="descr"/>
        <h:outputText/>
        <p:message for="descr"/>

        <h:outputText/>
        <h:outputText id="inptxrCounter"/>



        <p:outputLabel for="category" value="#{text['fund.fundId']}"/>

        <p:selectOneMenu value="#{campaignForm.campaign.category}"
                         id="category" required="true" converter="#{categoryConverter}">

            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{campaignForm.dataService.categoryFunds}"
                           var="cat" itemLabel="#{cat.name}" itemValue="#{cat}"/>

        </p:selectOneMenu>

        <h:outputText/>
        <p:message for="category"/>


        <p:outputLabel for="goalAmt" value="#{text['campaign.goalAmt']}"/>


        <p:inputNumber id="goalAmt" value="#{campaignForm.campaign.goalAmt}"
                       required="true" symbol="$"
                       validatorMessage="#{text['errors.num.max']}">
            <f:validateDoubleRange maximum="999999.00"/>
        </p:inputNumber>

        <h:outputText/>
        <p:message for="goalAmt"/>


        <p:outputLabel for="startDate" value="#{text['campaign.startdate']}"/>

        <p:calendar value="#{campaignForm.campaign.startDate}" id="startDate"
                    required="true" showOn="button" pattern="MM/dd/yyyy" mask="true"
                    maskAutoClear="true"/>
        <h:outputText/>
        <p:message for="startDate"/>


        <p:outputLabel for="endDate" value="#{text['campaign.enddate']}"/>

        <p:calendar value="#{campaignForm.campaign.endDate}" id="endDate"
                    required="false" showOn="button" pattern="MM/dd/yyyy" mask="true"
                    maskAutoClear="true"/>

        <h:outputText/>
        <p:message for="endDate"/>


        <p:outputLabel for="deductible"
                       value="#{text['campaign.deductible']}"/>


        <p:selectBooleanButton value="#{campaignForm.campaign.deductible}"
                               onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
                               id="deductible"/>

        <h:outputText/>
        <p:message for="deductible"/>


        <o:validateOrder components="startDate endDate" type="lte"
                         showMessageFor="endDate" message="#{text['errors.enddate.before']}" />



    </p:panelGrid>




</ui:composition>