<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <p:outputLabel value="#{text['person.name']}" for="autoperson"/>

    <p:autoComplete id="autoperson"
                    value="#{pledgeForm.entryPledge.person}"
                    completeMethod="#{pledgeForm.completePerson}" var="person"
                    itemLabel="#{person.name}" itemValue="#{person}"
                    groupBy="#{pledgeForm.getPersonGroup(person)}" scrollHeight="250"
                    minQueryLength="1" converter="#{personConverter}" required="true"
                    dropdown="false" forceSelection="true" styleClass="autoperson">


    </p:autoComplete>


    <h:outputText/>
    <p:message for="autoperson" id="msg1"/>


    <p:outputLabel value="#{text['pledgeDetail.pledge.amt']}"
                   for="amt"/>

    <p:inputNumber id="amt"
                   value="#{pledgeForm.entryPledge.pledgeAmt}" required="true"
                   validatorMessage="#{text['errors.batchTotal.max']}" symbol="$"
                   onkeydown="if (event.keyCode == 13) $('#autoperson_input').focus();">
        <f:validateDoubleRange maximum="999999.99"/>
    </p:inputNumber>

    <h:outputText/>
    <p:message for="amt" id="msg2"/>


    <p:outputLabel value="#{text['pledgeDetail.note']}" for="note"/>

    <p:inputText id="note" value="#{pledgeForm.entryPledge.note}"
                 required="false" maxlength="255" styleClass="text-large"
                 onkeydown="if (event.keyCode == 13) $('#autoperson_input').focus();"/>


    <h:outputText/>

</ui:composition>