<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<p:panelGrid id="householdLeftPnl">

		<p:row>
			<p:column>
				<h:inputHidden value="#{householdForm.household.householdId}"
					id="householdId" />
			</p:column>
			<p:column />
			<p:column />
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel styleClass="control-label" for="name"
					value="#{text['household.name']}" />
			</p:column>
			<p:column>
				<p:inputText id="name" value="#{householdForm.household.name}"
					required="true" maxlength="50" />
			</p:column>

			<p:column>
				<p:message for="name" styleClass="help-inline" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel value="#{text['household.picture']}" for="gipic" />
			</p:column>

			<p:column colspan="2">
				<p:graphicImage width="128" height="128"
					value="#{householdForm.householdPicture}" id="gipic" />
			</p:column>

		</p:row>

		<p:row>

			<p:column>
				<h:outputText value="#{householdForm.imageFileName}" />
			</p:column>

			<p:column>
				<p:commandButton value="Update Picture" update=":mainFrm:gipic" />
			</p:column>


			<p:column>
				<p:commandButton value="Update Form" update="@form" />
			</p:column>


		</p:row>


		<p:row>
			<p:column />
			<p:column colspan="2">
				<p:fileUpload id="image" value="#{householdForm.file}"
					fileUploadListener="#{householdForm.handleFileUpload}" auto="true"
					mode="advanced" update=":mainFrm:growl :mainFrm:gipic @form" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel styleClass="control-label" for="saluation"
					value="#{text['household.saluation']}" />
			</p:column>
			<p:column>
				<p:inputText id="saluation"
					value="#{householdForm.household.saluation}" required="true"
					maxlength="25" />
			</p:column>
			<p:column>
				<p:message for="saluation" styleClass="help-inline" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel styleClass="control-label" for="informal"
					value="#{text['household.informal']}" />
			</p:column>

			<p:column>
				<p:inputText id="informal"
					value="#{householdForm.household.informal}" required="false"
					maxlength="50" />
			</p:column>

			<p:column>
				<p:message for="informal" styleClass="help-inline" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel styleClass="control-label" for="email"
					value="#{text['household.email']}" />
			</p:column>
			<p:column>
				<p:inputText id="email" value="#{householdForm.household.email}"
					required="true" maxlength="100" />
			</p:column>

			<p:column>
				<p:message for="email" styleClass="help-inline" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel styleClass="control-label"
					value="#{text['user.phoneNumber']}" for="phoneNumber" />
			</p:column>
			<p:column>
				<p:inputMask id="phoneNumber"
					value="#{householdForm.household.phoneNumber}"
					mask="(999) 999-9999" />
			</p:column>
			<p:column>
				<p:message for="phoneNumber" styleClass="help-inline" />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="3" >
				<p:fieldset legend="#{text['user.address.address']}">
					<p:panelGrid columns="3">
						<p:outputLabel styleClass="control-label"
							value="#{text['user.address.address']}" for="address" />
						<p:inputText id="address"
							value="#{householdForm.household.address.address}"
							styleClass="text-large" />
						<p:message for="address" styleClass="help-inline" />

						<p:outputLabel styleClass="control-label"
							value="#{text['user.address.city']}" for="city" />
						<p:inputText id="city"
							value="#{householdForm.household.address.city}" />
						<p:message for="city" styleClass="help-inline" />

						<p:outputLabel styleClass="control-label"
							value="#{text['user.address.province']}" for="province" />
						<p:inputText id="province"
							value="#{householdForm.household.address.province}"
							styleClass="text-small" />
						<p:message for="province" styleClass="help-inline" />

						<p:outputLabel styleClass="control-label"
							value="#{text['user.address.postalCode']}" for="postalCode" />
						<p:inputText id="postalCode"
							value="#{householdForm.household.address.postalCode}"
							styleClass="text-small" />
						<p:message for="postalCode" styleClass="help-inline" />
					</p:panelGrid>
				</p:fieldset>
			</p:column>

		</p:row>

	</p:panelGrid>


</ui:composition>