<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<p:panelGrid id="householdRightPnl" columns="1">

		<p:row>
			<p:column colspan="1">
				<p:tabView effect="fade" effectDuration="fast" orientation="top"
					id="tbviwHousehold">
					<p:tab id="member" title="Members">

						<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
							id="pnlMemembers">

							<p:panel header="Members"
								visible="#{householdForm.currentPanel eq 'LANDING'}">
								<p:row>
									<p:column colspan="1">
										<p:commandLink update=":mainFrm:tbviwHousehold:pnlMemembers"
											styleClass="ui-link">

											<h:outputText value="Add New Member" />
											<f:setPropertyActionListener
												target="#{householdForm.currentPanel}" value="NEW" />

										</p:commandLink>

									</p:column>

									<p:column>
										<p:spacer width="10px" />
									</p:column>

									<p:column colspan="1">
										<p:commandLink value="Add Existing Member"
											update=":mainFrm:tbviwHousehold:pnlMemembers"
											styleClass="ui-link">

											<h:outputText value="Add Existing Member" />

											<f:setPropertyActionListener
												target="#{householdForm.currentPanel}" value="EXISTING" />

										</p:commandLink>

									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<p:separator id="separator" />
									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<p:fieldset legend="#{text['householdList.householdMembers']}"
											id="fldstMembers">
											<p:panelGrid columns="1">
												<p:commandButton id="cmdRemove"
													icon="
												ui-icon-transferthick-e-w"
													disabled="#{householdForm.selectedMember eq null}"
													actionListener="#{householdForm.removeMember}"
													update=":mainFrm:growl :mainFrm:tbviwHousehold:otpMembers"
													value="#{text['household.remove']}"  process="@form" />

												<p:outputPanel  id="otpMembers">
													<p:autoUpdate />
													<p:dataTable value="#{householdForm.members}" var="member"
														id="dtblMembers"
														selection="#{householdForm.selectedMember}"
														rowKey="#{member.firstName}">

														<p:ajax event="rowSelectRadio"
															update=":mainFrm:tbviwHousehold:cmdRemove" />

														<p:column selectionMode="single" style="width:2%" />


														<p:column style="width:5%">
															<p:graphicImage
																value="#{resource['images:Personal-information48.png']}" />
														</p:column>

														<p:column headerText="#{text['user.fullName']}">
															<h:commandLink action="addveiwhere"
																value="#{member.firstName}, #{member.lastName}"
																ajaX="false" styleClass="ui-link">
																<f:param name="personId" value="#{member.personId}" />
																<f:param name="from" value="list" />
															</h:commandLink>
														</p:column>

														<p:column headerText="#{text['user.phoneNumber']}">
															<h:outputText value="#{member.phoneNumber}" />
														</p:column>


													</p:dataTable>
												</p:outputPanel>
											</p:panelGrid>
										</p:fieldset>
									</p:column>
								</p:row>
							</p:panel>

							<p:panel header="New Member"
								visible="#{householdForm.currentPanel eq 'NEW'}"></p:panel>
							<p:panel header="Existing Member"
								visible="#{householdForm.currentPanel eq 'EXISTING'}"></p:panel>
						</p:panelGrid>

					</p:tab>

					<p:tab id="note" title="Notes"></p:tab>
					<p:tab id="document" title="Documents"></p:tab>

				</p:tabView>
			</p:column>
		</p:row>

	</p:panelGrid>

</ui:composition>