<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{text['webapp.name']}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<!--   Not needed in 1.2   
    <h:outputScript name="js/layout.js" library="sentinel-layout" /> -->
	<h:outputStylesheet name="css/font-icon-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/sentinel-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/core-layout.css"
		library="sentinel-layout" />
</h:head>

<h:body style="margin: 0px; background-color:#fff;"
	styleClass="BlueBody PopupMenu">

	<div class="Container100 " id="sentinel-highlight"
		style="padding: 5rem 0px; background-color: #0f446c;">

		<div class="Wid90 OvHidden MarAuto">
			<div class="Container100">
				<div class="EmptyBox90"></div>
				<h1 class=" FontTitilliumSemiBold Fs50 white TexAlCenter">Page
					Expired</h1>
				<div class="EmptyBox20"></div>
				<span class="DispBlock Fs24 FontTitilliumRegular white TexAlCenter">To
					protect your security, we have taken the liberty of logging you
					out. Please close your Browser and log back into the system.</span>
				<div class="EmptyBox40"></div>
				<div class="EmptyBox20 ShowOnMobile"></div>
				<div class="EmptyBox120 ShowOnDesktop"></div>
			</div>
		</div>
	</div>
</h:body>

</html>