<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="body">
        <h:outputScript name="jquery/jquery.js" library="primefaces" target="head"/>
        
        <h3 class="hardblue TexAlCenter">Empty Page</h3>
        <span class="TexAlCenter DispBlock Wid100">Use this page to start from scratch and place your custom content.</span>
    </ui:define>

</ui:composition>