<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
>


<h:head>
	<title>#{text['webapp.name']}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<!--  not needed in 1.2
	<h:outputScript name="js/layout.js" library="sentinel-layout" />-->

	<!-- new in 1.2 -->
	<h:outputScript library="sentinel-layout" name="js/login.js" />
	<h:outputScript library="js" name="login.js" target="body" />


	<h:outputStylesheet name="css/font-icon-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/sentinel-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/core-layout.css"
		library="sentinel-layout" />


</h:head>


<h:body class="fontRegular login-back white-back">

	<form method="post" id="loginForm"
		action="#{request.contextPath}/j_security_check"
		onsubmit="saveUsername(this);" autocomplete="off">


		<div
			class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent5">

			<p:graphicImage name="church-connect-color.png" library="images"
				height="128px" width="128px" />

			<!-- 	<a href="" id="login-logo"> <h:graphicImage
					name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout" />
				<span class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span
					class="softblue">#{text['app.chruchName']}</span><span
					class="hardblue">#{text['app.viewName']}</span></span>
			</a> -->

			<div class="EmptyBox5" />
		</div>



		<!-- LOGIN BOX COVER START -->
		<div class="Container80 MaxWid500 white-back Fnone MarAuto BordRad10"
			id="login-box">
			<div class="Container100">
				<div
					class="Container50 TexAlCenter Animated05 BoxSizeBorder TabBtn left TabBtnActiveLeft"
					role="1">
					<div class="Container80 Fnone MarAuto FontBold">
						<i class="icon-lock"></i> #{text['login.heading']}
					</div>
				</div>
				<div
					class="Container50 TexAlCenter Animated05 BoxSizeBorder TabBtn right"
					role="2">
					<div class="Container80 Fnone MarAuto FontBold">
						<i class="icon-key-1"></i>#{text['signup.title']}
					</div>
				</div>

				<div class="Container90 Fnone MarAuto TexAlCenter TabContent"
					id="TAB1">
					<div class="EmptyBox50">
						<c:if test="${param.error != null}">
							<div class="ui-message-error">#{text['errors.password.mismatch']}</div>
						</c:if>
					</div>

					<input type="text" name="j_username" id="j_username"
						class="Container80 Fnone MarAuto Fs18"
						placeholder="#{text['label.username']}" required="true"
						tabindex="1" />

					<div class="EmptyBox10" />

					<input type="password" class="Container80 Fnone MarAuto Fs18"
						name="j_password" id="j_password" tabindex="2"
						placeholder="#{text['label.password']}" required="true" />

					<div class="EmptyBox20" />
					<div class="Container85 Fnone MarAuto softgray">

						<c:if test="${appConfig['rememberMeEnabled']}">
							<label
								class="Fleft ui-chkbox ui-chkbox-box ui-chkbox-icon ui-chkbox-icon"
								for="rememberMe"> <input type="checkbox" class="Fleft"
								name="_spring_security_remember_me" id="rememberMe" tabindex="3" />#{text['login.rememberMe']}
							</label>
						</c:if>
					</div>
					<div class="EmptyBox30"></div>

					<h:form>
						<p:commandButton value="#{text['button.login']}" styleClass="Fs16"
							id="login" ajax="false"  />
					</h:form>

					<div class="EmptyBox10"></div>

					<h:outputFormat value="#{text['login.passwordHint']}"
						escape="false" styleClass="Fs10">
						<f:param value="#{request.contextPath}/ui/resetPassword.xhtml" />
						<f:param value="#{request.contextPath}/ui/passwordHint.xhtml" />
					</h:outputFormat>

					<div class="EmptyBox20"></div>
				</div>

				<div
					class="Container90 Fnone MarAuto DispNone TexAlCenter TabContent"
					id="TAB2">
					<div class="EmptyBox50"></div>
					<!-- 
					<p:inputText value="" placeholder="Your Email Address"
						styleClass="Container80 Fnone MarAuto Fs18" /> -->
					<h:outputFormat value="#{text['login.signup']}" escape="false"
						styleClass="Container80 Fnone MarAuto Fs18">
						<f:param value="#{request.contextPath}/signup" />
					</h:outputFormat>
					<div class="EmptyBox20"></div>
					<!-- <p:button value="Send Access Request" styleClass="Fs16"> </p:button> 
					<h:outputText value="#{text['login.passwordHint']}" escape="false"  styleClass="Fs16"/>
					<div class="EmptyBox50"></div>-->
				</div>
			</div>
		</div>
	</form>
	<!-- LOGIN BOX COVER END -->

	<script type="text/javascript">
    	var usernameRequired = '<h:outputFormat value="#{text['errors.required']}"><f:param value="#{text['label.username']}"/></h:outputFormat>';
    	var passwordRequired = '<h:outputFormat value="#{text['errors.required']}"><f:param value="#{text['label.password']}"/></h:outputFormat>';
		//<![CDATA[
    if ($.cookie("username") != null && $.cookie("username") != "") {
        $("#j_username").val($.cookie("username"));
        $("#j_password").focus();
    } else {
        $("#j_username").focus();
    }

    function saveUsername(theForm) {
        $.cookie("username",theForm.j_username.value, { expires: 30, path: "${pageContext.request.contextPath}"});
    }

    function validateForm(form) {
        var valid = validateRequired(form);
        if (valid == false) {
            $(".form-group").addClass('error');
        }
        return valid;
    }
    
    function passwordHint() {
        if ($("#j_username").val().length == 0) {
            alert(usernameRequired);
            $("#j_username").focus();
        } else {
        	location.href="#{request.contextPath}/passwordHint";
        }
    }
    
    function required () { 
        this.aa = new Array("j_username", usernameRequired, new Function ("varName", " return this[varName];"));
        this.ab = new Array("j_password", passwordRequired, new Function ("varName", " return this[varName];"));
    }
//]]>
</script>

</h:body>

</html>
