<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/templates/mainMenu.xhtml">



	<ui:define name="title">#{text['login.title']}</ui:define>

	<ui:param name="menu" value="login" />
	<ui:param name="bodyId" value="login" />

	<h:outputScript library="js" name="login.js" target="body" />


	<ui:define name="body">



		<div style="width: 40%; margin: 0 auto">

			<p:spacer height="50px" />

			<div id="logo" />

			<p:panel style="width: 100%">

				<form method="post" id="loginForm"
					action="#{request.contextPath}/j_security_check"
					onsubmit="saveUsername(this);return validateForm(this)"
					class="form-signin" autocomplete="off">

					<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
						style="margin: 0 auto">



						<h1 class="form-signin-heading">#{text['login.heading']}</h1>

						<c:if test="${param.error != null}">
							<div class="ui-message-error">
								#{text['errors.password.mismatch']}</div>
						</c:if>

						<h:panelGroup layout="block">

							<input type="text" name="j_username" id="j_username"
								class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all text-large"
								placeholder="#{text['label.username']}" required="true"
								tabindex="1" />

						</h:panelGroup>

						<h:panelGroup layout="block">

							<input type="password"
								class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all text-large"
								name="j_password" id="j_password" tabindex="2"
								placeholder="#{text['label.password']}" required="true" />

						</h:panelGroup>

						<c:if test="${appConfig['rememberMeEnabled']}">
							<label
								class="ui-chkbox ui-chkbox-box ui-chkbox-icon ui-chkbox-icon"
								for="rememberMe"> <input type="checkbox"
								class="checkbox" name="_spring_security_remember_me"
								id="rememberMe" tabindex="3" /> #{text['login.rememberMe']}
							</label>
						</c:if>

						<button type="submit" style="width: 100%; height: 34px"
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
							name="login" tabindex="4">#{text['button.login']}</button>

					</p:panelGrid>

				</form>



			</p:panel>

			<p>
				<h:outputFormat value="#{text['login.signup']}" escape="false">
					<f:param value="#{request.contextPath}/signup" />
				</h:outputFormat>
			</p>

			<p>
				<h:outputText value="#{text['login.passwordHint']}" escape="false" />
			</p>

		</div>

		<script type="text/javascript">
    		var usernameRequired = '<h:outputFormat value="#{text['errors.required']}"><f:param value="#{text['label.username']}"/></h:outputFormat>';
    		var passwordRequired = '<h:outputFormat value="#{text['errors.required']}"><f:param value="#{text['label.password']}"/></h:outputFormat>';
		//<![CDATA[
		
	$(document).ready(function() {
    	var timezone = jstz.determine();
    	setCookie('TIME_ZONE',timezone.name(), 1 );
       	//setCookie('TIME_OFFSET',timezone.offset(), 1 )
		//$("#timezone_holder").val(timezone.name());
    	//$("#timezone_holder").change();
    	//alert (timezone.offset());

    	//var tz = jstz.determine();
    	//var text = '';

    	//text += 'Timezone name: ' + tz.name();
    	//text += ' UTC offset: ' + tz.getTimezoneOffset();
    	
    	//text += ' Uses DST: ' + tz.dst() ;
    	
    	//text += ' UTC name: ' + tz.utc_name();
    	//text += ' Hemisphere: ' + tz.hemisphere();
    	
    	//alert(text);	
	});
		
    if ($.cookie("username") != null && $.cookie("username") != "") {
        $("#j_username").val($.cookie("username"));
        $("#j_password").focus();
    } else {
        $("#j_username").focus();
    }

    function saveUsername(theForm) {
        $.cookie("username",theForm.j_username.value, { expires: 30, path: "${pageContext.request.contextPath}"});
    }

    function validateForm(form) {
        var valid = validateRequired(form);
        if (valid == false) {
            $(".form-group").addClass('error');
        }
        return valid;
    }
    
    function passwordHint() {
        if ($("#j_username").val().length == 0) {
            alert(usernameRequired);
            $("#j_username").focus();
        } else {
        	location.href="#{request.contextPath}/passwordHint";
        }
    }
    
    function required () { 
        this.aa = new Array("j_username", usernameRequired, new Function ("varName", " return this[varName];"));
        this.ab = new Array("j_password", passwordRequired, new Function ("varName", " return this[varName];"));
    }
//]]>
</script>
	</ui:define>


</ui:composition>
</html>