<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Sentinel Promotional Landing Page</title>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

        <style>
            #menu-button{height:25px; width:25px; float:left; display:block; text-align:center; cursor:pointer; margin-left:20px;}
            #menu-button i{color:#fff; font-size:20px; margin:0px auto 0px auto; vertical-align:middle;}
            #menu-button:hover i, #menu-button:active i, #menu-button:focus i{color:rgba(255,255,255,0.7);}
            #menubody{width:270px; height:auto; background-color:#fff; position:absolute; overflow:hidden; border-radius:5px; margin-top:30px; display:none;
                      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);}
            #menubody.active{display:block;}
            #menubody li{display:block; padding:0px;}
            #menubody li a{display:block; padding:15px 20px; color:#567a84; font-size:16px;}
            #menubody li a:hover, #menubody li a:active, #menubody li a:focus{background-color:#f2f2f2;}

            #topbar{background: #1578c9; background: -moz-linear-gradient(top, #1578c9 0%, #0b66b1 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #1578c9), color-stop(100%, #0b66b1));
                    background: -webkit-linear-gradient(top, #1578c9 0%, #0b66b1 100%); background: -o-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                    background: -ms-linear-gradient(top, #1578c9 0%, #0b66b1 100%); background: linear-gradient(to bottom, #1578c9 0%, #0b66b1 100%);
                    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4); box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);}
        </style>
    </h:head>

    <h:body style="margin: 0px; background-color:#fff;" styleClass="BlueBody PopupMenu">

        <div class="Container100 PosFixed  FontTitilliumSemiBold ShadowGray" style="z-index:999;" id="topbar">
            <div class="EmptyBox20"></div>
            <div class="Wid90 OvHidden MarAuto">
                <h:graphicImage name="images/LOGO.svg" library="sentinel-layout" style="height:25px; float:left;"/>

                <a id="menu-button"><i class="fa fa-bars"></i></a>
                <ul class="" style="padding:0px;" id="menubody">
                    <li class=""><a href="dashboard.xhtml" class="">Sentinel Dashboard</a></li>
                    <li class=""><a href="#sentinel-highlight" class="">Promotion Page Slogan</a></li>
                    <li class=""><a href="#sentinel-cardsArea" class=""> How It Works</a></li>
                    <li class=""><a href="#sentinel-infoArea" class=""> Try Now !</a></li>
                    <li class=""><a href="#sentinel-pricingtables" class="">Pricing Tables</a></li>
                    <li class=""><a href="#sentinel-features" class="">Features</a></li>
                    <li class=""><a href="#sentinel-customers" class="">Customers</a></li>
                    <li class=""><a href="#sentinel-contact" class="">Contact</a></li>
                </ul>
            </div>
            <div class="EmptyBox20"></div>
        </div>

        <!-- -->

        <div class="Container100 " id="sentinel-highlight" style="padding:5rem 0px; background-color:#0f446c;">

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">
                    <div class="EmptyBox90"></div>
                    <h1 class=" FontTitilliumSemiBold Fs50 white TexAlCenter">YOUR APPLICATION SLOGAN COMES HERE</h1>
                    <div class="EmptyBox20"></div>
                    <span class="DispBlock Fs24 FontTitilliumRegular white TexAlCenter">“ You can use this page as a promotion page template for your application.<br/>
                        So your web application and promotion website of application will work in complete harmony. ”</span>
                    <div class="EmptyBox40"></div>
                    <div class="Wid50 MarAuto ui-fluid Responsive100">
                        <div class="Container50 Responsive100"><div class="ContainerIndent"><p:commandButton value="Create Free Account" styleClass="GreenButton Fs18"/></div></div>
                        <div class="Container50 Responsive100"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="BlueButton Fs18"/></div></div>
                    </div>

                    <div class="EmptyBox20 ShowOnMobile"></div>
                    <div class="EmptyBox120 ShowOnDesktop"></div>
                </div>
            </div>
        </div>

        <!-- -->

        <div class="Container100 " id="sentinel-cardsArea" style="background-color:#F0F2F5; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontTitilliumSemiBold Fs30 gray TexAlCenter">How It Works ?</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-tachometer red Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="gray FontTitilliumRegular Fs30">1. Store Stats</h2>
                                <h3 class="gray FontTitilliumRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <span class="gray Fs14 FontTitilliumRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-server red Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="gray FontTitilliumRegular Fs30">2. Server Stats Pro</h2>
                                <h3 class="gray FontTitilliumRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <span class="gray Fs14 FontTitilliumRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-gamepad red Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="gray FontTitilliumRegular Fs30">3. Store Statistics</h2>
                                <h3 class="gray FontTitilliumRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <span class="gray Fs14 FontTitilliumRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-user-secret red Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="gray FontTitilliumRegular Fs30">4. Usage Datas</h2>
                                <h3 class="gray FontTitilliumRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <span class="gray Fs14 FontTitilliumRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="EmptyBox50"></div>

        </div>

        <!-- -->

        <div class="Container100 orange-back" id="sentinel-infoArea" style="padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontTitilliumSemiBold Fs30 white TexAlCenter">Try Now !</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">

                    <div class="Wid70 WidAutoOnMobile MarAuto white Fs20 TexAlCenter FontTitilliumRegular">Create your free account to get access to historical ranks and reviews<br/>
                        To check out just top charts and daily ranks, go to Store Stats now !
                        <div class="EmptyBox20"></div>
                        <p:commandButton value="Create Free Account Now" styleClass="GreenButton"/>
                    </div>

                </div>
            </div>

            <div class="EmptyBox80"></div>

        </div>

        <!-- -->

        <div class="Container100 " id="sentinel-pricingtables" style="background-color:#F0F2F5; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontTitilliumSemiBold Fs30 gray TexAlCenter">Pricing Tables</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 MarAuto Responsive100  ">

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="GrayBorderedBox white-back">
                            <div class="ContainerIndent">
                                <div class="EmptyBox20"></div>
                                <div class="Container100 FontTitilliumSemiBold gray" style="font-size:1.4rem;">Standard</div>
                                <div class="Seperator"></div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Container100 FontTitilliumRegular gray" style="font-size:3rem;">$2<span class="Fs30 leaden">/mo*</span></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">Basic customer support for<br/> small business</div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Seperator"></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">$25 for monthly</div>
                                <div class="EmptyBox20"></div>
                                <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="GrayBorderedBox white-back">
                            <div class="ContainerIndent">
                                <div class="EmptyBox20"></div>
                                <div class="Container100 FontTitilliumSemiBold red" style="font-size:1.4rem;">Pro</div>
                                <div class="Seperator"></div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Container100 FontTitilliumRegular gray" style="font-size:3rem;">$3<span class="Fs30 leaden">/mo*</span></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">All-in-one customer support<br/> for small business</div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Seperator"></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">$35 for monthly</div>
                                <div class="EmptyBox20"></div>
                                <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="RedButton Fleft"/> </div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="GrayBorderedBox white-back">
                            <div class="ContainerIndent">
                                <div class="EmptyBox20"></div>
                                <div class="Container100 FontTitilliumSemiBold gray" style="font-size:1.4rem;">Business</div>
                                <div class="Seperator"></div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Container100 FontTitilliumRegular gray" style="font-size:3rem;">$15<span class="Fs30 leaden">/mo*</span></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">Business class customer <br/>support + One to one help</div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Seperator"></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">$155 for monthly</div>
                                <div class="EmptyBox20"></div>
                                <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="GrayBorderedBox white-back">
                            <div class="ContainerIndent">
                                <div class="EmptyBox20"></div>
                                <div class="Container100 FontTitilliumSemiBold gray" style="font-size:1.4rem;">Business Plus</div>
                                <div class="Seperator"></div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Container100 FontTitilliumRegular gray" style="font-size:3rem;">$50<span class="Fs30 leaden">/mo*</span></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">Business class customer <br/>support + One to one help</div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                                <div class="Seperator"></div>
                                <div class="Container100 FontTitilliumRegular leaden Fs16">$555 for monthly</div>
                                <div class="EmptyBox20"></div>
                                <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                                <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="EmptyBox50"></div>

        </div>

        <!-- -->

        <div class="Container100 " id="sentinel-features" style="padding:0px 3rem; box-sizing:border-box; background-color:#fff;">

            <div class="EmptyBox80"></div>

            <h1 class="FontTitilliumSemiBold Fs30 gray TexAlCenter">Features</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 MarAuto">

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-desktop hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">HTML5 &amp; CSS3</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-university hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Cross-Browser</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-mobile-phone hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Responsive</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-hand-o-up hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Handcrafted</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-cogs hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Rock-Solid</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-desktop hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">HTML5 &amp; CSS3</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-university hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Cross-Browser</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-mobile-phone hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Responsive</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-hand-o-up hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Handcrafted</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-cogs hardblue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontTitilliumRegular hardblue" style="font-size:1.6rem;">Rock-Solid</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontTitilliumRegular gray Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="EmptyBox50"></div>

        </div>

        <!-- -->

        <div class="Container100 " id="sentinel-customers" style="background-color:#F0F2F5; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontTitilliumSemiBold Fs30 gray TexAlCenter">Hundreds Of Thousands Of Customers Trust Us !</h1>
            <div class="EmptyBox30"></div>
            <div class="Wid80 MarAuto">

                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar1.svg" library="sentinel-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock gray FontTitilliumRegular">"We realized Sentinel was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontTitilliumSemiBold DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>
                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar2.svg" library="sentinel-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock gray FontTitilliumRegular">"We realized Sentinel was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontTitilliumSemiBold DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>
                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar1.svg" library="sentinel-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock gray FontTitilliumRegular">"We realized Sentinel was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontTitilliumSemiBold DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="EmptyBox80"></div>

        </div>

        <!-- -->

        <div class="Container100" id="sentinel-contact">

            <p:gmap center="40.701176, -74.006322" zoom="14" type="ROADMAP" style="width:100%;height:600px;"/>

            <div class="Wid100 PosRelative MarAuto OvHidden" style="background-color:#fff;">
                <div class="Container100 TexAlCenter">
                    <div class="Wid100 OvHidden" style="height:2rem;"></div>
                    <div class="Wid100 MarAuto DispBlock OvHidden FontTitilliumSemiBold gray" style="font-size:2.0rem;">We Are Here !</div>
                    <div class="Wid100 OvHidden" style="height:0.5rem;"></div>
                    <div class="Wid100 MarAuto DispBlock OvHidden FontTitilliumRegular Fs20 gray">PO Box 16122, Collins Street West, New York 8007, USA</div>
                    <div class="Wid100 OvHidden" style="height:1rem;"></div>
                    <div class="Container100 ui-fluid"> <p:button value="Contact Us" styleClass="GreenButton MarAuto" style="max-width:250px;"/> </div>
                    <div class="Wid100 OvHidden" style="height:2rem;"></div>
                </div>
            </div>

        </div>

        <!-- FOOTER -->
        <div class="Container100" style="background-color:#3B3D3F;">
            <div class="Container100" style="border-bottom:solid 1px #5B616B;" id="footerlinks">
                <div class="ContainerIndent OvHidden" style="padding:10px;">
                    <a href="#" class="DispInlBlock FontTitilliumRegular white Fs14 Fleft ">TERMS OF CONDITIONS</a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;">|</span>
                    <a href="#" class="DispInlBlock FontTitilliumRegular white Fs14 Fleft ">SITEMAP</a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;">|</span>
                    <a href="#" class="DispInlBlock FontTitilliumRegular white Fs14 Fleft ">PRIVACY</a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;">|</span>
                    <a href="#" class="DispInlBlock FontTitilliumRegular white Fs14 Fleft ">LINKING POLICY</a>

                    <div class="EmptyBox10 ShowOnMobile"></div>
                    <span class="DispInlBlock FontTitilliumRegular white Fs14 Fright  TexAlRight FloatNoneOnMobile"> PrimeFaces Sentinel Theme And Layout</span>
                </div>
            </div>

            <div class="Container100">
                <div class="ContainerIndent OvHidden" style="padding:10px;">
                    <h:graphicImage name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout" style="height:30px;"/>
                    <span class="DispInlBlock FontTitilliumRegular white Fs12 Fright  TexAlRight">+1 888 123 4567 <br/> info@sentinelsentinel.com
                        <br/><br/> Copyright © 2015 <i class="icon-primitive-dot Fs10 white"></i> All rights reserved.</span>
                </div>
            </div>

            <div class="EmptyBox30"></div>
        </div>

        <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout" />
        <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout" />
        <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout" />

        <script>
            // FNC for detecting for click outside of any elements ============== 
            $.fn.clickOff = function (callback, selfDestroy) {
                var clicked = false;
                var parent = this;
                var destroy = selfDestroy || true;

                parent.click(function () {
                    clicked = true;
                });

                $(document).click(function (event) {
                    if (!clicked) {
                        callback(parent, event);
                    }
                    if (destroy) {
                    }
                    ;
                    clicked = false;
                });
            };

            var menubtn = $(document.getElementById("menu-button")),
                    menubody = $(document.getElementById("menubody")),
                    menustatus = true,
                    menuButtonClick = false;

            menubtn.on("click", function () {
                menuButtonClick = true;

                if (menustatus) {
                    menubody.addClass('active');
                    menustatus = false;
                } else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });

            menubody.clickOff(function (e) {
                if (menuButtonClick) {
                    menuButtonClick = false;
                }
                else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });
        </script>
    </h:body>

</html>