<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle" />


	<ui:define name="pageHeader" />

	<ui:define name="body">
		<h:body>
			<h:form prependId="false">

				<p:tabView orientation="left">
					<p:tab>
					
						<f:facet name="title">
							<i class="fa fa-cloud-upload"></i> #{text['button.upload']}
						</f:facet>
					
						<p:fileUpload
							fileUploadListener="#{fileUploadView.handleFileUpload}"
							mode="advanced" dragDropSupport="true" sizeLimit="100000"
							allowTypes="/(\.|\/)(pdf|doc?|xls?|.txt)$/" id="fupload"
							style="height: 420px !important;" widgetVar="wvfileUpload"
							fileLimit="3" label="#{text['button.choose']}">

							<div align="center">
								<h3>
									<h:outputText value="#{text['message.dragAndDrop']}" />
								</h3>
								<h4>
									<h:outputText value="#{text['message.filesToUpload']}" />
									<p:link value="#{text['button.choose']}"
										onclick="$('.ui-fileupload-choose').click(); return false;" />
								</h4>
							</div>
						</p:fileUpload>
					</p:tab>

					<p:tab>
						<f:facet name="title">
							<i class="fa fa-link"></i>#{text['button.urls']}</f:facet>
					</p:tab>

				</p:tabView>

				<!-- 
		
				<p:panelGrid style="margin-top:20px">

					<p:row>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="3">
							<h:outputText value="Extened Cols" />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
						<p:column>
							<h:outputText value="Sample Text" />
						</p:column>
					</p:row>
				</p:panelGrid>
				 -->

			</h:form>

		</h:body>
	</ui:define>


</ui:composition>

</html>
