<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jstl/core" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:v="http://shale.apache.org/validator">

<f:view>
<f:loadBundle var="text" basename="#{basePage.bundleName}"/>
<head>
    <title>#{text['upload.title']}</title>
    <meta name="menu" content="AdminMenu"/>
    <meta name="heading" content="#{text['upload.heading']}"/>
</head>

<h:form id="uploadForm" enctype="multipart/form-data" onsubmit="return validateUploadForm(this)">

<h:panelGrid columns="3">

    <h:panelGroup styleClass="info"><h:outputText value="#{text['upload.message']}"/></h:panelGroup>
    <h:outputText/><h:outputText/>
    
    <h:outputLabel styleClass="desc" for="name" value="#{text['uploadForm.name']}"/>
    <t:message for="name" styleClass="fieldError"/>
    <h:inputText value="#{fileUpload.name}" id="name" required="true" styleClass="text medium">
        <v:commonsValidator client="true" type="required" arg="#{text['uploadForm.name']}"/>
    </h:inputText>

    <h:outputLabel styleClass="desc" for="file" value="#{text['uploadForm.file']}"/>
    <t:message for="file" styleClass="fieldError"/>
    <t:inputFileUpload id="file" value="#{fileUpload.file}" storage="file" required="true" styleClass="file medium">
        <v:commonsValidator client="true" type="required" arg="#{text['uploadForm.file']}"/>
    </t:inputFileUpload>

    <h:panelGroup styleClass="buttonBar bottom">
        <h:commandButton value="#{text['button.upload']}" action="#{fileUpload.upload}"
            id="upload" styleClass="button"/>
        <h:commandButton value="#{text['button.cancel']}" action="mainMenu" immediate="true"
            id="cancel" styleClass="button" onclick="bCancel=true"/>
    </h:panelGroup>
</h:panelGrid>
</h:form>

<v:validatorScript functionName="validateUploadForm"/>

<script type="text/javascript">
    Form.focusFirstElement($('uploadForm'));
    highlightFormElements();
</script>

</f:view>
</html>
