<html xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
	<title>#{text['webapp.name']}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


	<h:outputStylesheet name="styles.css" library="css" />

	<h:outputStylesheet name="css/font-icon-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/sentinel-layout.css"
		library="sentinel-layout" />
	<h:outputStylesheet name="css/core-layout.css"
		library="sentinel-layout" />

	<h:outputScript name="common.js" library="js" target="body" />

</h:head>


<h:body class="fontRegular login-back white-back">

	<h:form id="signupForm">


		<div class="Container100 TexAlCenter">
			<span class="Fs20 FontTitilliumSemiBold"><span
				style="color: #3a4353;">#{text['signup.tryfree']}</span></span>

			<div class="EmptyBox10" />

			<span class="Fs10 FontTitilliumSemiBold"><span
				style="color: #3069e8;"><i class="fa fa-thumbs-o-up"></i>
					#{text['signup.nocontracts']}</span></span>
		</div>


		<div class="EmptyBox30" />

		<p:panel styleClass="Container70 white-back Fnone MarAuto BordRad10">


			<ui:include src="/sections/main/message.xhtml" />


			<span class="Fs15"><span>#{text['signup.message']}</span></span>

			<p:panelGrid columns="1" styleClass="Wid100 ui-panelgrid-blank" layout="grid">

				<p:focus for="orgName" />

				<p:outputLabel for="orgName" value="#{text['signup.orgName']}" />

				<p:inputText id="orgName" value="#{signupForm.tenant.name}"
					maxlength="50" required="true" styleClass="Wid50" />


				<p:message for="orgName" />


				<p:outputLabel for="firstName" value="#{text['signup.firstName']}" />
				<p:inputText id="firstName" value="#{signupForm.person.firstName}"
					maxlength="50" required="true" styleClass="Wid50" />
				<p:message for="firstName" />


				<p:outputLabel for="lastName" value="#{text['signup.lastName']}" />
				<p:inputText value="#{signupForm.person.lastName}" id="lastName"
					maxlength="50" required="true" styleClass="Wid50">
				</p:inputText>
				<p:message for="lastName" />


				<p:outputLabel for="email" value="#{text['signup.email']}" />
				<p:inputText value="#{signupForm.person.email}" id="email"
					required="true" styleClass="Wid50" />
				<p:message for="email" />


				<p:outputLabel for="password" value="#{text['signup.password']}" />

				<p:password value="#{signupForm.user.password}" id="password"
					required="true" feedback="true" match="confirmPassword"
					styleClass="Wid50" />

				<p:message for="password" />

				<p:outputLabel for="confirmPassword"
					value="#{text['user.confirmPassword']}" />

				<p:password value="#{signupForm.user.confirmPassword}"
					id="confirmPassword" redisplay="true" required="true"
					styleClass="Wid50" />

				<p:message for="confirmPassword" />

				<p:outputLabel for="passwordHint"
					value="#{text['user.passwordHint']}" />

				<p:inputText value="#{signupForm.user.passwordHint}"
					id="passwordHint" styleClass="Wid50">
				</p:inputText>
				<p:message for="passwordHint" />


				<p:outputLabel for="website" value="#{text['signup.website']}" />
				<p:inputText value="#{signupForm.tenant.webSite}" id="website"
					required="false" styleClass="Wid80" />

				<p:message for="website" />

				<!-- Not working get text does not match need to revist later
				<p:captcha label="#{text['signup.captcha']}"  id="captcha"/>
				<p:message for="captcha"/> -->

			</p:panelGrid>

			<f:facet name="footer">

				<p:commandButton action="login" immediate="true" id="cancel"
					icon="fa fa-sign-in Fs14 white" value="#{text['button.cancel']}"
					ajax="false" />

				<p:commandButton value="#{text['button.register']}"
					actionListener="#{signupForm.signUp}" id="cmdbtnSave"
					icon="fa fa-pencil-square-o Fs14 white" ajax="true"
					update="@form" validateClient="true" process="@form"/>

			</f:facet>
		</p:panel>

	</h:form>
</h:body>

</html>