<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">


    <ui:define name="pageTitle">#{text['activeUsers.title']}</ui:define>

    <ui:param name="menu" value="activeusers"/>
    <ui:param name="bodyId" value="activeusers"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>


            <st:panel header="#{text['userList.heading']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <!--	<p:dataTable id="dtActiveUser" var="user"
                        value="#{activeUserList.users}" widgetVar="activeUserTable"
                        emptyMessage="No user found with given criteria"
                        filteredValue="#{activeUserList.filteredUsers}" rows="25"
                        sortBy="#{user.fullname}">-->

                <st:dataTable tableId="dtblActiveUser" tableVar="user"
                              tableSelection="#{activeUserList.selectedUser}"
                              tableValue="#{activeUserList.users}"
                              id="ccDtblActiveUser" tableRowKey="#{user.fullName}">

                    <p:column id="clmnFullName" filterBy="#{user.fullName}"
                              headerText="#{text['activeUsers.fullName']}"
                              filterMatchMode="contains">
                        <h:outputText value="#{user.fullName}"/>
                    </p:column>

                    <p:column id="clmnLastName" filterBy="#{user.email}"
                              headerText="#{text['icon.email']}" filterMatchMode="contains">
                        <h:outputText value="mailto:#{user.email}"/>
                    </p:column>

                </st:dataTable>
                <!--
                                <f:facet name="footer">
                                    <p:commandButton value="#{text['button.done']}" action="mainMenu"
                                        id="cmdbtnDone" ajax="false" icon="fa fa-floppy-o Fs14 white"/>
                                </f:facet>-->
            </st:panel>

        </h:form>
    </ui:define>
</ui:composition>



