<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['importData.tile']} </ui:define>
    <ui:param name="menu" value="importData"/>
    <ui:param name="bodyId" value="importData"/>

    <ui:define name="body">

        <script type="text/javascript">
            function showStatus() {
                PF('wvStatusDialog').show();
            }

            function hideStatus() {
                PF('wvStatusDialog').hide();
            }
        </script>

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


            <p:remoteCommand actionListener="#{importDataForm.startFileUpload}" name="startFileUpload"
                             immediate="true" partialSubmit="true"
                             global="false" onstart="PF('dlgUploadWv').show();"/>

            <p:remoteCommand actionListener="#{importDataForm.processFileUploadValidate}"
                             name="processFileUploadValidate"
                             immediate="true" onstart="PF('prgBarWv').start();PF('wgvBackButton').disable();"
                             oncomplete="processFileUploadSave();if (args &amp;&amp; !args.valid) PF('wgvBackButton').enable();"
                             global="false"
                             partialSubmit="true"/>

            <p:remoteCommand actionListener="#{importDataForm.processFileUploadSave}" name="processFileUploadSave"
                             immediate="true" partialSubmit="true"
                             global="false" update="@ pnlUpload"/>


            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['importData.tile']}" id="ccImportData">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <sec:authorize access="hasAnyRole('ROLE_ADMIN')" var="hasRoleEdit"/>

                <c:if test="#{hasRoleEdit}">

                    <div class="Container100">

                        <p:panelGrid columns="1" styleClass="Wid100 ui-panelgrid-blank">

                            <p:outputLabel for="typeOfImport"
                                           value="#{text['importData.type.of.import']}"/>

                            <p:selectOneMenu value="#{importDataForm.typeOfImport}"
                                             id="typeOfImport" required="true" styleClass="Wid45">

                                <p:ajax update="@ pnlTemplate @ pnlSelectFile @ dlgUpLoad" global="false"/>

                                <f:selectItems
                                        value="#{importDataForm.dataService.dataImportTypes}" var="dv"
                                        itemValue="#{dv}" itemLabel="#{dv.value}"/>

                            </p:selectOneMenu>

                            <p:message for="typeOfImport"/>
                        </p:panelGrid>

                        <p:spacer height="50"/>

                        <div class="Container50 Fleft">

                            <p:panelGrid columns="1" styleClass="Wid100 ui-panelgrid-blank" id="pnlTemplate">

                                <p:commandButton value="#{text['importData.download.template']}"
                                                 icon="fa fa-cloud-download Fs14 white" ajax="false"
                                                 onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                                    <p:fileDownload value="#{importDataForm.fileTemplate}" contentDisposition="inline"/>
                                </p:commandButton>

                                <p:spacer height="22px"/>

                                <h:outputFormat styleClass="Fs16"
                                                value="#{text['importData.download.template.instructions']}">
                                    <f:param value="#{importDataForm.typeOfImportName}"/>
                                </h:outputFormat>

                            </p:panelGrid>
                        </div>

                        <div class="Container40" style="border-left: 1px solid #00AEEF">

                            <p:panelGrid columns="1" styleClass="Wid100 ui-panelgrid-blank" id="pnlSelectFile">
                                <p:fileUpload fileUploadListener="#{importDataForm.handleFileUpload}"
                                              mode="advanced" dragDropSupport="false" sizeLimit="2621440"
                                              allowTypes="/(\.|\/)(csv|txt)$/" id="fulImportData"
                                              multiple="false" auto="true"
                                              oncomplete="setConfirmUnload(false);if (args &amp;&amp; args.valid) {processFileUploadValidate();} else{PF('prgBarWv').cancel();}"
                                              onstart="startFileUpload();"
                                              uploadLabel="#{text['importData.import.file']}"
                                              label="#{text['importData.select.file']}" previewWidth="1"
                                              update="@ pnlUpload">
                                </p:fileUpload>


                                <h:outputFormat styleClass="Fs16"
                                                value="#{text['importData.import.file.instructions']}">
                                    <f:param value="#{importDataForm.typeOfImportName}"/>
                                </h:outputFormat>

                            </p:panelGrid>
                        </div>

                    </div>

                    <p:spacer style="clear:both;"/>


                </c:if>

            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <p:dialog id="dlgUpLoad" header="#{text['importData.tile']}  - #{importDataForm.typeOfImportName}"
                  modal="true" widgetVar="dlgUploadWv" closable="false" resizable="false" responsive="true"
                  draggable="true" onHide="setConfirmUnload(false);" fitViewport="true" width="550px">

            <p:messages severity="error" globalOnly="true">
                <p:autoUpdate/>
            </p:messages>


            <p:ajax event="close" oncomplete="PF('prgBarWv').cancel();" global="false"
                    process="@this" listener="#{importDataForm.handleCloseDialog}" update="@ pnlUpload"/>

            <p:panel style="width:100%; margin: 0 auto;border: none !important;" id="pnlUpload">
                <ui:include src="/admin/importdata/uploadDialog.xhtml"/>
            </p:panel>

            <f:facet name="footer">
                <h:panelGroup layout="block" styleClass="Wid100">
                    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                        <p:commandButton icon="fa fa-hand-o-left Fs14 white"
                                         value="#{text['button.close']}" type="button"
                                         onclick="PF('dlgUploadWv').hide();" id="cmdbtnBack" widgetVar="wgvBackButton">
                        </p:commandButton>
                    </p:panelGrid>
                </h:panelGroup>
            </f:facet>
        </p:dialog>
    </ui:define>
</ui:composition>
