<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="pageTitle">#{text['members.title']}</ui:define>

    <ui:param name="menu" value="members"/>
    <ui:param name="bodyId" value="members"/>

    <ui:define name="body">


        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['members.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <!--  <sec:authorize access="isAuthenticated()">
                      <c:set var="username" value="#{userList.principalUserName}"/>
                  </sec:authorize>-->


                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleDelete"/>

                <st:dataTable tableId="dtblMembers" tableVar="person"
                              tableSelection="#{userForm.selectedPerson}"
                              tableValue="#{userForm.people}" tableRowKey="#{person.UID}"
                              id="cccdtblMembers">

 <p:column headerText="#{text['user.enabled']}" style="width: 10%">
                        <p:selectBooleanCheckbox value="#{person.user.enabled}" disabled="true"/>
                    </p:column>

                    <p:column headerText="#{text['members.name']}" sortBy="#{person.name}" filterBy="#{person.name}">
                        <h:outputText value="#{person.name}"/>
                    </p:column>

                    <c:if test="#{hasRoleEdit}">
                        <p:column headerText="#{text['members.action']}" priority="3">

                            <st:commandLink value="#{person}"
                                            targetItem="#{userForm.selectedPerson}" icon="fa fa-send Fs12"
                                            actionMethod="#{userForm.sendInvite}"
                                            title="#{text['members.invite']}" update="@(.ui-datatable)"
                                            rendered="#{ not empty person.email and empty person.user.invitationDate}"/>

                            <h:panelGroup>
                                <st:commandLink value="#{person}"
                                                targetItem="#{userForm.selectedPerson}" icon="fa fa-mail-reply-all Fs12"
                                                actionMethod="#{userForm.resendInvite}"
                                                title="#{text['members.resend']}" update="@(.ui-datatable)"
                                                rendered="#{not empty person.user.invitationDate and not person.user.verified }"/>

                                <p:spacer width="5px" rendered="#{not empty person.user.invitationDate}"/>

                                <st:commandLink value="#{person}"
                                                targetItem="#{userForm.selectedPerson}" icon="fa fa-close Fs12"
                                                actionMethod="#{userForm.deactivate}"
                                                title="#{text['members.deactivate']}" update="@(.ui-datatable)"
                                                rendered="#{not empty person.user.invitationDate}"/>
                            </h:panelGroup>

                            <h:outputText value="#{text['members.noemail']}" rendered="#{empty person.email}"/>
                        </p:column>
                    </c:if>

                    <p:column>
                        <h:panelGroup rendered="#{not empty person.user.invitationDate}">
                            <h:outputFormat value="#{text['members.InvitedOn']} "/>
                            <h:outputText value="#{person.user.invitationDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy hh:mm a"/>
                            </h:outputText>
                        </h:panelGroup>
                    </p:column>

                </st:dataTable>
            </st:panel>

        </h:form>
    </ui:define>

    <!--   <ui:define name="confirmDialog">

           <st:dataEntryDialog actionListener="#{userForm.save}"
                               dialogwidgetVar="dlgEditUserWv"
                               dialogHeader="#{text['userProfile.title']}" dialogId="dlgEditUser"
                               fieldfocus="username" closeListener="#{userForm.handleCloseDialog}" id="ccDedUser">

               <ui:include src="/sections/user/userDetails.xhtml"/>

           </st:dataEntryDialog>

           <st:deleteConfirmDialog dialogwidgetVar="userDlgWv"
                                   deleteActionMethod="#{userList.delete}"
                                   deleteMessageName="#{userList.selectedUser.username}" dialogId="ccUserDelete"
                                   deleteMessageCategory="#{text['userList.user']}" id="ccDelCfmDlg"/>
       </ui:define>-->
</ui:composition>

