<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
>


	<ui:define name="pageTitle">#{text['roleDetail.title']}</ui:define>

	<ui:param name="menu" value="role" />
	<ui:param name="bodyId" value="role" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />


			<st:panel 	header="#{text['roleDetail.title']}">


				<ui:include src="/sections/titlebar/actionButtons.xhtml"/>


				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-panelgrid-blank" id="rolePnl">

					<p:outputLabel styleClass="control-label" for="label"
						value="#{text['role.name']}" />
					<p:inputText id="label" value="#{roleForm.role.label}"
						required="true" maxlength="20" styleClass="Wid50" />

					<p:message for="label" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="description"
						value="#{text['role.description']}" />

					<p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
						maxlength="100" counterTemplate="{0} characters remaining"
						autoResize="false" value="#{roleForm.role.description}"
						id="description" styleClass="Wid50" />

					<p:message for="description" styleClass="help-inline" />

					<h:outputText id="inptxrCounter" />

					<p:fieldset id="fldsetPremissions"
						legend="#{text['roleDetail.permission']}">

						<p:treeTable value="#{roleForm.rootTreeModel}" var="permission"
							selectionMode="checkbox" selection="#{roleForm.selectedNodes}"
							emptyMessage="#{text['message.noInformation']}"
							stickyHeader="false" sortBy="#{permission.descr}"
							scrollable="true" id="treepermission" widgetVar="wvTreePermission">

							<p:ajax event="select" listener="#{roleForm.nodeSelect}"
								partialSubmit="true" update="@ treepermission"/>

							<p:ajax event="unselect" listener="#{roleForm.nodeUnselect}"
								partialSubmit="true" process="@ treepermission"/>

							<p:column headerText="#{text['role.description']}">
								<h:outputText value="#{permission.descr}" />
							</p:column>

							<p:column headerText="">
								<p:spacer />
							</p:column>

						</p:treeTable>

					</p:fieldset>



				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{roleForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{roleForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

					<!--	<c:if test="${not empty roleForm.role.id}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" oncomplete="PF('roleDlgWv.show()');"/>
						</c:if>
-->
						<p:commandButton value="#{text['button.cancel']}" action="roles"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" />
					</h:panelGroup>
				</f:facet>

			</st:panel>
<!--
			<p:confirmDialog id="dlgRole"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="roleDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{roleForm.role.name}" />
							<f:param value="#{text['roleList.role']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('roleDlgWv.hide()');" action="#{roleForm.delete}" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('roleDlgWv.hide()');" type="button" />

			</p:confirmDialog>-->
		</h:form>
	</ui:define>

</ui:composition>

