<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['roleDetail.title']} </ui:define>

    <ui:param name="menu" value="role"/>
    <ui:param name="bodyId" value="role"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['roleDetail.title']}" id="ccPnlRole">


                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <sec:authorize access="hasAnyRole('ROLE_ADMIN')" var="hasRoleEdit"/>
                <sec:authorize access="hasAnyRole('ROLE_ADMIN')" var="hasRoleDelete"/>

                <st:addButton actionMethod="#{roleForm.edit}" from="list" id="ccAdd"/>




                <st:dataTable tableId="dtblRole" tableVar="role"
                              tableSelection="#{roleList.selectedRole}"
                              tableValue="#{roleList.roles}" tableRowKey="#{role.name}"
                              id="ccDtblRole" tableStyle="clear:both;">


                    <p:column headerText="#{text['role.name']}" sortBy="#{role.label}"
                              filterBy="#{role.label}">
                        <h:commandLink action="#{roleForm.edit}" value="#{role.label}"
                                       ajaX="false" styleClass="ui-link">
                            <f:param name="id" value="#{role.id}"/>
                            <f:param name="from" value="list"/>
                        </h:commandLink>
                    </p:column>

                    <p:column headerText="#{text['role.description']}"
                              sortBy="#{role.description}" filterBy="#{role.description}">
                        <h:outputText value="#{role.description}" escape="true"/>
                    </p:column>


                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="3" styleClass="Wid20">
                            <st:deleteCommandLink dialog="roleDlgWv" value="#{role}"
                                                  targetItem="#{roleList.selectedRole}"/>


                            <p:spacer width="5px"/>

                            <p:commandLink type="button" oncomplete="PF('copyRoleDlgWv').show();"
                                           global="false" update="@widgetVar(copyRoleDlgWv)"
                                           styleClass="#{hasRoleEdit ? '' : 'hidden'}" process="@this"
                                           partialSubmit="true" ajax="true">
                                <i class="fa fa-copy Fs14"/>
                                <p:spacer width="1px"/>
                                <h:outputText value="#{text['button.copy']}" styleClass="Fs12"/>
                                <f:setPropertyActionListener value="#{role}"
                                                             target="#{roleList.selectedRole}"/>
                            </p:commandLink>
                        </p:column>

                    </c:if>

                </st:dataTable>
            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:deleteConfirmDialog deleteMessageName="#{roleList.selectedRole.label}"
                                deleteActionMethod="#{roleList.delete}"
                                deleteMessageCategory="#{text['roleList.role']}" dialogwidgetVar="roleDlgWv"
                                id="ccDeleteRoleDlg" dialogId="dlgDelete"/>
        <!--

                <p:confirmDialog id="dlgRole"
                                 header="#{text['dialog.deleteConfirmation']}" severity="alert"
                                 widgetVar="roleDlgWv" showEffect="clip" hideEffect="fold">

                    <f:facet name="message">
                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
                            <h:outputFormat id="otplUserToDelete"
                                            value="#{text['dialog.areYouSure']}">
                                <f:param value="#{roleList.selectedRole.label}"/>
                                <f:param value="#{text['roleList.role']}"/>
                            </h:outputFormat>
                        </p:panelGrid>
                    </f:facet>

                    <p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
                                     oncomplete="roleDlgWv.hide();" actionListener="#{roleList.delete}"
                                     update=":mainFrm:dtblRole :mainFrm:growl :mainFrm:cmdDelete"/>

                    <p:commandButton id="decline" value="#{text['button.no']}"
                                     onclick="PF('roleDlgWv').hide();" type="button"/>

                </p:confirmDialog>
        -->


        <p:dialog id="dlgCopyRole"
                  header="#{text['dialog.copyRoleTitle']} - #{roleList.selectedRole.label}"
                  severity="info" widgetVar="copyRoleDlgWv" showEffect="clip"
                  hideEffect="fold" focus="inptxtName">


            <p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
                         layout="grid">

                <p:outputLabel value="#{text['roleList.profileName']}"
                               for="inptxtName" styleClass="Wid100"/>

                <p:inputText required="true" value="#{roleList.copiedLabel}"
                             id="inptxtName" styleClass="Wid100" maxlength="50"/>

                <p:message id="msgProfileCopy" for="inptxtName" styleClass="Wid100"/>

            </p:panelGrid>

            <f:facet name="footer">

                <p:commandButton id="cmdbtnCopy" value="#{text['button.copy']}"
                                 oncomplete="handleCopyDialog(xhr, status, args)"
                                 actionListener="#{roleList.copy}"
                                 update="@(.ui-datatable) @ msgProfileCopy"/>

                <p:commandButton id="cancel" value="#{text['button.cancel']}"
                                 onclick="PF('copyRoleDlgWv').hide();" type="button"/>
            </f:facet>


        </p:dialog>

    </ui:define>

    <ui:define name="scripts">

        <h:outputScript id="handleCopyDialog" target="body">

            /* <![CDATA[ */

            function handleCopyDialog(xhr, status, args) {

                PrimeFaces.info('In handleCopyDialog()');

                if (args && args.valid) {
                    PF('copyRoleDlgWv').hide();
                }
            }

            /* ]]> */

        </h:outputScript>
    </ui:define>

</ui:composition>
