<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">


    <ui:define name="pageTitle">#{text['userList.title']}</ui:define>

    <ui:param name="menu" value="users"/>
    <ui:param name="bodyId" value="users"/>

    <ui:define name="body">
        <h:outputScript name="jquery/jquery.js" library="primefaces"
                        target="head"/>

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>


            <st:panel header="#{text['userList.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <sec:authorize access="isAuthenticated()">
                    <c:set var="username" value="#{userList.principalUserName}"/>
                </sec:authorize>


                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleDelete"/>


                <st:addDialogButton dialog="dlgEditUserWv" bttnId="add"/>


                <st:dataTable tableId="dtblUser" tableVar="user"
                              tableSelection="#{userList.selectedUser}"
                              tableValue="#{userList.users}" tableRowKey="#{user.id}"
                              id="cccDtblUser">


                    <p:column headerText="#{text['user.username']}"
                              sortBy="#{user.username}" filterBy="#{user.username}">

                        <!--<p:commandLink action="#{userForm.edit}" value="#{user.username}"-->
                                       <!--ajax="false" styleClass="ui-link">-->
                            <!--<f:param name="id" value="#{user.id}"/>-->
                            <!--<f:param name="from" value="list"/>-->
                        <!--</p:commandLink>-->

                        <st:editCommandLink linkLabel="#{user.username}"
                                            dialog="dlgEditUserWv" targetItem="#{userForm.user}"
                                            value="#{user}">
                            <f:param name="id" value="#{user.id}"/>
                            <f:param name="from" value="list"/>
                        </st:editCommandLink>

                    </p:column>

                    <p:column headerText="#{text['activeUsers.fullName']}">
                        <h:outputText value="#{user.fullName}"/>
                    </p:column>

                    <p:column headerText="#{text['role.role']}">
                        <h:outputText value="#{user.primaryRole.label}"/>
                    </p:column>

                    <p:column headerText="#{text['user.email']}">
                        <h:outputLink value="mailto:#{user.email}" styleClass="ui-link">
                            <h:outputText value="#{user.email}"/>
                        </h:outputLink>
                    </p:column>

                    <p:column headerText="#{text['user.enabled']}">
                        <p:selectBooleanCheckbox value="#{user.enabled}" disabled="true"/>
                    </p:column>

                    <c:if test="#{hasRoleDelete}">
                            <p:column priority="3" styleClass="Wid10">
                                <st:deleteCommandLink dialog="userDlgWv" value="#{user}"
                                                      targetItem="#{userList.selectedUser}"/>
                            </p:column>
                    </c:if>

                </st:dataTable>

            </st:panel>

        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:dataEntryDialog actionListener="#{userForm.save}"
                            dialogwidgetVar="dlgEditUserWv"
                            dialogHeader="#{text['userProfile.title']}" dialogId="dlgEditUser"
                            fieldfocus="username" closeListener="#{userForm.handleCloseDialog}" id="ccDedUser">

            <ui:include src="/sections/user/userDetails.xhtml"/>

        </st:dataEntryDialog>

        <st:deleteConfirmDialog dialogwidgetVar="userDlgWv"
                                deleteActionMethod="#{userList.delete}"
                                deleteMessageName="#{userList.selectedUser.username}" dialogId="ccUserDelete"
                                deleteMessageCategory="#{text['userList.user']}" id="ccDelCfmDlg"/>
    </ui:define>
</ui:composition>

