<html>
	<body>
		<h3>Dear ${metaData.person.name}</h3>
		<p>
			From - ${metaData.message.sender} / ${metaData.sender} 
		</p>
		<h3>
			Church.View Church Management Software.
		</h3>
		<h3>
			With the message
		</h3>
		<p>
			${metaData.message.message}
		</p>
		<p>
			Sincerely, 
			<b>${metaData.sender}</b>
			${metaData.applicationURL}
		</p>
	</body>

</html>