<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<f:view contentType="text/html" locale="en">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<link rel="icon"
				href="#{request.contextPath}/resources/images/favicon.ico" />
		</f:facet>

		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>

		<f:facet name="last">
			<h:outputStylesheet name="styles.css" library="css" />
		</f:facet>

		<h:outputScript name="js/layout.js" library="sentinel-layout" />
		<h:outputScript name="common.js" library="js" target="body" />
		<h:outputScript name="jstz-1.0.4.min.js" library="js" target="body" />

		<h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false" />
		<style type="text/css">
.ui-tabs-top .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li {
	margin-bottom: 0px !important;
}
</style>
		<h:outputText value="&lt;![endif]--&gt;" escape="false" />

		<ui:insert name="head" />

	</h:head>

	<ui:insert name="metadata" />

	<c:if test="${empty bodyId}">
		<c:set var="bodyId" value="bdyMain" />
	</c:if>

	<c:if test="${empty statusDialog}">
		<c:set var="statusDialog" value="show" />
	</c:if>



	<h:body id="#{bodyId}" class="fontRegular login-back white-back">

		<ui:debug hotkey="x" />


		<div>
			<c:if test="${statusDialog eq 'show'}">
				<p:ajaxStatus onstart="PF('wvStatusDialog').show();"
					onsuccess="PF('wvStatusDialog').hide();" />
			</c:if>
			<p:focus />
			<ui:insert name="body">Template</ui:insert>
		</div>

		<p:dialog widgetVar="wvStatusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage library="images" name="animatedCircle.gif" />
		</p:dialog>

		<ui:insert name="scripts" />

		<h:outputStylesheet name="css/font-icon-layout.css"
			library="sentinel-layout" />
		<h:outputStylesheet name="css/sentinel-layout.css"
			library="sentinel-layout" />
		<h:outputStylesheet name="css/core-layout.css"
			library="sentinel-layout" />
	</h:body>
</f:view>
</html>