<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="layout-menubar" class="Unselectable fontRegular">
		<div class="layout-menubarinner-box" id="buttonArea">
			<a href="#" id="layout-menubar-resize" class="BordRad3"
				title="Menu Resize"><i class="icon-th-list-2"></i></a> <a href="#"
				id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i
				class="icon-menu"></i></a>
		</div>

		<div class="layout-menubarinner-box" id="searchArea">

			<i class="icon-search floatLeft gray"></i>

			<!-- 
			<input type="text"
				class="layout-menubar-search floatLeft Animated05"
				placeholder="Search Here" />
				-->

			<p:autoComplete id="atcMenuPersonSerarch"
				completeMethod="#{menuSearch.completePeople}"
				value="#{menuSearch.selectedPerson}" var="person"
				itemLabel="#{person.name}" itemValue="#{person}"
				forceSelection="true" minQueryLength="2"
				groupBy="#{menuSearch.fetchPersonGroup(person)}" dropdown="false"
				converter="#{personConverter}"
				placeholder="#{text['attendance.searchHere']}" cache="true"
				inputStyleClass="layout-menubar-search floatLeft Animated05"
				inputStyle="width: 190px;" onblur="setConfirmUnload(false);">

				<p:column
					style="border-style: solid none none solid;background-color: #F6F8F8;">
					<i class="icon-user floatLeft gray"></i>
				</p:column>
				<p:column
					style="border-style:solid none none solid;background-color: #F6F8F8;">#{person.name}</p:column>

				<p:ajax event="itemSelect" listener="#{menuSearch.onItemSelect}"
					process="@this @(#atcMenuPersonSerarch)" onstart="setConfirmUnload(false);" />

			</p:autoComplete>

		</div>

		<ps:menu id="sm_leftmenu" model="#{menuBean.menuModel}" />


	</div>

</ui:composition>
