<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<f:view contentType="text/html" locale="en">
    <h:head>

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="keywords"
                  content="Members services, Church Management Software, ChMS, Free ChMS, Best Church Management Software, Free Church Managment Software, Easy Church Managment"/>
            <meta name="description"
                  content="SpringThought offers Church Mangement Software for Organization of all sizes."/>
            <meta name="robots" content="index, follow"/>
            <link rel="icon"
                  href="#{request.contextPath}/resources/images/logo.ico"/>
        </f:facet>


        <title><ui:insert name="pageTitle">Page Title</ui:insert></title>

        <!-- CSS Stylesheet-->

        <f:facet name="last">
            <h:outputStylesheet name="styles.css" library="css"/>
            <h:outputStylesheet name="hopscotch.min.css" library="css"/>
            <h:outputStylesheet name="primeflex.css" library="css"/>
        </f:facet>

        <!-- Java Script-->
        <h:outputScript name="js/layout.js" library="sentinel-layout"/>
        <h:outputScript name="common.js" library="js" target="body"/>
        <h:outputScript name="jstz-1.0.4.min.js" library="js" target="body"/>
        <h:outputScript name="hopscotch.min.js" library="js" target="body"/>
        <h:outputScript name="tours.js" library="js" target="body"/>
        <!-- Slide In Panel -->
        <!--<h:outputScript library="js" name="main.js" target="body"/>-->

        <h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false"/>
        <style type="text/css">
            .ui-tabs-top .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li {
                margin-bottom: 0px !important;
            }
        </style>

        <h:outputText value="&lt;![endif]--&gt;" escape="false"/>
        <ui:insert name="head"/>
    </h:head>

    <ui:insert name="metadata"/>

    <c:if test="${empty bodyId}">
        <c:set var="bodyId" value="bdyMain"/>
    </c:if>

    <c:if test="${empty statusDialog}">
        <c:set var="statusDialog" value="show"/>
    </c:if>

    <!-- flag to identify if the page has a guided walk-through associated-->
    <c:if test="${empty tour}">
        <c:set var="tour" value="NO"/>
    </c:if>

    <c:if test="${empty helpId}">
        <c:set var="helpId" value="#{text['supportHome.help']}"/>
    </c:if>


    <!--<p:log id="log" />-->

    <h:body id="#{bodyId}">

        <script type="text/javascript"
                src="https://assets.freshdesk.com/widget/freshwidget.js"></script>

        <!--<script type="text/javascript"
                src="http://malsup.github.io/jquery.blockUI.js"></script>-->


        <h:outputScript target="body">

            /* <![CDATA[ */
            FreshWidget.init("", {
                "queryString": "&widgetType=popup",
                "utf8": "?",
                "widgetType": "popup",
                "buttonType": "text",
                "buttonText": "Need Help ?",
                "buttonColor": "white",
                "buttonBg": "#1070be",
                "alignment": "2",
                "offset": "300px",
                "formHeight": "500px",
                "url": "https://springthought.freshdesk.com"
            });

            $(function () {

                if ('#{tour}' === "YES") {
                    if (getCookie('#{bodyId}') != "1") {
                        setCookie('#{bodyId}', '1', 365);
                        try {
                            hopscotch.startTour(#{bodyId});
                        } catch (err) {
                            PrimeFaces.error(err);
                            alert("Unable to show tour:" + err);
                        }
                    }
                }
            });
            /* ]]> */

        </h:outputScript>


        <ui:debug hotkey="x"/>

        <ui:include src="/common/sessionTimeOut.xhtml"/>

        <h:form id="frmTopBar" enctype="multipart/form-data" prependId="false">
            <ui:include src="topbar.xhtml"/>
        </h:form>

        <h:form id="frmLeftMenu" enctype="multipart/form-data"
                prependId="false">
            <ui:include src="leftmenu.xhtml"/>
        </h:form>

        <div id="layout-portlets-cover" class="fontRegular">

            <c:if test="${statusDialog eq 'show'}">
                <p:ajaxStatus onstart="PF('wvStatusDialog').show();"
                              onsuccess="PF('wvStatusDialog').hide();"/>
            </c:if>

            <p:focus/>

            <ui:insert name="body">Template</ui:insert>

        </div>


        <h:form id="dlgFrm" enctype="multipart/form-data" prependId="false">

            <ui:insert name="confirmDialog"/>

        </h:form>

        <p:dialog widgetVar="wvStatusDialog" modal="true" draggable="false"
                  closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="animatedCircle.gif"/>
        </p:dialog>

        <h:form id="frmChild" enctype="multipart/form-data" prependId="false">
            <ui:insert name="childForm"/>
        </h:form>

        <ui:insert name="scripts"/>

        <h:outputStylesheet name="css/font-icon-layout.css"
                            library="sentinel-layout"/>
        <h:outputStylesheet name="css/sentinel-layout.css"
                            library="sentinel-layout"/>
        <h:outputStylesheet name="css/core-layout.css"
                            library="sentinel-layout"/>

    </h:body>
</f:view>
</html>
