<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">


	<div id="layout-header" class="Unselectable fontRegular">


		<sec:authorize access="authenticated" var="authenticated" />
		<sec:authorize access="hasRole('ROLE_EDIT_PERSON')" var="hasRoleEdit" />
		<sec:authorize access="hasRole('ROLE_ADMIN')" var="hasAdmin" />
		<sec:authorize access="hasRole('ROLE_VIEW_CONNECTION')"		var="hasConnections" />

		<a href="dashboard.xhtml" id="layout-logo">
		<!--  
		<h:graphicImage
				name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout" /> -->
			<span class="Fs19 FontTitilliumSemiBoldItalic Fleft"><span
				class="softblue">#{text['app.chruchName']}</span><span
				class="hardblue">#{text['app.viewName']}</span></span>
		</a>
		<ul id="sm-topmenu" class="layout-header-widgets white Fs14">
			<li class="Fleft BordRadHalf TexAlCenter"><i
				class="icon-user-male"></i>
				<ul
					class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
					<li class="Animated05"><a
						href="#{request.contextPath}/views/personForm.xhtml?personId=#{sessionScope.currentUser.person.personId}"
						class="white Unselectable"><i
							class="icon-user-male Fs26 OvHidden"></i><span class="Fs18">#{sessionScope.currentUser.fullName}<br />
								<span class="Fs10">Last Login - ${sessionScope.lastlogin}</span></span></a></li>

					<c:if test="#{hasConnections}">
						<li class="Animated05"><a
							href="#{request.contextPath}/views/connectForm.xhtml?from=topbar"
							class="white Unselectable"><i class="fa fa-heartbeat"></i>#{text['connect.myConnection']}</a></li>
					</c:if>

					<c:if test="#{hasRoleEdit}">
						<li class="Animated05"><a
							href="#{request.contextPath}/views/personForm.xhtml"
							class="white Unselectable"><i class="icon-users-2"></i>#{text['menu.addPerson']}</a></li>
					</c:if>

					<c:if test="#{hasAdmin}">
						<li class="Animated05"><a
							href="#{request.contextPath}/views/tenantForm.xhtml?from=topbar"
							class="white Unselectable"><i class="icon-sliders"></i>#{text['menu.organization']}</a></li>
					</c:if>

				</ul></li>
			<!-- 
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-mail"></i><span class="alertBubble BordRad10 Fs9">166</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty yellow"></i>Gustavo Fring<br/><span class="Fs10">What does a man do Walter?</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Skyler White<br/><span class="Fs10">Where are you?.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Hank Schrader<br/><span class="Fs10">Barbecue photos from last weekend.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Jesse Pinkman<br/><span class="Fs10">Mr. White.</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Heisenberg<br/><span class="Fs10">I am the one who knocks.</span></a></li>
    			</ul>
    		</li>
    		 -->
			<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-bell"></i><span
				class="alertBubble BordRad10 Fs9">#{menuBean.totalNotifications}</span>
				<ul
					class="layout-header-widgets-submenu BordRad5 shadows white Animated05">

					<c:forEach items="#{menuBean.notifications}" var="ns">

						<c:set var="flag"
							value="${ns.priority eq 'HIGH' ? 'icon-flag red' : ns.priority eq 'MEDIUM' ? 'icon-flag yellow' : 'icon-flag' }" />
						<!-- 

						<li class="Animated05"><a href="#"
							class="white Unselectable TexAlRight" ><i class="#{flag}"></i>#{ns.descr}</a></li> 
-->
						<li class="Animated05"><p:commandLink
								actionListener="#{menuBean.processNotificationAction}"
								styleClass="ui-white-link white Unselectable TexAlRight"
								partialSubmit="true" ajax="true" process="@this">

								<i class="#{flag}"></i>#{ns.descr}
				
								<f:attribute name="source" value="#{ns}" />

							</p:commandLink></li>


					</c:forEach>
					<!-- 
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>New Products</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag yellow"></i>Today Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Visit Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag"></i>Task Alerts</a></li>
    			 -->

				</ul></li>
			<li class="Fleft BordRadHalf TexAlCenter"><i
				class="icon-wrench-1"></i>
				<ul
					class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
					<!--<li class="Animated05"><a href="#" class="white Unselectable">
						 <i class="icon-sun"></i>System Settings</a></li> -->
					<c:forEach items="#{menuBean.systemMenuButton}" var="menubutton">
						<c:forEach items="#{menubutton.systemMenuGroups}"
							var="menuButtonGroup">
							<c:forEach items="#{menuButtonGroup.systemMenuItems}"
								var="menubuttonitem">
								<li class="Animated05"><a
									href="#{request.contextPath}#{menubuttonitem.view}"
									class="white Unselectable"><i
										class="#{menubuttonitem.iconpath}"></i>#{menubuttonitem.name}</a></li>
							</c:forEach>
						</c:forEach>
					</c:forEach>
				</ul></li>
			<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-power"></i>
				<ul
					class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
					<li class="Animated05"><a
						href="#{request.contextPath}/login.xhtml"
						class="white Unselectable"><i class="icon-ccw-1"></i>Restart</a></li>



					<c:if test="#{authenticated}">

						<li class="Animated05"><a
							href="#{request.contextPath}/logout" class="white Unselectable"><i
								class="icon-logout"></i>#{text['user.logout']}</a></li>
					</c:if>

				</ul></li>
		</ul>
		<!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
		<ul id="sm-mobiletopmenu" class="layout-header-widgets white Fs14">
			<li
				class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive"><i
				class="icon-th-1"></i></li>
		</ul>
		<!-- ****** -->
	</div>

</ui:composition>
