<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
		id="resourcePnl">

		<p:outputLabel styleClass="control-label" for="name"
			value="#{text['resource.name']}" />
		<p:inputText id="name" value="#{resourceForm.resource.name}"
			required="true" maxlength="25" />
		<p:message for="name" styleClass="help-inline" />


		<p:outputLabel styleClass="control-label" for="descr"
			value="#{text['resource.descr']}" />

		<p:inputTextarea rows="4" cols="25" counter="inptxrCounter"
			maxlength="100" counterTemplate="{0} characters remaining"
			autoResize="false" value="#{resourceForm.resource.descr}" id="descr" />

		<p:message for="descr" styleClass="help-inline" />

		<p:spacer />
		<h:outputText id="inptxrCounter" />
		<p:spacer />


		<p:outputLabel styleClass="control-label" for="resourceType"
			value="#{text['resource.resourceType']}" />

		<p:selectOneMenu value="#{resourceForm.resource.resourceType}"
			id="resourceType" required="true">

			<f:selectItems value="#{resourceForm.resouceValues}" var="rv"
				itemValue="#{rv}" itemLabel="#{rv.value}" />

		</p:selectOneMenu>

		<p:message for="resourceType" styleClass="help-inline" />

	</p:panelGrid>

</ui:composition>