<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">


	<div>

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


			<p:focus context="dtblPerson" />

			<sec:authorize access="hasAnyRole('ROLE_EDIT_ATTENDANCE')"
				var="hasRoleEdit" />

			<sec:authorize access="hasAnyRole('ROLE_DELETE_ATTENDANCE')"
				var="hasRoleDelete" />

			<!-- ClearFilters call is workaround to a issue w/ the DataTable no being refresh correctily-->


			<p:remoteCommand autoRun="true"
				actionListener="#{attendanceForm.dummy}"
				oncomplete="clearFilters();" global="false" partialSubmit="true"
				process="@this" name="autoClearFilters" />


			<ui:include src="/sections/main/message.xhtml" />


			<p:panel id="ccPnlAttd" header="#{text['attendanceDetail.title']}">


				<ui:include src="/sections/titlebar/actionButtons.xhtml" />



				<p:outputPanel layout="inline" global="false" id="otpAttendance">

					<p:autoUpdate />


					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank Wid100"
						id="attendancePnl" cellpadding="5" layout="grid">

						<p:outputLabel styleClass="control-label" for="type"
							value="#{text['event.type']}" />

						<p:outputLabel for="event" value="#{text['event.eventId']}" />

						<p:outputLabel for="eventdates"
							value="#{text['attendance.dates']}" />

						<p:outputLabel for="generalCount"
							value="#{text['attendance.generalCount']}" />


						<c:choose>

							<c:when test="#{attendanceForm.from ne 'addlist'}">

								<p:inputText value="#{attendanceForm.eventTypeFilter.name}"
									styleClass="Responsive w90" readonly="true" id="type" />
							</c:when>
							<c:otherwise>

								<p:selectOneMenu value="#{attendanceForm.eventTypeFilter}"
									id="type" required="false" converter="#{eventTypeConverter}"
									var="e" panelStyle="w90" styleClass="Responsive w90">

									<f:selectItem itemLabel="#{text['button.selectOne']}"
										itemValue="" />

									<f:selectItems value="#{attendanceForm.dataService.eventTypes}"
										var="et" itemValue="#{et}" itemLabel="#{et.value}" />

									<p:column style="width:10%">
										<h:panelGroup styleClass="#{e.styleClass}" layout="block"
											style="	height: 20px; width: 20px;" />
									</p:column>

									<p:column>
										<h:outputText value="#{e.value}" />
									</p:column>

									<p:ajax listener="#{attendanceForm.eventTypeChange}"
										event="change" process="@ type  @this @ otpPerson"
										global="false" oncomplete="clearFilters();" />

								</p:selectOneMenu>

							</c:otherwise>

						</c:choose>

						<c:choose>
							<c:when test="#{attendanceForm.from ne 'addlist'}">
								<p:inputText value="#{attendanceForm.attendance.event.title}"
									styleClass="Responsive w90" readonly="true" id="event" />
							</c:when>
							<c:otherwise>
								<p:selectOneMenu value="#{attendanceForm.selectedEvent}"
									id="event" required="false" converter="#{eventConverter}"
									panelStyle="w90" styleClass="Responsive w90">

									<f:selectItem itemLabel="#{text['button.selectOne']}"
										itemValue="" />

									<f:selectItems value="#{attendanceForm.attendanceEvents}"
										var="ae" itemValue="#{ae}" itemLabel="#{ae.name}" />

									<p:ajax listener="#{attendanceForm.eventChange}" event="change"
										process="@this @ otpPerson" global="false"
										oncomplete="clearFilters();" />

								</p:selectOneMenu>

							</c:otherwise>
						</c:choose>

						<c:choose>

							<c:when test="#{attendanceForm.from ne 'addlist'}">
								<p:inputText
									value="#{attendanceForm.attendance.event.startDate}"
									styleClass="Responsive w90" readonly="true" id="eventdates">

									<f:convertDateTime pattern="MM/dd/yyyy"
										timeZone="America/New_York" />

								</p:inputText>
							</c:when>
							<c:otherwise>
								<p:selectOneMenu
									value="#{attendanceForm.selectedEventOccurrence}"
									widgetVar="wvDate" id="eventdates" styleClass="Responsive w90"
									var="edate" converter="omnifaces.SelectItemsIndexConverter">

									<f:selectItems
										value="#{attendanceForm.selectedEvent.eventOccurrences}"
										var="dt"
										itemLabel="#{of:formatDate(dt.startDate, 'MM/dd/yyyy')}"
										itemValue="#{dt}" id="sltTime" />

									<p:column style="border:0px none;background:none;" width="10%">
										<i
											class="#{(empty edate.attendance) ? 'Fs18 icon-calendar-empty lightgray' : 'Fs18 icon-calendar blue'}"></i>
									</p:column>

									<p:column style="border:0px none;background:none" width="90%">#{of:formatDate(edate.startDate, 'MM/dd/yyyy')}</p:column>

									<p:ajax listener="#{attendanceForm.eventOccurrenceChange}"
										event="change" process="@this @ otpPerson" global="true" />


								</p:selectOneMenu>
							</c:otherwise>

						</c:choose>

						<p:spinner id="generalCount"
							value="#{attendanceForm.attendance.generalCount}"
							readonly="#{attendanceForm.selectedEvent.attendanceTrackType eq 'DETAILED' or empty attendanceForm.selectedEvent.eventId}"
							min="0">

							<p:ajax process="@this" global="false" />

						</p:spinner>

						<p:message for="type" styleClass="help-inline" />

						<p:message for="event" styleClass="help-inline" />

						<p:message for="eventdates" styleClass="help-inline" />

						<p:message for="generalCount" styleClass="help-inline" />
					</p:panelGrid>

				</p:outputPanel>

				<p:defaultCommand target="save" scope="generalCount" />


				<p:panelGrid columns="1" layout="grid" styleClass="Wid100">

					<p:outputPanel layout="block">

						<p:autoUpdate />

						<p:splitButton value="#{text['attendance.recordAttendance']}"
							actionListener="#{attendanceForm.save}" id="save"
							styleClass="#{hasRoleEdit ? '' : 'hidden'}" ajax="true"
							icon="fa fa-floppy-o Fs14 white" global="false"
							disabled="#{not attendanceForm.recordable}">
							<p:menuitem value="#{text['attendance.recordReturn']}"
								action="#{attendanceForm.save}" icon="ui-icon-newwin"
								ajax="true">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty attendanceForm.attendance.attendanceId}">
							<p:commandButton id="delete" icon="fa fa-trash Fs14 white"
								value="#{text['button.delete']}"
								oncomplete="PF('attendanceDlgWv').show();"
								styleClass="#{hasRoleDelete ? '' : 'hidden'}" />
						</c:if>

						<c:choose>
							<c:when test="${attendanceForm.from eq 'calendarform'}">
								<p:commandButton type="button" id="cancel"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}"
									onclick="setTimeout(window.close(),1000);" />
							</c:when>
							<c:otherwise>
								<p:commandButton action="attendances" immediate="true"
									id="cancel" styleClass="btn" ajax="false"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}" />
							</c:otherwise>
						</c:choose>
					</p:outputPanel>

					<p:outputPanel id="otpPerson" layout="block">

						<p:dataTable id="dtblPerson" var="person"
							value="#{attendanceForm.persons}" editable="false"
							widgetVar="personsWV" rowKey="#{person.personId}"
							selection="#{attendanceForm.selectedPersons}"
							filteredValue="#{attendanceForm.filteredPersons}"
							stickyHeader="true" scrollable="true" scrollRows="100"
							liveScroll="true" scrollHeight="350"
							rendered="#{attendanceForm.selectedEvent.attendanceTrackType eq 'DETAILED'}">

							<f:facet name="header">
								<p:outputPanel>
									<h:panelGroup layout="block"
										styleClass="Container80 Fnone MarAuto FontBold">
										<i class="icon-search Fs24"></i>
										<p:inputText id="globalFilter"
											onkeyup="PF('personsWV').filter();"
											placeholder="#{text['attendance.searchHere']}"
											styleClass="Animated05 Wid90 globalFilter" />
									</h:panelGroup>
								</p:outputPanel>
							</f:facet>

							<p:column selectionMode="multiple"
								style="width:16px;text-align:center" />

							<p:column headerText="#{text['user.lastName']}"
								sortBy="#{person.lastName}" filterBy="#{person.lastName}"
								filterMatchMode="startsWith" style="color:#72828b;">
								<h:outputText value="#{person.lastName}" escape="true" />
							</p:column>

							<p:column headerText="#{text['user.firstName']}"
								sortBy="#{person.firstName}" filterBy="#{person.firstName}"
								filterMatchMode="startsWith" style="color:#72828b;">
								<h:outputText value="#{person.firstName}" escape="true" />
							</p:column>


							<p:column headerText="#{text['person.memberType']}"
								filterBy="#{person.memberType}" filterMatchMode="exact"
								filterOptions="#{attendanceForm.memberTypeFilterOptions}"
								filterStyle="ui-selectonemenu-label ui-inputfield ui-corner-all ui-selectonemenu ui-selectonemenu-trigger"
								style="color:#72828b;">

								<h:outputText value="#{person.memberType}"
									converter="#{memberTypeConverter}" />

							</p:column>


							<p:ajax event="rowSelectCheckbox"
								listener="#{attendanceForm.updateCount}"
								process="@ dtblPerson @this" global=" false" />

							<p:ajax event="rowUnselectCheckbox"
								listener="#{attendanceForm.updateCount}"
								process="@ dtblPerson @this" global="false" />

							<p:ajax event="toggleSelect"
								listener="#{attendanceForm.toggleSelect}"
								process="@ dtblPerson @this" global="false" />

						</p:dataTable>


					</p:outputPanel>

				</p:panelGrid>


				<f:facet name="footer">

				</f:facet>
			</p:panel>
		</h:form>

	</div>



</ui:composition>