<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/mainMenu.xhtml">


	<ui:define name="body">

		<p:panelGrid columns="1">

			<p:commandLink id="editLink" oncomplete="dlg.show();">Edit:</p:commandLink>

			<p:commandButton id="genText" title="Will add text to backing been"
				immediate="false" value="Add Text" update=":mainFrm:frmEdit"
				process="@form" ajax="true">

				<f:setPropertyActionListener target="#{testForm.text}"
					value="A brown cow jump over the moon" />

			</p:commandButton>

		</p:panelGrid>

		<p:dialog id="dialog" header="Edit Field" widgetVar="dlg" modal="true"
			width="660" resizable="false">
			
			<p:ajax event="close" listener="#{testForm.handleClose}" />  

			<h:form id="frmEdit">
				<p:panelGrid columns="1">

					<p:editor id="editor" value="#{testForm.text}" width="620"
						widgetVar="myEdit" binding="#{testForm.editor}">
					</p:editor>

					<p:commandButton value="Submit"
						onclick="PF('dlg').hide(); PF('myEdit').saveHTML();" ajax="true"
						update=":mainFrm:showValue" actionListener="#{testForm.applyEdit}">
					</p:commandButton>

				</p:panelGrid>
			</h:form>

		</p:dialog>

		<h1>
			<h:outputLabel id="showValue" value="#{testForm.text}" escape="false" />
		</h1>

	</ui:define>

</ui:composition>

