<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="body">
		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">
			<p:growl id="growl" autoUpdate="ture" />
			<p:messages id="msgs" />
			<p:schedule value="#{calendarForm.model}" widgetVar="calendarWv"
				id="eventCalendar">
			</p:schedule>
		</h:form>
	</ui:define>
</ui:composition>