
<ui:composition template="/templates/debugTemp.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">



	<ui:define name="body">

		<h:form id="frmMain" enctype="multipart/form-data" prependId="false">

			<p:contextMenu for="dtblContrib" widgetVar="cMenu">
				<p:menuitem value="Edit Cell" icon="ui-icon-search"
					onclick="PF('contribWV').showCellEditor();return false;" />
				<p:menuitem value="Hide Menu" icon="ui-icon-close"
					onclick="PF('cMenu').hide()" />
			</p:contextMenu>

			<p:dataTable id="dtblContrib" var="cntrib"
				value="#{contributionForm.batch.contributions}"
				widgetVar="contribWV" rowKey="#{cntrib.contributionId}"
				editable="true" editMode="cell">

				<p:column headerText="#{text['person.name']}">

					<p:cellEditor>

						<f:facet name="output">
							<h:outputText value="#{cntrib.person.name}" />
						</f:facet>

						<f:facet name="input">

							<!-- 
							<p:autoComplete id="person" value="#{cntrib.person}"
								completeMethod="#{contributionForm.completePerson}" var="person"
								itemLabel="#{person.name}" itemValue="#{person}"
								groupBy="#{contributionForm.getPersonGroup(person)}"
								scrollHeight="250" minQueryLength="1"
								converter="#{personConverter}" styleClass="Wid80 Responsive" />
							 -->

							<h:selectOneMenu value="#{cntrib.person}" id="person"
								required="true" styleClass="Container30">
								<f:selectItem
									itemLabel="#{text['contributionDetail.anonymous']}"
									itemValue="" />
								<f:selectItems value="#{contributionForm.persons}" var="prsn"
									itemLabel="#{prsn.name}" itemValue="#{prsn}" />

							</h:selectOneMenu>

							<p:message for="person" />

						</f:facet>
					</p:cellEditor>

				</p:column>

				<p:column headerText="#{text['category.category_id']}">
					<p:cellEditor>

						<f:facet name="output">
							<h:outputText value="#{cntrib.category.name}" />
						</f:facet>

						<f:facet name="input">
							<h:selectOneMenu value="#{cntrib.category}" id="category"
								required="true"
								styleClass="Container80 Responsive ui-selectonemenu ui-selectonemenu-label ui-selectonemenu-trigger ui-selectonemenu-items">
								<f:selectItem itemLabel="#{text['button.selectOne']}"
									itemValue="" />
								<f:selectItems
									value="#{contributionForm.dataService.categoryFunds}" var="cat"
									itemLabel="#{cat.name}" itemValue="#{cat}" />
							</h:selectOneMenu>

							<p:message for="category" />
						</f:facet>

					</p:cellEditor>
				</p:column>



				<p:column headerText="#{text['contribution.amt']}">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{cntrib.amt}" />
						</f:facet>
						<f:facet name="input">
							<p:inputMask id="amt" value="#{cntrib.amt}" required="true"
								validatorMessage="#{text['errors.batchTotal.max']}"
								styleClass="Wid80 Responsive" >
								<f:validateDoubleRange maximum="999999.99" />
							</p:inputMask>
							<p:message for="amt" styleClass="help-inline" />

						</f:facet>
					</p:cellEditor>
				</p:column>

				<!-- if (event.keyCode == 13) { alert('Enter Pressed'); } -->

				<p:column headerText="#{text['contribution.note']}">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{cntrib.note}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText id="note" value="#{cntrib.note}" required="false"
								maxlength="255" styleClass="Wid80 Responsive" />
							<p:message for="note" styleClass="help-inline" />

						</f:facet>
					</p:cellEditor>
				</p:column>

			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>