<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/templates/mainMenu.xhtml">

	<ui:define name="pageTitle">
	</ui:define>

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<p:panel header="Image">

				<p:panelGrid columns="2">

					<h:outputText value="Image:" />
					<p:graphicImage value="#{imageStreamer.personImage}" id="pic" cache="false">
						<f:param name="personId" value="-1" />
					</p:graphicImage>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>

</ui:composition>

</html>