<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/mainMenu.xhtml">


	<ui:define name="pageTitle">
		<f:loadBundle var="text" basename="#{personForm.bundleName}" />
		#{text['personDetail.title']}
	</ui:define>
	
	<ui:define name="body">
		<h:body id="bdyMain">
			<h:form id="frmTest">
				<p:panel id="pnltest" header="Ajax Sample">
					<p:panelGrid columns="3">
						<h:outputText value="The Current Date and Time:" />
						<h:outputText value="#{testForm.dateTime}" id="display" />
						<p:commandButton value="Refresh" ajax="true" update="display" />
						<h:commandButton value="Next Page" action="secondPage"
							immediate="true" />
					</p:panelGrid>
				</p:panel>

				<p:accordionPanel dynamic="true" cache="true" multiple="true">

					<p:row>
						<p:column colspan="12">
							<p:tab title="#{text['person.personalInformation']}">
								<p:fieldset legend="#{text['person.personalInformation']}">
									<ui:include src="/sections/person/info.xhtml" />
								</p:fieldset>
							</p:tab>
						</p:column>
					</p:row>

					<p:row>
						<p:column colspan="6">
							<p:tab title="#{text['person.contactInformation']}">
								<p:fieldset legend="#{text['person.contactInformation']}">
									<ui:include src="/sections/person/contact.xhtml" />
								</p:fieldset>
							</p:tab>
						</p:column>
					</p:row>

					<p:row>
						<p:column colspan="6">
							<p:tab title="#{text['person.alternateAddress']}">
								<p:fieldset legend="#{text['person.alternateAddress']}">
									<ui:include src="/sections/person/address.xhtml" />
								</p:fieldset>
							</p:tab>
						</p:column>
					</p:row>

				</p:accordionPanel>
			</h:form>
		</h:body>
	</ui:define>

</ui:composition>

