<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/mainMenu.xhtml">


	<ui:define name="pageTitle">
		<f:loadBundle var="text" basename="#{personForm.bundleName}" />
		#{text['personDetail.title']}
	</ui:define>

	<ui:define name="body">
		<h:body id="bdyMain">
			<h:form id="frmTest">

				<p:schedule value="#{calendarForm.model}" widgetVar="calendarWv"
					id="eventCalendar" tooltip="true"
					timeZone="#{calendarForm.timezone}">

					<p:ajax event="dateSelect" listener="#{calendarForm.onDateSelect}"
						oncomplete="PF('statusDialog').show();viewEvent();" global="false" />

					<p:ajax event="eventSelect"
						listener="#{calendarForm.onEventSelect}"
						oncomplete="checkReoccurrence();PF('statusDialog').show()"
						global="false" />

					<p:ajax event="eventMove" listener="#{calendarForm.onEventMove}"
						update="growl" />

					<p:ajax event="eventResize"
						listener="#{calendarForm.onEventResize}" update="growl" />
				</p:schedule>

			</h:form>
		</h:body>
	</ui:define>

</ui:composition>

