<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">



	<h:inputHidden value="#{locationForm.location.locationId}" />
	<h:inputHidden value="#{locationForm.location.version}" />

	<o:validateAllOrNone id="allOrNone"
		components="address city province postalCode" invalidateAll="false"
		showMessageFor="@invalid" message="#{text['errors.allOrNone']}">
	</o:validateAllOrNone>

	<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
		id="locationPnl">


		<p:outputLabel styleClass="control-label" for="name"
			value="#{text['location.name']}" />
		<p:inputText id="name" value="#{locationForm.location.name}"
			required="true" maxlength="50" styleClass="Wid100" />
		<p:message for="name" />


		<p:outputLabel styleClass="control-label" for="phoneNumber"
			value="#{text['person.phoneNumber']}" />

		<p:inputMask id="phoneNumber"
			value="#{locationForm.location.phoneNumber}" required="false"
			mask="(999) 999-9999" styleClass="Wid100" />

		<p:message for="phoneNumber" />




		<p:outputLabel styleClass="control-label"
			value="#{text['user.address.address']}" for="address" />
		<p:inputText id="address"
			value="#{locationForm.location.address.address}"
			styleClass="Wid100 addressSelector" />
		<p:message for="address" />


		<p:outputLabel styleClass="control-label"
			value="#{text['user.address.city']}" for="city" />
		<p:inputText id="city" value="#{locationForm.location.address.city}"
			styleClass="Wid50" />
		<p:message for="city" />

		<p:outputLabel value="#{text['user.address.province']}" for="province" />


		<p:selectOneMenu value="#{locationForm.location.address.province}"
			id="province" styleClass="Wid50">

			<f:selectItem itemValue="#{null}"
				itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />

			<f:selectItems value="#{locationForm.dataService.states}" var="state"
				itemValue="#{state.value}" itemLabel="#{state.label}" />
		</p:selectOneMenu>


		<p:message for="province" />

		<p:outputLabel 	value="#{text['user.address.postalCode']}" for="postalCode" />
		<p:inputMask mask="99999" id="postalCode"
			value="#{locationForm.location.address.postalCode}"
			styleClass="Wid50"  />
		<p:message for="postalCode" styleClass="help-inline" />


	</p:panelGrid>
</ui:composition>
