<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
				xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
				xmlns:o="http://omnifaces.org/ui"
				xmlns:of="http://omnifaces.org/functions">




	<p:focus context="detailPnl" />

	<p:panelGrid id="detailPnl" columns="3"
		styleClass="ui-panelgrid-blank detailPnl">


		<p:outputLabel styleClass="control-label" for="title"
			value="#{text['event.title']}" />
		<p:inputText id="title" value="#{eventForm.event.title}"
			styleClass="Wid50">
			<p:ajax event="blur" global="false" />
		</p:inputText>

		<p:message for="title" styleClass="help-inline" />

		<!-- Calendar -->
		<p:outputLabel styleClass="control-label" for="type"
			value="#{text['event.type']}" />

		<!-- Calendar -->
		<p:selectOneMenu value="#{eventForm.event.eventType}" id="type"
			required="false" converter="#{eventTypeConverter}" var="e"
			styleClass="Wid50">

			<f:selectItems value="#{eventForm.dataService.eventTypes}" var="et"
				itemValue="#{et}" itemLabel="#{et.value}" />

			<p:column style="width:10%">
				<h:panelGroup styleClass="event-box" layout="block"
					style="#{'background-color: #'.concat(e.color)}" />
			</p:column>
			<p:column>
				<h:outputText value="#{e.value}" />
			</p:column>
		</p:selectOneMenu>
		<p:message for="type" />

		<p:outputLabel styleClass="control-label" for="location"
			value="#{text['event.location']}" />

		<p:selectOneMenu value="#{eventForm.event.location}" id="location"
			required="false" styleClass="Wid50" converter="#{locationConverter}">
			<f:selectItem itemLabel="#{text['button.selectOne']}" itemValue="" />
			<f:selectItems value="#{eventForm.dataService.locations}" var="loc"
				itemValue="#{loc}" itemLabel="#{loc.value}" />
		</p:selectOneMenu>

		<p:message for="location" styleClass="help-inline" />


		<p:outputLabel styleClass="control-label" for="allDay"
			value="#{text['event.allDay']}" />

		<p:selectBooleanCheckbox value="#{eventForm.event.allDay}" id="allDay">


			<p:ajax event="valueChange" listener="#{eventForm.handleAllDayEvent}"
				global="false" process="@ detailPnl" update="@ detailPnl" />

		</p:selectBooleanCheckbox>

		<p:spacer />



		<p:outputLabel styleClass="control-label" for="startdate"
			value="#{text['event.startDate']}" />


		<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

			<p:calendar id="startdate" value="#{eventForm.event.startDate}"
				pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"
				required="true" showOn="button" stepMinute="15" minMinute="0"
				widgetVar="startDateWv">

				<p:ajax event="dateSelect" listener="#{eventForm.handleDateSelect}"
					global="false" update="@(.enddate)" />

				<p:ajax event="change" listener="#{eventForm.handleDateSelect}"
					global="false" update="@(.enddate)" />


			</p:calendar>

			<c:if test="#{not eventForm.event.allDay}">

				<!-- value="#{eventForm.startTime}" -->

				<p:selectOneMenu value="#{eventForm.startTimeHolder}"
					widgetVar="startTimeWv" id="somStartTime"
					onchange="updateEndTime();"
					converter="omnifaces.SelectItemsIndexConverter">
					<f:selectItems value="#{eventForm.dateList}" var="dt_time"
						itemLabel="#{of:formatDate(dt_time, 'hh:mm a')}"
						itemValue="#{dt_time}" id="sltTime" />
				</p:selectOneMenu>
			</c:if>

			<c:if test="#{eventForm.event.allDay}">
				<p:spacer />
			</c:if>

		</p:panelGrid>

		<p:message for="startdate" styleClass="help-inline" />


		<c:if test="#{not eventForm.event.allDay}">

			<p:outputLabel styleClass="control-label" for="enddate"
				value="#{text['event.endDate']}" id="otpEndDate" />


			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
				<p:calendar id="enddate" value="#{eventForm.event.endDate}"
					pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"
					required="true" showOn="button" stepMinute="15" minMinute="0"
					widgetVar="endDateWv" styleClass="enddate">

					<p:ajax event="dateSelect" listener="#{eventForm.handleDateSelect}"
						global="false" />

					<p:ajax event="change" listener="#{eventForm.handleDateSelect}"
						global="false" />

				</p:calendar>


				<p:selectOneMenu value="#{eventForm.endTimeHolder}"
					widgetVar="endTimeWv" id="somEndTime"
					converter="omnifaces.SelectItemsIndexConverter">

					<f:selectItems value="#{eventForm.dateList}" var="dt_time"
						itemLabel="#{of:formatDate(dt_time, 'hh:mm a')}"
						itemValue="#{dt_time}" />

					<p:ajax event="valueChange" listener="#{eventForm.calcDuration}"
						global="false" partialSubmit="true" immediate="false" />

				</p:selectOneMenu>
			</p:panelGrid>

			<h:panelGroup>
				<o:validateOrder components="startdate enddate" type="lte"
					showMessageFor="enddate" message="#{text['errors.enddate.before']}" />
				<p:message for="enddate" styleClass="help-inline" />
			</h:panelGroup>

		</c:if>


		<!-- Repeat Event -->

		<p:outputLabel styleClass="control-label" for="repeat"
			value="#{text['event.repeat']}" />

		<p:selectOneMenu value="#{eventForm.event.repeat}" id="repeat"
			required="true" effect="fade">

			<f:selectItems value="#{eventForm.repeatValues}" var="rv"
				itemValue="#{rv}" itemLabel="#{rv.value}" />

			<p:ajax event="change" listener="#{eventForm.selectionChanged}"
				global="false" process="@parent" update="@parent" />

		</p:selectOneMenu>

		<p:message for="repeat" />


		<c:if test="#{eventForm.event.repeat.value ne 'No'}">

			<c:set var="repeatVal" value="#{eventForm.event.repeat.value}" />

			<p:outputLabel value="#{text['event.repeatEvery']}"
				for="somrepeatEvery" />

			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
				<p:selectOneMenu value="#{eventForm.event.repeatEvery}"
					id="somrepeatEvery" required="true">
					<f:selectItems value="#{eventForm.maxRepeatEvery}" var="x"
						itemLabel="#{x}" itemValue="#{x}" />
				</p:selectOneMenu>
				<h:outputText
					value="#{repeatVal eq 'Daily' ? text['event.days'] : repeatVal eq 'Weekly' ? text['event.weeks'] : repeatVal eq 'Monthly' ? text['event.months'] :text['event.years']}" />
			</p:panelGrid>

			<p:message for="somrepeatEvery" />

			<p:outputLabel value="#{text['event.until']}" for="clndruntildate" />

			<p:calendar id="clndruntildate"
				value="#{eventForm.event.repeatUntilDate}"
				required="#{eventForm.event.repeat.value ne 'No'}" showOn="button"
				disabled="#{eventForm.event.repeat.value eq 'No'}"
				pattern="MM/dd/yyyy" mask="true"	maskAutoClear="true" widgetVar="clndrntldtWv" />

			<p:message for="clndruntildate" />

		</c:if>

		<st:showMore showMoreListener="#{eventForm.showMoreOptions}" state="#{eventForm.showMore}" refresh="@parent"/>
		<p:spacer />
		<p:spacer />



		<!-- Daily Frequency  -->
		<c:if test="#{eventForm.event.repeat.value eq 'Daily'}">
			<p:outputLabel value="#{text['event.weekDaysOnly']}" for="weekdays" />

			<p:selectBooleanCheckbox id="weekdays"
				value="#{eventForm.event.weekDaysOnly}" />
			<p:spacer />
		</c:if>
		<!-- Daily Frequency  END -->

		<!-- Weekly Frequency  -->
		<c:if
			test="#{eventForm.event.repeat.value eq 'Weekly' || eventForm.event.repeat.value eq 'BiWeekly'}">

			<!-- 	<p:outputLabel value="#{text['event.until']}" for="clndruntildatewk" />

			<p:calendar id="clndruntildatewk"
				value="#{eventForm.event.repeatUntilDate}"
				required="#{eventForm.event.repeat.value eq 'Weekly' || eventForm.event.repeat.value eq 'BiWeekly'}"
				showOn="button"
				pattern="MM/dd/yyyy" />

			<p:message for="clndruntildatewk" styleClass="help-inline" /> -->

		</c:if>
		<!-- Weekly Frequency END -->

		<!-- Monthly Frequency END -->

		<c:if test="#{eventForm.event.repeat.value eq 'Monthly'}">

			<p:outputLabel for="customRadio" value="${text['event.Dayofthe']}" />

			<h:panelGroup>
				<p:selectOneRadio id="customRadio"
					value="#{eventForm.event.monthYearOption}" layout="custom"
					required="#{eventForm.event.repeat.value eq 'Monthly'}">
					<f:selectItem itemLabel="#{text['event.onDay']}" itemValue="0" />
					<f:selectItem itemLabel="#{text['event.onThe']}" itemValue="1" />
				</p:selectOneRadio>

				<p:panelGrid cellpadding="5" cellspacing="5"
					styleClass="ui-panelgrid-blank">

					<!-- Option 1 -->

					<p:row>
						<p:column>
							<p:radioButton id="opt1" for="customRadio" itemIndex="0" />
						</p:column>
						<p:column>
							<h:outputLabel for="opt1" value="#{text['event.onDay']}" />
						</p:column>
						<p:column>
							<p:selectOneMenu value="#{eventForm.event.dayNth}" id="onday"
								required="true" effect="fade" widgetVar="wvOnDayNth"
								styleClass="hidden" panelStyleClass="hidden">
								<f:selectItems value="#{eventForm.dayValues}" var="dv"
									itemValue="#{dv.value}" itemLabel="#{dv.label}" />
							</p:selectOneMenu>

							<h:outputText value="#{eventForm.event.dayNth}"
								style="font-weight: bold" id="otptDayNth" />
						</p:column>

					</p:row>

					<!-- Option 2 -->
					<p:row>
						<p:column>
							<p:radioButton id="opt2" for="customRadio" itemIndex="1" />
						</p:column>
						<p:column>
							<h:outputLabel for="opt2" value="#{text['event.onThe']}" />
						</p:column>
						<p:column>
							<p:selectOneMenu value="#{eventForm.event.weekOccurrence}"
								id="weekoccur" required="true" effect="fade" styleClass="hidden"
								panelStyleClass="hidden">
								<f:selectItems value="#{eventForm.weekValues}" var="wv"
									itemValue="#{wv}" itemLabel="#{wv.value}" />
							</p:selectOneMenu>

							<h:outputText value="#{eventForm.event.weekOccurrenceName}"
								style="font-weight: bold" />

						</p:column>
						<p:column>
							<p:selectOneMenu id="weekdaynum"
								value="#{eventForm.event.weekDayNum}" required="true"
								effect="fade" styleClass="hidden" panelStyleClass="hidden">
								<f:selectItems value="#{eventForm.weekDays}" var="wd"
									itemValue="#{wd.value}" itemLabel="#{wd.label}" />
							</p:selectOneMenu>

							<h:outputText value="#{eventForm.event.weekDayName}"
								style="font-weight: bold" />

						</p:column>
						<p:column>
							<h:outputText value="#{text['event.ofEveryMonth']}" />
						</p:column>
					</p:row>

				</p:panelGrid>
			</h:panelGroup>

			<p:spacer />


		</c:if>

		<!-- Yearly -->

		<c:if test="#{eventForm.event.repeat.value eq 'Yearly'}">

			<p:outputLabel for="sorYearly" value="${text['event.Dayofthe']}" />

			<h:panelGroup>

				<p:selectOneRadio id="sorYearly"
					value="#{eventForm.event.monthYearOption}" layout="custom"
					required="#{eventForm.event.repeat.value eq 'Yearly'}">
					<f:selectItem itemLabel="#{eventForm.event.startDateText}"
						itemValue="0" style="font-weight: bold" />
					<f:selectItem itemLabel="#{text['event.onThe']}" itemValue="1" />
				</p:selectOneRadio>

				<p:panelGrid cellpadding="5" cellspacing="5"
					styleClass="ui-panelgrid-blank">

					<p:row>
						<p:column>
							<p:radioButton id="optA" for="sorYearly" itemIndex="0" />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel for="optA" value="#{text['event.annually.on']} " />
							<h:outputText value="#{eventForm.event.startDateText}"
								style="font-weight: bold" />
						</p:column>

					</p:row>
					<p:row>
						<p:column>
							<p:radioButton id="optB" for="sorYearly" itemIndex="1" />
						</p:column>
						<p:column>
							<h:outputLabel for="optB" value="#{text['event.annually.onThe']}" />
						</p:column>
						<p:column>
							<p:selectOneMenu value="#{eventForm.event.weekOccurrence}"
								id="weekoccurYearly" required="true" effect="fade"
								styleClass="hidden">
								<f:selectItems value="#{eventForm.weekValues}" var="wv"
									itemValue="#{wv}" itemLabel="#{wv.value}" />
							</p:selectOneMenu>

							<h:outputText value="#{eventForm.event.weekOccurrenceName}"
								style="font-weight: bold" />

						</p:column>
						<p:column>

							<p:selectOneMenu id="weekdaynumYearly"
								value="#{eventForm.event.weekDayNum}" required="true"
								effect="fade" styleClass="hidden">
								<f:selectItems value="#{eventForm.weekDays}" var="wd"
									itemValue="#{wd.value}" itemLabel="#{wd.label}" />
							</p:selectOneMenu>

							<h:outputText value="#{eventForm.event.weekDayName}"
								style="font-weight: bold" />

						</p:column>
						<p:column>
							<h:outputText value="#{text['event.ofEvery']} " />
							<h:outputText value="#{eventForm.event.startDate}" escape="true"
								style="font-weight: bold">
								<f:convertDateTime pattern="MMMM" />
							</h:outputText>
						</p:column>
					</p:row>

				</p:panelGrid>
			</h:panelGroup>

			<p:spacer />

		</c:if>


		<c:if test="#{eventForm.showMore}">
			<ui:include src="/sections/event/eventOptions.xhtml" />
		</c:if>


	</p:panelGrid>


</ui:composition>