<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">



	<!-- <p:outputLabel styleClass="control-label" for="publicEvent"
		value="#{text['event.publicEvent']}" />

	<p:selectBooleanCheckbox id="publicEvent"
		value="#{eventForm.event.publicEvent}" />

	<p:message for="publicEvent" styleClass="help-inline" />


	<p:outputLabel styleClass="control-label" for="resource"
		value="#{text['event.resource']}" />

	<p:selectOneMenu value="#{eventForm.event.resource}" id="resource"
		required="false" styleClass="Wid50" converter="#{resourceConverter}">
		<f:selectItem itemLabel="#{text['button.selectOne']}" itemValue="" />
		<f:selectItems value="#{eventForm.dataService.resources}" var="rs"
			itemValue="#{rs}" itemLabel="#{rs.value}" />
	</p:selectOneMenu>

	<p:message for="resource" styleClass="help-inline" />
 -->


	<p:outputLabel styleClass="control-label" for="attendanceTrackType"
		value="#{text['event.attendanceTrackType']}" />

	<p:selectOneMenu value="#{eventForm.event.attendanceTrackType}"
		id="attendanceTrackType" required="true" styleClass="Wid45">

		<f:selectItems
			value="#{eventForm.dataService.attendanceTrackingTypes}" var="av"
			itemValue="#{av}" itemLabel="#{av.value}" />

	</p:selectOneMenu>

	<p:message for="attendanceTrackType" styleClass="help-inline" />


	<p:outputLabel styleClass="control-label" for="descr"
		value="#{text['event.descr']}" />

	<p:inputTextarea rows="4" cols="35" counter="inptxrCounter"
		maxlength="100" counterTemplate="{0} characters remaining"
		autoResize="false" value="#{eventForm.event.descr}" id="descr"/>


	<p:spacer />

	<p:spacer />
	<h:outputText id="inptxrCounter" />
	<p:spacer />


</ui:composition>
