<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
	
	
	<!-- Notification feature will be in release 1; remove from MVP 4/13.1018  -->
	


	<h:panelGrid columns="1" style="margin-bottom: 10px"
		styleClass="ui-panelgrid-blank">

		<h:outputText id="output"
			value="#{eventForm.event.reminder} #{text['event.reminder']}" />

		<h:inputHidden id="reminder" value="#{eventForm.event.reminder}" />

		<p:slider for="reminder" display="output" style="width: 180px"
			displayTemplate="{value} #{text['event.reminder']}" minValue="0"
			maxValue="90" />

		<p:message for="reminder" styleClass="help-inline" />

	</h:panelGrid>

	<h:panelGrid columns="1" style="margin-bottom: 10px"
		styleClass="ui-panelgrid-blank">


		<p:fieldset legend="#{text['event.group.notification']}">

			<p:pickList id="groupPickList" value="#{eventForm.groupLists}"
				var="group" effect="bounce" itemValue="#{group}"
				itemLabel="#{group.name}" showSourceControls="false"
				showTargetControls="false" showCheckbox="true"
				showSourceFilter="true" showTargetFilter="true"
				filterMatchMode="startsWith" converter="#{groupConverter}">

				<f:facet name="sourceCaption">#{text['event.available']}</f:facet>
				<f:facet name="targetCaption">#{text['event.selected']}</f:facet>

				<p:column style="width:100%;">
					<h:outputText value="#{group.name}" />
				</p:column>
			</p:pickList>

		</p:fieldset>

	</h:panelGrid>




</ui:composition>