<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


	<shared:instructionText
		textSummary="#{text['createCommunication.selectGroup']}" />


	<p:inputText styleClass="hidden">
		<f:validator validatorId="AtLeastOneSelectedValidator" />
		<f:attribute name="Selection"
			value="#{communcationForm.selectedGroups}" />
		<f:attribute name="ErrorMessage" value="errors.selectOneGroup" />
	</p:inputText>



	<p:fragment>

		<p:dataTable id="dtblGroup" var="group"
			value="#{communcationForm.groups}" editable="false"
			widgetVar="groupsWV" paginator="true" paginatorPosition="bottom"
			rows="25"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="25,50,100" rowKey="#{group.name}"
			selection="#{communcationForm.selectedGroups}" reflow="true">

			<p:column selectionMode="multiple" style="width:5%;text-align:center">
			</p:column>


			<p:ajax event="rowSelectCheckbox"
				listener="#{communcationForm.onRowSelect}" process="@(#dtblGroup)"
				partialSubmit="true" />

			<p:ajax event="rowUnselectCheckbox"
				listener="#{communcationForm.onRowUnSelect}" process="@(#dtblGroup)"
				partialSubmit="true" />

			<p:ajax event="toggleSelect" process="@(#dtblGroup)"
				partialSubmit="true" listener="#{communcationForm.onToggleSelect}" />

			<p:column headerText="#{text['group.name']}" sortBy="#{group.name}"
				filterBy="#{group.name}">
				<h:commandLink action="#{groupForm.edit}" value="#{group.name}"
					ajaX="false" styleClass="ui-link"
					onmousedown="setConfirmUnload(false);">
					<f:param name="groupId" value="#{group.groupId}" />
				</h:commandLink>
			</p:column>

			<p:column headerText="#{text['category.categoryType']}"
				sortBy="#{group.category.name}" filterMatchMode="startsWith"
				filterBy="#{group.category.name}">

				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('groupsWV').filter()"
						styleClass="Wid20">
						<f:selectItem itemLabel="#{text['button.selectOne']}"
							itemValue="#{null}" noSelectionOption="true" />
						<f:selectItems value="#{groupForm.dataService.categories}"
							var="ct" itemLabel="#{ct.name}" itemValue="#{ct.name}" />
					</p:selectOneMenu>
				</f:facet>

				<h:outputText value="#{group.category.name}" />

			</p:column>

		</p:dataTable>


	</p:fragment>

</ui:composition>