<ui:composition template="/templates/emptyPage.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<f:metadata>
		<f:viewParam name="id" value="#{connectForm.iD}" />
	</f:metadata>

	<ui:define name="pageTitle">#{text['connectComplete.title']}</ui:define>

	<ui:param name="menu" value="complete" />
	<ui:param name="bodyId" value="complete" />

	<ui:define name="body">


		<div class="EmptyBox50" />

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

		
			<div
				class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent5">
				<a href="" id="login-logo"> <h:graphicImage
						name="images/LOGO.svg" styleClass="Fleft"
						library="sentinel-layout" /> <span
					class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span
						class="softblue">#{text['app.chruchName']}</span><span
						class="hardblue">#{text['app.viewName']}</span></span>
				</a>
				<div class="EmptyBox5" />

				<p:messages id="msgs" severity="error,info,warn"  globalOnly="true">
					<p:autoUpdate />
				</p:messages>
			</div>

			<p:panel style="width: 50%; margin: 0 auto"
				header="#{text['connectDetail.title']}"
				styleClass="Container80 MaxWid500 white-back Fnone MarAuto BordRad10"
				visible="#{connectForm.show}">

				<shared:instructionText
					textHeader="#{text['connectComplete.heading']}"
					textSummary="#{text['connectComplete.message']} #{connectForm.connect.individual.name}. #{text['connect.action']} #{connectForm.connect.action.label}" />

				<h:inputHidden value="#{connectForm.connect.connectId}"
					id="connectId" />
				<h:inputHidden value="#{connectForm.connect.version}" id="version" />

				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-panelgrid-blank" id="connectPnl">


					<p:outputLabel styleClass="control-label" for="completeNote"
						value="#{text['connect.completeNote']}" />

					<p:inputTextarea rows="6" styleClass="Wid90"
						counter="inptxrCounter" maxlength="5200"
						counterTemplate="{0} characters remaining" autoResize="false"
						value="#{connectForm.connect.completeNote}" id="completeNote"
						required="true" />

					<h:outputText id="inptxrCounter" />


					<p:outputLabel styleClass="control-label" for="completeOnDate"
						value="#{text['connect.completeOnDate']}" />
					<p:calendar value="#{connectForm.connect.completeOnDate}"
						id="completeOnDate" required="true" showOn="button"
						styleClass="Wid80" style="width: 100%" pattern="MM/dd/yyyy" mask="true"	maskAutoClear="true">

						<f:validator for="completeOnDate"
							validatorId="FutureDateValidator" />
						<f:attribute name="ErrorMessage"
							value="errors.dateCannotBeInTheFuture" />
						<f:attribute name="Validate" value="#{1==1}" />

					</p:calendar>

					<p:message for="completeOnDate" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:commandButton value="#{text['button.save']}"
							actionListener="#{connectForm.complete}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="@form">
						</p:commandButton>
					</h:panelGroup>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>