<ui:composition template="/templates/emptyPage.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml">


    <f:metadata>
        <f:viewParam name="id" value="#{inviteUserForm.id}"/>
    </f:metadata>

    <ui:define name="pageTitle">#{text['members.createUser']}</ui:define>

    <ui:param name="menu" value="inviteUserForm"/>
    <ui:param name="bodyId" value="inviteUserForm"/>

    <ui:define name="body">
        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false" >
            <f:passThroughAttribute name="autocomplete" value="off"/>
            <ui:include src="/sections/user/inviteUserDetails.xhtml"/>
        </h:form>
    </ui:define>
</ui:composition>

