<ui:composition template="/templates/templateBasic.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="pageTitle">#{text['passwordChange.title']}</ui:define>

	<ui:param name="menu" value="passwordChange" />
	<ui:param name="bodyId" value="passwordChange" />
	<ui:param name="guidedPage" value="NO" />

	<ui:define name="body">
		<h:form enctype="multipart/form-data" prependId="false">

			<p:focus for="password" />

			<div class="EmptyBox10" />


			<p:panel style="width: 75%; margin: 0 auto"
				header="#{text['passwordChange.title']}"
				styleClass="white-back Fnone MarAuto BordRad10">

				<p:messages id="msgs" severity="error,info,warn" globalOnly="true">
					<p:autoUpdate />
				</p:messages>

				<div
					class="Container80 Fnone MarAuto TexAlCenter PaddingTopPercent5">
					<span class="Fs20"><span style="color: #3069e8;"><i
							class="fa fa-key"></i> <p:spacer width="5px" />#{text['passwordChange.title']}</span></span>
					<div class="EmptyBox10" />
					<span class="Fs15"><span style="color: #3069e8;">
							#{text['passwordChange.enterNewPassword']}</span></span>
				</div>

				<div class="Container80 Fnone MarAuto TexAlCenter">

					<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
						columnClasses="TexAlCenter" id="pnlpassword">

						<p:outputLabel for="password"
							value="#{text['passwordChange.newPassword']}" />

						<p:password value="#{signupForm.user.password}" id="password"
							required="true" feedback="true" match="confirmPassword"
							styleClass="Wid50" />

						<p:message for="password" />

						<p:outputLabel for="confirmPassword"
							value="#{text['passwordChange.confirmNewPassword']}" />

						<p:password value="#{signupForm.user.confirmPassword}"
							id="confirmPassword" redisplay="true" required="true"
							styleClass="Wid50" />

						<p:message for="confirmPassword" />

						<p:outputLabel for="passwordHint"
							value="#{text['user.passwordHint']}" />

						<p:inputText value="#{signupForm.user.passwordHint}"
							id="passwordHint" required="true" styleClass="Wid50">
						</p:inputText>
						<p:message for="passwordHint" />

					</p:panelGrid>

				</div>


				<f:facet name="footer">
					<h:panelGroup>
						<p:commandButton action="login" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
							value="#{text['button.cancel']}"
							onclick="setConfirmUnload(false);" />

						<p:commandButton value="#{text['button.continue']}"
							actionListener="#{signupForm.changePassword}" id="continue"
							styleClass="btn btn-primary" ajax="true"
							icon="fa fa-check Fs14 white" partialSubmit="true"
							process="@this @(#pnlpassword)"
							onclick="setConfirmUnload(false);" validateClient="true">
						</p:commandButton>
					</h:panelGroup>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>