<ui:composition template="/templates/templateBasic.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['user.passwordHint']}</ui:define>

	<ui:param name="menu" value="passwordHint" />
	<ui:param name="bodyId" value="passwordHint" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


			<p:focus for="txtusername" />

			<p:panel style="width: 75%; margin: 0 auto"
				header="#{text['user.passwordHint']}"
				styleClass="white-back Fnone MarAuto BordRad10">

				<p:messages id="msgs" severity="error,info,warn" globalOnly="true" >
					<p:autoUpdate />
				</p:messages>

				<div
					class="Container80 Fnone MarAuto TexAlCenter PaddingTopPercent5">
					<span class="Fs20"><span style="color: #3069e8;"><i
							class="fa fa-info"></i> <p:spacer width="5px" />#{text['user.passwordHintMessage']}</span></span>
				</div>
				
				<div class="EmptyBox10" />

				<div class="Container80 Fnone MarAuto TexAlCenter">

					<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
						columnClasses="TexAlCenter" id="pnlpassword">

						<p:outputLabel for="txtusername"
							value="#{text['passwordhint.enterUserName']}" />

						<p:inputText value="#{passwordHint.username}"
							styleClass="text-large" required="true"
							requiredMessage="#{text['user.errors.required']}"
							id="txtusername">

						</p:inputText>

						<p:message for="txtusername" id="msgtxt" />


					</p:panelGrid>
				</div>

				<f:facet name="footer">

					<h:panelGroup>

						<p:commandButton action="success" id="cancel"
							icon="fa fa-hand-o-left Fs14 white"
							value="#{text['passwordhint.return']}"
							onclick="setConfirmUnload(false);" partialSubmit="true"
							process="@this" global="false" />

						<p:commandButton actionListener="#{passwordHint.execute}"
							id="execute" ajax="true" process="@this @(#txtusername)"
							update="@form" value="#{text['passwordhint.sendHint']}"
							validateClient="true" partialSubmit="true"
							onclick="setConfirmUnload(false);" />

					</h:panelGroup>

				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>