<ui:composition template="/templates/templateBasic.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="personId"
				value="#{sessionScope.currentUser.person.personId}" />
		</f:metadata>
	</ui:define>

	<ui:define name="pageTitle">#{text['passwordReset.title']}</ui:define>

	<ui:param name="menu" value="passwordReset" />
	<ui:param name="bodyId" value="passwordReset" />
	<ui:param name="guidedPage" value="NO" />

	<ui:define name="body">
		<h:form enctype="multipart/form-data" prependId="false">
		
			<p:focus for="email"/>

			<div class="EmptyBox10" />



			<p:panel style="width: 75%; margin: 0 auto"
				header="#{text['passwordReset.title']}"
				styleClass="white-back Fnone MarAuto BordRad10">

				<p:messages id="msgs" severity="error,info,warn" globalOnly="true" >
					<p:autoUpdate />
				</p:messages>

				<div
					class="Container80 Fnone MarAuto TexAlCenter PaddingTopPercent5">
					<span class="Fs20"><span style="color: #3069e8;"><i
							class="fa fa-unlock-alt"></i> <p:spacer width="5px" />#{text['passwordhint.forgotPassword']}</span></span>
					<div class="EmptyBox10" />
					<span class="Fs15"><span style="color: #3069e8;">
							#{text['passwordReset.enterUserName']}</span></span>
				</div>

				<div class="Container80 Fnone MarAuto TexAlCenter">

					<p:panelGrid columns="2" styleClass="ui-panelgrid-blank Wid100" columnClasses="TexAlCenter">

						<p:inputText id="email" value="#{signupForm.resetEmail}"
							required="true" label="Email" styleClass="Wid80"
							validatorMessage="#{text['errors.email']}"
							onblur="setConfirmUnload(false);">
							<p:clientValidator />
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>
						<p:watermark for="email" value="#{text['signup.email']}"
							id="wmemail" />
						<p:message for="email"/>

					</p:panelGrid>

				</div>


				<f:facet name="footer">
					<h:panelGroup>
						<p:commandButton action="login" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
							value="#{text['button.cancel']}"
							onclick="setConfirmUnload(false);" />

						<p:commandButton value="#{text['button.continue']}"
							actionListener="#{signupForm.resetPassWord}" id="continue"
							styleClass="btn btn-primary" ajax="true"
							icon="fa fa-check Fs14 white" partialSubmit="true"
							process="@this @(#email)" onclick="setConfirmUnload(false);"
							validateClient="true">
						</p:commandButton>
					</h:panelGroup>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>