<ui:composition template="/templates/templateBasic.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['logoff.session.expired']}</ui:define>

	<ui:param name="menu" value="login" />
	<ui:param name="bodyId" value="timedout" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">
		
			<div style="width: 80%; margin: 0 auto">
			
				<shared:instructionText
					textHeader="#{text['logoff.session.expired']}"
					textSummary="#{text['logoff.session.not.active']}" />

				<h2>
					<h:outputText value="#{text['logoff.protection']}" />
				</h2>

				<h2>
					<h:outputFormat value="#{text['logoff.signon']}" escape="false">
						<f:param value="#{request.contextPath}/login" />
					</h:outputFormat>
				</h2>
			</div>
		</h:form>
	</ui:define>

</ui:composition>

