<ui:composition template="/templates/emptyPage.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">



	<ui:define name="pageTitle">#{text['signup.unVerifyTitle']}</ui:define>

	<ui:param name="menu" value="unverfied" />
	<ui:param name="bodyId" value="unverfied" />

	<ui:define name="body">


		<div class="EmptyBox50" />

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


			<div
				class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent5">
				<a href="" id="login-logo"> <h:graphicImage
						name="images/LOGO.svg" styleClass="Fleft"
						library="sentinel-layout" /> <span
					class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span
						class="softblue">#{text['app.chruchName']}</span><span
						class="hardblue">#{text['app.viewName']}</span></span>
				</a>
				<div class="EmptyBox5" />

				<p:messages id="msgs" severity="error,info,warn" globalOnly="true" >
					<p:autoUpdate />
				</p:messages>
			</div>

			<p:panel style="width: 75%; margin: 0 auto"
				header="#{text['signup.emailVerifyTitle']}"
				styleClass="Container80 MaxWid500 white-back Fnone MarAuto BordRad10">

				<shared:instructionText textHeader="#{text['mainMenu.heading']}"
					textSummary="#{signupForm.unVerifyMessage}" />

				<f:facet name="footer">
					<h:panelGroup>
						<p:commandButton value="#{text['button.resend']}" actionListener="#{signupForm.resend}"
							id="login" styleClass="btn btn-primary" ajax="true"
							icon="fa fa-sign-in Fs14 white" partialSubmit="true" process="@this">
						</p:commandButton>
					</h:panelGroup>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>