<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:of="http://omnifaces.org/functions"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['customMetaDetail.title']}</ui:define>

    <ui:param name="menu" value="customFieldForm"/>
    <ui:param name="bodyId" value="customFieldForm"/>


    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


            <ui:include src="/sections/main/message.xhtml"/>

            <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                           var="hasRoleEdit"/>

            <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                           var="hasRoleDelete"/>

            <st:panel header="#{text['customMetaDetail.title']}">


                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <p:focus for="iptName"/>

                <p:panelGrid styleClass="ui-panelgrid-blank Wid90" columns="2" id="pngMain">


                    <p:outputLabel value="#{text['customMeta.name']}" for="iptName"/>

                    <p:inputText value="#{customMetaForm.customMeta.name}"
                                 required="false" styleClass="text-large" maxlength="50" id="iptName"/>

                    <p:outputLabel value="#{text['customMeta.dataType']}"
                                   for="sltEditDataType"/>

                    <h:panelGroup>

                        <p:selectOneMenu value="#{customMetaForm.customMeta.dataType}" id="sltEditDataType">
                            <f:selectItems value="#{customMetaForm.dataTypes}" var="type"
                                           itemLabel="#{type.label}" itemValue="#{type.value}"/>

                            <p:ajax event="change" process="@ pngMain"
                                    listener="#{customMetaForm.processSelectionChange}"
                                    global="false" update="@ pngMain @ otptnlDataType"/>

                        </p:selectOneMenu>

                        <p:spacer width="3px"/>

                        <p:selectBooleanButton id="sltblnRequired"
                                               value="#{customMetaForm.customMeta.required}"
                                               offLabel="#{text['customMetaList.notRequired']}"
                                               onLabel="#{text['customMetaList.required']}" styleClass="Fs10"/>

                        <p:spacer width="2px"/>

                        <p:selectBooleanButton id="sltblnActive"
                                               value="#{customMetaForm.customMeta.active}"
                                               offLabel="#{text['customMetaList.Off']}"
                                               onLabel="#{text['customMetaList.On']}" styleClass="Fs10"/>

                    </h:panelGroup>


                    <ui:remove>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{text['customMeta.customFieldType']}"
                                               for="sltonmAssignTo"/>
                            </p:column>
                            <p:column style="vertical-align:top">
                                <p:selectOneMenu id="sltonmAssignTo"
                                                 value="#{customMetaForm.customMeta.customFieldType}">
                                    <f:selectItems value="#{customMetaForm.assignToOptions}"
                                                   var="type" itemLabel="#{type.label}"
                                                   itemValue="#{type.value}" noSelectionValue="false"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>

                    </ui:remove>

                    <p:outputLabel value="#{text['customMeta.descr']}"
                                   for="inptxrCounter"/>
                    <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
                        <p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
                                         maxlength="100" counterTemplate="{0} characters remaining"
                                         autoResize="false" value="#{customMetaForm.customMeta.descr}"
                                         id="inptxtDescr"/>

                        <h:outputText id="inptxrCounter"/>
                    </p:panelGrid>


                    <!-- Text Data Type-->
                    <p:outputLabel for="itdefault1"
                                   value="#{text['customMeta.defaultValue']}"
                                   rendered="#{customMetaForm.dataTypeText}"/>
                    <p:inputText id="itdefault1"
                                 value="#{customMetaForm.customMeta.defaultValue}"
                                 rendered="#{customMetaForm.dataTypeText}"/>


                    <!-- Date Data Type-->
                    <p:outputLabel for="dfltDate1"
                                   value="#{text['customMeta.defaultValue']}"
                                   rendered="#{customMetaForm.dataTypeDate}"/>
                    <p:calendar
                            value="#{customMetaForm.customMeta.defaultValueDate}"
                            id="dfltDate1" showOn="button" pattern="MM/dd/yyyy" mask="true"
                            maskAutoClear="true" rendered="#{customMetaForm.dataTypeDate}"/>

                    <!-- Boolean Data Type -->

                    <p:outputLabel for="sltBln1"
                                   value="#{text['customMeta.defaultValue']}"
                                   rendered="#{customMetaForm.dataTypeBoolean}"/>

                    <p:selectBooleanCheckbox
                            value="#{customMetaForm.customMeta.defaultValueBoolean}"
                            escape="true" required="false" id="sltBln1" rendered="#{customMetaForm.dataTypeBoolean}"/>

                    <!-- Number Data Type  -->
                    <p:outputLabel for="spnDefault"
                                   value="#{text['customMeta.defaultValue']}"
                                   rendered="#{customMetaForm.dataTypeNumber}"/>

                    <p:spinner id="spnDefault"
                               value="#{customMetaForm.customMeta.defaultValueNumber}"
                               maxlength="5" rendered="#{customMetaForm.dataTypeNumber}"/>


                    <p:outputLabel for="spnMin"
                                   value="#{text['customMeta.min_value']}" rendered="#{customMetaForm.dataTypeNumber}"/>
                    <p:spinner id="spnMin"
                               value="#{customMetaForm.customMeta.minValue}" maxlength="5"
                               min="0" rendered="#{customMetaForm.dataTypeNumber}">
                        <p:ajax event="change" process="@this" update="@ spnMax "
                                global="false" listener="#{customMetaForm.updateMaxValue}"/>
                    </p:spinner>

                    <p:outputLabel for="spnMax"
                                   value="#{text['customMeta.max_value']}" rendered="#{customMetaForm.dataTypeNumber}"/>
                    <p:spinner id="spnMax"
                               value="#{customMetaForm.customMeta.maxValue}" maxlength="5"
                               max="99999" min="#{customMetaForm.customMeta.minValue + 1}"
                               rendered="#{customMetaForm.dataTypeNumber}"/>


                </p:panelGrid>

                <p:spacer height="3px"/>


                <!--Dynamic Panel goes starts here-->
                <p:outputPanel id="otptnlDataType" layout="block" styleClass="Wid100">

                    <!--List Data Type -->

                    <st:addDialogButton dialog="dlgEditListItemWv" bttnId="addListItem"
                                        rendered="#{customMetaForm.dataTypeList}" id="ccAddListItem"/>


                    <st:dataTable tableId="dtblMetaValue" tableVar="customMetaValue"
                                  tableSelection="#{customMetaForm.selectedCustomMetaValue}"
                                  tableValue="#{of:setToList(customMetaForm.customFieldValues)}"
                                  tableRowKey="#{customMetaValue.listLabel}"
                                  id="ccdtblMetaValue" rendered="#{customMetaForm.dataTypeList}">


                        <p:column headerText="#{text['customMetaList.value']}"
                                  filterBy="#{customMetaValue.listLabel}">


                            <st:editCommandLink linkLabel="#{customMetaValue.listLabel}"
                                                dialog="dlgEditListItemWv"
                                                targetItem="#{customMetaForm.selectedCustomMetaValue}"
                                                value="#{customMetaValue}">
                            </st:editCommandLink>

                        </p:column>


                        <p:column headerText="#{text['customMeta.descr']}"
                                  filterBy="#{customMetaValue.descr}">

                            <h:outputText value="#{customMetaValue.descr}"
                                          escape="true"/>
                        </p:column>

                        <c:if test="#{hasRoleDelete}">
                            <p:column priority="2" styleClass="Wid10">
                                <st:deleteCommandLink dialog="custoMetaValaueCfrmDlgWv" value="#{customMetaValue}"
                                                      targetItem="#{customMetaForm.selectedCustomMetaValue}"/>
                            </p:column>
                        </c:if>


                    </st:dataTable>

                </p:outputPanel>


                <f:facet name="footer">
                    <h:panelGroup id="pnlgrpButtons">

                        <p:commandButton id="applybtn" value="#{text['button.save']}"
                                         icon="fa fa-floppy-o Fs14 white"
                                         actionListener="#{customMetaForm.applyEdit}" partialSubmit="true">
                        </p:commandButton>

                        <p:commandButton action="customMetas" immediate="true" id="cancel"
                                         styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
                                         value="#{text['button.cancel']}"/>

                    </h:panelGroup>
                </f:facet>
            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:deleteConfirmDialog dialogwidgetVar="custoMetaValaueCfrmDlgWv"
                                deleteActionMethod="#{customMetaForm.deleteListValue}"
                                deleteMessageName="#{customMetaForm.selectedCustomMetaValue.listLabel}"
                                deleteMessageCategory="#{text['customMetaList.value']}" dialogId="dlgCfmCustomMeta"
                                id="ccdlgCfmCustomMeta"/>

        <st:dataEntryDialog actionListener="#{customMetaForm.saveListValue}"
                            dialogwidgetVar="dlgEditListItemWv"
                            dialogHeader="#{text['customMetaList.title']}" dialogId="dlgEditListItem"
                            fieldfocus="label" closeListener="#{customMetaForm.handleCloseDialog}"
                            id="ccdlgEditListItem">

            <ui:include src="/admin/customfield/listValueEdit.xhtml"/>

        </st:dataEntryDialog>

    </ui:define>


</ui:composition>

