<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:of="http://omnifaces.org/functions"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['customMetaDetail.title']} </ui:define>

    <ui:param name="menu" value="customMeta"/>
    <ui:param name="bodyId" value="customMeta"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['customMetaDetail.title']}">

                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_ADMIN')"
                               var="hasRoleDelete"/>



                <!--<st:addDialogButton dialog="customMetaDialogWV" bttnId="add"/>-->

                <st:addButton actionMethod="#{customMetaForm.edit}" from="list" id="ccAdd" />


                <!--p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="customMetaPnl">

					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white"
						value="#{text['button.home']}" global="FALSE" />

					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white"
						value="#{text['button.delete']}"
						oncomplete="PF('customMetaDlgWv').show()"
						disabled="#{!customMetaList.checked}" update="@ dtblCustomMeta"
						global="FALSE" />

					<p:commandButton actionListener="#{customMetaList.addCustomMeta}"
						id="add" process="@this" partialSubmit="true" ajax="true"
						icon="fa fa-plus Fs14 white" value="#{text['button.add']}"
						oncomplete="PF('customMetaDialogWV').show()" global="FALSE" />

				</p:panelGrid>-->

                <!--	<p:dataTable id="dtblCustomMeta" var="customMeta"
                        value="#{customMetaList.customMetas}" editable="false"
                        widgetVar="customMetasWV" paginator="true"
                        paginatorPosition="bottom" rows="5"
                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="25,50,100" rowKey="#{customMeta.name}"
                        selection="#{customMetaList.selectedCustomMeta}"
                        styleClass="myTable">-->

                <st:dataTable tableSelection="#{customMetaList.selectedCustomMeta}" tableId="dtblCustomMeta"
                              tableRowKey="#{customMeta.name}" tableVar="customMeta"
                              tableValue="#{customMetaList.customMetas}">

                    <!--<p:ajax event="rowSelectRadio"
                            listener="#{customMetaList.radioSelected}"
                            update=":mainFrm:cmdDelete :dlgFrm:dlgCustomMeta"/>

                    <p:column selectionMode="single" style="width:2%"/>-->


                    <p:column headerText="#{text['customMeta.name']}"
                              sortBy="#{customMeta.name}" filterBy="#{customMeta.name}" style="width:25%">

                        <h:commandLink action="customMetaForm" value="#{customMeta.name}"
                                       ajaX="false" styleClass="ui-link">
                            <f:param name="customMetaId" value="#{customMeta.customMetaId}"/>
                            <f:param name="from" value="list"/>
                        </h:commandLink>
                    </p:column>


                    <ui:remove>

                        <p:column headerText="#{text['customMeta.customFieldType']}"
                                  sortBy="#{customMeta.customFieldType}"
                                  filterBy="#{customMeta.customFieldType}"
                                  filterOptions="#{customMetaList.assignToOptions}">
                            <h:outputText value="#{customMeta.customFieldType.value}"
                                          escape="true"/>
                        </p:column>
                    </ui:remove>
                    <p:column filterBy="#{customMeta.dataType}"
                              headerText="#{text['customMeta.dataType']}" style="width:25%">

                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('customMetasWV').filter();setConfirmUnload(false);">
                                <f:selectItem itemLabel="#{text['button.selectOne']}"
                                              itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{customMetaList.dataTypes}" var="type"
                                               itemLabel="#{type.label}" itemValue="#{type.value}"/>
                            </p:selectOneMenu>
                        </f:facet>

                        <!--
                        <p:selectOneMenu value="#{customMeta.dataType}" effect="fade"
                            id="sltDataType" disabled="true">
                            <f:selectItems value="#{customMetaList.dataTypes}" var="type"
                                itemLabel="#{type.label}" itemValue="#{type.value}" />
                        </p:selectOneMenu>
                         -->

                        <h:outputText value="#{customMeta.dataType}"
                                      converter="#{LabelValueConverter}" styleClass="Wid50">
                            <f:attribute name="list" value="#{customMetaList.dataTypes}"/>
                        </h:outputText>

                    </p:column>


                    <p:column headerText="#{text['customMeta.descr']}"
                              sortBy="#{customMeta.descr}" filterBy="#{customMeta.descr}" style="width:40%">
                        <h:outputText
                                value="#{customMeta.descr.length() gt 50 ? customMeta.descr.substring(0,47).concat('...') : customMeta.descr}"/>
                    </p:column>

                    <p:column headerText="#{text['customMeta.active']}"
                              sortBy="#{customMeta.active}" style="width:10%" styleClass="TexAlCenter">
                        <p:selectBooleanCheckbox value="#{customMeta.active}"
                                                 escape="true" required="true" disabled="true"/>
                    </p:column>


                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="3" styleClass="Wid10">
                            <st:deleteCommandLink dialog="deleteCustomMetaDlgWv" value="#{customMeta}"
                                                  targetItem="#{customMetaList.selectedCustomMeta}"/>
                        </p:column>
                    </c:if>

                </st:dataTable>
            </st:panel>

            <ui:remove>

                <p:dialog header="#{text['customMetaDetail.title']}"
                          widgetVar="customMetaDialogWV" resizable="false"
                          id="editCustomMetaDlg" modal="true" dynamic="true"
                          styleClass="standardDialog">

                    <p:panel>
                        <h:panelGroup id="display" layout="block"
                                      styleClass="xnorowline xnocolline"
                                      style="width: 100%; margin: 0 auto">

                            <h3>
                                <p:inplace id="ajaxInplace" editor="false"
                                           emptyLabel="#{text['customMetaDetail.enterName']}">
                                    <p:inputText value="#{customMetaList.editCustomMeta.name}"
                                                 required="false" styleClass="text-large" maxlength="50"/>
                                </p:inplace>

                            </h3>

                            <p:separator/>

                            <p:panelGrid style="width: 100%">

                                <p:row>
                                    <p:column style="width:25%">
                                        <p:outputLabel value="#{text['customMeta.dataType']}"
                                                       for="sltEditDataType"/>
                                    </p:column>

                                    <p:column style="width:25%">
                                        <p:selectOneMenu
                                                value="#{customMetaList.editCustomMeta.dataType}"
                                                effect="fade" id="sltEditDataType">
                                            <f:selectItems value="#{customMetaList.dataTypes}" var="type"
                                                           itemLabel="#{type.label}" itemValue="#{type.value}"/>

                                            <p:ajax event="change" process="@this"
                                                    listener="#{customMetaList.selectionChanged}"
                                                    update=":mainFrm:otptnlDataType" global="false"/>

                                        </p:selectOneMenu>
                                    </p:column>

                                    <p:column style="width:25%">
                                        <p:selectBooleanButton id="sltblnRequired"
                                                               value="#{customMetaList.editCustomMeta.required}"
                                                               offLabel="#{text['customMetaList.notRequired']}"
                                                               onLabel="#{text['customMetaList.required']}"/>
                                    </p:column>

                                    <p:column style="width:25%">

                                        <p:selectBooleanButton id="sltblnActive"
                                                               value="#{customMetaList.editCustomMeta.active}"
                                                               offLabel="#{text['customMetaList.Off']}"
                                                               onLabel="#{text['customMetaList.On']}"/>
                                    </p:column>


                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="#{text['customMeta.customFieldType']}"
                                                       for="sltonmAssignTo"/>
                                    </p:column>
                                    <p:column style="vertical-align:top">
                                        <p:selectOneMenu id="sltonmAssignTo"
                                                         value="#{customMetaList.editCustomMeta.customFieldType}">
                                            <f:selectItems value="#{customMetaList.assignToOptions}"
                                                           var="type" itemLabel="#{type.label}"
                                                           itemValue="#{type.value}" noSelectionValue="false"/>
                                        </p:selectOneMenu>


                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="#{text['customMeta.descr']}"
                                                       for="inptxrCounter"/>
                                    </p:column>
                                    <p:column colspan="4">
                                        <h:panelGroup>
                                            <p:panelGrid columns="1">
                                                <p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
                                                                 maxlength="100"
                                                                 counterTemplate="{0} characters remaining"
                                                                 autoResize="false"
                                                                 value="#{customMetaList.editCustomMeta.descr}"
                                                                 id="inptxtDescr"/>

                                                <h:outputText id="inptxrCounter"/>
                                            </p:panelGrid>
                                        </h:panelGroup>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column colspan="4">
                                        <!-- Dynamic Panel goes here -->
                                        <p:outputPanel id="otptnlDataType" layout="block">
                                            <h:panelGroup layout="block"
                                                          rendered="#{customMetaList.dataTypeText}">

                                                <p:panelGrid columns="2">
                                                    <p:outputLabel for="itdefault"
                                                                   value="#{text['customMeta.defaultValue']}"/>
                                                    <p:inputText id="itdefault"
                                                                 value="#{customMetaList.editCustomMeta.defaultValue}"/>
                                                </p:panelGrid>

                                            </h:panelGroup>

                                            <h:panelGroup layout="block"
                                                          rendered="#{customMetaList.dataTypeNumber}">

                                                <p:panelGrid>
                                                    <p:row>
                                                        <p:column>
                                                            <p:outputLabel for="spnDefault"
                                                                           value="#{text['customMeta.defaultValue']}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <p:spinner id="spnDefault"
                                                                       value="#{customMetaList.editCustomMeta.defaultValueNumber}"
                                                                       maxlength="5"/>
                                                        </p:column>
                                                    </p:row>
                                                    <p:row>
                                                        <p:column>
                                                            <p:outputLabel for="spnMin"
                                                                           value="#{text['customMeta.min_value']}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <p:spinner id="spnMin"
                                                                       value="#{customMetaList.editCustomMeta.minValue}"
                                                                       maxlength="5" min="0">
                                                                <p:ajax event="change" process="@this"
                                                                        update=":mainFrm:spnMax" global="false"
                                                                        listener="#{customMetaList.updateMaxValue}"/>
                                                            </p:spinner>
                                                        </p:column>
                                                        <p:column>
                                                            <p:outputLabel for="spnMax"
                                                                           value="#{text['customMeta.max_value']}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <p:spinner id="spnMax"
                                                                       value="#{customMetaList.editCustomMeta.maxValue}"
                                                                       maxlength="5" max="99999"
                                                                       min="#{customMetaList.editCustomMeta.minValue + 1}"/>
                                                        </p:column>
                                                    </p:row>

                                                </p:panelGrid>


                                            </h:panelGroup>

                                            <!-- List Data Type -->
                                            <h:panelGroup layout="block"
                                                          rendered="#{customMetaList.dataTypeList}"
                                                          style="width: 100%" id="pnlgrpList">

                                                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

                                                    <p:commandButton id="cmdDeleteValue"
                                                                     icon="fa fa-trash Fs14 white"
                                                                     value="#{text['button.delete']}"
                                                                     styleClass="st-delete"
                                                                     oncomplete="PF('confirmation').show();"
                                                                     disabled="#{!customMetaList.checkedValue}"
                                                                     update=":mainFrm:otplDelete :mainFrm:btnConfirm">

                                                        <f:setPropertyActionListener
                                                                target="#{customMetaList.postDeleteUpdate}"
                                                                value=":mainFrm:dtblMetaValue :mainFrm:growl :mainFrm:cmdDeleteValue"/>

                                                    </p:commandButton>

                                                    <p:commandButton id="cmdAdd"
                                                                     actionListener="#{customMetaList.addCustomFieldValue}"
                                                                     icon="fa fa-plus Fs14 white"
                                                                     value="#{text['button.add']}"
                                                                     oncomplete="addRowOnComplete('.member-datatable-data');"
                                                                     update=":mainFrm:dtblMetaValue :mainFrm:growl @this"
                                                                     disabled="#{customMetaList.addMode}">
                                                    </p:commandButton>
                                                </p:panelGrid>


                                                <p:dataTable id="dtblMetaValue" var="customMetaValue"
                                                             value="#{of:setToList(customMetaList.customFieldValues)}"
                                                             editable="true" widgetVar="customMetaValueWV"
                                                             rowKey="#{customMetaValue.listLabel}"
                                                             selection="#{customMetaList.selectedCustomMetaValue}"
                                                             styleClass="member-datatable-data" style="width: 100%"
                                                             scrollable="true" scrollHeight="150">

                                                    <p:ajax event="rowEdit" listener="#{customMetaList.onEdit}"
                                                            update=":mainFrm:growl :mainFrm:cmdDeleteValue :mainFrm:cmdAdd"
                                                            oncomplete="PF('customMetaValueWV').unselectAllRows();"
                                                            global="false"/>


                                                    <!--
                                                <p:ajax event="rowEditCancel"
                                                    listener="#{customMetaList.onCancel}"
                                                    update=":mainFrm:growl :mainFrm:cmdDeleteValue :mainFrm:cmdAdd"
                                                    oncomplete="customMetaValueWV.unselectAllRows()"
                                                    global="false">
                                                </p:ajax>

                                                    oncomplete="PF('customMetaValueWV').unselectAllRows()"
                                                    update=":mainFrm:growl :mainFrm:cmdDeleteValue :mainFrm:cmdAdd :mainFrm:dtblMetaValue">
                                                    oncomplete="PF('customMetaValueWV').unselectAllRows()"
                                                                     -->

                                                    <p:ajax event="rowEditCancel"
                                                            listener="#{customMetaList.onCancel}" global="false"
                                                            update=":mainFrm:growl :mainFrm:cmdDeleteValue :mainFrm:cmdAdd">
                                                    </p:ajax>

                                                    <p:ajax event="rowSelectRadio"
                                                            listener="#{customMetaList.radioSelectedValue}"
                                                            update=":mainFrm:cmdDeleteValue" global="false"/>


                                                    <p:column selectionMode="single" style="width:2%"/>


                                                    <p:column headerText="#{text['customMetaList.value']}"
                                                              filterBy="#{customMetaValue.listLabel}">

                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{customMetaValue.listLabel}"
                                                                              escape="true"/>
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:inputText value="#{customMetaValue.listLabel}">
                                                                </p:inputText>
                                                            </f:facet>
                                                        </p:cellEditor>

                                                    </p:column>

                                                    <p:column headerText="#{text['customMeta.descr']}"
                                                              filterBy="#{customMetaValue.descr}">

                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{customMetaValue.descr}"
                                                                              escape="true"/>
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <h:inputText value="#{customMetaValue.descr}"/>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>

                                                    <p:column headerText="#{text['userValueDetial.Actions']}">
                                                        <p:rowEditor/>
                                                    </p:column>

                                                </p:dataTable>
                                            </h:panelGroup>

                                            <h:panelGroup layout="block"
                                                          rendered="#{customMetaList.dataTypeDate}">
                                                <p:outputLabel for="dfltDate"
                                                               value="#{text['customMeta.defaultValue']}"/>
                                                <p:calendar
                                                        value="#{customMetaList.editCustomMeta.defaultValueDate}"
                                                        id="dfltDate" showOn="button" pattern="MM/dd/yyyy" mask="true"
                                                        maskAutoClear="true"/>

                                            </h:panelGroup>

                                            <h:panelGroup layout="block"
                                                          rendered="#{customMetaList.dataTypeBoolean}">

                                                <p:panelGrid columns="2">

                                                    <p:outputLabel for="sltBln"
                                                                   value="#{text['customMeta.defaultValue']}"/>

                                                    <p:selectBooleanCheckbox
                                                            value="#{customMetaList.editCustomMeta.defaultValueBoolean}"
                                                            escape="true" required="false" id="sltBln"/>

                                                </p:panelGrid>
                                            </h:panelGroup>


                                        </p:outputPanel>
                                    </p:column>
                                </p:row>

                            </p:panelGrid>

                        </h:panelGroup>

                        <f:facet name="footer">
                            <h:panelGroup id="pnlgrpButtons">

                                <p:commandButton id="applybtn" value="#{text['button.apply']}"
                                                 immediate="false" icon="fa fa-floppy-o Fs14 white"
                                                 actionListener="#{customMetaList.applyEdit}"
                                                 partialSubmit="true"
                                                 update=":mainFrm:dtblCustomMeta :mainFrm:growl "
                                                 oncomplete="handleComplete(xhr, status, args)"
                                                 disabled="#{customMetaList.addMode}">
                                </p:commandButton>

                                <p:spacer width="3"/>

                                <p:commandButton value="#{text['button.cancel']}"
                                                 onclick="PF('customMetaDialogWV').hide();" ajax="true"
                                                 icon="ui-icon-close" type="button"
                                                 disabled="#{customMetaList.addMode}" id="cmdbtnCancel"/>

                            </h:panelGroup>
                        </f:facet>
                    </p:panel>

                </p:dialog>

            </ui:remove>

        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:dataEntryDialog id="cccustomMetaDialog" actionListener="#{customMetaList.applyEdit}"
                            dialogHeader="#{text['customMetaDetail.title']}" dialogwidgetVar="customMetaDialogWV" dialogId="customMetaDialog">
            <!--May need to remove this; not sure what I was doing here
            <ui:include src="/admin/customfield/dialog.xhtml"/>-->
        </st:dataEntryDialog>

        <st:deleteConfirmDialog deleteMessageName="#{customMetaList.selectedCustomMeta.name}"
                                dialogwidgetVar="deleteCustomMetaDlgWv"
                                deleteMessageCategory="#{text['customMetaList.customMeta']}"
                                deleteActionMethod="#{customMetaList.delete}" dialogId="customMetaDelete"
                                id="ccCustomMEtaDelete"/>

    </ui:define>


</ui:composition>
