<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


	<p:confirmDialog id="dialogConfirm"
		header="#{text['dialog.deleteConfirmation']}" severity="alert"
		widgetVar="confirmation" showEffect="clip" hideEffect="fold">

		<f:facet name="message">

			<p:panelGrid columns="1">
				<h:outputFormat id="otplDelete" value="#{text['dialog.areYouSure']}">
					<f:param
						value="#{customMetaList.selectedCustomMetaValue.listLabel}" />
					<f:param value="#{text['customMetaList.value']}" />
				</h:outputFormat>
			</p:panelGrid>
		</f:facet>



		<p:commandButton id="btnConfirm" value="#{text['button.yes']}"
			oncomplete="PF('confirmation').hide()"
			actionListener="#{customMetaList.deleteValue}"
			update="#{customMetaList.postDeleteUpdate}">

			<p:collector value="#{customMetaList.selectedCustomMetaValue}"
				removeFrom="#{customMetaList.customFieldValues}" unique="true"/>

		</p:commandButton>

		<p:commandButton id="decline" value="#{text['button.no']}"
			onclick="PF('confirmation').hide()" type="button" />


	</p:confirmDialog>



</ui:composition>
