<ui:composition
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns="http://www.w3.org/1999/xhtml"
>


	<p:panelGrid columns="2">

		<p:outputLabel value="#{text['customMetaList.value']}"/>

		<p:inputText value="#{customMetaForm.selectedCustomMetaValue.listLabel}" id="label"/>


		<p:outputLabel value="#{text['customMetaList.descr']}"/>

		<p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
			<p:inputTextarea rows="3" cols="50" counter="inptxrCntr"
							 maxlength="100" counterTemplate="{0} characters remaining"
							 autoResize="false" value="#{customMetaForm.selectedCustomMetaValue.descr}"
							 id="inptxtDescr"/>
			<h:outputText id="inptxrCntr"/>
		</p:panelGrid>

	</p:panelGrid>

</ui:composition>
