<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel id="wiz" widgetVar="wiz" styleClass=".ui-wizard" style="border: none">

        <p:panel id="familyoption" class="Container100" rendered="#{personForm.step eq 'main'}" style="border: none">

            <div id="createPersion" class="Fleft">

                <div style="text-align: center;">
                    <p:commandButton value="Create Person" process="@this"
                                     update="@ wiz"
                                     icon="fa fa-user-plus Fs14 white" styleClass="Fs30">
                        <f:setPropertyActionListener value="new" target="#{personForm.step}"/>
                    </p:commandButton>
                    <span style="display: block"/>
                    <p:spacer height="20px"/>
                    <h:outputText value="Create a new person to add to this family."/>
                </div>
            </div>

            <div id="existingPerson"
                 style="border-left-color: #96A5AE; border-left-style: solid;border-left-width:1px;margin-left: 20px"
                 class="Fleft">
                <div style="text-align: center;">
                    <p:commandButton value="Existing Person" process="@this"
                                     update="@ wiz"
                                     icon="fa fa-user Fs14 white" styleClass="Fs30">
                        <f:setPropertyActionListener value="existing" target="#{personForm.step}"/>
                    </p:commandButton>
                    <span style="display: block"/>
                    <p:spacer height="20px"/>
                    <h:outputText value="Select an existing person to add to this family."/>
                </div>

            </div>
        </p:panel>

        <p:panelGrid id="pnlAddMember" columns="4"
                     styleClass="ui-panelgrid-blank" rendered="#{personForm.step eq 'existing'}">


            <p:outputLabel styleClass="control-label" for="addPersonSearch"
                           value="#{text['person.search']}"/>

            <p:spacer width="30"/>

            <p:outputLabel styleClass="control-label" for="addRelationship"
                           value="#{text['person.relationship']}"/>


            <p:spacer width="5"/>


            <p:autoComplete id="addPersonSearch"
                            completeMethod="#{personForm.completePeople}"
                            value="#{personForm.selectedPerson}" var="person"
                            itemLabel="#{person.name}" itemValue="#{person}"
                            forceSelection="true" minQueryLength="2"
                            required="true"
                            groupBy="#{personForm.getPersonGroup(person)}" dropdown="true"
                            converter="#{personConverter}" size="20">
                <p:column>#{person.name}</p:column>
            </p:autoComplete>

            <p:spacer width="30"/>

            <p:selectOneMenu value="#{personForm.selectedRelationship}"
                             effect="fade" id="addRelationship"
                             required="true">
                <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
                <f:selectItems value="#{personForm.relationships}" var="ships"
                               itemLabel="#{ships.label}" itemValue="#{ships.value}"/>
            </p:selectOneMenu>


            <p:commandButton ajax="true" partialSubmit="true"
                             process="@ pnlAddMember" icon="fa fa-plus Fs14 white"
                             title="#{text['household.enterInformation']}"
                             actionListener="#{personForm.addPersonToFamily}" global="false"
                             update="@ pnlAddMember @ pnlFamilyMembers"
                             value="#{text['button.add']}" id="cmdtolist"
                             oncomplete="$('#addPersonSearch_input').focus();"/>
            <p:message for="addRelationship"/>
            <p:spacer width="30"/>
            <p:message for="addPersonSearch"/>
            <p:spacer width="5"/>
        </p:panelGrid>

        <p:defaultCommand target="cmdtolist" scope="pnlAddMember"/>

        <p:outputPanel rendered="#{personForm.step eq 'new'}">
            <ui:include src="personNameEmail.xhtml"/>
        </p:outputPanel>
    </p:panel>

    <p:outputPanel>
        <p:autoUpdate/>
        <p:panel id="pnlFamilyMembers" styleClass="Wid100" style="border: none" rendered="#{personForm.step ne 'main'}">

            <p:dataTable value="#{personForm.tempFamilyMembers}"
                         var="person" styleClass="ui-panelgrid-blank Wid100" id="dtMemberList"
                         editable="true" rowKey="#{person.personId}"
                         rendered="#{!personForm.emptyTempFamilyMembers}">

                <p:column priority="1">
                    <h:outputText value="#{person.name}" styleClass="Fs14"/>
                </p:column>

                <p:column priority="2">
                    <h:outputText value="#{person.relationship}"
                                  converter="#{LabelValueConverter}">
                        <f:attribute name="list" value="#{personForm.relationships}"/>
                    </h:outputText>
                </p:column>

                <p:column style="width:52px;text-align: center" priority="2">
                    <p:commandLink update="@ dtMemberList"
                                   ajax="true" process="@ dtMemberList">
                        <p:collector value="#{person}" removeFrom="#{personForm.tempFamilyMembers}" unique="true"/>
                        <i class="fa fa-trash Fs12"/>
                        <p:spacer width="1px"/>
                        <h:outputText value="#{text['button.remove']}" styleClass="Fs12"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:panel>
    </p:outputPanel>
</ui:composition>
