<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
>

    <p:panelGrid id="pnlAltAddress" styleClass="ui-panelgrid-blank Wid80"
                 columns="1">


        <o:validateAllOrNone id="allOrNone"
                             components="address city province postalCode" invalidateAll="false"
                             showMessageFor="@invalid" message="#{text['errors.allOrNone']}"/>

        <p:outputLabel styleClass="control-label"
                       value="#{text['user.address.address']}" for="address"/>
        <p:inputText id="address" value="#{personForm.person.address.address}"
                     styleClass="Wid80 addressSelector">

            <p:ajax event="blur" process="@(#pnlAltAddress)" update="@(#showmap)"
                    global="false"/>

        </p:inputText>
        <p:message for="address" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label"
                       value="#{text['user.address.city']}" for="city"/>
        <p:inputText id="city" value="#{personForm.person.address.city}"
                     styleClass="Wid50">
            <p:ajax event="blur" process="@(#pnlAltAddress)" update="@(#showmap)"
                    global="false"/>
        </p:inputText>
        <p:message for="city" styleClass="help-inline"/>

        <p:outputLabel value="#{text['user.address.province']}" for="province"/>


        <p:selectOneMenu value="#{personForm.person.address.province}"
                         id="province" styleClass="Wid50">

            <f:selectItem itemValue="#{null}"
                          itemLabel="#{text['button.selectOne']}" noSelectionOption="true"/>

            <f:selectItems value="#{personForm.usStates}" var="state"
                           itemValue="#{state.value}" itemLabel="#{state.label}"/>

            <p:ajax event="blur" process="@(#pnlAltAddress)" update="@(#showmap)"
                    global="false"/>

        </p:selectOneMenu>


        <p:message for="province" styleClass="help-inline"/>

        <p:outputLabel styleClass="control-label"
                       value="#{text['user.address.postalCode']}" for="postalCode"/>
        <p:inputText id="postalCode"
                     value="#{personForm.person.address.postalCode}" styleClass="Wid50">
            <p:ajax event="blur" process="@(#pnlAltAddress)" update="@(#showmap)"
                    global="false"/>
        </p:inputText>

        <p:message for="postalCode" styleClass="help-inline"/>

        <p:commandButton icon="ui-icon-pin-s" id="showmap"
                         value="#{text['button.showMap']}"
                         actionListener="#{personForm.convertAddress}"
                         process="@ pnlAltAddress" oncomplete="if (args &amp;&amp; args.valid) {PF('dlgmapWv').show()} else { alert( args.msg ); }"
                         ajax="true" disabled="#{!personForm.addressComplete}"
                         update="@ dlgmap" partialSubmit="true" global="false"/>

    </p:panelGrid>

</ui:composition>

