<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

	<f:facet name="footer">
		<h:panelGroup id="actions"  layout="block">

			<sec:authorize access="hasAnyRole('ROLE_ADMIN','ROLE_DELETE_PERSON')"
				var="hasRoleDelete" />

			<p:splitButton value="#{text['button.save']}"
				actionListener="#{personForm.save}" id="save" 
				icon="fa fa-floppy-o Fs14 white" 
				oncomplete="setConfirmUnload(false);" ajax="true" process="@ pnlMain" update="@ pnlMain">
				<p:menuitem value="#{text['button.saveReturn']}"
					action="#{personForm.save}" icon="ui-icon-newwin"
					oncomplete="setConfirmUnload(false);">
				</p:menuitem>
			</p:splitButton>

			<c:if
				test="${ (not empty personForm.person.personId) and (hasRoleDelete) and personForm.from ne 'self'}">
				<p:commandButton value="#{text['button.delete']}" id="delete"
					icon="fa fa-trash Fs14 white"
					oncomplete="PF('personDlgWv').show();" />
			</c:if>

			<p:commandButton value="#{text['button.cancel']}" action="persons"
				immediate="true" id="cancel" icon="fa fa-hand-o-left Fs14 white" />

		</h:panelGroup>
	</f:facet>



</ui:composition>
