<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
>

	<p:panelGrid id="pnlgrdCntInfo" styleClass="ui-panelgrid-blank"
		layout="grid" columns="2">


		<p:outputLabel styleClass="control-label" for="phoneNumber"
			value="#{text['person.phoneNumber']}" />
		<p:outputLabel styleClass="control-label" for="mobileNumber"
			value="#{text['person.mobileNumber']}" />


		<p:inputMask id="phoneNumber" value="#{personForm.person.phoneNumber}"
			required="false" mask="(999) 999-9999" />
		<p:inputMask id="mobileNumber"
			value="#{personForm.person.mobileNumber}" required="false"
			mask="(999) 999-9999" />


		<p:message for="phoneNumber" styleClass="help-inline" />
		<p:message for="mobileNumber" styleClass="help-inline" />


		<h:panelGroup layout="block">
			<p:selectBooleanCheckbox
				value="#{personForm.person.phoneNumberListed}"
				id="phoneNumberListed" />
			<p:spacer width="2px" />
			<p:outputLabel styleClass="control-label" for="phoneNumberListed"
				value="#{text['personDetial.unlisted']}" />
		</h:panelGroup>
		<h:panelGroup layout="block">
			<p:selectBooleanCheckbox
				value="#{personForm.person.mobileNumberListed}"
				id="mobileNumberListed" />
			<p:spacer width="2px" />
			<p:outputLabel styleClass="control-label" for="mobileNumberListed"
				value="#{text['personDetial.unlisted']}" />
		</h:panelGroup>
		

		<p:outputLabel styleClass="control-label" for="businessNumber"
			value="#{text['person.businessNumber']}" />
		<p:spacer width="5" />

		<p:inputMask id="businessNumber"
			value="#{personForm.person.businessNumber}" required="false"
			mask="(999) 999-9999" />
		<p:spacer width="5" />

		<p:message for="businessNumber"/>

		<h:panelGroup layout="block">
			<p:selectBooleanCheckbox
				value="#{personForm.person.businessNumberListed}"
				id="businessNumberListed" />
			<p:spacer width="2px" />
			<p:outputLabel styleClass="control-label" for="businessNumberListed"
				value="#{text['personDetial.unlisted']}" />
		</h:panelGroup>
		<p:spacer width="5" />

	</p:panelGrid>

</ui:composition>

