<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
>

    <p:panel style="width: 100%; margin: 0 auto">


        <h:panelGroup layout="block" sytle="width: 100%" id="pnlGrpCustomField">

            <p:panelGrid columns="4" styleClass="ui-panelgrid-blank Wid100" layout="grid" >

                <c:forEach varStatus="status" items="#{personForm.fields}">

                    <c:set var="dt"
                           value="#{personForm.fields[status.index].customMeta.dataType.trim()}"/>

                    <c:if test="${dt eq 'TX'}">

                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                            <p:outputLabel for="cf#{status.index}"
                                           id="otplblcf#{status.index}"
                                           value="#{personForm.fields[status.index].customMeta.name}"/>

                            <p:inputText id="cf#{status.index}"
                                         value="#{personForm.fields[status.index].textValue}"
                                         required="#{personForm.fields[status.index].customMeta.required}"
                                         styleClass="text-medium"
                                         title="#{personForm.fields[status.index].customMeta.descr}"/>

                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                       showEvent="focus" hideEvent="blur"/>

                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                        </p:panelGrid>

                    </c:if>

                    <c:if test="${dt eq 'NM'}">

                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                            <p:outputLabel for="cf#{status.index}"
                                           id="otplblcf#{status.index}"
                                           value="#{personForm.fields[status.index].customMeta.name}"/>

                            <p:spinner id="cf#{status.index}"
                                       value="#{personForm.fields[status.index].numberValue}"
                                       required="#{personForm.fields[status.index].customMeta.required}"
                                       styleClass="text-medium"
                                       title="#{personForm.fields[status.index].customMeta.descr}"
                                       min="#{personForm.fields[status.index].customMeta.minValue}"
                                       max="#{personForm.fields[status.index].customMeta.maxValue}"
                                       maxlength="5"/>

                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                       showEvent="focus" hideEvent="blur"/>

                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                        </p:panelGrid>

                    </c:if>


                    <c:if test="${dt eq 'DT'}">


                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                            <p:outputLabel for="cf#{status.index}"
                                           id="otplblcf#{status.index}"
                                           value="#{personForm.fields[status.index].customMeta.name}"/>

                            <p:calendar id="cf#{status.index}"
                                        value="#{personForm.fields[status.index].dateValue}"
                                        required="#{personForm.fields[status.index].customMeta.required}"
                                        styleClass="text-medium"
                                        title="#{personForm.fields[status.index].customMeta.descr}"
                                        showOn="button" pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"/>

                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                       showEvent="focus" hideEvent="blur"/>

                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>
                        </p:panelGrid>

                    </c:if>

                    <c:if test="${dt eq 'BL'}">

                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                            <p:outputLabel for="cf#{status.index}"
                                           id="otplblcf#{status.index}"
                                           value="#{personForm.fields[status.index].customMeta.name}"/>

                            <p:selectBooleanCheckbox id="cf#{status.index}"
                                                     value="#{personForm.fields[status.index].booleanValue}"
                                                     title="#{personForm.fields[status.index].customMeta.descr}"
                                                     required="#{personForm.fields[status.index].customMeta.required}"/>

                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                       showEvent="focus" hideEvent="blur"/>

                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                        </p:panelGrid>

                    </c:if>


                    <c:if test="${dt eq 'LT'}">

                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                            <p:outputLabel for="cf#{status.index}"
                                           id="otplblcf#{status.index}"
                                           value="#{personForm.fields[status.index].customMeta.name}"/>

                            <p:selectOneMenu
                                    value="#{personForm.fields[status.index].textValue}"
                                    effect="fade" id="cf#{status.index}">
                                <f:selectItems
                                        value="#{personForm.fields[status.index].customMeta.customMetaValues}"
                                        var="type" itemLabel="#{type.label}" itemValue="#{type.value}"
                                        noSelectionValue="false"/>
                            </p:selectOneMenu>

                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                       value="#{personForm.fields[status.index].customMeta.descr}"
                                       trackMouse="true"/>

                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>
                        </p:panelGrid>

                    </c:if>


                </c:forEach>
            </p:panelGrid>
        </h:panelGroup>


    </p:panel>
</ui:composition>
