<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">


    <h:inputHidden value="#{personForm.from}" id="from"/>
    <h:inputHidden value="#{personForm.template}" id="template"/>


    <!--    <p:panel style="margin: 98 auto">-->


    <f:facet name="actions">
        <p:commandLink
                styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                ajax="true" oncomplete="PF('dlgHelpWv').show();" global="false">
            <h:outputText styleClass="fa fa-question-circle Fs14 white"/>
            <f:setPropertyActionListener target="#{personForm.helpKey}"
                                         value="person.help"/>
        </p:commandLink>
    </f:facet>

    <p:focus context="firstName"/>


    <p:remoteCommand name="isNamesEmpty" partialSubmit="true"
                     process="@ firstName @ lastName"
                     update="@ cmdlchangepic" global="false"/>


    <div class="st-card">
        <h:outputText value="Main" styleClass="st-card-title"/>
        <ui:include src="/sections/person/main.xhtml"/>

    </div>


    <c:choose>

        <c:when test="#{personForm.from ne 'maintform'}">


            <div class="st-card">
                <h:outputText value="#{text['persontab.family']}" styleClass="st-card-title"/>
                <ui:include src="/sections/person/personHousehold.xhtml"/>
            </div>

            <div class="st-card">
                <h:outputText value="#{text['person.contactInformation']}" styleClass="st-card-title"/>
                <ui:include src="/sections/person/contact.xhtml"/>
            </div>

            <div class="st-card">
                <h:outputText value="#{text['person.personalInformation']}" styleClass="st-card-title"/>
                <ui:include src="/sections/person/info.xhtml"/>
            </div>

            <div class="st-card">
                <h:outputText value="#{text['person.alternateAddress']}" styleClass="st-card-title"/>
                <ui:include src="/sections/person/address.xhtml"/>
            </div>

            <div class="st-card">
                <h:outputText value="#{text['persontab.customfields']}" styleClass="st-card-title"/>
                <ui:include src="/sections/person/customFields.xhtml"/>
            </div>


            <!-- @todo  display as tabs, Make Check Ins and Connections slide-in;
                @todo Move Custom Fields to Details Tab; Perhaps move Family; Look at Primeface Theme ' Arlen Welch Profile excampel for new heard.
            -->

            <!---->
            <st:sidebar id="sbTraining" widgetVar="wvTrainning" header="#{text['persontab.training']}">
                <ui:include src="/sections/person/personClass.xhtml"/>
            </st:sidebar>

            <st:sidebar id="sdCheckIn" widgetVar="wvCheckIn" header="#{text['persontab.attendance']}">
                <ui:include src="/sections/person/personAttendance.xhtml"/>
            </st:sidebar>

            <st:sidebar id="sbConnection" widgetVar="wvConnection" header="#{text['persontab.connections']}">
                <ui:include src="/sections/person/personConnections.xhtml"/>
            </st:sidebar>


        </c:when>
        <c:otherwise>

            <f:facet name="footer">

                <h:panelGroup layout="block" style="width:100%">

                    <p:commandButton id="cmdSaveAndClose"
                                     value="#{text['button.saveReturn']}"
                                     actionListener="#{personForm.saveAndClose}" icon="ui-icon-newwin"
                                     ajax="false" onclick="setConfirmUnload(false);"
                                     validateClient="true"/>

                    <p:commandButton id="close" icon="fa fa-hand-o-left Fs14 white"
                                     value="#{text['button.close']}"
                                     actionListener="#{personForm.close}" ajax="true" immediate="true"
                                     partialSubmit="true" onclick="setConfirmUnload(false);" global="false"/>

                </h:panelGroup>

            </f:facet>
        </c:otherwise>
    </c:choose>

    <!--    </p:panel>-->


</ui:composition>
