<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:panelGrid id="pnlgrdPrsInfo" styleClass="ui-panelgrid-blank"
                 layout="grid" columns="2">

        <p:outputLabel styleClass="control-label" for="birthDate"
                       value="#{text['person.birthDate']}"/>
        <p:outputLabel styleClass="control-label" for="dateJoined"
                       value="#{text['person.dateJoined']}"/>

        <p:calendar value="#{personForm.person.birthDate}" id="birthDate"
                    showOn="button" styleClass="Wid80" pattern="MM/dd/yyyy" mask="true"
                    maskAutoClear="true" />
        <p:calendar id="dateJoined" value="#{personForm.person.dateJoined}"
                    required="false" showOn="button" styleClass="Wid80"
                    pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"/>

        <p:message for="birthDate" styleClass="help-inline"/>
        <p:message for="dateJoined" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="ethnicGroup"
                       value="#{text['person.ethnicGroup']}"/>

        <p:outputLabel styleClass="control-label" for="gender"
                       value="#{text['person.gender']}"/>


        <p:selectOneMenu value="#{personForm.person.ethnicGroup}"
                         effect="fade" id="ethnicGroup" >
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{personForm.ethnicGroup}" var="group"
                           itemLabel="#{group.label}" itemValue="#{group.value}"/>
        </p:selectOneMenu>


        <p:selectOneButton value="#{personForm.person.gender}" id="gender">
            <f:selectItems value="#{personForm.genders}" var="gender"
                           itemLabel="#{gender.label}" itemValue="#{gender.value}"/>
        </p:selectOneButton>


        <p:message for="ethnicGroup" styleClass="help-inline"/>
        <p:message for="gender" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="lifeStage"
                       value="#{text['person.lifeStage']}"/>

        <p:outputLabel styleClass="control-label" for="maritalStatus"
                       value="#{text['person.maritalStatus']}"/>

        <p:selectOneMenu value="#{personForm.person.lifeStage}" effect="fade"
                         id="lifeStage" styleClass="Wid80">
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{personForm.lifeStages}" var="stages"
                           itemLabel="#{stages.label}" itemValue="#{stages.value}"/>
        </p:selectOneMenu>

        <p:selectOneMenu value="#{personForm.person.maritalStatus}"
                         effect="fade" id="maritalStatus" styleClass="Wid80">
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{personForm.maritalStatues}" var="statues"
                           itemLabel="#{statues.label}" itemValue="#{statues.value}"/>
        </p:selectOneMenu>
        <p:message for="lifeStage" styleClass="help-inline"/>
        <p:message for="maritalStatus" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="memberType"
                       value="#{text['person.memberType']}"/>
        <p:outputLabel styleClass="control-label" for="occupation"
                       value="#{text['person.occupation']}"/>

        <p:selectOneMenu value="#{personForm.person.memberType}" effect="fade"
                         id="memberType" styleClass="Wid80">
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{personForm.memberTypes}" var="types"
                           itemLabel="#{types.label}" itemValue="#{types.value}"/>
        </p:selectOneMenu>

        <p:inputText id="occupation" value="#{personForm.person.occupation}"
                     required="false" maxlength="255" styleClass="Wid80"/>

        <p:message for="memberType" styleClass="help-inline"/>
        <p:message for="occupation" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="sameAsHousehold"
                       value="#{text['person.use.alternative.address']}"/>

        <p:outputLabel styleClass="control-label" for="envelopeNum"
                       value="#{text['person.envelopeNum']}"/>


        <p:selectBooleanCheckbox value="#{personForm.person.sameAsHousehold}"
                                 id="sameAsHousehold"/>


        <p:spinner id="envelopeNum" value="#{personForm.person.envelopeNum}"
                   required="false" min="1" maxlength="10" size="11"/>

        <p:message for="sameAsHousehold" styleClass="help-inline"/>
        <p:message for="envelopeNum" styleClass="help-inline"/>

    </p:panelGrid>

</ui:composition>

