<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank" layout="grid">



        <p:panelGrid id="personPnl" layout="grid" columns="2"
                     styleClass="ui-panelgrid-blank">

            <p:outputLabel styleClass="control-label" for="firstName"
                           value="#{text['person.firstName']}"/>

            <p:outputLabel styleClass="control-label" for="lastName"
                           value="#{text['person.lastName']}"/>

            <p:inputText id="firstName" value="#{personForm.person.firstName}"
                         required="true" maxlength="50" styleClass="Wid80"
                         onkeyup="validateNamesEmpty();isNamesEmpty();"
                         requiredMessage="#{text['errors.required']}"/>

            <p:inputText id="lastName" value="#{personForm.person.lastName}"
                         required="true" maxlength="50" styleClass="Wid80"
                         onkeyup="validateNamesEmpty();isNamesEmpty();"/>

            <p:message for="firstName" styleClass="help-inline"/>

            <p:message for="lastName" styleClass="help-inline"/>

            <p:outputLabel styleClass="control-label" for="perferredName"
                           value="#{text['person.perferredName']}"/>

            <p:outputLabel styleClass="control-label" for="email"
                           value="#{text['person.email']}"/>

            <p:inputText id="perferredName"
                         value="#{personForm.person.perferredName}" required="false"
                         maxlength="255" styleClass="Wid80"/>

            <p:inputText id="email" value="#{personForm.person.email}"
                         required="false" maxlength="100" styleClass="Wid80"
                         validatorMessage="#{text['errors.email']}"
                         requiredMessage="#{text['errors.required']}"
                         label="#{text['person.email']}">
                <f:validateRegex
                        pattern="([\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z])?">
                </f:validateRegex>
                <p:clientValidator/>
                <f:param value="#{personForm.person.email}"/>
            </p:inputText>

            <p:message for="perferredName" styleClass="help-inline"/>
            <p:message for="email"/>


        </p:panelGrid>

        <c:if test="#{personForm.from ne 'maintform'}">

            <p:fieldset legend="#{text['person.files']}">


                <p:panelGrid layout="grid" columns="1" columnClasses="left-column"
                             styleClass="ui-panelgrid-blank" id="pnlfile"
                             style="border: none;">


                    <p:commandLink type="button"
                                   onclick="PF('wvdlgFileLink').show();" global="false">
                        <i class="fa fa-plus Fs14"/>
                        <p:spacer width="1px"/>
                        <h:outputText value="#{text['person.addFile']}"/>
                    </p:commandLink>


                    <p:dataTable value="#{personForm.person.fileLinks}"
                                 var="fileLink" widgetVar="fileLinkWV" scrollHeight="120"
                                 id="dtfileLink" scrollRows="5" scrollable="true">


                        <p:column styleClass="Wid10 center-column">

                            <c:set var="fileicon"
                                   value="${fileLink.mimeType.toString().substring(0, 3).toLowerCase() eq 'pdf' ? 'fa fa-file-pdf-o' : fileLink.mimeType.toString().substring(0, 3).toLowerCase() eq 'xls' ? 'fa fa-file-excel-o' : fileLink.mimeType.toString().substring(0, 3).toLowerCase() eq 'doc' ? 'fa fa-file-word-o' : fileLink.mimeType.toString().substring(0, 3).toLowerCase() eq 'ppt'? 'fa fa-file-powerpoint-o':'fa fa-file-text-o' }"/>

                            <i class="#{fileicon}"/>

                        </p:column>
                        <p:column styleClass="Wid80 TexAlLeft">
                            <p:commandLink ajax="false" value="#{fileLink.name}"
                                           onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)"
                                           target="_blank">
                                <f:setPropertyActionListener value="#{fileLink}"
                                                             target="#{personForm.selectedFileLink}"/>
                                <p:fileDownload value="#{personForm.file}"
                                                contentDisposition="inline"/>
                            </p:commandLink>
                        </p:column>
                        <p:column styleClass="Wid10">

                            <p:commandLink oncomplete="PF('wvdlgFileLink').show();"
                                           ajax="true" update="@ dlgFileLink" partialSubmit="true"
                                           process="@this">
                                <i class="fa fa-pencil Fs14"/>
                                <f:setPropertyActionListener value="#{fileLink}"
                                                             target="#{personForm.selectedFileLink}"/>
                            </p:commandLink>

                        </p:column>
                    </p:dataTable>

                </p:panelGrid>
            </p:fieldset>
        </c:if>

    </p:panelGrid>


</ui:composition>
