<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:of="http://omnifaces.org/functions"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

    <p:panel>


        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
            <st:addDialogButton dialog="noteDialog" bttnId="addNote" id="addNote"/>
        </p:panelGrid>


        <st:dataTable tableVar="note" tableId="dtblNote" tableSelection="#{noteList.selectedNote}"
                      tableValue="#{of:setToList(noteList.noteset)}" tableRowKey="#{note.UID}"
                      tableClass="note-datatable-data" id="ccDtblNote">

            <p:column headerText="#{text['note.name']}"
                      sortBy="#{note.createDate}" filterBy="#{note.name}">

                <p:panelGrid styleClass="ui-panelgrid-blank">

                    <p:row>

                        <p:column style="width:2%; padding-right: 1px;">
                            <p:graphicImage library="images" name="Catalog24.png"/>
                        </p:column>

                        <p:column>

                            <st:editCommandLink linkLabel="#{note.name}"
                                                dialog="noteDialog" targetItem="#{noteList.editNote}"
                                                value="#{note}">
                            </st:editCommandLink>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <h:outputText
                                    value="#{note.plainTextNote.length() gt 100 ? note.plainTextNote.substring(0,97).concat('...') :  note.plainTextNote}"
                                    style="font-size:x-small"/>
                        </p:column>
                    </p:row>


                </p:panelGrid>

            </p:column>

            <p:column headerText="#{text['note.lastModifiedDate']}"
                      sortBy="#{note.lastModifiedDate}">

                <h:outputText
                        value="#{note.lastModifiedDate}">
                    <f:convertDateTime pattern="MM/dd/yyyy"
                                       timeZone="America/New_York"/>

                </h:outputText>


            </p:column>

            <p:column headerText="#{text['note.createDate']}"
                      sortBy="#{note.createDate}">

                <h:outputText value="#{note.createDate}">

                    <f:convertDateTime pattern="MM/dd/yyyy"
                                       timeZone="America/New_York"/>
                </h:outputText>

            </p:column>

            <p:column priority="2">
                <st:deleteCommandLinkAction actionListener="#{noteList.delete}"
                                            value="#{note}"
                                            targetItem="#{noteList.selectedNote}"
                                            updateWidgetVar="dtblNoteWV" id="ccDeleteNote"/>
            </p:column>

            <ui:remove>
                <p:column>
                    <p:commandButton icon="fa fa-pencil Fs14 white" ajax="true"
                                     oncomplete="PF('noteDialog').show()"
                                     update=":mainFrm:tbvwperson:editNoteDlg" partialSubmit="true"
                                     process="@this" styleClass="note-button-edit">
                        <f:setPropertyActionListener target="#{noteList.editNote}"
                                                     value="#{note}"/>
                    </p:commandButton>

                </p:column>
            </ui:remove>

        </st:dataTable>

    </p:panel>

    <st:dataEntryDialog actionListener="#{noteList.applyEdit}" dialogwidgetVar="noteDialog"
                        dialogHeader="#{text['noteDetail.heading']}" fieldfocus="editor"
                        update="@(.note-datatable-data)" dialogId="ccnoteDialog"
                        closeListener="#{noteList.handleCloseNoteDialog}" id="ccNoteDialog">
        <ui:include src="../person/dialogs/personNoteEdit.xhtml"/>

    </st:dataEntryDialog>


</ui:composition>
