<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">




	<h:inputHidden value="#{personForm.person.user.id}" id="id" />
	<h:inputHidden value="#{personForm.person.user.version}" id="version" />
	<h:inputHidden value="#{personForm.person.user.password}" id="originalPassword" />
	<h:inputHidden value="#{personForm.person.user.tenantId}" id="tenantId" />


	<input type="hidden" name="from" value="#{personForm.from}" />

	<c:if test="${personForm.rememberMe}">
		<h:inputHidden value="#{personForm.person.user.password}" id="password" />
		<h:inputHidden value="#{personForm.person.user.confirmPassword}"
			id="confirmPassword" />
	</c:if>

	<c:if test="${empty personForm.person.user.version}">
		<input type="hidden" name="encryptPass" value="true" />
	</c:if>

	<c:set var="addText" value="#{text['button.add']}" />

	<p:panel style="width: 95%; margin: 0 auto">


		<c:choose>
			<c:when test="${param.from == 'list' or empty personForm.person.user.id}">
				<c:set var="message" value="#{text['userProfile.admin.message']}" />
			</c:when>
			<c:otherwise>
				<c:set var="message" value="#{text['userProfile.message']}" />
			</c:otherwise>
		</c:choose>

		<shared:instructionText textHeader="#{text['userProfile.heading']}"
			textSummary="#{message}" />



		<p:panelGrid columns="1" layout="grid"
			styleClass="ui-panelgrid-blank Wid50">

			<p:outputLabel for="username" value="#{text['user.username']}" />

			<p:inputText value="#{personForm.person.user.username}" id="username"
				required="true" styleClass="Wid50" />

			<p:message for="username" />


			<c:if test="${!personForm.rememberMe}">

				<p:outputLabel for="password" value="#{text['user.password']}" />

				<p:password id="password" value="#{personForm.person.user.password}"
					required="true" feedback="true" match="confirmPassword"
					redisplay="true" styleClass="Wid50" />

				<p:message id="msgpsswrd" for="password" />

				<p:outputLabel for="confirmPassword"
					value="#{text['user.confirmPassword']}" />

				<p:password value="#{personForm.person.user.confirmPassword}"
					id="confirmPassword" required="true" redisplay="true"
					styleClass="Wid50" />

				<p:message id="msgcnfmpsswd" for="confirmPassword" />

			</c:if>

			<p:outputLabel for="passwordHint"
				value="#{text['user.passwordHint']}" />
			<p:inputText value="#{personForm.person.user.passwordHint}" id="passwordHint"
				required="true" styleClass="Wid70" />
			<p:message for="passwordHint" />
			

			<p:outputLabel for="website" value="#{text['user.website']}" />
			<p:inputText value="#{personForm.person.user.website}" id="website"
				styleClass="Wid70" />
			<p:message for="website" />


			<c:choose>


				<c:when
					test="${param.from == 'list' or param['editUser:add'] == addText}">


					<p:fieldset legend="#{text['userProfile.accountSettings']}"
						styleClass="Wid100">

						<p:panelGrid columns="2">

							<p:selectBooleanCheckbox value="#{personForm.person.user.enabled}"
								id="enabled" />
							<p:outputLabel for="enabled" value="#{text['user.enabled']}" />

							<p:selectBooleanCheckbox value="#{personForm.person.user.accountExpired}"
								id="accountExpired" />
							<p:outputLabel for="accountExpired"
								value="#{text['user.accountExpired']}" />

							<p:selectBooleanCheckbox value="#{personForm.person.user.accountLocked}"
								id="accountLocked" />
							<p:outputLabel for="accountLocked"
								value="#{text['user.accountLocked']}" />

							<p:selectBooleanCheckbox
								value="#{personForm.person.user.credentialsExpired}"
								id="credentialsExpired" />
							<p:outputLabel for="credentialsExpired"
								value="#{text['user.credentialsExpired']}" />
						</p:panelGrid>

					</p:fieldset>

					<p:fieldset legend="#{text['userProfile.assignRoles']}"
						styleClass="Wid100">
						<p:selectManyCheckbox value="#{personForm.userRoles}" id="userRoles">
							<f:selectItems value="#{personForm.availableRoles}" />
						</p:selectManyCheckbox>
					</p:fieldset>

				</c:when>

				<c:otherwise>
					<p:outputLabel value="#{text['user.roles']}" />
					<c:if test="${not empty param['userForm:userRoles']}">
							${param['userForm:userRoles']}
						    <input type="hidden" name="userForm:userRoles"
							value="${param['userForm:userRoles']}" />
					</c:if>
					<c:forEach var="role" items="#{personForm.userRoles}"
						varStatus="status">
               ${role}<c:if test="${!status.last}">,</c:if>
						<input type="hidden" name="userForm:userRoles" value="${role}" />
					</c:forEach>
					<h:inputHidden value="#{personForm.person.user.enabled}" />
					<h:inputHidden value="#{personForm.person.user.accountExpired}" />
					<h:inputHidden value="#{personForm.person.user.accountLocked}" />
					<h:inputHidden value="#{personForm.person.user.credentialsExpired}" />
				</c:otherwise>
			</c:choose>

		</p:panelGrid>

	


	</p:panel>

</ui:composition>

