<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:sec="http://www.springframework.org/security/tags">

    <!--    <p:remoteCommand name="clearSelection" update="@ cmdDeleteMember"
                         actionListener="#{personForm.clearSelection}" ignoreAutoUpdate="true"
                         immediate="true" global="false" autoRun="false"/>

        <p:remoteCommand name="enableRequired" update="@ pnlGroupMember"
                         actionListener="#{personForm.enableRequired}" ignoreAutoUpdate="true"
                         immediate="true" global="false" autoRun="false"/>

        <p:remoteCommand name="disableRequired" update="@ pnlGroupMember"
                         actionListener="#{personForm.disableRequired}" ignoreAutoUpdate="true"
                         immediate="true" global="false" autoRun="false"/>-->


    <st:panel id="pnlMembers">

        <!--<p:panelGrid columns="2" id="memberPnl"
                     styleClass="ui-panelgrid-blank">

            <p:commandButton id="showAddMember" icon="fa fa-plus Fs14 white"
                             type="button" value="#{text['button.add']}"
                             onclick="PF('dlgAddGroupMemberWv').show();"/>

            <p:commandButton id="cmdDeleteMember" icon="fa fa-trash Fs14 white"
                             disabled="#{empty personForm.selectedGroupMember}"
                             update="@(#dtblGroup) @this" styleClass="cmdDeleteMember"
                             value="#{text['button.delete']}" partialSubmit="true"
                             actionListener="#{personForm.removeGroupMember}" process="@this @(#dtblGroup)">
            </p:commandButton>


        </p:panelGrid>-->

        <sec:authorize access="hasAnyRole('ROLE_DELETE_GROUP')"
                       var="hasRoleDelete" />
        <sec:authorize access="hasAnyRole('ROLE_EDIT_GROUP')"
                       var="hasRoleEdit" />

        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
            <st:addDialogButton dialog="dlgAddGroupMemberWv" bttnId="addCategory" id="addCategory"/>
        </p:panelGrid>

        <st:dataTable tableVar="assignedgroup" tableId="dtblGroup" tableSelection="#{personForm.selectedGroupMember}"
                      tableValue="#{personForm.personGroups}" tableRowKey="#{assignedgroup.UID}" id="ccDtblNote">


            <p:column headerText="#{text['category.category_id']}"
                      styleClass="text-align: center;">

                <st:editCommandLink linkLabel="#{assignedgroup.group.category.name}"
                                    dialog="dlgAddGroupMemberWv" targetItem="#{personForm.initGroupMember}"
                                    value="#{assignedgroup}">
                </st:editCommandLink>

            </p:column>



            <p:column headerText="#{text['group.groupId']}"
                      styleClass="text-align: center;">
                <h:outputText value="#{assignedgroup.group.name}"/>
            </p:column>


            <p:column headerText="#{text['category.group.role']}"
                      styleClass="text-align: center;">
                <h:outputText value="#{assignedgroup.groupRole.name}"></h:outputText>
            </p:column>


            <p:column headerText="#{text['groupMember.active']}"
                      styleClass="text-align: center;">
                <p:selectBooleanCheckbox value="#{assignedgroup.active}" disabled="true"/>
            </p:column>

            <c:if test="#{hasRoleDelete}">
                <p:column priority="3">
                    <st:deleteCommandLinkAction actionListener="#{personForm.removeGroupMember}"
                                                value="#{assignedgroup}"
                                                targetItem="#{personForm.selectedGroupMember}"
                                                updateWidgetVar="dtblGroupWV" id="ccDeleteGroupAction"/>
                </p:column>
            </c:if>

        </st:dataTable>
    </st:panel>


    <p:confirmDialog id="dlgMember"
                     header="#{text['dialog.removeConfirmation']}" severity="alert"
                     widgetVar="memberDlgWv" showEffect="clip" hideEffect="fold"
                     styleClass="dlgMember">

        <f:facet name="message">
            <p:panelGrid columns="1">
                <h:outputFormat id="optRemoveMember"
                                value="#{text['dialog.RemoveAreYouSure']}">
                    <f:param value="#{personForm.selectedGroupMember.person.name}"/>
                    <f:param value="#{text['group.groupId']}"/>
                    <f:param value="#{personForm.selectedGroupMember.group.name}"/>
                </h:outputFormat>
            </p:panelGrid>
        </f:facet>


        <p:commandButton id="cmdbtnMemberConfrim"
                         value="#{text['button.yes']}"
                         oncomplete="PF('memberDlgWv').hide(); clearSelection();"
                         actionListener="#{personForm.removeGroupMember}"
                         update="@(#dtblGroup) @(.cmdDeleteMember)" ajax="true"
                         partialSubmit="true" process="@this">

            <p:collector value="#{personForm.selectedGroupMember}"
                         removeFrom="#{personForm.person.groupMembers}"/>

        </p:commandButton>

        <p:commandButton id="memberDecline" value="#{text['button.no']}"
                         onclick="PF('memberDlgWv').hide();" type="button"/>


    </p:confirmDialog>


</ui:composition>
