<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

    <p:panel>

        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">

            <c:if test="#{personForm.from ne 'self'}">
                <p:focus context="addContrib"/>
                <st:addDialogButton dialog="dlgContribWv" bttnId="addContrib" id="addContrib"/>
            </c:if>

        </p:panelGrid>

        <st:dataTable tableVar="cntrib" tableId="contrib" tableValue="#{personForm.person.contributions}"
                      tableRowKey="#{cntrib.UID}" tableSelection="#{personForm.selectedContribution}" id="contrib">

            <p:column headerText="#{text['fund.fundId']}" priority="1">
                <st:editCommandLink linkLabel="#{cntrib.category.name}"
                                    dialog="dlgContribWv" targetItem="#{personForm.entryContribution}"
                                    value="#{cntrib}">
                </st:editCommandLink>
            </p:column>


            <p:column headerText="#{text['contribution.amt']}"
                      priority="2">
                <h:outputText value="$ #{cntrib.amount}">
                    <f:convertNumber type="currency"/>
                </h:outputText>
            </p:column>

            <p:column headerText="#{text['contribution.note']}"
                      priority="4">
                <h:outputText value="#{cntrib.note}"/>
            </p:column>

            <c:if test="#{personForm.from ne 'self'}">
                <c:if test="#{hasRoleDelete}">
                    <p:column priority="3">
                        <st:deleteCommandLinkAction actionListener="#{personForm.deleteContribution}"
                                                    value="#{cntrib}"
                                                    targetItem="#{personForm.selectedContribution}"
                                                    updateWidgetVar="contribWV" id="ccDeleteAction"/>
                    </p:column>
                </c:if>
            </c:if>
        </st:dataTable>


    </p:panel>

</ui:composition>
