<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">


    <c:if test="#{personForm.from ne 'self'}">

        <p:panelGrid columns="1" id="pngrdPledges"
                     styleClass="ui-panelgrid-blank Wid100">

            <st:addDialogButton dialog="dlgAddPledgeWv" bttnId="add" id="cccAddPledge"/>


        </p:panelGrid>
    </c:if>

    <st:dataTable tableId="dtblPledge" tableValue="#{personForm.person.pledges}" tableVar="pledge"
                  tableSelection="#{personForm.selectedPledge}" tableRowKey="#{pledge.UID}" tableClass="dtbl-pledge"
                  id="ccDtblPledge">


        <p:column headerText="#{text['campaign.campaignId']}">

<!--            <h:outputText value="#{pledge.campaign.name}"/>-->

            <st:editCommandLink linkLabel="#{pledge.campaign.name}"
                                dialog="dlgAddPledgeWv" targetItem="#{personForm.initPledge}"
                                value="#{pledge}">
            </st:editCommandLink>

        </p:column>

        <p:column headerText="#{text['pledgeDetail.pledge.amt']}">
            <h:outputText value="$ #{pledge.pledgeAmt}">
                <f:convertNumber type="currency"/>
            </h:outputText>
        </p:column>


        <p:column headerText="#{text['pledgeDetail.note']}">
            <h:outputText value="#{pledge.note}"/>
        </p:column>

        <c:if test="#{hasRoleDelete}">
            <p:column priority="2">
                <st:deleteCommandLinkAction actionListener="#{personForm.removePledge}" value="#{pledge}"
                                            targetItem="#{personForm.selectedPledge}"
                                            updateWidgetVar="dtblPledgeWV"/>
            </p:column>
        </c:if>
    </st:dataTable>


</ui:composition>

