<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:defaultCommand target="qcmdtolist" scope="quickPersonPnl"/>

    <p:panelGrid id="quickPersonPnl" layout="grid" columns="3"
                 styleClass="ui-panelgrid-blank Wid100">


        <p:outputLabel styleClass="control-label" for="qfirstName"
                       value="#{text['person.firstName']}"/>

        <p:outputLabel styleClass="control-label" for="qlastName"
                       value="#{text['person.lastName']}"/>

        <p:outputLabel styleClass="control-label" for="qperferredName"
                       value="#{text['person.perferredName']}"/>

        <p:inputText id="qfirstName" value="#{personForm.selectedPerson.firstName}"
                     required="true" maxlength="50" styleClass="Wid80"
                     onkeyup="validateNamesEmpty();isNamesEmpty();"
                     requiredMessage="#{text['errors.required']}"/>

        <p:inputText id="qlastName" value="#{personForm.selectedPerson.lastName}"
                     required="true" maxlength="50" styleClass="Wid80"
                     onkeyup="validateNamesEmpty();isNamesEmpty();"/>

        <p:inputText id="qperferredName"
                     value="#{personForm.selectedPerson.perferredName}" required="false"
                     maxlength="255" styleClass="Wid80"/>

        <p:message for="qfirstName" styleClass="help-inline"/>

        <p:message for="qlastName" styleClass="help-inline"/>

        <p:message for="qperferredName" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="qemail"
                       value="#{text['person.email']}"/>

        <p:outputLabel styleClass="control-label" for="qaddRelationship"
                       value="#{text['person.relationship']}"/>
        <p:spacer/>

        <p:inputText id="qemail" value="#{personForm.selectedPerson.email}"
                     required="false" maxlength="100" styleClass="Wid80"
                     validatorMessage="#{text['errors.email']}"
                     requiredMessage="#{text['errors.required']}"
                     label="#{text['person.email']}">
            <f:validateRegex
                    pattern="([\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z])?">
            </f:validateRegex>
            <p:clientValidator/>
        <!--    <f:param value="#{personForm.selectedPerson.email}"/>-->
        </p:inputText>

        <p:selectOneMenu value="#{personForm.selectedRelationship}"
                         effect="fade" id="qaddRelationship"
                         required="true">
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{personForm.relationships}" var="ships"
                           itemLabel="#{ships.label}" itemValue="#{ships.value}"/>
        </p:selectOneMenu>

        <h:panelGroup>
            <p:spacer width="20px"/>
            <p:commandButton ajax="true" partialSubmit="true"
                             process="@ quickPersonPnl" icon="fa fa-plus Fs14 white"
                             title="#{text['household.enterInformation']}"
                             actionListener="#{personForm.addPersonToFamily}" global="false"
                             update="@ quickPersonPnl @ pnlFamilyMembers"
                             value="#{text['button.add']}" id="qcmdtolist"
                             oncomplete="$('#qfirstName').focus();"/>

        </h:panelGroup>
        <p:message for="qemail"/>
        <p:message for="qaddRelationship"/>
        <p:spacer/>


    </p:panelGrid>


</ui:composition>
