<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

    <p:remoteCommand name="clearSelection"
                     update="@ cmdDeleteClass"
                     actionListener="#{personForm.clearSelection}" ignoreAutoUpdate="true"
                     immediate="true" global="false" autoRun="false"/>


    <c:if test="#{personForm.from ne 'self'}">

        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100" id="classPnl">

            <st:addDialogButton dialog="wvshowAddClass" bttnId="add" id="cbtnshowAddClass"/>

            <p:spacer id="cmdDeleteClass"/>


        </p:panelGrid>
    </c:if>


    <st:dataTable tableVar="assignedgroup" tableId="dtblClass" tableValue="#{personForm.personGroupClasses}"
                  tableRowKey="#{assignedgroup.UID}" tableSelection="#{personForm.selectedGroupMember}" id="dtblClass"
                  tableClass="dtbl-class">


        <p:column headerText="#{text['category.curriculum']}"
                  styleClass="text-align: center;" priority="4">
            <!--                <h:outputText value="#{assignedgroup.group.category.name}"/>-->

            <st:editCommandLink linkLabel="#{assignedgroup.group.category.name}"
                                dialog="wvshowAddClass" targetItem="#{personForm.initGroupMember}"
                                value="#{assignedgroup}">
            </st:editCommandLink>
        </p:column>

        <!-- Add Group -->

        <p:column headerText="#{text['group.class']}"
                  styleClass="text-align: center;" priority="1">

            <h:outputText value="#{assignedgroup.group.name}"/>


        </p:column>


        <p:column headerText="#{text['groupMember.recordDate']}" priority="3">
            <h:outputText value="#{assignedgroup.recordDate}">
                <f:convertDateTime type="date" pattern="MM/dd/yyyy"/>
            </h:outputText>
        </p:column>

       <!-- <p:column headerText="#{text['note.comments']}"
                  styleClass="text-align: center;">
            <h:outputText value="#{assignedgroup.note}"/>
        </p:column>-->

        <c:if test="#{hasRoleDelete}">
            <p:column priority="2">
                <st:deleteCommandLinkAction actionListener="#{personForm.removeGroupMember}" value="#{assignedgroup}"
                                            targetItem="#{personForm.selectedGroupMember}"
                                            updateWidgetVar="dtblClassWV" id="ccDeleteAction"/>
            </p:column>
        </c:if>

    </st:dataTable>


    <p:confirmDialog id="dlgclass"
                     header="#{text['dialog.removeConfirmation']}" severity="alert"
                     widgetVar="classDlgWv" showEffect="clip" hideEffect="fold"
                     styleClass="dlgclass">

        <f:facet name="message">
            <p:panelGrid columns="1">
                <h:outputFormat id="optRemoveclass"
                                value="#{text['dialog.RemoveAreYouSure']}">
                    <f:param value="#{personForm.selectedGroupMember.person.name}"/>
                    <f:param value="#{text['group.groupId']}"/>
                    <f:param value="#{personForm.selectedGroupMember.group.name}"/>
                </h:outputFormat>
            </p:panelGrid>
        </f:facet>


        <p:commandButton id="cmdbtnclassConfrim" value="#{text['button.yes']}"
                         oncomplete="PF('classDlgWv').hide(); clearSelection();"
                         actionListener="#{personForm.removeGroupMember}"
                         update="@ dtblClass  @ cmdDeleteClass"
                         ajax="true" partialSubmit="true" process="@this">

            <p:collector value="#{personForm.selectedGroupMember}"
                         removeFrom="#{personForm.person.groupMembers}" unique="false"/>

        </p:commandButton>

        <p:commandButton id="classDecline" value="#{text['button.no']}"
                         onclick="PF('classDlgWv').hide();" type="button"/>


    </p:confirmDialog>


</ui:composition>
