<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<p:outputLabel styleClass="control-label" for="name"
		value="#{text['household.householdName']}" />
	<p:inputText id="name" value="#{personForm.newHousehold.name}"
		required="true" maxlength="50" styleClass="Wid50" />
	<p:message for="name" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label"
		value="#{text['user.address.address']}" for="familyaddress" />
	<p:inputText id="familyaddress"
		value="#{personForm.newHousehold.address.address}" styleClass="Wid80" />
	<p:message for="address" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label"
		value="#{text['user.address.city']}" for="familycity" />
	<p:inputText id="familycity"
		value="#{personForm.newHousehold.address.city}" styleClass="Wid50" />
	<p:message for="familycity" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label"
		value="#{text['user.address.province']}" for="familyprovince" />

	<p:selectOneMenu value="#{personForm.newHousehold.address.province}"
		id="familyprovince" styleClass="Wid50">
		<f:selectItem itemValue="#{null}"
			itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />
		<f:selectItems value="#{personForm.usStates}" var="state"
			itemValue="#{state.value}" itemLabel="#{state.label}" />
	</p:selectOneMenu>

	<p:message for="familyprovince" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label"
		value="#{text['user.address.postalCode']}" for="familypostalCode" />
	<p:inputText id="familypostalCode"
		value="#{personForm.newHousehold.address.postalCode}"
		styleClass="Wid50" />
	<p:message for="familypostalCode" styleClass="help-inline" />

</ui:composition>