<ui:composition
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:of="http://omnifaces.org/functions">


    <p:panel style="margin: 95 auto">

        <p:focus context="dtblAttendance"/>

        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
            <p:dataTable id="dtblAttendance" var="attend"
                         value="#{personForm.person.attendances}" widgetVar="attendWV"
                         paginator="false">

                <p:column headerText="#{text['event.type']}">
                    <h:outputText value="#{attend.event.eventType.name}"/>
                </p:column>

                <p:column headerText="#{text['event.eventId']}">
                    <h:outputText value="#{attend.event.name}"/>
                </p:column>

                <p:column headerText="#{text['event.startDate']}">
                    <h:outputText value="#{of:formatDate(attend.event.startDate, 'MM/dd/yyyy')}"/>
                </p:column>

                <p:column headerText="#{text['attendance.present']}" styleClass="TexAlCenter">
                    <i class="Fs18 fa fa-check-circle-o blue"/>
                </p:column>

            </p:dataTable>

        </p:panelGrid>


    </p:panel>


</ui:composition>
