<ui:composition
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:of="http://omnifaces.org/functions">


	<p:panel>

		<p:focus context="dtblConnect" />


		<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
			layout="grid">

			<p:dataTable id="dtblConnect" var="connect"
				value="#{personForm.person.indiviualConnections}" editable="false"
				widgetVar="connectsWV" paginator="true" paginatorPosition="bottom"
				rows="50"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="25,50,100" rowKey="#{connect.connectId}">


				<p:column headerText="#{text['connect.action']}"
					sortBy="#{connect.connectId}" filterBy="#{connect.connectId}">

					<h:outputText value="#{connect.action.label}" />

				</p:column>

				<p:column headerText="#{text['connect.instructions']}"
					sortBy="#{connect.instructions}" filterBy="#{connect.instructions}">
					<h:outputText value="#{connect.instructions}" escape="true" />
				</p:column>


				<p:column headerText="#{text['connect.status']}"
					sortBy="#{connect.status}" filterBy="#{connect.status}">
					<h:outputText value="#{connect.status.label}" escape="true" />
				</p:column>

				<!-- 
				<p:column headerText="#{text['person.personId']}"
					sortBy="#{connect.individual}" filterBy="#{connect.individual}">
					<h:outputText value="#{connect.individual.name}" escape="true" />
				</p:column>
				
				 -->

				<p:column headerText="#{text['connect.assignee']}"
					sortBy="#{connect.assignee}" filterBy="#{connect.assignee}">
					<h:outputText value="#{connect.assignee.name}" escape="true" />
				</p:column>


				<p:column headerText="#{text['connect.completeDate']}"
					sortBy="#{connect.completeDate}" filterBy="#{connect.completeDate}">
					<h:outputText
						value="#{of:formatDate(connect.completeDate, 'MM/dd/yyyy')}" />

				</p:column>

			</p:dataTable>

		</p:panelGrid>

	</p:panel>



</ui:composition>
