<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns="http://www.w3.org/1999/xhtml">


    <!--
        <p:commandLink ajax="true" styleClass="ui-link" partialSubmit="true"
            oncomplete="PF('famDlg').show();" process="@this"
            icon="fa fa-plus Fs14 white"
            value="#{text['household.assigntonewfamily']}" />
             -->

    <p:outputPanel id="outFamily">

        <h:panelGroup layout="block"
                      rendered="#{empty personForm.person.household}" id="pnlFamRel">

            <p:panelGrid id="existingGrd" columns="1"
                         styleClass="ui-panelgrid-blank" layout="grid">


                <!--Set as Primary Family Memeber-->

                <p:commandLink ajax="true" styleClass="ui-link" partialSubmit="true"
                               process="@this @ existingGrd"
                               actionListener="#{personForm.createHousehold}"
                               icon="fa fa-plus Fs14 white"
                               value="#{text['household.assigntonewfamily']}"
                               update="@ householdsearch @ outFamily"/>


                <h:outputText value="#{text['household.search']}"/>


                <p:panelGrid columns="3" styleClass="ui-panelgrid-blank">

                    <p:autoComplete id="householdsearch" size="50"
                                    completeMethod="#{personForm.completeHousehold}"
                                    value="#{personForm.selectedHousehold}" var="household"
                                    itemLabel="#{household.name}" itemValue="#{household}"
                                    forceSelection="true" minQueryLength="2"
                                    groupBy="#{personForm.getHouseholdGroup(household)}"
                                    dropdown="true" onkeyup="checkValue();" onchange="">

                        <p:column>#{household.name}</p:column>

                        <p:ajax event="itemSelect" listener="#{personForm.addPersonToExistingFamily}"
                                update="@ outFamily" process="@this @ householdsearch"/>
                        <p:ajax event="itemUnselect" listener="#{personForm.removePersonFromExistingFamily}"
                                update="@ outFamily" process="@this @ householdsearch"/>

                    </p:autoComplete>

                    <p:spacer width="25px"/>

                    <p:commandButton ajax="true" partialSubmit="true"
                                     id="cmdAddExistingFamily" process="@this @ householdsearch"
                                     icon="fa fa-plus Fs14 white"
                                     actionListener="#{personForm.addPersonToExistingFamily}"
                                     update="@ outFamily" value="#{text['button.add']}"
                                     disabled="#{empty personForm.selectedHousehold}"/>

                </p:panelGrid>


                <p:outputLabel styleClass="control-label" for="relationship"
                               value="#{text['person.relationship']}"/>

                <p:selectOneMenu value="#{personForm.person.relationship}"
                                 effect="fade" id="relationship" styleClass="Wid33">
                    <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
                    <f:selectItems value="#{personForm.relationships}" var="ships"
                                   itemLabel="#{ships.label}" itemValue="#{ships.value}"/>
                </p:selectOneMenu>

                <p:message for="relationship" styleClass="help-inline"/>


            </p:panelGrid>


        </h:panelGroup>

        <h:panelGroup layout="block"
                      rendered="#{not empty personForm.person.household}" id="pngHouseHold">

            <p:remoteCommand name="hide" global="false"
                             update="@(#dtFamilyList) @(#pnlAddMember)" immediate="true"
                             actionListener="#{personForm.required(false)}"/>

            <p:remoteCommand name="show" global="false" update="@(#pnlAddMember)"
                             immediate="true" actionListener="#{personForm.required(true)}"/>


            <p:panelGrid id="pnlFamily" columns="1"
                         styleClass="ui-panelgrid-blank Wid100" layout="grid">


                <p:dataTable value="#{personForm.person.household.persons}"
                             var="person" styleClass="ui-panelgrid-blank Wid100" id="dtFamilyList"
                             editable="true" rowKey="#{person.uid}">

                    <p:column style="width:32px;text-align: center;">
                        <p:rowEditor/>
                    </p:column>

                    <p:ajax event="rowEdit" listener="#{personForm.onRowEdit}"
                            global="false"/>


                    <p:column priority="1">
                        <p:cellEditor>

                            <f:facet name="output">

                                <!-- Add quick card w/ pic when clicked -->

                                <!--
                                <p:panelGrid columns="2" style="width:200px;">

                                                <p:graphicImage value="#{personList.pictures(person.personId)}"
                                                                id="dgpic" cache="false" height="24px" width="24px"
                                                                styleClass="BordRadHalf" stream="false">
                                                </p:graphicImage>
                                -->

                                <h:panelGroup>
                                    <h:commandLink action="#{personForm.edit}"
                                                   ajaX="false" styleClass="ui-link">
                                        <f:param name="personId" value="#{person.personId}"/>
                                        <f:param name="from" value="list"/>
                                        <h:outputText value="#{person.name}" styleClass="Fs14"/>
                                    </h:commandLink>

                                    <span style="display: block"/>

                                    <h:outputText value="#{person.relationship}"
                                                  converter="#{LabelValueConverter}" styleClass="Fs12">
                                        <f:attribute name="list" value="#{personForm.relationships}"/>
                                    </h:outputText>
                                </h:panelGroup>
                                <!--                                </p:panelGrid>-->

                            </f:facet>

                            <f:facet name="input">
                                <h:outputText value="#{person.name}"
                                              style="background-color: #FFFFFF; color: #78848b;" styleClass="Fs14"/>

                                <span style="display: block"/>

                                <p:selectOneMenu value="#{person.relationship}"
                                                 styleClass="Wid50">
                                    <f:selectItems value="#{personForm.relationships}" var="ships"
                                                   itemLabel="#{ships.label}" itemValue="#{ships.value}"/>
                                </p:selectOneMenu>
                            </f:facet>

                        </p:cellEditor>

                    </p:column>
                    <!---->
                    <!--  <p:column headerText="#{text['person.relationship']}" priority="3">

                          <p:cellEditor>
                              <f:facet name="output">
                                  <h:outputText value="#{person.relationship}"
                                                converter="#{LabelValueConverter}">
                                      <f:attribute name="list" value="#{personForm.relationships}"/>
                                  </h:outputText>
                              </f:facet>
                              <f:facet name="input">
                                  <p:selectOneMenu value="#{person.relationship}"
                                                   styleClass="Wid50">
                                      <f:selectItems value="#{personForm.relationships}" var="ships"
                                                     itemLabel="#{ships.label}" itemValue="#{ships.value}"/>
                                  </p:selectOneMenu>
                              </f:facet>
                          </p:cellEditor>
                      </p:column>
  -->
                    <p:column style="width:52px;text-align: center" priority="2">
                        <p:commandLink update="@ outFamily"
                                       actionListener="#{personForm.removeMember(person)}"
                                       ajax="true" process="@this">
                            <i class="fa fa-trash Fs12"/>
                            <p:spacer width="1px"/>
                            <h:outputText value="#{text['button.remove']}" styleClass="Fs12"/>
                            <p:confirm header="#{text['household.removeFromFamily']} - #{person.name}"
                                       icon="ui-icon-alert"
                                       message="#{text['household.removemember']}"/>
                        </p:commandLink>

                    </p:column>
                </p:dataTable>


                <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">

                    <st:addDialogButton dialog="wvsaddMember" id="cmdAddMember"
                                        value="#{text['household.addToFamily']}" bttnId="ccCmdAddMember"/>
                </p:panelGrid>


            </p:panelGrid>
        </h:panelGroup>

    </p:outputPanel>

    <!--    @todo Need to see if this is still needed; since family are created by setting member to primary-->
    <p:dialog header="#{text['householdDetail.heading']}"
              widgetVar="famDlg" resizable="true" id="famnteDlg" modal="true"
              dynamic="true" responsive="true" width="420px">

        <p:panelGrid id="familypnl" columns="1" layout="grid"
                     styleClass="ui-panelgrid-blank Wid100">


            <ui:include src="/sections/person/personNewHousehold.xhtml"/>


            <p:panelGrid columns="2" layout="grid"
                         styleClass="xui-panelgrid-blank Container70 Fright">

                <p:commandButton id="familyBtn" value="#{text['button.done']}"
                                 immediate="false" icon="fa fa-check Fs14 white"
                                 actionListener="#{personForm.addFamily}" partialSubmit="true"
                                 process=":mainFrm:tbvwperson:famnteDlg"
                                 oncomplete="handleFamComplete(xhr, status, args)" global="false">
                </p:commandButton>

                <p:commandButton value="#{text['button.cancel']}"
                                 onclick="PF('famDlg').hide();" ajax="true"
                                 icon="fa fa-hand-o-left Fs14 white" type="button"/>

            </p:panelGrid>


        </p:panelGrid>
    </p:dialog>


    <!-- Remove member from Family-->
    <p:confirmDialog global="true" responsive="true">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check Fs14 white"/>
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa-close Fs14 white"/>
    </p:confirmDialog>





</ui:composition>
