<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

<ui:composition template="#{personForm.template}">

	<ui:define name="pageTitle">#{text['personDetail.title']}</ui:define>

	<ui:param name="menu" value="quickadd" />
	<ui:param name="bodyId" value="quickadd" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<ui:include src="/sections/person/details.xhtml" />

		</h:form>
	</ui:define>

</ui:composition>
</html>
