<ui:composition template="/templates/mainNoMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="pageTitle">#{text['attendanceDetail.title']}</ui:define>

	<ui:define name="head">

		<script type="text/javascript">

		/* <![CDATA[ */

			function clearFilters() {
				if ($( '#dtblPerson' ).length){
					PF('personsWV').clearFilters();
				}
			}

			$(document).ready( function () {
				$('.globalFilter:first').focus();
				});

		/* ]]> */
		

		</script>
	</ui:define>


	<ui:param name="menu" value="attendance" />
	<ui:param name="bodyId" value="attendance" />

	<ui:define name="body">
		<ui:include src="/sections/attendance/attendanceEdit.xhtml" />
	</ui:define>

	<ui:define name="confirmDialog">

		<shared:helpdialog dlgid="dlgHelp"
			title="#{text['attendanceDetail.heading']}" widgetId="dlgHelpWv">
			<h:outputText value="#{attendanceForm.helpMessage}"
				style="font-size: 120% !important;" />
		</shared:helpdialog>

		<p:confirmDialog id="dlgAttendance"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="attendanceDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1" style="border:0px none;background:none">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{attendanceForm.attendance.name}" />
						<f:param value="#{text['attendanceList.attendance']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('attendanceDlgWv').hide();"
				action="#{attendanceForm.delete}" update="@(#growl) @(#eventdates)"
				ajax="false" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('attendanceDlgWv').hide();" type="button" />

		</p:confirmDialog>

		<p:confirmDialog id="dlgsaveAttendance"
			header="#{text['dialog.saveConfirmation']}" severity="info"
			widgetVar="saveAttendanceDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1" layout="grid"
					style="border:0px none;background:none">
					<h:outputText value="#{text['attendance.madeChanges']}" />
					<h:outputText value="#{text['attendance.saveChanges']}" />
				</p:panelGrid>
			</f:facet>

			<p:commandButton id="cmdYes" value="#{text['button.yes']}"
				onclick="PF('saveAttendanceDlgWv').hide();" ajax="true"
				actionListener="#{attendanceForm.switchEventOccurrence('1')}"
				update="@(#otpPerson) @(#attendancePnl)" />

			<p:commandButton id="cmdNo" value="#{text['button.no']}"
				onclick="PF('saveAttendanceDlgWv').hide();" ajax="true"
				actionListener="#{attendanceForm.switchEventOccurrence('0')}"
				update="@(#otpPerson) @(#attendancePnl)" />

		</p:confirmDialog>
	</ui:define>

</ui:composition>

