<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['attendanceDetail.title']} </ui:define>

	<ui:param name="menu" value="attendance" />
	<ui:param name="bodyId" value="attendance" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />


			<st:panel header="#{text['attendanceDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />


				<sec:authorize access="hasAnyRole('ROLE_EDIT_ATTENDANCE')"
					var="hasRoleEdit" />

				<sec:authorize access="hasAnyRole('ROLE_DELETE_ATTENDANCE')"
					var="hasRoleDelete" />


				<st:addButton from="addlist" actionMethod="#{attendanceForm.edit}" />


				<!-- 		<p:panelGrid columns="1" styleClass="ui-panelgrid-blank listbutton"
					id="attendancePnl">
					<p:commandButton action="attendanceForm" id="add" immediate="true"
						ajax="false" icon="fa fa-plus Fs14 white"
						value="#{text['button.add']}"
						styleClass="#{hasRoleEdit ? '' : 'hidden'}" />
				</p:panelGrid> -->

				<st:dataTable tableId="dtblAttendance" tableVar="attendance"
					tableSelection="#{attendanceList.selectedAttendance}"
					tableValue="#{attendanceList.attendances}"
					tableRowKey="#{attendance.name}">



					<p:column headerText="#{text['event.eventId']}"
						sortBy="#{attendance.event}" filterBy="#{attendance.event}"
						priority="3">
						<h:outputText value="#{attendance.event.name}" />
					</p:column>

					<p:column headerText="#{text['event.type']}"
						sortBy="#{attendance.event.eventType.name}"
						filterBy="#{attendance.event.eventType.name}" priority="3">



						<h:panelGroup styleClass="event-box"
							style="#{'background-color: #'.concat(attendance.event.eventType.color)}">

							<p:spacer height="5" width="20" />
						</h:panelGroup>
						<p:spacer width="5" />

						<h:outputText value="#{attendance.event.eventType.name}" />


					</p:column>


					<p:column headerText="#{text['attendance.name']}"
						sortBy="#{attendance.name}" filterBy="#{attendance.name}"
						priority="1">

						<h:commandLink action="attendanceForm" value="#{attendance.name}"
							ajaX="false" styleClass="ui-link">
							<f:param name="attendanceId" value="#{attendance.attendanceId}" />
							<f:param name="from" value="list" />
							<f:param name="eventId" value="#{attendance.event.eventId}" />
						</h:commandLink>

					</p:column>

					<p:column headerText="#{text['event.attendanceTrackType']}"
						sortBy="#{attendance.event.attendanceTrackType}"
						filterBy="#{attendance.event.attendanceTrackType}" priority="4">
						<h:outputText
							value="#{attendance.event.attendanceTrackType.value}" />
					</p:column>


					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="attendanceDlgWv"
								value="#{attendance}"
								targetItem="#{attendanceList.selectedAttendance}" />
						</p:column>
					</c:if>


				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="attendanceDlgWv"
			deleteActionMethod="#{attendanceList.delete}"
			deleteMessageName="#{attendanceList.selectedAttendance.name}"
			dialogId="dlgAttendance"
			deleteMessageCategory="#{text['attendanceList.attendance']}" />


		<!-- <st:dataEntryDialog actionListener="#{attendanceForm.save}"
			dialogwidgetVar="dlgEditAttendanceWv"
			dialogHeader="#{text['attendanceDetail.title']}"
			dialogId="dlgEditAttendance" fieldfocus="name">
			
			<ui:include src="/sections/attendance/attendanceEdit.xhtml" />

		</st:dataEntryDialog> -->

		<!-- <p:confirmDialog id="dlgAttendance"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="attendanceDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{attendanceList.selectedAttendance.name}" />
						<f:param value="#{text['attendanceList.attendance']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('attendanceDlgWv').hide();"
				actionListener="#{attendanceList.delete}"
				update=":mainFrm:dtblAttendance :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('attendanceDlgWv').hide();" type="button" />

		</p:confirmDialog> -->

	</ui:define>

</ui:composition>