<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['batchDetail.title']} </ui:define>

    <ui:param name="menu" value="batch"/>
    <ui:param name="bodyId" value="batch"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['batchList.heading']}" id="ccbatch">


                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <sec:authorize access="hasAnyRole('ROLE_EDIT_CONTRIBUTION')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_DELETE_CONTRIBUTION')"
                               var="hasRoleDelete"/>


                <st:addDialogButton dialog="dlgEditBatchWv" bttnId="add" />


                <st:dataTable tableId="dtblBatch" tableVar="batch"
                              tableSelection="#{batchList.selectedBatch}"
                              tableValue="#{batchList.batches}" tableRowKey="#{batch.name}"
                              id="dtblBatch">


                    <c:if test="#{hasRoleEdit}">

                        <p:column priority="2" style="width: 5%;vertical-align: baseline">

                            <st:editCommandLinkToForm actionMethod="#{contributionForm.edit}"
                                                      icon="fa fa-edit Fs20"
                                                      toolTip="#{text['contribution.AddOrEdit']}" value="" ajax="false">
                                <f:param name="batchId" value="#{batch.batchId}"/>
                                <f:param name="from" value="list"/>
                            </st:editCommandLinkToForm>

                            <!-- 		<p:commandLink action="#{contributionForm.edit}"
                                    value="#{batch.name}" ajax="true" process="@this"
                                    styleClass="ui-link" partialSubmit="true">
                                    <f:param name="batchId" value="#{batch.batchId}" />
                                    <f:param name="from" value="list" />
                                </p:commandLink>
                             -->

                        </p:column>
                    </c:if>

                    <p:column headerText="#{text['batch.batchId']}"
                              sortBy="#{batch.batchId}" filterBy="#{batch.batchId}" id="colname">

                        <st:editCommandLink linkLabel="#{batch.name}"
                                            dialog="dlgEditBatchWv" targetItem="#{batchForm.batch}"
                                            value="#{batch}">
                            <f:param name="batchId" value="#{batch.batchId}"/>
                            <f:param name="from" value="list"/>
                        </st:editCommandLink>

                    </p:column>


                    <p:column headerText="#{text['batch.batchDate']}"
                              sortBy="#{batch.batchDate}">
                        <h:outputText value="#{batch.batchDate}" escape="true">
                            <f:convertDateTime pattern="MM/dd/yyyy"/>
                        </h:outputText>

                    </p:column>

                    <p:column headerText="#{text['batch.dateGiven']}"
                              sortBy="#{batch.dateReceived}">

                        <h:outputText value="#{batch.dateReceived}" escape="true">
                            <f:convertDateTime pattern="MM/dd/yyyy"/>
                        </h:outputText>
                    </p:column>


                    <p:column headerText="#{text['batch.batchTotal']}"
                              sortBy="#{batch.batchTotal}">

                        <h:outputText value="#{batch.batchTotal}" escape="true">
                            <f:convertNumber currencySymbol="$" type="currency"/>
                        </h:outputText>

                    </p:column>

                    <p:column headerText="#{text['batch.posted']}"
                              sortBy="#{batch.posted}" filterBy="#{batch.posted}">
                        <f:facet name="filter">
                            <p:selectOneMenu
                                    onchange="PF('batchesWV').filter();setConfirmUnload(false)">
                                <f:selectItem itemLabel="#{text['button.selectOne']}"
                                              itemValue="#{null}" noSelectionOption="true"/>
                                <f:selectItem itemLabel="#{text['button.no']}"
                                              itemValue="#{false}"/>
                                <f:selectItem itemLabel="#{text['button.yes']}"
                                              itemValue="#{true}"/>
                            </p:selectOneMenu>
                        </f:facet>

                        <h:outputText
                                value="#{ batch.posted ? text['button.yes'] : text['button.no'] }"/>

                    </p:column>

                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="2" styleClass="Wid10">
                            <st:deleteCommandLink dialog="batchDlgWv" value="#{batch}"
                                                  targetItem="#{batchList.selectedBatch}"/>
                        </p:column>
                    </c:if>

                </st:dataTable>
            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:dataEntryDialog actionListener="#{batchForm.save}"
                            dialogwidgetVar="dlgEditBatchWv"
                            dialogHeader="#{text['batchDetail.title']}" dialogId="dlgEditBatch"
                            fieldfocus="name" closeListener="#{batchForm.handleCloseDialog}" id="ccdedBatch">

            <ui:include src="/sections/batch/batchEdit.xhtml"/>

        </st:dataEntryDialog>


        <st:deleteConfirmDialog dialogwidgetVar="batchDlgWv"
                                deleteActionMethod="#{batchList.delete}"
                                deleteMessageName="#{batchList.selectedBatch.name}"
                                deleteMessageCategory="#{text['batchList.batch']}" dialogId="dlgBach"/>


        <h:outputScript id="handleCompleteScript" target="body">

            /* <![CDATA[ */


            function handleBatchAddComplete(xhr, status, args) {

                PrimeFaces.info('In handleComplete()');

                if (args.valid) {
                    PF('wvAddBatch').hide();
                }
            }

            function handleInlineNameChage(xhr, status, args) {

                PrimeFaces.info('In handleComplete()');

                if (!args.valid) {
                    PF('dtblBatch').update();
                }
            }

            /* ]]> */

        </h:outputScript>

    </ui:define>

</ui:composition>