<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions"
                xmlns:sec="http://www.springframework.org/security/tags">


    <ui:define name="pageTitle">#{text['batchDetail.title']}</ui:define>

    <ui:param name="menu" value="batch"/>
    <ui:param name="bodyId" value="batch"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>

            <p:panel style="width: 100%; margin: 0 auto"
                     header="#{text['batchDetail.title']}">


                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <h:inputHidden value="#{batchForm.batch.batchId}" id="batchId"/>
                <h:inputHidden value="#{batchForm.batch.version}" id="version"/>


                <p:panelGrid columns="5" id="batchPnl" styleClass="Wid100"
                             layout="tabular">

                    <p:outputLabel styleClass="control-label" for="name"
                                   value="#{text['batch.name']}"/>

                    <p:outputLabel styleClass="control-label" for="batchDate"
                                   value="#{text['batch.batchDate']}"/>

                    <p:outputLabel styleClass="control-label" for="batchTotal"
                                   value="#{text['batch.batchTotal']}"/>

                    <p:outputLabel styleClass="control-label" for="dateGiven"
                                   value="#{text['batch.dateGiven']}"/>

                    <p:outputLabel styleClass="control-label" for="posted"
                                   value="#{text['batch.posted']}"/>


                    <p:inputText id="name" value="#{batchForm.batch.name}"
                                 required="false" maxlength="50"/>

                    <p:calendar value="#{batchForm.batch.batchDate}" id="batchDate"
                                required="true" showOn="button" pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"/>

                    <p:inputMask id="batchTotal" value="#{batchForm.batch.batchTotal}"
                                 required="false" mask="$ 999,999.99"/>

                    <p:calendar value="#{batchForm.batch.dateReceived}" id="dateGiven"
                                required="true" showOn="button" pattern="MM/dd/yyyy" mask="true"
                                maskAutoClear="true"/>

                    <p:inputSwitch value="#{batchForm.batch.posted}"
                                   onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
                                   id="posted"/>

                    <p:message for="name" styleClass="help-inline"/>
                    <p:message for="batchDate" styleClass="help-inline"/>
                    <p:message for="batchTotal" styleClass="help-inline"/>
                    <p:message for="dateGiven" styleClass="help-inline"/>
                    <p:message for="posted" styleClass="help-inline"/>

                </p:panelGrid>

                <f:facet name="footer">
                    <h:panelGroup>
                        <p:splitButton value="#{text['button.save']}"
                                       actionListener="#{batchForm.save}" id="save"
                                       styleClass="btn btn-primary" ajax="false"
                                       icon="fa fa-floppy-o Fs14 white" update="growl">
                            <p:menuitem value="#{text['button.saveReturn']}"
                                        action="#{batchForm.save}" icon="ui-icon-newwin">
                            </p:menuitem>
                        </p:splitButton>

                        <c:if test="${not empty batchForm.batch.batchId}">
                            <p:commandButton id="delete" icon="fa fa-trash Fs14 white"
                                             value="#{text['button.delete']}"
                                             oncomplete="PF('batchDlgWv').show();" update="growl"/>
                        </c:if>

                        <p:commandButton action="batches" immediate="true" id="cancel"
                                         styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
                                         value="#{text['button.cancel']}"/>
                    </h:panelGroup>
                </f:facet>

            </p:panel>


            <p:confirmDialog id="dlgBatch"
                             header="#{text['dialog.deleteConfirmation']}" severity="alert"
                             widgetVar="batchDlgWv" showEffect="clip" hideEffect="fold">

                <f:facet name="message">
                    <p:panelGrid columns="1">
                        <h:outputFormat id="otplUserToDelete"
                                        value="#{text['dialog.areYouSure']}">
                            <f:param value="#{batchForm.batch.name}"/>
                            <f:param value="#{text['batchList.batch']}"/>
                        </h:outputFormat>
                    </p:panelGrid>
                </f:facet>


                <p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
                                 oncomplete="PF('batchDlgWv').hide();" action="#{batchForm.delete}"
                                 update=":mainFrm:growl" ajax="false"/>

                <p:commandButton id="decline" value="#{text['button.no']}"
                                 onclick="PF('batchDlgWv').hide();" type="button"/>

            </p:confirmDialog>
        </h:form>
    </ui:define>

</ui:composition>

