<ui:composition template="/templates/mainMenu.xhtml"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
				xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="pageTitle">#{text['calendarDetail.title']}</ui:define>

	<ui:define name="head">

		<script type="text/javascript">

			//function checkReoccurrence() {
			//	$( '#hiddenBtn' ).click();
			//}

			//function viewEvent() {
			//	$( '#hiddenBtnView' ).click();
			//}

			/* <![CDATA[ */
			
			//$(document).on("pageshow",".pagetwo",function(){
			//  alert("pageshow event fired - pagetwo is now shown");
			//});

			//$(document).ready(function() {
    		//	var timezone = jstz.determine();
    		//	setCookie('TIME_ZONE',timezone.name(), 1 )
			    //$("#timezone_holder").val(timezone.name());
    			//$("#timezone_holder").change();
			//});
			 
			/* ]]> */

		</script>
	</ui:define>


	<ui:param name="menu" value="calendar" />
	<ui:param name="bodyId" value="calendar" />
	<ui:param name="statusDialog" value="hide" />

	<ui:define name="body">


		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<p:remoteCommand name="viewNewEvent"
				actionListener="#{eventForm.initEvent}" partialSubmit="true"
				global="false" process="@this" update="@widgetVar(dlgEditEventWv)"
				oncomplete="PF('dlgEditEventWv').show();">
				<f:attribute name="event" value="#{calendarForm.selectedEvent.data}" />
			</p:remoteCommand>


			<p:remoteCommand name="handleSelectedEvent"
				actionListener="#{calendarForm.handleSelectedEvent}"
				partialSubmit="true" />


			<p:remoteCommand actionListener="#{calendarForm.filterCalendar}"
				process="@this @(#smmEventTypeFilters)" name="filterCalendar"
				oncomplete="PF('calendarWv').update();" global="false" />

			<sec:authorize access="hasAnyRole('ROLE_EDIT_EVENTS')"
				var="hasRoleEdit" />

			<ui:include src="/sections/main/message.xhtml" />

			<st:panel header="#{text['calendarDetail.title']}" id="pnlCalendar">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<p:panelGrid columns="5" id="buttonPnl" layout="grid"
					styleClass="ui-panelgrid-blank">


					<st:addDialogButton dialog="dlgEditEventWv" bttnId="add" />


					<p:commandButton id="print" immediate="true" ajax="true"
						icon="fa fa-print Fs14 white" value="#{text['button.print']}">

						<p:printer target="eventCalendar" />

					</p:commandButton>

					<p:commandButton id="export" icon="fa fa-cloud-download Fs14 white"
						ajax="false" actionListener="#{calendarForm.exportCalendar}"
						value="#{text['button.export']}" />

					<p:commandButton id="legend" icon="fa fa-th-list Fs14 white"
						type="button" value="#{text['button.filter']}" />


				</p:panelGrid>


				<p:separator />




				<p:overlayPanel id="ovlyLegend" for="legend" hideEffect="fade"
					showCloseIcon="true" dynamic="true" onHide="filterCalendar();">
					<b>Event Types</b>
					<p:separator />
					<h:panelGroup layout="block">
						<p:selectManyMenu id="smmEventTypeFilters"
							value="#{calendarForm.eventTypeFilters}"
							converter="#{eventTypeConverter}" var="e" showCheckbox="true"
							filter="true" filterMatchMode="startsWith">

							<f:selectItems value="#{calendarForm.dataService.eventTypes}"
								var="et" itemLabel="#{et.name}" itemValue="#{et}" />

							<p:column style="width:10%">
								<h:panelGroup styleClass="#{e.styleClass}" layout="block"
									style="height: 20px; width: 20px;" />
							</p:column>

							<p:column>
								<h:outputText value="#{text['eventType.'.concat(e.name)]}" />
							</p:column>

						</p:selectManyMenu>
					</h:panelGroup>

				</p:overlayPanel>


				<p:schedule value="#{calendarForm.model}" widgetVar="calendarWv"
					id="eventCalendar" tooltip="true"
					timeZone="#{calendarForm.timezone}"
					initialDate="#{calendarForm.initialDate}">

					<c:if test="#{hasRoleEdit}">
						<p:ajax event="dateSelect" listener="#{calendarForm.onDateSelect}"
							oncomplete="viewNewEvent();" global="false" />

						<p:ajax event="eventSelect"
							listener="#{calendarForm.onEventSelect}"
							oncomplete="PF('eventHandleDlgWv').show();" global="false"
							update="@widgetVar(eventHandleDlgWv)" />

						<p:ajax event="eventMove" listener="#{calendarForm.onEventMove}"/>

						<p:ajax event="eventResize"
							listener="#{calendarForm.onEventResize}" />
					</c:if>

				</p:schedule>


				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{calendarForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" >
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{calendarForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<p:commandButton value="#{text['button.cancel']}" action="home"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" />


					</h:panelGroup>
				</f:facet>

			</st:panel>
		</h:form>

	</ui:define>

	<ui:define name="confirmDialog">



		<p:dialog id="cfmdlgHandleEvent" widgetVar="eventHandleDlgWv"
			showEffect="clip" hideEffect="fold" severity="info" responsive="true"
			resizable="false" modal="true">

			<f:facet name="header">

				<h:outputText value="#{calendarForm.selectedCalendarEvent.name} - " />

				<h:outputText
					value="#{calendarForm.selectedCalendarEvent.startDate}">
					<f:convertDateTime pattern="E, MMM dd yyyy"
						timeZone="America/New_York" />
				</h:outputText>
			</f:facet>



			<p:panelGrid columns="4" styleClass="ui-panelgrid-blank Wid100">

				<p:spacer />

				<h:panelGroup layout="block" styleClass="TexAlCenter">
					<p:commandButton id="cmdViewDetails"
						value="#{text['event.view.details']}"
						onclick="PF('eventHandleDlgWv').hide();"
						actionListener="#{calendarForm.handleSelectedEvent('DETAILS')}"
						ajax="true" partialSubmit="true" process="@this"
						icon="fa fa-calendar-o Fs16 white" styleClass="Fs16" />
					<p />
					<h:outputText value="#{text['event.view.details.text']}"
						styleClass="ui-dialog-title" />

				</h:panelGroup>

				<h:panelGroup layout="block" styleClass="TexAlCenter">
					<p:commandButton id="cmdCheckIn" value="#{text['event.check.in']}"
						onclick="PF('eventHandleDlgWv').hide();"
						actionListener="#{calendarForm.handleSelectedEvent('CHECK-IN')}"
						ajax="true" partialSubmit="true" process="@this"
						icon="fa fa-check-square-o Fs16 white" styleClass="Fs16"/>
					<p />
					<h:outputText value="#{text['event.check.in.text']}"
						styleClass="ui-dialog-title" />
				</h:panelGroup>

				<p:spacer />
			</p:panelGrid>


			<f:facet name="footer">

				<p:commandLink type="button"
					oncomplete="PF('eventHandleDlgWv').hide();" global="false">
					<i class="fa fa-hand-o-left Fs14" />
					<p:spacer width="2px" />
					<h:outputText value="#{text['button.cancel']}" styleClass="Fs12" />
				</p:commandLink>

			</f:facet>

		</p:dialog>

		<st:dataEntryDialog actionListener="#{eventForm.save}"
			dialogwidgetVar="dlgEditEventWv"
			dialogHeader="#{text['eventDetail.title']}" dialogId="dlgEditEvent"
			fieldfocus="title" closeListener="#{eventForm.handleCloseDialog}"
			id="ccEventDetail">

			<ui:include src="/sections/event/eventDetailEdit.xhtml" />

		</st:dataEntryDialog>

	</ui:define>

</ui:composition>

