<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['campaignDetail.title']} </ui:define>

    <ui:param name="menu" value="campaign"/>
    <ui:param name="bodyId" value="campaign"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <p:remoteCommand autoRun="true" oncomplete="clearFilters()"
                             global="false" partialSubmit="true" process="@this"
                             name="autoClearFilters"/>

            <p:panel style="width: 95%; margin: 0 auto"
                     header="#{text['campaignDetail.title']}" id="pnlmain">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <sec:authorize access="hasAnyRole('ROLE_EDIT_PLEDGE')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_DELETE_PLEDGE')"
                               var="hasRoleDelete"/>


                <st:addDialogButton dialog="dlgEditCampaignsWv" bttnId="add" id="ccAddCampaign"/>


                <st:dataTable tableId="dtblCampaign" tableVar="campaign"
                              tableSelection="#{campaignList.selectedCampaign}"
                              tableValue="#{campaignList.campaigns}" tableRowKey="#{campaign.name}"
                              id="dtblCampaign">


                    <p:column headerText="#{text['campaign.campaignId']}"
                              sortBy="#{campaign.campaignId}" filterBy="#{campaign.campaignId}"
                              id="colname" style="width:25%" priority="1">


                        <!--       <p:commandLink action="#{pledgeForm.edit}"
                                              value="#{campaign.name}" ajax="false" process="@this"
                                              styleClass="ui-link" partialSubmit="true">
                                   <f:param name="campaignId" value="#{campaign.campaignId}"/>
                                   <f:param name="from" value="campaignList"/>
                               </p:commandLink>-->

                        <st:editCommandLinkToForm actionMethod="#{pledgeForm.edit}"
                                                  toolTip="#{campaign.descr}" value="#{campaign.name}" ajax="false">
                            <f:param name="campaignId" value="#{campaign.campaignId}"/>
                            <f:param name="from" value="campaignList"/>
                        </st:editCommandLinkToForm>

                    </p:column>

                    <p:column headerText="#{text['fund.fundId']}"
                              style="width:25%" priority="2">
                        <h:outputText value="#{campaign.category.name}"/>
                    </p:column>

                    <p:column headerText="#{text['campaign.goalAmt']}"
                              sortBy="#{campaign.goalAmt}" style="width:15%">
                        <h:outputText value="#{campaign.goalAmt}" escape="true">
                            <f:convertNumber currencySymbol="$" type="currency"/>
                        </h:outputText>
                    </p:column>


                    <p:column headerText="#{text['campaign.startdate']}"
                              sortBy="#{campaign.startDate}" style="width:15%">
                        <h:outputText value="#{campaign.startDate}" escape="true">
                            <f:convertDateTime pattern="MM/dd/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <ui:remove>

                        <p:column headerText="#{text['campaign.enddate']}"
                                  sortBy="#{campaign.endDate}" style="width:15%">

                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{campaign.endDate}" escape="true">
                                        <f:convertDateTime pattern="MM/dd/yyyy"/>
                                    </h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:calendar value="#{campaign.endDate}" id="endDate"
                                                pattern="MM/dd/yyyy" mask="true" maskAutoClear="true"/>
                                    <p:message for="endDate"/>
                                </f:facet>
                            </p:cellEditor>

                        </p:column>
                    </ui:remove>


                    <p:column headerText="#{text['campaign.deductible']}"
                              sortBy="#{campaign.deductible}" style="width:15%">

                        <!--    <f:facet name="filter">
                                <p:selectOneMenu
                                        onchange="PF('campaignsWV').filter();setConfirmUnload(false)">
                                    <f:selectItem itemLabel="#{text['button.selectOne']}"
                                                  itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItem itemLabel="#{text['button.no']}"
                                                  itemValue="#{false}"/>
                                    <f:selectItem itemLabel="#{text['button.yes']}"
                                                  itemValue="#{true}"/>
                                </p:selectOneMenu>
                            </f:facet>-->
                        <h:outputText
                                value="#{campaign.deductible ? text['button.yes'] : text['button.no'] }"/>
                    </p:column>


                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="3" styleClass="Wid10">
                            <st:deleteCommandLink dialog="campaignDlgWv" value="#{campaign}"
                                                  targetItem="#{campaignList.selectedCampaign}"/>
                        </p:column>
                    </c:if>

                </st:dataTable>

            </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">


        <st:deleteConfirmDialog dialogwidgetVar="campaignDlgWv"
                                deleteActionMethod="#{campaignList.delete}"
                                deleteMessageName="#{campaignList.selectedCampaign.name}" dialogId="dlgBach"
                                deleteMessageCategory="#{text['campaign.campaignId']}"/>


        <st:dataEntryDialog actionListener="#{campaignForm.save}"
                            dialogwidgetVar="dlgEditCampaignsWv"
                            dialogHeader="#{text['campaignDetail.title']}" dialogId="dlgEditCampaigns"
                            fieldfocus="name" closeListener="#{campaignForm.handleCloseDialog}" id="ccdlgEditCapaigns">

            <ui:include src="/sections/campaign/campaignAdd.xhtml"/>

        </st:dataEntryDialog>


        <h:outputScript id="handleCompleteScript" target="body">

            /* <![CDATA[ */


            function clearFilters() {
                if ($('#dtblCampaign').length) {
                    PF('campaignsWV').clearFilters();
                }
            }

            /* ]]> */

        </h:outputScript>

    </ui:define>

</ui:composition>