<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['campaignDetail.title']}</ui:define>

	<ui:param name="menu" value="campaign" />
	<ui:param name="bodyId" value="campaign" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['campaignDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />
				
				<shared:instructionText
					textHeader="#{text['campaignDetail.heading']}"
					textSummary="#{text['campaignDetail.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="campaignPnl">

					<h:inputHidden value="#{campaignForm.campaign.campaignId}"
						id="campaignId" />
					<p:spacer />
					<p:spacer />


					<p:outputLabel styleClass="control-label" for="createDate"
						value="#{text['campaign.createDate']}" />
					<p:inputText id="createDate"
						value="#{campaignForm.campaign.createDate}" required="false"
						maxlength="19" />
					<p:message for="createDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="createdByUser"
						value="#{text['campaign.createdByUser']}" />
					<p:inputText id="createdByUser"
						value="#{campaignForm.campaign.createdByUser}" required="false"
						maxlength="255" />
					<p:message for="createdByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="lastUpdate"
						value="#{text['campaign.lastUpdate']}" />
					<p:inputText id="lastUpdate"
						value="#{campaignForm.campaign.lastUpdate}" required="false"
						maxlength="19" />
					<p:message for="lastUpdate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="updatedByUser"
						value="#{text['campaign.updatedByUser']}" />
					<p:inputText id="updatedByUser"
						value="#{campaignForm.campaign.updatedByUser}" required="false"
						maxlength="255" />
					<p:message for="updatedByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="version"
						value="#{text['campaign.version']}" />
					<p:inputText id="version" value="#{campaignForm.campaign.version}"
						required="false" maxlength="255" />
					<p:message for="version" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="enddate"
						value="#{text['campaign.enddate']}" />
					<p:inputText id="enddate" value="#{campaignForm.campaign.enddate}"
						required="false" maxlength="19" />
					<p:message for="enddate" styleClass="help-inline" />


					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{campaignForm.campaign.fund}" id="fund"
						required="true" styleClass="select">
						<f:selectItems value="#{campaignForm.campaign.fund}" />
					</p:selectOneMenu>
					<p:message for="fund" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="goalAmt"
						value="#{text['campaign.goalAmt']}" />
					<p:inputText id="goalAmt" value="#{campaignForm.campaign.goalAmt}"
						required="true" maxlength="255" />
					<p:message for="goalAmt" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['campaign.name']}" />
					<p:inputText id="name" value="#{campaignForm.campaign.name}"
						required="true" maxlength="50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="startdate"
						value="#{text['campaign.startdate']}" />
					<p:inputText id="startdate"
						value="#{campaignForm.campaign.startdate}" required="false"
						maxlength="19" />
					<p:message for="startdate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="tenantId"
						value="#{text['campaign.tenantId']}" />
					<p:inputText id="tenantId"
						value="#{campaignForm.campaign.tenantId}" required="true"
						maxlength="255" />
					<p:message for="tenantId" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{campaignForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{campaignForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty campaignForm.campaign.campaignId}">
							<p:commandButton id="delete" icon="fa fa-trash Fs14 white"
								value="#{text['button.delete']}"
								oncomplete="PF('campaignDlgWv').show();" update="growl" />
						</c:if>

						<p:commandButton action="campaigns" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
							value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['campaignDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{campaignForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgCampaign"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="campaignDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{campaignForm.campaign.name}" />
							<f:param value="#{text['campaignList.campaign']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('campaignDlgWv').hide();"
					action="#{campaignForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('campaignDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

