<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/functions">

    <ui:define name="pageTitle">#{categoryList.pageHeader}</ui:define>

    <ui:param name="menu" value="category"/>
    <ui:param name="bodyId" value="category"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{categoryList.pageHeader}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
                             id="categoryPnl">
                    <sec:authorize access="hasAnyRole('ROLE_DELETE_CATEGORY')"
                                   var="hasRoleDelete"/>
                    <sec:authorize access="hasAnyRole('ROLE_EDIT_CATEGORY')"
                                   var="hasRoleEdit"/>
                    <st:addDialogButton dialog="dlgEditCategoryWv" bttnId="add"/>
                </p:panelGrid>


                <st:dataTable tableVar="category"
                              tableSelection="#{categoryList.selectedCategory}"
                              tableValue="#{categoryList.categories}"
                              tableRowKey="#{category.name}" tableId="dtblCategory">

                    <p:column headerText="#{categoryList.columnHeader}"
                              sortBy="#{category.categoryId}" filterBy="#{category.categoryId}"
                              priority="1">

                        <st:editCommandLink linkLabel="#{category.name}"
                                            dialog="dlgEditCategoryWv" targetItem="#{categoryForm.category}"
                                            value="#{category}">
                            <f:param name="categoryId" value="#{category.categoryId}"/>
                            <f:param name="from" value="list"/>
                            <f:param name="type" value="#{categoryList.type}"/>
                        </st:editCommandLink>

                    </p:column>

                    <c:if test="#{ categoryList.type eq 'FUND'}">
                        <p:column style="width:10%" headerText="" priority="3">
                            <h:panelGroup styleClass="event-box" layout="block"
                                          style="#{'background-color: #'.concat(category.color)}"/>
                        </p:column>

                        <p:column headerText="#{text['fund.acctnum']}" priority="4"
                                  sortBy="#{category.acctnum}"
                                  filterBy="#{category.acctnum}">
                            <h:outputText value="#{category.acctnum}" escape="true"/>
                        </p:column>
                    </c:if>


                    <p:column headerText="#{text['category.descr']}"
                              sortBy="#{category.descr}" filterBy="#{category.descr}"
                              priority="5">
                        <h:outputText value="#{category.descr}" escape="true"/>
                    </p:column>

                    <p:column headerText="#{text['category.active']}"
                              sortBy="#{category.active}" filterBy="#{category.active}"
                              priority="6">
                        <p:selectBooleanCheckbox value="#{category.active}" escape="true"
                                                 disabled="true"/>
                    </p:column>

                    <c:if test="${empty categoryList.type}">
                        <p:column headerText="#{text['category.categoryType']}"
                                  sortBy="#{category.categoryType}"
                                  filterBy="#{category.categoryType}" priority="7">
                            <h:outputText value="#{category.categoryType.value}"
                                          escape="true"/>
                        </p:column>
                    </c:if>

                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="2">
                            <st:deleteCommandLink dialog="categoryDlgWv" value="#{category}"
                                                  targetItem="#{categoryList.selectedCategory}"/>
                        </p:column>
                    </c:if>


                </st:dataTable>
            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:deleteConfirmDialog dialogwidgetVar="categoryDlgWv"
                                deleteActionMethod="#{categoryList.delete}"
                                deleteMessageName="#{categoryList.selectedCategory.name}"
                                deleteMessageCategory="#{text['categoryList.category']}"
                                dialogId="dlgCategory"/>


        <st:dataEntryDialog actionListener="#{categoryForm.save}"
                            dialogwidgetVar="dlgEditCategoryWv"
                            dialogHeader="#{categoryList.itemDetail}"
                            dialogId="dlgEditCategory" fieldfocus="name">
            <ui:include src="/sections/category/categoryEdit.xhtml"/>

        </st:dataEntryDialog>


    </ui:define>

</ui:composition>