<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:composition template="#{categoryForm.template}">


	<ui:define name="pageTitle">#{text['categoryDetail.title']}</ui:define>

	<ui:param name="menu" value="category" />
	<ui:param name="bodyId" value="category" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<o:importConstants type="com.springthought.Constants.CategoryType" />

			<ui:include src="/sections/main/message.xhtml" />

			<h:inputHidden value="#{categoryForm.category.categoryId}"
				id="category_id" />
			<h:inputHidden value="#{categoryForm.category.version}" id="version" />

			<h:inputHidden value="#{categoryForm.from}" id="from" />

			<h:inputHidden value="#{categoryForm.template}" id="template" />

			<p:panel style="width: 98%; margin: 0 auto">

				<c:if test="#{categoryForm.from ne 'maintform'}">

					<f:facet name="header">
						<h:outputText value="#{text['categoryDetail.title']}" />
					</f:facet>

					<ui:include src="/sections/titlebar/actionButtons.xhtml" />


				</c:if>

				<shared:instructionText
					textHeader="#{text['categoryDetail.heading']}"
					textSummary="#{text['categoryDetail.message']}" />


				<ui:include src="/sections/category/categoryEdit.xhtml" />
				<f:facet name="footer">

					<h:panelGroup layout="block" style="width:100%">

						<c:choose>

							<c:when test="#{categoryForm.from ne 'maintform'}">

								<sec:authorize access="hasAnyRole('ROLE_EDIT_CATEGORY')"
									var="hasRoleEdit" />

								<p:splitButton value="#{text['button.save']}"
									actionListener="#{categoryForm.save}" id="save"
									styleClass="#{hasRoleEdit ? '' : 'hidden'}" ajax="false"
									icon="fa fa-floppy-o Fs14 white" onclick="setConfirmUnload(false);">

									<p:menuitem value="#{text['button.saveReturn']}"
										action="#{categoryForm.save}" icon="ui-icon-newwin">
									</p:menuitem>


								</p:splitButton>
							</c:when>
							<c:otherwise>
								<p:commandButton id="cmdSaveAndClose"
									value="#{text['button.saveReturn']}"
									actionListener="#{categoryForm.saveAndClose}"
									icon="ui-icon-newwin" ajax="true" partialSubmit="true" />
							</c:otherwise>

						</c:choose>

						<c:if test="${not empty categoryForm.category.categoryId}">


							<sec:authorize access="hasAnyRole('ROLE_DELETE_CATEGORY')"
								var="hasRoleDelete" />

							<p:commandButton id="delete" icon="fa fa-trash Fs14 white"
								value="#{text['button.delete']}"
								oncomplete="PF('categoryDlgWv').show();" update="growl"
								styleClass="#{hasRoleDelete ? '' : 'hidden'}" />
						</c:if>

						<c:choose>
							<c:when test="#{categoryForm.from ne 'maintform'}">
								<p:commandButton action="#{categoryForm.go}" immediate="true"
									id="cancel" styleClass="btn" ajax="false"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}" />
							</c:when>
							<c:otherwise>
								<p:commandButton id="close" styleClass="btn"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}"
									actionListener="#{categoryForm.close}" ajax="true"
									immediate="true" partialSubmit="true" />
							</c:otherwise>
						</c:choose>
					</h:panelGroup>

				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['categoryDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{categoryForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgCategory"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="categoryDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{categoryForm.category.name}" />
							<f:param value="#{text['categoryList.category']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('categoryDlgWv').hide();"
					action="#{categoryForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('categoryDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>
</html>
