<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['groupDetail.title']} </ui:define>

	<ui:param name="menu" value="group" />
	<ui:param name="bodyId" value="group" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">



			<ui:include src="/sections/main/message.xhtml" />


			<p:panel styleClass="Container96 Responsive100"
				header="#{text['createCommunication.title']}" id="toppnl">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText
					textHeader="#{text['createCommunication.heading']}"
					textSummary="#{text['createCommunication.message']}" />

				<p:wizard flowListener="#{communicationForm.onFlowProcess}" id="wiz"
					widgetVar="wvWiz" showNavBar="false">

					<p:tab id="group">

						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="1" style="display:block;font-size: 150%;" />
								<h:outputText value="Select Group(s)" />
							</h:panelGroup>
						</f:facet>

						<shared:instructionText
							textSummary="#{text['createCommunication.selectGroup']}" />


						<p:inputText styleClass="hidden">
							<f:validator validatorId="AtLeastOneSelectedValidator" />
							<f:attribute name="Selection"
								value="#{communicationForm.selectedGroups}" />
							<f:attribute name="ErrorMessage" value="errors.selectOneGroup" />
						</p:inputText>



						<p:fragment>

							<p:dataTable id="dtblGroup" var="group"
								value="#{communicationForm.groups}" editable="false"
								widgetVar="groupsWV" paginator="true" paginatorPosition="bottom"
								rows="25"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="25,50,100" rowKey="#{group.name}"
								selection="#{communicationForm.selectedGroups}" reflow="true">

								<p:column selectionMode="multiple"
									style="width:5%;text-align:center">
								</p:column>


								<p:ajax event="rowSelectCheckbox"
									listener="#{communicationForm.onRowSelect}"
									process="@(#dtblGroup)" partialSubmit="true" />

								<p:ajax event="rowUnselectCheckbox"
									listener="#{communicationForm.onRowUnSelect}"
									process="@(#dtblGroup)" partialSubmit="true" />

								<p:ajax event="toggleSelect" process="@(#dtblGroup)"
									partialSubmit="true"
									listener="#{communicationForm.onToggleSelect}" />

								<p:column headerText="#{text['group.name']}"
									sortBy="#{group.name}" filterBy="#{group.name}">
									<h:commandLink action="#{groupForm.edit}" value="#{group.name}"
										ajaX="false" styleClass="ui-link"
										onmousedown="setConfirmUnload(false);">
										<f:param name="groupId" value="#{group.groupId}" />
									</h:commandLink>
								</p:column>

								<p:column headerText="#{text['category.categoryType']}"
									sortBy="#{group.category.name}" filterMatchMode="startsWith"
									filterBy="#{group.category.name}">

									<f:facet name="filter">
										<p:selectOneMenu onchange="PF('groupsWV').filter()"
											styleClass="Wid20">
											<f:selectItem itemLabel="#{text['button.selectOne']}"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{groupForm.dataService.categories}"
												var="ct" itemLabel="#{ct.name}" itemValue="#{ct.name}" />
										</p:selectOneMenu>
									</f:facet>

									<h:outputText value="#{group.category.name}" />

								</p:column>

							</p:dataTable>


						</p:fragment>



						<!-- 
					
						<ui:include src="/sections/communication/selectGroup.xhtml"/>	 -->


					</p:tab>

					<p:tab id="messageSelection">
						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="2" style="display:block;font-size: 150%;" />
								<h:outputText value="Select Message" />
							</h:panelGroup>
						</f:facet>

						<div class="Wrapper">
							<div class="EmptyBox20" />
							<div class="Responsive100 Container100">
								<p:fragment>
									<p:selectOneRadio id="type" value="#{communicationForm.type}"
										layout="responsive" columns="2" style="font-size: 125%">

										<sec:authorize access="hasAnyRole('ROLE_EDIT_MESSAGE')"	var="hasRoleEdit" />

										<c:if test="#{hasRoleEdit}">
											<f:selectItem
												itemLabel="#{text['communication.createMessage']}"
												itemValue="1" />
										</c:if>

										<f:selectItem
											itemLabel="#{text['communication.selectMessage']}"
											itemValue="2" />

										<p:ajax event="click" global="false"
											listener="#{communicationForm.onMessageTypeChange}"
											process="@(#type)" partialSubmit="true" />

									</p:selectOneRadio>
								</p:fragment>
							</div>


							<p:outputPanel 
								styleClass="Responsive100 Container100" 
								layout="block" id="messagepnl">

								<p:autoUpdate />
								<!-- Create a New Message -->

								<p:panel rendered="#{communicationForm.type eq '1'}">

									<p:focus context="pnlCreate" for="name" />

									<p:panelGrid id="pnlCreate" layout="grid" columns="1">

										<p:outputLabel styleClass="control-label" for="name"
											value="#{text['message.name']}" />
										<p:inputText id="name"
											value="#{communicationForm.message.name}" required="true"
											maxlength="50" styleClass="Wid30" />

										<p:message for="name" />

										<o:validateOneOrMore id="oneOrMore"
											components="phone text email"
											message="#{text['errors.oneOrMore']}" />


										<p:fieldset legend="#{text['messageDetail.selectDelivery']}">

											<p:panelGrid layout="grid" columns="6">
												<p:outputLabel styleClass="control-label" for="phone"
													value="#{text['message.phone']}" />
												<p:selectBooleanButton
													value="#{communicationForm.message.phone}" id="phone"
													onLabel="#{text['button.yes']}"
													offLabel="#{text['button.no']}"
													onIcon="fa fa-check Fs14 white"
													offIcon="fa fa-remove Fs14 white" style="width:65px" />


												<p:outputLabel styleClass="control-label" for="text"
													value="#{text['message.text']}" />
												<p:selectBooleanButton
													value="#{communicationForm.message.text}" id="text"
													onLabel="#{text['button.yes']}"
													offLabel="#{text['button.no']}"
													onIcon="fa fa-check Fs14 white"
													offIcon="fa fa-remove Fs14 white" style="width:65px" />


												<p:outputLabel styleClass="control-label" for="email"
													value="#{text['message.email']}" />

												<p:selectBooleanButton
													value="#{communicationForm.message.email}"
													onLabel="#{text['button.yes']}"
													offLabel="#{text['button.no']}"
													onIcon="fa fa-check Fs14 white"
													offIcon="fa fa-remove Fs14 white" style="width:65px"
													id="email" />
												<p:message for="oneOrMore" />

											</p:panelGrid>

										</p:fieldset>
									</p:panelGrid>

								</p:panel>

								<!-- Select Existing Message -->
								<p:panel rendered="#{communicationForm.type eq '2'}">


									<p:inputText styleClass="hidden">
										<f:validator validatorId="AtLeastOneSelectedValidator" />
										<f:attribute name="Selection"
											value="#{communicationForm.selectedMessage}" />
										<f:attribute name="ErrorMessage"
											value="errors.selectOneMessage" />
									</p:inputText>

									<p:fragment>
										<p:dataTable id="dtblMessage" var="message"
											value="#{communicationForm.messages}" editable="false"
											widgetVar="messagesWV" paginator="true"
											paginatorPosition="bottom" rows="25"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											rowsPerPageTemplate="25,50,100" rowKey="#{message.messageId}"
											selection="#{communicationForm.selectedMessage}"
											reflow="true">

											<p:ajax event="rowSelectRadio"
												listener="#{communicationForm.radioSelected}"
												partialSubmit="true" process="@(#dtblMessage)" />

											<p:column selectionMode="single" styleClass="Wid10" />

											<p:column headerText="#{text['message.name']}"
												sortBy="#{message.messageId}" filterBy="#{message.name}">
												<h:outputText value="#{message.name}" />
											</p:column>

											<p:column headerText="#{text['message.type']}"
												sortBy="#{message.phone}" styleClass="Wid10 TexAlCenter">


												<div class="TexAlCenter">

													<h:panelGroup rendered="#{message.phone}">
														<i class="fa fa-phone Fs22"></i>
													</h:panelGroup>

													<h:panelGroup rendered="#{message.text}">
														<i class="fa fa-mobile Fs22"></i>
													</h:panelGroup>

													<h:panelGroup rendered="#{message.email}">
														<i class="fa fa-envelope-o Fs22"></i>
													</h:panelGroup>
												</div>

											</p:column>

											<p:column headerText="#{text['message.descr']}"
												sortBy="#{message.descr}" filterBy="#{message.descr}">
												<h:outputText value="#{message.descr}" escape="true" />
											</p:column>
										</p:dataTable>

									</p:fragment>

								</p:panel>


							</p:outputPanel>
						</div>

					</p:tab>

					<p:tab id="createreview">


						<f:facet name="title">
							<h:panelGroup id="temp"
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="3" style="display:block;font-size: 150%;" />

								<p:outputPanel >
									<p:autoUpdate />
									<h:outputText
										value="#{communicationForm.type eq '1' ? 'Create' : 'Review' } Message" />
								</p:outputPanel>

							</h:panelGroup>
						</f:facet>

						<p:panelGrid columns="1" layout="grid">

							<p:focus context="createmessagepnl" for="name_in" />


							<p:panel rendered="#{communicationForm.type eq '1'}">

								<p:panelGrid columns="1" layout="grid" id="createmessagepnl">


									<p:outputLabel styleClass="control-label"
										value="#{text['message.name']}" for="name_in" />

									<p:inputText value="#{communicationForm.message.name}"
										id="name_in" styleClass="Wid30" />

									<p:outputLabel styleClass="control-label"
										value="#{text['message.type']}" />

									<h:panelGroup>

										<h:panelGroup rendered="#{communicationForm.message.phone}">
											<i class="fa fa-phone Fs22"></i>
										</h:panelGroup>

										<h:panelGroup rendered="#{communicationForm.message.text}">
											<i class="fa fa-mobile Fs22"></i>
										</h:panelGroup>

										<h:panelGroup rendered="#{communicationForm.message.email}">
											<i class="fa fa-envelope-o Fs22"></i>
										</h:panelGroup>
									</h:panelGroup>

									<p:outputLabel styleClass="control-label" for="sender"
										value="#{text['message.from']}" />
									<p:inputText id="sender"
										value="#{communicationForm.message.sender}" maxlength="255" />

									<p:outputLabel styleClass="control-label" for="lang"
										value="#{text['message.lang']}" />

									<p:selectOneMenu value="#{communicationForm.message.lang}"
										id="lang" effect="fade" styleClass="Wid10"
										style="color:black;">
										<f:selectItems value="#{communicationForm.languages}" var="l"
											itemValue="#{l}" itemLabel="#{l.value}" />
									</p:selectOneMenu>

									<p:outputLabel styleClass="control-label" for="voice"
										value="#{text['message.voice']}" />

									<p:selectOneMenu value="#{communicationForm.message.voice}"
										id="voice" effect="fade" styleClass="Wid10">
										<f:selectItems value="#{communicationForm.voices}" var="v"
											itemValue="#{v}" itemLabel="#{v.value}" />
									</p:selectOneMenu>


									<p:outputLabel styleClass="control-label" for="msg"
										value="#{text['message.message']}" />

									<p:editor id="msg" value="#{communicationForm.message.message}"
										widgetVar="wvmsg" required="true" maxlength="65535" />

								</p:panelGrid>


							</p:panel>

							<p:panel rendered="#{communicationForm.type eq '2'}">

								<p:panelGrid columns="1" layout="grid">

									<p:outputLabel styleClass="control-label"
										value="#{text['message.name']}" for="name_ro" />

									<p:inputText value="#{communicationForm.selectedMessage.name}"
										readonly="true" id="name_ro" styleClass="Wid30" />

									<p:outputLabel styleClass="control-label"
										value="#{text['message.type']}" />

									<h:panelGroup>

										<h:panelGroup
											rendered="#{communicationForm.selectedMessage.phone}">
											<i class="fa fa-phone Fs22"></i>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{communicationForm.selectedMessage.text}">
											<i class="fa fa-mobile Fs22"></i>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{communicationForm.selectedMessage.email}">
											<i class="fa fa-envelope-o Fs22"></i>
										</h:panelGroup>
									</h:panelGroup>

									<p:outputLabel styleClass="control-label" for="sender_ro"
										value="#{text['message.from']}" />
									<p:inputText id="sender_ro"
										value="#{communicationForm.selectedMessage.sender}"
										maxlength="255" readonly="true" />

									<p:outputLabel styleClass="control-label" for="lang_ro"
										value="#{text['message.lang']}" />

									<p:selectOneMenu
										value="#{communicationForm.selectedMessage.lang}" id="lang_ro"
										effect="fade" styleClass="Wid10" disabled="true"
										style="color:black;">
										<f:selectItems value="#{communicationForm.languages}" var="l"
											itemValue="#{l}" itemLabel="#{l.value}" />
									</p:selectOneMenu>

									<p:outputLabel styleClass="control-label" for="voice_ro"
										value="#{text['message.voice']}" />

									<p:selectOneMenu
										value="#{communicationForm.selectedMessage.voice}"
										id="voice_ro" effect="fade" styleClass="Wid10" disabled="true">
										<f:selectItems value="#{communicationForm.voices}" var="v"
											itemValue="#{v}" itemLabel="#{v.value}" />
									</p:selectOneMenu>


									<p:outputLabel styleClass="control-label" for="msg_ro"
										value="#{text['message.message']}" />

									<p:editor id="msg_ro"
										value="#{communicationForm.selectedMessage.message}"
										widgetVar="wvmsg" required="false" maxlength="65535"
										disabled="true" />

								</p:panelGrid>
							</p:panel>



						</p:panelGrid>
					</p:tab>



					<p:tab id="send">
						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="4" style="display:block;font-size: 150%;" />
								<h:outputText value="Send Message" />
							</h:panelGroup>
						</f:facet>

						<div class="EmptyBox20" />
						<div class="Responsive100 Container100">

							<p:fragment>
								<p:selectOneRadio id="sendtype"
									value="#{communicationForm.send}" layout="responsive"
									columns="2" style="font-size: 125%">
									<f:selectItem itemLabel="Send Later" itemValue="1" />
									<f:selectItem itemLabel="Send Now" itemValue="2" />
									<p:ajax event="click" global="false"
										listener="#{communicationForm.onSendTypeChange}"
										process="@(#sendtype)" partialSubmit="true" />
								</p:selectOneRadio>
							</p:fragment>
						</div>

						<p:focus for="startdate" context="opsend" />

						<p:outputPanel  id="opsend">
						
							<p:autoUpdate />

							<p:panelGrid columns="1" layout="grid"
								rendered="#{communicationForm.send eq '1'}">

								<p:outputLabel styleClass="control-label" for="startdate"
									value="Schedule Message Delivery" />

								<p:calendar id="startdate"
									value="#{communicationForm.startDate}"
									pattern="MM/dd/yyyy hh:mm a" required="true" showOn="button"
									stepMinute="15" minMinute="0"  mask="true" maskAutoClear="true"
									widgetVar="startDateWv" showButtonPanel="true">

									<p:ajax event="dateSelect" process="@ startdate"
										listener="#{communicationForm.handleDateSelect}"
										global="false" />

								</p:calendar>

								<p:message for="startdate" />

							</p:panelGrid>

						</p:outputPanel>

					</p:tab>

				</p:wizard>

				<p:outputPanel 
					styleClass="Responsive100 Container100" 
					layout="block">
					
					<p:autoUpdate />

					<p:panelGrid layout="grid" columns="1">

						<div class="Fleft">
							<p:commandButton type="button" onclick="PF('wvWiz').back();"
								value="#{text['button.previous']}"
								icon="fa fa-hand-o-left Fs14 white"
								disabled="#{communicationForm.currentStep eq 'group'}"
								global="false" />

						</div>
						<div class="Fright">
							<c:choose>
								<c:when test="#{communicationForm.currentStep ne 'send'}">
									<p:commandButton type="button" onclick="PF('wvWiz').next();"
										value="#{text['button.next']}"
										icon="fa fa-hand-o-right Fs14 white"
										disabled="#{communicationForm.currentStep eq 'send'}"
										global="false" />
								</c:when>
								<c:otherwise>

									<p:commandButton value="#{text['button.save']}"
										actionListener="#{communicationForm.save}" id="save"
										ajax="true" icon="fa fa-floppy-o Fs14 white" update="@form"
										process="@form" validateClient="true" />

									<!-- 
									<p:commandButton value="Send Mail"
										actionListener="#{communicationForm.sendMail}" id="sendMail"
										ajax="true" icon="fa fa-floppy-o Fs14 white" update="@form"
										process="@form" validateClient="true" /> -->


								</c:otherwise>
							</c:choose>

						</div>


					</p:panelGrid>

				</p:outputPanel>
			</p:panel>

		</h:form>
	</ui:define>



</ui:composition>