<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['connectDetail.title']} </ui:define>

	<ui:param name="menu" value="connect" />
	<ui:param name="bodyId" value="connect" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


			<ui:include src="/sections/main/message.xhtml" />

			<st:panel header="#{text['connectDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<sec:authorize access="hasAnyRole('ROLE_DELETE_CNNCTN_ACT')"
					var="hasRoleDelete" />

				<sec:authorize access="hasAnyRole('ROLE_EDIT_CNNCTN_ACT')"
					var="hasRoleEdit" />


				<st:addButton from="list" actionMethod="#{connectForm.edit}" />

		
				<st:dataTable tableId="dtblConnect" tableVar="connect"
					tableSelection="#{connectList.selectedConnect}"
					tableValue="#{connectList.connections}"
					tableRowKey="#{connect.connectId}">

					<p:column headerText="#{text['connect.action']}"
						sortBy="#{connect.connectId}" filterBy="#{connect.connectId}"
						priority="1">
						<h:commandLink action="#{connectForm.edit}"
							value="#{connect.action.label}" ajaX="false" styleClass="ui-link">
							<f:param name="connectId" value="#{connect.connectId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['connect.instructions']}" priority="7">
						<h:outputText value="#{connect.instructions}" escape="true" />
					</p:column>

					<p:column headerText="#{text['connect.status']}"
						sortBy="#{connect.status}" filterBy="#{connect.status}"
						priority="3">
						<h:outputText value="#{connect.status.label}" escape="true" />
					</p:column>

					<p:column headerText="#{text['person.personId']}"
						sortBy="#{connect.individual}" filterBy="#{connect.individual}"
						priority="4">
						<h:outputText value="#{connect.individual.name}" escape="true" />
					</p:column>

					<p:column headerText="#{text['connect.assignee']}"
						sortBy="#{connect.assignee}" filterBy="#{connect.assignee}"
						priority="6">
						<h:outputText value="#{connect.assignee.name}" escape="true" />
					</p:column>


					<p:column headerText="#{text['connect.completeDate']}"
						sortBy="#{connect.completeDate}"
						filterBy="#{connect.completeDate}" priority="5">
						<h:outputText value="#{connect.completeDate}" escape="true">
							<f:convertDateTime pattern="MM/dd/yyyy"
								timeZone="America/New_York" />
						</h:outputText>
					</p:column>

					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="connectDlgWv" value="#{connect}"
								targetItem="#{connectList.selectedConnect}" />
						</p:column>
					</c:if>

				</st:dataTable>


			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">



		<st:deleteConfirmDialog dialogId="dlgConnect"
			dialogwidgetVar="connectDlgWv"
			deleteMessageName="#{connectList.selectedConnect.action.label}"
			deleteMessageCategory="#{text['connectList.connect']}"
			deleteActionMethod="#{connectList.delete}" />

		<!-- 

		<p:confirmDialog id="dlgConnect"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="connectDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{connectList.selectedConnect.action}" />
						<f:param value="#{text['connectList.connect']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="connectDlgWv.hide();"
				actionListener="#{connectList.delete}" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="connectDlgWv.hide();" type="button" />

		</p:confirmDialog>
		 -->

	</ui:define>

</ui:composition>