<ui:composition template="/templates/mainMenu.xhtml"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
				xmlns:sec="http://www.springframework.org/security/tags">


    <ui:define name="pageTitle">#{text['connectDetail.title']}</ui:define>

    <ui:param name="menu" value="connect"/>
    <ui:param name="bodyId" value="connect"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>


            <st:panel header="#{text['connectDetail.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <p:tabView id="tbvConnects" dynamic="true" widgetVar="wvTbvConnects"
                           prependId="false" binding="#{connectForm.connectTabView}">

                    <p:ajax event="tabChange" listener="#{connectForm.onTabChange}"
                            update="@(#tbvConnects) @(#delete) @(#pnlgrpConnect)"
                            global="false"/>

                    <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                        <p:tab title="#{text['connect.assign']}" id="tbAssign"
                               rendered="#{connectForm.from eq 'list'}">
                            <ui:include src="/sections/connect/assignConnection.xhtml"/>
                        </p:tab>
                    </sec:authorize>

                    <p:tab title="#{text['connect.myConnection']}" id="tbMyConnection"
                           rendered="#{connectForm.from ne 'list'}">
                        <ui:include src="/sections/connect/listConnections.xhtml"/>
                    </p:tab>

                    <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                        <p:tab title="#{text['connect.allConnection']}" id="tbConnecitons"
                               rendered="#{connectForm.from eq 'list'}">
                            <ui:include src="/sections/connect/listConnections.xhtml"/>
                        </p:tab>
                    </sec:authorize>


                    <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                        <p:tab title="#{text['connect.connected']}" id="tbConnected"
                               rendered="#{connectForm.from eq 'list'}">
                            <ui:include src="/sections/connect/listConnections.xhtml"/>
                        </p:tab>
                    </sec:authorize>


                </p:tabView>

                <f:facet name="footer">
                    <h:panelGroup id="pnlgrpConnect">
                        <p:splitButton value="#{text['button.save']}"
                                       actionListener="#{connectForm.save}" id="save"
                                       styleClass="btn btn-primary" ajax="false"
                                       icon="fa fa-floppy-o Fs14 white"
                                       rendered="#{connectForm.currentTab ne 'tbMyConnection'}">
                            <p:menuitem value="#{text['button.saveReturn']}"
                                        action="#{connectForm.save}" icon="ui-icon-newwin">
                            </p:menuitem>
                        </p:splitButton>

                        <c:if test="${not empty connectForm.connect.connectId}">
                            <p:commandButton value="#{text['button.delete']}" id="delete"
                                             icon="fa fa-trash Fs14 white"
                                             oncomplete="PF('connectDlgWv').show();"
                                             disabled="#{connectForm.currentTab ne 'tbAssign'}"/>
                        </c:if>

                        <c:if test="${connectForm.from eq 'list'}">
                            <p:commandButton value="#{text['button.cancel']}"
                                             action="connections" immediate="true" id="cancel"
                                             styleClass="btn" ajax="false"
                                             icon="fa fa-hand-o-left Fs14 white"/>
                        </c:if>

                    </h:panelGroup>
                </f:facet>

            </st:panel>

<!--
            <st:helpdialog dlgid="dlgHelp"
                           title="#{text['connectDetail.heading']}" widgetId="dlgHelpWv">
                <h:outputText value="#{connectForm.helpMessage}"
                              style="font-size: 120% !important;"/>
            </st:helpdialog>-->


            <ui:define name="confirmDialog">


                <st:deleteConfirmDialog dialogId="dlgConnect"
                                        dialogwidgetVar="connectDlgWv"
                                        deleteMessageName="#{connectForm.connect.action}"
                                        deleteMessageCategory="#{text['connectList.connect']}"
                                        deleteActionMethod="#{connectForm.delete}"/>


            </ui:define>
        </h:form>
    </ui:define>

</ui:composition>

