<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['contributionDetail.title']} </ui:define>

	<ui:param name="menu" value="contribution" />
	<ui:param name="bodyId" value="contribution" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['contributionDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText
					textHeader="#{text['contributionDetail.heading']}"
					textSummary="#{text['contributionList.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="contributionPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
						oncomplete="PF('contributionDlgWv').show();"
						disabled="#{!contributionList.checked}" update="dtblContribution" />
					<p:commandButton action="#{contributionForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}" />
				</p:panelGrid>

				<p:dataTable id="dtblContribution" var="contribution"
					value="#{contributionList.contributions}" editable="false"
					widgetVar="contributionsWV" paginator="true"
					paginatorPosition="bottom" rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{contribution.name}"
					selection="#{contributionList.selectedContribution}">


					<p:ajax event="rowSelectRadio"
						listener="#{contributionList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgContribution" />

					<p:column selectionMode="single" style="width:2%" />



					<p:column headerText="#{text['contribution.contributionId']}"
						sortBy="#{contribution.contributionId}"
						filterBy="#{contribution.contributionId}">
						<h:commandLink action="#{contributionForm.edit}"
							value="#{contribution.name}" ajaX="false" styleClass="ui-link">
							<f:param name="contributionId"
								value="#{contribution.contributionId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>


					<p:column headerText="#{text['contribution.amt']}"
						sortBy="#{contribution.amt}" filterBy="#{contribution.amt}">
						<h:outputText value="#{contribution.amt}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.batch']}"
						sortBy="#{contribution.batch}" filterBy="#{contribution.batch}">
					</p:column>

					<p:column headerText="#{text['contribution.checkNum']}"
						sortBy="#{contribution.checkNum}"
						filterBy="#{contribution.checkNum}">
						<h:outputText value="#{contribution.checkNum}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.currencyType']}"
						sortBy="#{contribution.currencyType}"
						filterBy="#{contribution.currencyType}">
						<h:outputText value="#{contribution.currencyType}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.dateGiven']}"
						sortBy="#{contribution.dateGiven}"
						filterBy="#{contribution.dateGiven}">
						<h:outputText value="#{contribution.dateGiven}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.envelopeNum']}"
						sortBy="#{contribution.envelopeNum}"
						filterBy="#{contribution.envelopeNum}">
						<h:outputText value="#{contribution.envelopeNum}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.fundId']}"
						sortBy="#{contribution.fundId}" filterBy="#{contribution.fundId}">
						<h:outputText value="#{contribution.fundId}" escape="true" />
					</p:column>

					<p:column headerText="#{text['contribution.household']}"
						sortBy="#{contribution.household}"
						filterBy="#{contribution.household}">
					</p:column>

					<p:column headerText="#{text['contribution.person']}"
						sortBy="#{contribution.person}" filterBy="#{contribution.person}">
					</p:column>

				

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgContribution"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="contributionDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{contributionList.selectedContribution.name}" />
						<f:param value="#{text['contributionList.contribution']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('contributionDlgWv').hide();"
				actionListener="#{contributionList.delete}"
				update=":mainFrm:dtblContribution :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('contributionDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>