<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">


    <ui:define name="pageTitle">#{text['contributionDetail.title']}</ui:define>

    <ui:param name="menu" value="contribution"/>
    <ui:param name="bodyId" value="contribution"/>

    <ui:define name="head">

        <script type="text/javascript">

            /* <![CDATA[ */

            function scrollToBottom() {
                $('.ui-datatable-scrollable-body').scrollTop(100000);
            }

            function focusOnName() {
                $("input[name*='ccPnl:autoperson_input']").focus();
            }

            /* ]]> */

        </script>
    </ui:define>


    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel id="ccPnl" header="#{text['contributionDetail.title']} -  #{contributionForm.batch.name}">

                <sec:authorize access="hasAnyRole('ROLE_EDIT_CONTRIBUTION')"
                               var="hasRoleEdit"/>

                <sec:authorize access="hasAnyRole('ROLE_DELETE_CONTRIBUTION')"
                               var="hasRoleDelete"/>

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <p:defaultCommand target="addContrib" scope="contribEntry"/>


                <p:focus for="autoperson"/>

                <div class="Container100">


                    <div class="Container50 Fleft">

                        <p:panelGrid styleClass="ui-panelgrid-blank Wid100"
                                     id="contribEntry" columns="2">

                            <p:outputLabel value="#{text['person.name']}" for="autoperson"/>

                            <p:autoComplete id="autoperson"
                                            value="#{contributionForm.entryContribution.person}"
                                            completeMethod="#{contributionForm.completePerson}" var="person"
                                            itemLabel="#{person.name}" itemValue="#{person}"
                                            groupBy="#{contributionForm.getPersonGroup(person)}"
                                            scrollHeight="250" minQueryLength="1"
                                            converter="#{personConverter}" required="true" dropdown="false"
                                            forceSelection="true" autoSelection="true" styleClass="Wid50">
                            </p:autoComplete>

                            <h:outputText/>
                            <p:message for="autoperson" id="msgAutoPerson"/>


                            <p:outputLabel value="#{text['contribution.amt']}" for="amt"/>

                            <p:inputNumber id="amt"
                                           value="#{contributionForm.entryContribution.amount}" required="true"
                                           validatorMessage="#{text['errors.batchTotal.max']}"
                                           onkeydown="if (event.keyCode == 13) focusOnName();" styleClass="Wid50">
                                <f:validateDoubleRange maximum="999999.99"/>
                            </p:inputNumber>

                            <h:outputText/>

                            <p:message for="amt" id="msgAmt"/>

                            <p:outputLabel value="#{text['fund.fundId']}" for="category"/>

                            <p:selectOneMenu
                                    value="#{contributionForm.entryContribution.category}"
                                    id="category" required="true" converter="#{categoryConverter}" styleClass="Wid50">
                                <f:selectItem itemLabel="#{text['button.selectOne']}"
                                              itemValue=""/>
                                <f:selectItems
                                        value="#{contributionForm.dataService.categoryFunds}" var="cat"
                                        itemLabel="#{cat.name}" itemValue="#{cat}"/>

                            </p:selectOneMenu>

                            <h:outputText/>
                            <p:message for="category" id="msgCategory"/>


                            <p:outputLabel value="#{text['contribution.note']}" for="note"/>
                            <p:inputText id="note"
                                         value="#{contributionForm.entryContribution.note}"
                                         required="false" maxlength="255"
                                         onkeydown="if (event.keyCode == 13) focusOnName();" styleClass="Wid90"/>

                            <h:outputText/>
                            <p:message for="note" id="msgNote"/>


                            <p:outputLabel value="#{text['contribution.method']}" for="method"/>

                            <p:selectOneMenu value="#{contributionForm.entryContribution.method}" effect="fade"
                                             id="method" required="true" styleClass="Wid50">
                                <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
                                <f:selectItems value="#{contributionForm.dataService.contributionMethods}" var="method"
                                               itemValue="#{method}" itemLabel="#{method.value}"/>
                            </p:selectOneMenu>

                            <h:outputText/>
                            <p:message for="method" id="msgMethod"/>


                            <h:outputText/>


                            <p:commandButton id="addContrib" ajax="true"
                                             icon="fa fa-plus Fs14 white"
                                             value="#{text['button.addContribution']}" partialSubmit="true"
                                             actionListener="#{contributionForm.reinitContribution}"
                                             global="false"
                                             process="@ contribEntry"
                                             oncomplete="scrollToBottom();focusOnName();"
                                             update=" @(.myTable) @ contribEntry @ pnlgrdContributionSum"
                                             validateClient="false"/>


                        </p:panelGrid>
                    </div>

                    <div class="Container40" style="border-left: 1px solid #00AEEF">

                        <div class="Wid100">
                            <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100 pnlgrdContributionSum" id="pnlgrdContributionSum">


                                <p:donutChart model="#{contributionForm.donutModel}" style="width: 50%; height: 50%;"
                                              id="dntchtFunds" rendered="#{contributionForm.batch.contributions.size() > 0 }"/>

                                <p:panelGrid styleClass="ui-panelgrid-blank Wid100"
                                            id="pnlgrdTotal">

                                    <p:row>

                                        <p:column styleClass="TexAlCenter">
                                            <h:outputFormat value="#{text['contribution.batch.entries']}"
                                                            style="font-weight: bold;">
                                                <f:param value="#{contributionForm.batch.contributions.size()}"/>
                                            </h:outputFormat>
                                        </p:column>
                                        <p:column styleClass="TexAlCenter">
                                            <h:outputText value="#{contributionForm.actualBatchTotal}"
                                                          style="font-weight: bold;">
                                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US"/>
                                            </h:outputText>
                                        </p:column>
                                    </p:row>

                                </p:panelGrid>
                            </p:panelGrid>
                        </div>


                    </div>
                </div>

                <p:panelGrid columns="1" styleClass="ui-panelgrid-blank" style="clear:both;">
                    <p:commandLink global="false" update="@ otpBatchDetails @this" partialSubmit="true" ajax="true"
                                   process="@this"
                                   value="#{(contributionForm.showBatchDetails) ?   text['contribution.hideBatchDetails'] : text['contribution.showBatchDetails']}"
                                   actionListener="#{contributionForm.toggleBatchDetails}" styleClass="Fs12"
                                   immediate="true"/>
                </p:panelGrid>

                <p:outputPanel id="otpBatchDetails">

                    <st:dataTable tableId="dtblContrib" tableVar="cntrib"
                                  tableSelection="#{contributionForm.selectedContribution}"
                                  tableValue="#{contributionForm.batch.contributions}"
                                  tableRowKey="#{cntrib.UID}" tableShow="#{contributionForm.showBatchDetails}">

                        <p:column headerText="#{text['person.name']}" priority="1">
                            <st:editCommandLink linkLabel="#{cntrib.person.name}"
                                                dialog="dlgEditContributionWv"
                                                targetItem="#{contributionForm.selectedContribution}"
                                                value="#{cntrib}" toolTip="#{cntrib.note}">
                            </st:editCommandLink>
                        </p:column>

                        <p:column headerText="#{text['fund.fundId']}" priority="4">
                            <h:outputText value="#{cntrib.category.name}"/>

                        </p:column>

                        <p:column headerText="#{text['contribution.amt']}" priority="2">
                            <h:outputText value="$ #{cntrib.amount}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </p:column>

                        <p:column style="width: 10%;" priority="3">
                            <st:deleteCommandLink dialog="contributionDlgWv" value="#{cntrib}"
                                                  targetItem="#{contributionForm.selectedContribution}"/>
                        </p:column>

                    </st:dataTable>

                </p:outputPanel>

                <f:facet name="footer">
                    <h:panelGroup>
                        <p:splitButton value="#{text['button.save']}"
                                       actionListener="#{contributionForm.save}" id="save" ajax="true"
                                       icon="fa fa-floppy-o Fs14 white" immediate="true"
                                       partialSubmit="true" process="@form" onclick="setConfirmUnload(false);">
                            <p:menuitem value="#{text['button.saveReturn']}"
                                        action="#{contributionForm.save}" icon="ui-icon-newwin"
                                        immediate="true">
                            </p:menuitem>
                        </p:splitButton>


                        <p:commandButton action="batches" immediate="true" id="cancel"
                                         ajax="false" icon="fa fa-hand-o-left Fs14 white"
                                         value="#{text['button.cancel']}"/>
                    </h:panelGroup>
                </f:facet>
            </st:panel>


        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:dataEntryDialog
                actionListener="#{contributionForm.updateContribution}"
                dialogwidgetVar="dlgEditContributionWv"
                dialogHeader="#{text['contribution.contributionId']}"
                dialogId="dlgEdiCcontribution" fieldfocus="name"
                closeListener="#{contributionForm.handleCloseDialog}">

            <ui:include src="/sections/contribution/contributionEdit.xhtml"/>

        </st:dataEntryDialog>

        <st:deleteConfirmDialog dialogwidgetVar="contributionDlgWv"
                                deleteActionMethod="#{contributionForm.deleteContribution}"
                                deleteMessageName="[#{contributionForm.selectedContribution.person.name.concat('| ').concat(contributionForm.selectedContribution.category.name).concat(' | $ ').concat(contributionForm.selectedContribution.amount)}]"
                                deleteMessageCategory="#{text['contributionList.contribution']}"
                                dialogId="dlgContribution" updateAfterDelete="@(.pnlgrdContributionSum)"/>

    </ui:define>

</ui:composition>

