<ui:composition template="/templates/mainNoMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['errorPage.title']}</ui:define>


	<ui:param name="menu" value="error" />
	<ui:param name="bodyId" value="error" />
	<ui:param name="statusDialog" value="hide" />

	<ui:define name="body">

		<p:panel style="width: 100%; margin: 0 auto">

			<p:panelGrid columns="1">
				<shared:instructionText textHeader="#{text['errorPage.heading']}"
					textSummary="#{text['errorPage.message']}" />

				<h:outputText value="Message: #{pfExceptionHandler.message}" />
				<h:outputText
					value="StackTrace: #{pfExceptionHandler.formattedStackTrace}"
					escape="false" />

			</p:panelGrid>

			<f:facet name="footer">
				<h:panelGroup>
					<p:commandButton value="#{text['button.cancel']}" action="home"
						immediate="true" id="cancel" styleClass="btn" ajax="false"
						icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
				</h:panelGroup>
			</f:facet>

		</p:panel>

	</ui:define>

</ui:composition>