<html template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">


<ui:composition template="#{eventForm.template}">
	<!-- 
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="eventId" value="#{eventForm.eventId}" />
			<f:viewParam name="from" value="#{eventForm.from}" />
		</f:metadata>
	</ui:define>
 -->
	<ui:define name="pageTitle">#{text['eventDetail.title']}</ui:define>

	<ui:param name="menu" value="event" />
	<ui:param name="bodyId" value="event" />


	<ui:define name="body">



		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


			<p:remoteCommand immediate="true"
				actionListener="#{eventForm.checkReoccurrence}" partialSubmit="true"
				process="@this" global="false" autoRun="true"
				name="checkReoccurrence" />

			<ui:include src="/sections/main/message.xhtml" />



			<st:panel header="#{text['eventDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />


				<ui:include src="/sections/event/eventDetailEdit.xhtml" />


				<f:facet name="footer">
					<h:panelGroup layout="block">

						<c:choose>

							<c:when test="#{eventForm.from ne 'calendarform'}">

								<p:splitButton value="#{text['button.save']}"
									actionListener="#{eventForm.save}" id="save" ajax="true"
									icon="fa fa-floppy-o Fs14 white"
									oncomplete="setConfirmUnload(false);">

									<p:menuitem value="#{text['button.saveReturn']}"
										action="#{eventForm.save}" icon="ui-icon-newwin" ajax="true"
										oncomplete="setConfirmUnload(false);">
									</p:menuitem>

								</p:splitButton>
							</c:when>
							<c:otherwise>
								<p:commandButton id="cmdSaveAndClose"
									value="#{text['button.saveReturn']}"
									actionListener="#{eventForm.saveAndClose}"
									icon="ui-icon-newwin" ajax="true" partialSubmit="true"
									global="false" oncomplete="setConfirmUnload(false);">
								</p:commandButton>
							</c:otherwise>

						</c:choose>

						<c:if test="${not empty eventForm.event.eventId}">

							<sec:authorize access="hasAnyRole('ROLE_DELETE_EVENTS')"
								var="hasRoleDelete" />

							<p:commandButton id="delete" icon="fa fa-trash Fs14 white"
								value="#{text['button.delete']}"
								oncomplete="PF('eventDlgWv').show();setConfirmUnload(false);"
								update="growl" styleClass="#{hasRoleDelete ? '' : 'hidden'}" />

						</c:if>


						<c:choose>
							<c:when test="#{eventForm.from ne 'calendarform'}">

								<p:commandButton value="#{text['button.cancel']}"
									action="events" immediate="true" id="cancel" styleClass="btn"
									ajax="false" icon="fa fa-hand-o-left Fs14 white" />

							</c:when>

							<c:otherwise>
								<p:commandButton id="close" icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}" action="calendarForm"
									immediate="true" ajax="false">

									<f:param name="startDate"
										value="#{eventForm.event.startDate.time}" />

								</p:commandButton>
							</c:otherwise>

						</c:choose>


					</h:panelGroup>
				</f:facet>

			</st:panel>



			<p:confirmDialog id="dlgEvent"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="eventDlgWv" showEffect="clip" hideEffect="fold">


				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{eventForm.event.name}" />
							<f:param value="#{text['eventList.event']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="eventDlgWv.hide();" action="#{eventForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="eventDlgWv.hide();" type="button" />

			</p:confirmDialog>


		</h:form>

	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgEventEditInfo"
			header="#{text['event.open.recurring.event']}" severity="info"
			widgetVar="eventEditDlgInfoWv" showEffect="clip" hideEffect="fold">

			<!-- 

			<f:facet name="message">
				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
					<h:outputText value="#{text['event.orignal.event']}" />
					<h:outputText value="#{text['event.any.updates']}" />
				</p:panelGrid>
			</f:facet>

			<p:commandButton id="cmdSeries" value="#{text['button.ok']}"
				onclick="PF('eventEditDlgInfoWv').hide();" ajax="true"
				actionListener="#{eventForm.editMode('SERIES')}" />
				
			 -->

			<f:facet name="message">
				<h:outputText value="#{text['event.appointment.series']}"
					styleClass="ui-outputlabel ui-widget" />
				<h:outputText value="#{text['event.to.do']}"
					styleClass="ui-outputlabel ui-widget" />
			</f:facet>

			<p:panelGrid columns="4" styleClass="ui-panelgrid-blank Wid100">

				<p:spacer />
				
				<p:commandButton id="cmdThisOne" value="#{text['event.this.one']}"
					oncomplete="PF('eventEditDlgInfoWv').hide();"
					actionListener="#{eventForm.editMode('ONE')}" ajax="true"
					partialSubmit="true" process="@this"  icon="fa fa-calendar-o Fs14 white"/>


				<p:commandButton id="cmdSeries" value="#{text['event.series']}"
					oncomplete="PF('eventEditDlgInfoWv').hide();"
					actionListener="#{eventForm.editMode('SERIES')}" ajax="true"
					partialSubmit="true" process="@this"  icon="fa fa-calendar Fs14 white"/>

				<p:spacer />
				
			</p:panelGrid>

		</p:confirmDialog>
	</ui:define>

</ui:composition>

</html>