<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['eventTypeDetail.title']} </ui:define>

    <ui:param name="menu" value="eventType"/>
    <ui:param name="bodyId" value="eventType"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['eventTypeDetail.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <sec:authorize access="hasAnyRole('ROLE_DELETE_EVENTS')"
                               var="hasRoleDelete"/>

                <sec:authorize access="hasAnyRole('ROLE_EDIT_EVENTS')"
                               var="hasRoleEdit"/>

                <p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
                             id="eventTypePnl">
                    <st:addDialogButton dialog="dlgEditEventCalendarWv" bttnId="add"/>
                </p:panelGrid>


                <st:dataTable tableId="dtblEventType" tableVar="eventType"
                              tableSelection="#{eventTypeList.selectedEventType}"
                              tableValue="#{eventTypeList.eventTypes}"
                              tableRowKey="#{eventType.name}">


                    <p:column headerText="#{text['eventType.name']}"
                              sortBy="#{eventType.eventTypeId}" style="width:23%" priority="1">

                        <!-- <h:commandLink action="#{eventTypeForm.edit}"
                            value="#{eventType.name}" ajaX="false" styleClass="ui-link">
                            <f:param name="eventTypeId" value="#{eventType.eventTypeId}" />
                            <f:param name="from" value="list" />
                        </h:commandLink> -->

                        <st:editCommandLink linkLabel="#{eventType.name}"
                                            dialog="dlgEditEventCalendarWv"
                                            targetItem="#{eventTypeForm.eventType}" value="#{eventType}">
                            <f:param name="eventTypeId" value="#{eventType.eventTypeId}"/>
                            <f:param name="from" value="list"/>
                        </st:editCommandLink>
                    </p:column>

                    <p:column style="width:10%" headerText=""  priority="3">
                        <h:panelGroup styleClass="event-box" layout="block"
                                      style="#{'background-color: #'.concat(eventType.color)}"/>
                    </p:column>

                    <p:column headerText="#{text['eventType.descr']}"
                              sortBy="#{eventType.descr}" priority="4">
                        <h:outputText value="#{eventType.descr}" escape="true"/>
                    </p:column>

                    <c:if test="#{hasRoleDelete}">
                        <p:column priority="2">
                            <st:deleteCommandLink dialog="eventTypeDlgWv"
                                                  value="#{eventType}"
                                                  targetItem="#{eventTypeList.selectedEventType}"/>
                        </p:column>
                    </c:if>

                </st:dataTable>
            </st:panel>
        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <st:deleteConfirmDialog dialogId="dlgEventType"
                                dialogwidgetVar="eventTypeDlgWv"
                                deleteActionMethod="#{eventTypeList.delete}"
                                deleteMessageName="#{eventTypeList.selectedEventType.name}"
                                deleteMessageCategory="#{text['eventTypeList.eventType']}"/>

        <st:dataEntryDialog dialogwidgetVar="dlgEditEventCalendarWv"
                            dialogHeader="#{text['eventTypeDetail.title']}"
                            dialogId="dlgEditEventCalendar" fieldfocus="name"
                            actionListener="#{eventTypeForm.save}">

            <ui:include src="/sections/event/eventCalendarEdit.xhtml"/>

        </st:dataEntryDialog>


    </ui:define>

</ui:composition>