<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['eventDetail.title']} </ui:define>

	<ui:param name="menu" value="event" />
	<ui:param name="bodyId" value="event" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<sec:authorize access="hasAnyRole('ROLE_EDIT_EVENTS')"
				var="hasRoleEdit" />
			<sec:authorize access="hasAnyRole('ROLE_DELETE_EVENTS')"
				var="hasRoleDelete" />

			<!-- 
			<p:inputText id="timezone_holder" value="#{cookie['TIME_ZONE'].value}"/> -->

			<st:panel header="#{text['eventDetail.title']}" cId="pnlEvents">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
					id="eventPnl">
					<st:addDialogButton dialog="dlgEditEventWv" bttnId="add" />
				</p:panelGrid>


				<st:dataTable tableId="dtblEvent" tableVar="event"
					tableSelection="#{eventList.selectedEvent}"
					tableValue="#{eventList.events}" tableRowKey="#{event.name}">




					<p:column headerText="#{text['event.name']}"
						sortBy="#{event.eventId}" filterBy="#{event.eventId}" priority="1">
						<st:editCommandLink linkLabel="#{event.name}"
							dialog="dlgEditEventWv" targetItem="#{eventForm.event}"
							value="#{event}" toolTip="#{event.descr}">
							<f:param name="eventId" value="#{event.eventId}" />
							<f:param name="from" value="list" />
						</st:editCommandLink>

					</p:column>

					<p:column headerText="#{text['event.type']}"
						sortBy="#{event.eventType.name}"
						filterBy="#{event.eventType.name}" priority="3">

						<h:panelGroup styleClass="event-box"
							style="#{'background-color: #'.concat(event.eventType.color)}">
							<p:spacer height="5" width="20" />
						</h:panelGroup>
						<p:spacer width="5" />
						<h:outputText value="#{event.eventType.name}" />

					</p:column>

					<!-- 
					<p:column headerText="#{text['event.descr']}"
						sortBy="#{event.descr}" filterBy="#{event.descr}" priority="2">
						<h:outputText value="#{event.descr}" escape="true" />
					</p:column>
 -->
					<p:column headerText="#{text['event.status']}"
						sortBy="#{event.status}" filterBy="#{event.status}" priority="6">
						<h:outputText value="#{event.status.value}" escape="true" />
					</p:column>

					<p:column headerText="#{text['event.startDate']}"
						sortBy="#{event.startDate}" filterBy="#{event.startDate}"
						priority="3">
						<h:outputText value="#{event.startDate}" escape="true">
							<f:convertDateTime pattern="MM/dd/yyyy hh:mm a"
								timeZone="America/New_York" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{text['event.endDate']}"
						sortBy="#{event.endDate}" filterBy="#{event.endDate}" priority="4">
						<h:outputText value="#{event.endDate}" escape="true">
							<f:convertDateTime pattern="MM/dd/yyyy hh:mm a"
								timeZone="America/New_York" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{text['event.repeats']}"
						sortBy="#{event.status}" filterBy="#{event.repeat}" priority="7">
						<h:outputText value="#{event.repeat.value}" escape="true" />
					</p:column>

					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="eventDlgWv" value="#{event}"
								targetItem="#{eventList.selectedEvent}" />
						</p:column>
					</c:if>

				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="eventDlgWv"
			deleteActionMethod="#{eventList.delete}"
			deleteMessageName="#{eventList.selectedEvent.name}"
			deleteMessageCategory="#{text['eventList.event']}"
			dialogId="dlgEvent" />

		<st:dataEntryDialog actionListener="#{eventForm.save}"
			dialogwidgetVar="dlgEditEventWv"
			dialogHeader="#{text['eventDetail.title']}" dialogId="dlgEditEvent"
			fieldfocus="title" closeListener="#{eventForm.handleCloseDialog}">

			<ui:include src="/sections/event/eventDetailEdit.xhtml" />

		</st:dataEntryDialog>


	</ui:define>

</ui:composition>