<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['fundDetail.title']}</ui:define>
	<ui:param name="menu" value="fundForm" />
	<ui:param name="bodyId" value="fundform" />
	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['fundDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['fundDetail.heading']}"
					textSummary="#{text['fundDetail.message']}" />
				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="fundPnl">

					<h:inputHidden value="#{fundForm.fund.fundId}" id="fundId" />
					<p:spacer />
					<p:spacer />



					<p:outputLabel styleClass="control-label" for="createdByUser"
						value="#{text['fund.createdByUser']}" />
					<p:inputText id="createdByUser"
						value="#{fundForm.fund.createdByUser}" required="false"
						maxlength="255" />
					<p:message for="createdByUser" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="updatedByUser"
						value="#{text['fund.updatedByUser']}" />
					<p:inputText id="updatedByUser"
						value="#{fundForm.fund.updatedByUser}" required="false"
						maxlength="255" />
					<p:message for="updatedByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="version"
						value="#{text['fund.version']}" />
					<p:inputText id="version" value="#{fundForm.fund.version}"
						required="false" maxlength="255" />
					<p:message for="version" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="acctnum"
						value="#{text['fund.acctnum']}" />
					<p:inputText id="acctnum" value="#{fundForm.fund.acctnum}"
						required="true" maxlength="45" />
					<p:message for="acctnum" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="descr"
						value="#{text['fund.descr']}" />
					<p:inputText id="descr" value="#{fundForm.fund.descr}"
						required="false" maxlength="100" />
					<p:message for="descr" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="enddate"
						value="#{text['fund.enddate']}" />
					<p:calendar value="#{fundForm.fund.enddate}" id="enddate"
						required="false" showOn="button" pattern="MM/dd/yyyy" mask="true"
						maskAutoClear="true" />
					<p:message for="enddate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="fundtype"
						value="#{text['fund.fundtype']}" />
					<p:inputText id="fundtype" value="#{fundForm.fund.fundtype}"
						required="true" maxlength="20" />
					<p:message for="fundtype" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="majoracctnum"
						value="#{text['fund.majoracctnum']}" />
					<p:inputText id="majoracctnum"
						value="#{fundForm.fund.majoracctnum}" required="false"
						maxlength="255" />
					<p:message for="majoracctnum" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="minoracctnum"
						value="#{text['fund.minoracctnum']}" />
					<p:inputText id="minoracctnum"
						value="#{fundForm.fund.minoracctnum}" required="false"
						maxlength="255" />
					<p:message for="minoracctnum" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['fund.name']}" />
					<p:inputText id="name" value="#{fundForm.fund.name}"
						required="true" maxlength="25" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="startdate"
						value="#{text['fund.startdate']}" />
					<p:calendar value="#{fundForm.fund.startdate}" id="startdate"
						required="false" showOn="button" />
					<p:message for="startdate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="tenantId"
						value="#{text['fund.tenantId']}" />
					<p:inputText id="tenantId" value="#{fundForm.fund.tenantId}"
						required="true" maxlength="255" />
					<p:message for="tenantId" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{fundForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{fundForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty fundForm.fund.fundId}">
							<p:commandButton id="delete" icon="fa fa-trash Fs14 white"
								value="#{text['button.delete']}"
								oncomplete="PF('fundDlgWv').show();" update="growl" />
						</c:if>

						<p:commandButton action="funds" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
							value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>



			<p:confirmDialog id="dlgFund"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="fundDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{fundForm.fund.name}" />
							<f:param value="#{text['fundList.fund']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('fundDlgWv').hide();" action="#{fundForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('fundDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

