<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['fundDetail.title']}</ui:define>
	<ui:param name="menu" value="funds" />
	<ui:param name="bodyId" value="funds" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">
			
			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['fundDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['fundDetail.heading']}"
					textSummary="#{text['fundList.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="fundPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
						oncomplete="PF('fundDlgWv').show();" disabled="#{!fundList.checked}"
						update="dtblFund" />
					<p:commandButton action="cmdAdd" id="add" immediate="true"
						ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}" />
				</p:panelGrid>

				<p:dataTable id="dtblFund" var="fund" value="#{fundList.funds}"
					editable="false" widgetVar="fundsWV" paginator="true"
					paginatorPosition="bottom" rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{fund.name}"
					selection="#{fundList.selectedFund}">

					<p:ajax event="rowSelectRadio" listener="#{fundList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgFund" />

					<p:column selectionMode="single" style="width:2%" />

					<p:column headerText="#{text['fund.name']}" sortBy="#{fund.name}"
						filterBy="#{fund.name}">
						<h:commandLink action="#{fundForm.edit}" value="#{fund.name}"
							ajaX="false">
							<f:param name="fundId" value="#{fund.fundId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['fund.acctnum']}"
						sortBy="#{fund.acctnum}" filterBy="#{fund.acctnum}">
						<h:outputText value="#{fund.acctnum}" escape="true" />
					</p:column>

					<p:column headerText="#{text['fund.fundtype']}"
						sortBy="#{fund.fundtype}" filterBy="#{fund.fundtype}">
						<h:outputText value="#{fund.fundtype}" escape="true" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgFund"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="fundDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{fundList.selectedFund.name}" />
						<f:param value="#{text['fundList.fund']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('fundDlgWv').hide();" actionListener="#{fundList.delete}"
				update=":mainFrm:dtblFund :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('fundDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>