<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


    <ui:define name="head">

        <script type="text/javascript">

            function navigateTo() {
                $('#hiddenBtn').click();
            }

        </script>
    </ui:define>


    <ui:param name="menu" value="fundcategory"/>
    <ui:param name="bodyId" value="fundcategory"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


            <p:remoteCommand oncomplete="navigateTo();" autoRun="true"
                             global="false"/>

            <p:commandButton id="hiddenBtn" action="categories" styleClass="hidden" global="false" ajax="false">
                <f:param name="type" value="FUND"/>
                <f:param name="from" value="fundlist"/>
            </p:commandButton>-

        </h:form>

    </ui:define>

</ui:composition>