<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['groupRoleList.title']} </ui:define>

	<ui:param name="menu" value="groupRole" />
	<ui:param name="bodyId" value="groupRole" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<st:panel header="#{text['groupRoleList.title']}" cId="pnlGroupRoles">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<sec:authorize access="hasAnyRole('ROLE_EDIT_GRP_ROLE')"
					var="hasRoleEdit" />

				<sec:authorize access="hasAnyRole('ROLE_DELETE_GRP_ROLE')"
					var="hasRoleDelete" />

				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
					id="groupRolePnl">
					<st:addDialogButton dialog="dlgEditGroupRoleWv" bttnId="add" />
				</p:panelGrid>


				<st:dataTable tableVar="groupRole"
					tableSelection="#{groupRoleList.selectedGroupRole}"
					tableValue="#{groupRoleList.groupRoles}"
					tableRowKey="#{groupRole.name}" tableId="dttblGroupRole">


					<p:column headerText="#{text['groupRole.roleName']}"
						sortBy="#{groupRole.roleName}" filterBy="#{groupRole.roleName}"
						priority="1">


						<st:editCommandLink linkLabel="#{groupRole.name}"
							dialog="dlgEditGroupRoleWv"
							targetItem="#{groupRoleForm.groupRole}" value="#{groupRole}">
							<f:param name="grouproleId" value="#{groupRole.grouproleId}" />
							<f:param name="from" value="list" />
						</st:editCommandLink>
<!-- 

						<h:commandLink action="#{groupRoleForm.edit}"
							value="#{groupRole.name}" ajaX="false" styleClass="ui-link">
							<f:param name="grouproleId" value="#{groupRole.grouproleId}" />
							<f:param name="from" value="list" />
						</h:commandLink> -->
					</p:column>

					<p:column headerText="#{text['groupRole.descr']}"
						sortBy="#{groupRole.descr}" filterBy="#{groupRole.descr}"
						priority="3">
						<h:outputText value="#{groupRole.descr}" escape="true" />
					</p:column>


					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="groupRoleDlgWv"
								value="#{groupRole}"
								targetItem="#{groupRoleList.selectedGroupRole}" />
						</p:column>
					</c:if>


				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="groupRoleDlgWv"
			deleteActionMethod="#{groupRoleList.delete}"
			deleteMessageName="#{groupRoleList.selectedGroupRole.name}"
			deleteMessageCategory="#{text['groupRoleList.groupRole']}"
			dialogId="dlgGroupRole" />

		<st:dataEntryDialog actionListener="#{groupRoleForm.save}"
			dialogwidgetVar="dlgEditGroupRoleWv"
			dialogHeader="#{text['groupRoleDetail.title']}"
			dialogId="dlgEditGroupRole" fieldfocus="name">

			<ui:include src="/sections/grouproles/groupRoleEdit.xhtml" />

		</st:dataEntryDialog>








		<!-- 	<p:confirmDialog id="dlgGroupRole"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="groupRoleDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{groupRoleList.selectedGroupRole.name}" />
						<f:param value="#{text['groupRoleList.groupRole']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="groupRoleDlgWv.hide();"
				actionListener="#{groupRoleList.delete}"
				update=":mainFrm:dtblGroupRole :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="groupRoleDlgWv.hide();" type="button" />

		</p:confirmDialog> -->

	</ui:define>

</ui:composition>