<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['group.myGroups']}</ui:define>

	<ui:param name="menu" value="group" />
	<ui:param name="bodyId" value="group" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />
 
 			<st:panel header="#{text['group.myGroups']}">


				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<sec:authorize access="hasAnyRole('ROLE_DELETE_GROUP')"
					var="hasRoleDelete" />

				<sec:authorize access="hasAnyRole('ROLE_EDIT_GROUP')"
					var="hasRoleEdit" />

				<st:addButton from="groupList" actionMethod="#{groupForm.edit}" />
		
				<st:dataTable tableId="dtblGroup" tableVar="group"
					tableValue="#{groupList.groups}"
					tableSelection="#{groupList.selectedGroup}"
					tableRowKey="#{group.name}">

			

					<p:column headerText="#{text['group.name']}"
						filterBy="#{group.name}" priority="1">
						<h:commandLink action="#{groupForm.edit}" value="#{group.name}"
							ajaX="false" styleClass="ui-link"
							onmousedown="setConfirmUnload(false);">
							<f:param name="groupId" value="#{group.groupId}" />
							<f:param name="from" value="groupList" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['category.categoryType']}"
						filterMatchMode="startsWith" filterBy="#{group.category.name}"
						priority="2">

						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('groupsWV').filter()">
								<f:selectItem itemLabel="#{text['button.selectOne']}"
									itemValue="#{null}" noSelectionOption="true" />
								<f:selectItems value="#{groupForm.dataService.categories}"
									var="ct" itemLabel="#{ct.name}" itemValue="#{ct.name}" />
							</p:selectOneMenu>
						</f:facet>

						<h:outputText value="#{group.category.name}" />

					</p:column>


					<p:column headerText="#{text['group.active']}" priority="4">
						<p:selectBooleanCheckbox value="#{group.active}" disabled="true" />
					</p:column>


					<c:if test="#{hasRoleDelete}">
						<p:column priority="3">
							<st:deleteCommandLink dialog="groupDlgWv" value="#{group}"
								targetItem="#{groupList.selectedGroup}" />
						</p:column>
					</c:if>

				</st:dataTable>

			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogId="dlgGroup"
			dialogwidgetVar="groupDlgWv"
			deleteMessageName="#{groupList.selectedGroup.name}"
			deleteMessageCategory="#{text['groupList.group']}"
			deleteActionMethod="#{groupList.delete}"/>

	</ui:define>

</ui:composition>