<html xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

<ui:composition template="#{groupForm.template}">

	<ui:define name="pageTitle">#{text['groupDetail.title']}</ui:define>

	<ui:param name="menu" value="group" />
	<ui:param name="bodyId" value="group" />


	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">


			<ui:include src="/sections/main/message.xhtml" />


			<h:inputHidden value="#{groupForm.group.groupId}" id="groupId" />
			<h:inputHidden value="#{groupForm.group.version}" id="version" />


			<p:panel style="width: 95%; margin: 0 auto" id="pnlGroupDetails">

				<c:if test="#{groupForm.from ne 'maintform'}">

					<f:facet name="header">
						<h:outputText value="#{text['groupDetail.title']}" />
					</f:facet>
					
					<ui:include src="/sections/titlebar/actionButtons.xhtml" />
				
				</c:if>

				<shared:instructionText textHeader="#{text['groupDetail.heading']}"
					textSummary="#{text['groupDetail.message']}" />


				<p:outputPanel 
					styleClass="Responsive100 Container100" 
					layout="block">
					
					<p:autoUpdate />

					<p:panelGrid layout="grid" columns="1"
						styleClass="ui-panelgrid-blank">

						<div class="Fleft">
							<p:commandButton type="button" onclick="PF('wvWiz').back();"
								value="#{text['button.previous']}"
								icon="fa fa-hand-o-left Fs14 white"
								disabled="#{groupForm.currentStep eq 'groupDetail'}"
								global="false" />

						</div>
						<div class="Fright">
							<p:commandButton type="button" onclick="PF('wvWiz').next();"
								value="#{text['button.next']}"
								icon="fa fa-hand-o-right Fs14 white"
								disabled="#{groupForm.currentStep eq 'addMembers'}"
								global="false" />

						</div>
					</p:panelGrid>
				</p:outputPanel>


				<p:wizard id="wiz" widgetVar="wvWiz" showNavBar="false"
					flowListener="#{groupForm.onFlowProcess}">

					<p:focus context="groupPnl" for="category" />

					<p:tab id="groupDetail">
						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="1" style="display:block;font-size: 150%;" />
								<h:outputText value="Group Definition" />
							</h:panelGroup>
						</f:facet>

						<p:panelGrid columns="1"
							styleClass="ui-panelgrid-blank Container50 Responsive Fnone"
							id="groupPnl" layout="grid">

							<ui:include src="/sections/group/groupDetails.xhtml" />

						</p:panelGrid>

					</p:tab>

					<p:tab id="addMembers">

						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="2" style="display:block;font-size: 150%;" />
								<h:outputText value="Add Members" />
							</h:panelGroup>
						</f:facet>

						<h:panelGroup layout="block">
							<ui:include src="/sections/group/groupMembers.xhtml" />
						</h:panelGroup>

					</p:tab>

				</p:wizard>


				<p:outputPanel 
					styleClass="Responsive100 Container100" 
					layout="block">
					
					<p:autoUpdate />

					<p:panelGrid layout="grid" columns="1"
						styleClass="ui-panelgrid-blank">

						<div class="Fleft">
							<p:commandButton type="button" onclick="PF('wvWiz').back();"
								value="#{text['button.previous']}"
								icon="fa fa-hand-o-left Fs14 white"
								disabled="#{groupForm.currentStep eq 'groupDetail'}"
								global="false" />

						</div>
						<div class="Fright">
							<p:commandButton type="button" onclick="PF('wvWiz').next();"
								value="#{text['button.next']}"
								icon="fa fa-hand-o-right Fs14 white"
								disabled="#{groupForm.currentStep eq 'addMembers'}"
								global="false" />

						</div>
					</p:panelGrid>
				</p:outputPanel>

				<f:facet name="footer">
					<h:panelGroup>

						<c:choose>

							<c:when test="#{groupForm.from ne 'maintform'}">
								<p:splitButton value="#{text['button.save']}"
									actionListener="#{groupForm.save}" id="save"
									styleClass="btn btn-primary" ajax="false"
									icon="fa fa-floppy-o Fs14 white"
									onclick="setConfirmUnload(false);">
									<p:menuitem value="#{text['button.saveReturn']}"
										action="#{groupForm.save}" icon="ui-icon-newwin">
									</p:menuitem>
								</p:splitButton>

							</c:when>
							<c:otherwise>
								<p:commandButton id="cmdSaveAndClose"
									value="#{text['button.saveReturn']}"
									actionListener="#{groupForm.saveAndClose}"
									icon="ui-icon-newwin" ajax="true" />
							</c:otherwise>
						</c:choose>

						<c:if test="${not empty groupForm.group.groupId}">

							<sec:authorize access="hasAnyRole('ROLE_DELETE_GROUP')"
								var="hasRoleDelete" />

							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white"
								oncomplete="PF('groupDlgWv').show();"
								styleClass="#{hasRoleDelete ? '' : 'hidden'}" />

						</c:if>

						<c:choose>
							<c:when test="#{groupForm.from ne 'maintform'}">
								<p:commandButton action="groups" immediate="true" id="cancel"
									styleClass="btn" ajax="false"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}" />
							</c:when>
							<c:otherwise>
								<p:commandButton id="close" styleClass="btn"
									icon="fa fa-hand-o-left Fs14 white"
									value="#{text['button.cancel']}"
									actionListener="#{groupForm.close}" ajax="true"
									immediate="true" partialSubmit="true" />
							</c:otherwise>
						</c:choose>

					</h:panelGroup>
				</f:facet>

			</p:panel>



		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<shared:helpdialog dlgid="dlgHelp"
			title="#{text['groupDetail.heading']}" widgetId="dlgHelpWv">
			<h:outputText value="#{groupForm.helpMessage}"
				style="font-size: 110% !important;" />
		</shared:helpdialog>

		<p:confirmDialog id="dlgGroup"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="groupDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{groupForm.group.name}" />
						<f:param value="#{text['groupList.group']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('groupDlgWv').hide();" action="#{groupForm.delete}"
				update=":mainFrm:growl" ajax="false" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('groupDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>

</html>