<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['groupDetail.title']}</ui:define>

	<ui:param name="menu" value="group" />
	<ui:param name="bodyId" value="group" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['groupDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['groupDetail.heading']}"
					textSummary="#{text['groupDetail.message']}" />

	
				<p:panelGrid columns="1" styleClass="panelGridCenter">

					<h:panelGroup layout="block" id="main" styleClass="col-3-container">

						<h:panelGroup layout="block" id="left" styleClass="col-3-left">

							<p:fieldset legend="#{text['categoryList.heading']}">
								<p:panelGrid id="grdCategory" styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column colspan="2">
											<h:outputText value="#{text['category.select']}"></h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column />
										<p:column>
											<p:outputLabel value="#{text['category.category_id']}"
												for="atcCategory" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="vertical-align: middle; padding-left: 0px;">

											<p:commandLink ajax="true" styleClass="ui-link"
												partialSubmit="true" process="@this"
												actionListener="#{groupMaintForm.addCategory}" global="true"
												id="cmlAddCateogry">

												<p:graphicImage library="images"
													name="Add-To-Open-Folder24.png"
													title="#{text['category.addCategoryHelp']}" />

												<p:ajax event="dialogReturn"
													listener="#{groupMaintForm.handleCategoryReturn}"
													update=":mainFrm:atcCategory :mainFrm:growl :mainFrm:msgs"
													global="false" />

											</p:commandLink>

										</p:column>

										<p:column style="vertical-align: middle;padding-right: 0px;">
											<p:autoComplete id="atcCategory" size="25"
												completeMethod="#{groupMaintForm.completeCategory}"
												value="#{groupMaintForm.selectedCategory}" var="category"
												itemLabel="#{category.name}" itemValue="#{category}"
												forceSelection="true" minQueryLength="2" dropdown="true"
												cache="true" converter="#{categoryConverter}">
												<p:ajax event="itemSelect"
													listener="#{groupMaintForm.selectCategory}"
													partialSubmit="true" global="false"
													update=":mainFrm:dtblGroup :mainFrm:dtblMember :mainFrm:msgs" />
												<p:column>#{category.name}</p:column>
											</p:autoComplete>
										</p:column>
									</p:row>
								</p:panelGrid>

								<h:panelGroup layout="block">
									<ui:include src="/sections/group/categoryGroups.xhtml" />
								</h:panelGroup>

							</p:fieldset>



						</h:panelGroup>

						<h:panelGroup layout="block" id="center" styleClass="col-3-center">
							<p:spacer width="50px" />
						</h:panelGroup>

						<h:panelGroup layout="block" id="right" styleClass="col-3-right">

							<p:fieldset legend="#{text['member.heading']}">

								<p:panelGrid id="grdPerson" styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column colspan="4">
											<h:outputText value="#{text['member.select']}"></h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="4">
											<p:outputLabel value="#{text['member.available']}"
												for="atcindividual" />
										</p:column>
									</p:row>
									<p:row>

										<p:column style="vertical-align: middle">
											<p:autoComplete id="atcindividual" size="25"
												completeMethod="#{groupMaintForm.completePerson}"
												value="#{groupMaintForm.selectedPerson}" var="person"
												itemLabel="#{person.name}" itemValue="#{person}"
												forceSelection="true" minQueryLength="2" dropdown="true"
												cache="true"
												onkeypress="if (event.keyCode == 13) {findbtn(); return false; }"
												converter="#{personConverter}">
												<p:ajax event="itemSelect"
													listener="#{groupMaintForm.selectPerson}"
													partialSubmit="true" process="@parent" global="false" />
												<p:column>#{person.name}</p:column>
											</p:autoComplete>
										</p:column>

										<p:column>
											<p:spacer width="25px" />
										</p:column>

										<p:column style="width:100px">
											<p:selectOneMenu value="#{groupMaintForm.selectedRole}"
												converter="#{groupRoleConverter}" style="width:100%"
												id="slmRole">
												<f:selectItems value="#{groupMaintForm.groupRoles}" var="gr"
													itemValue="#{gr}" itemLabel="#{gr.name}" />
											</p:selectOneMenu>
										</p:column>

										<p:column>
											<p:commandButton id="cmdAddPerson" immediate="false"
												ajax="true" icon="fa fa-plus Fs14 white"
												value="#{text['button.add']}" partialSubmit="true"
												process="@this @(#atcindividual) @(#slmRole)"
												update="@(#dtblMember) @(#growl)"
												actionListener="#{groupMaintForm.addMemberToGroup}">
											</p:commandButton>
										</p:column>
									</p:row>
								</p:panelGrid>

								<h:panelGroup layout="block">
									<ui:include src="/sections/group/groupMembers.xhtml" />
								</h:panelGroup>

							</p:fieldset>


						</h:panelGroup>

						<br style="clear: both;" />

					</h:panelGroup>
				</p:panelGrid>



			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['groupDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{groupMaintForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgGroup"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="groupDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{groupMaintForm.group.name}" />
							<f:param value="#{text['groupList.group']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('groupDlgWv').hide();"
					action="#{groupMaintForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('groupDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

	<ui:define name="scripts">
		<script type="text/javascript">
		//<![CDATA[
	    function showbox() { 
    	   alert("Test is a test");
    	}
	    function findbtn(){ 
	    	jQuery("#cmdAddPerson").click();
	    }
		//]]>
		</script>
	</ui:define>

</ui:composition>

