<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="pageTitle">#{text['groupRoleDetail.title']}</ui:define>

	<ui:param name="menu" value="groupRole" />
	<ui:param name="bodyId" value="groupRole" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 98%; margin: 0 auto"
				header="#{text['groupRoleDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />



				<shared:instructionText
					textHeader="#{text['groupRoleDetail.heading']}"
					textSummary="#{text['groupRoleDetail.message']}" />

				<ui:include src="/sections/grouproles/groupRoleEdit.xhtml" />



				<f:facet name="footer">
					<h:panelGroup>

						<sec:authorize access="hasAnyRole('ROLE_DELETE_GRP_ROLE')"
							var="hasRoleDelete" />

						<sec:authorize access="hasAnyRole('ROLE_EDIT_GRP_ROLE')"
							var="hasRoleEdit" />

						<p:splitButton value="#{text['button.save']}"
							actionListener="#{groupRoleForm.save}" id="save"
							styleClass="#{hasRoleEdit ? '' : 'hidden'}" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{groupRoleForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty groupRoleForm.groupRole.grouproleId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white"
								oncomplete="groupRoleDlgWv.show();" update="growl"
								styleClass="#{hasRoleDelete? '' : 'hidden'}" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}"
							action="groupRoles" immediate="true" id="cancel" styleClass="btn"
							ajax="false" icon="fa fa-hand-o-left Fs14 white" />

					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['groupRoleDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{groupRoleForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgGroupRole"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="groupRoleDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{groupRoleForm.groupRole.name}" />
							<f:param value="#{text['groupRoleList.groupRole']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="groupRoleDlgWv.hide();"
					action="#{groupRoleForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="groupRoleDlgWv.hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

