<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['helpSupport.title']}</ui:define>

	<ui:define name="body">

		<p:panel style="width: 95%; margin: 0 auto"
			header="#{text['helpSupport.title']}">

			<shared:instructionText textHeader="#{text['helpSupport.heading']}"
				textSummary="#{text['helpSupport.message']}" />

			<script type="text/javascript"
				src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>

			<style type="text/css" media="screen, projection">
				@import	url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css);
			</style>

			<iframe title="Feedback Form" class="freshwidget-embedded-form"
				id="freshwidget-embedded-form" src="#{menuSearch.supportURL}"
				scrolling="no" height="500px" width="100%" frameborder="0"></iframe>

		</p:panel>

	</ui:define>


</ui:composition>