<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="pageTitle">#{text['mainMenu.title']}</ui:define>

	<ui:param name="menu" value="home" />
	<ui:param name="bodyId" value="home" />

	<ui:define name="body">
		<h:outputScript target="body">
			/* <![CDATA[ */
				$(function(){
					if (getCookie('#{bodyId}') != "100" ){
						setCookie('#{bodyId}','1',365);
						var calloutMgr = hopscotch.getCalloutManager();
						calloutMgr.createCallout({
	  						id: 'attach-icon',
	  						target: document.querySelector("#layout-portlets-cover"),
	  						placement: 'top',
	  						title: 'What&apos;s New',
	  						content: 'Share a project you\'re proud of, a photo from a recent event, or an interesting presentation.',
	  						yOffset: +80,
	  						xOffset: + 50 
	  					});
	  				}
  				});
    		/* ]]> */
		</h:outputScript>

		<h:form id="frmHome" prependId="false">

			<!--<p:commandButton type="button" onclick="test();" value="Debugging JavaScript"/>-->


			<!-- 	
			<p:panel header="Home">

				<shared:instructionText textHeader="Welcome to Church Click"
					textSummary="Church managment in the cloud for today's ministry and membership management needs."
					textDetail="Church Click is the online church management software that helps shift your focus from the duties of membership to the dynamics of ministry. Effective ministry in today's challenging environment requires a new form of church software and membership management. Church Click puts the power of the internet to work for your people." />
			 -->
			<div id="layout-portlets-cover" class="fontRegular">
				<div class="Container100">

					<sec:authorize access="hasRole('ROLE_EDIT_PERSON')"
						var="hasRoleEdit" />

					<sec:authorize access="hasRole('ROLE_VIEW_GROUP')"
						var="hasViewGroup" />

					<sec:authorize access="hasRole('ROLE_VIEW_CONNECTION')"
						var="hasConnections" />

					<sec:authorize access="hasRole('ROLE_EDIT_MESSAGE')"
						var="hasEditMessage" />

					<sec:authorize access="hasRole('ROLE_VIEW_EVENTS')"
						var="hasViewEvents" />

					<sec:authorize access="hasRole('ROLE_EDIT_ATTENDANCE')"
						var="hasEditAttendance" />

					<sec:authorize access="hasRole('ROLE_EDIT_CONTRIBUTION')"
						var="hasAllContribution" />

					<sec:authorize access="hasRole('ROLE_EDIT_PLEDGE')"
						var="hasAllPledge" />


					<div class="ContainerIndent">

						<div class="EmptyBox20" />

						<c:if test="#{hasRoleEdit}">
							<div class="Container25 Responsive">


								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-plus-circle  Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink
													action="personForm" value="#{text['menu.addPerson']}"
													ajax="false" styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>


							</div>
						</c:if>

						<c:if test="#{hasViewGroup}">
							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i class="fa fa-users Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink action="groups"
													value="#{text['group.myGroups']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>



						<c:if test="#{hasConnections}">

							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-phone-square Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink
													action="connectForm"
													value="#{text['persontab.connections']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>

						<c:if test="#{hasEditMessage}">
							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-comments Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink
													action="messageForm"
													value="#{text['message.createMessage']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>

						<div class="EmptyBox10" />
					</div>
				</div>



				<div class="Container100">
					<div class="ContainerIndent">

						<div class="EmptyBox20" />

						<c:if test="#{hasViewEvents}">
							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-calendar  Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink action="events"
													value="#{text['eventList.heading']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>

						<c:if test="#{hasEditAttendance}">
							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-check-circle Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink
													action="attendanceForm"
													value="#{text['persontab.attendance']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>

						<c:if test="#{hasAllContribution}">
							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i class="fa fa-money Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink action="batches"
													value="#{text['persontab.contributions']}" ajax="false"
													styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>


						<c:if test="#{hasAllPledge}">

							<div class="Container25 Responsive">
								<div class="ContainerIndent">
									<p:panel style="min-height: 150px;">
										<i
											class="fa fa-bar-chart Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
										<div class="Fs24 Fright MarTop10 leaden Wid70">
											<span class="hardblue"><p:commandLink
													action="campaigns" value="#{text['campaignList.heading']}"
													ajax="false" styleClass="ui-link" /></span>
										</div>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
										<div class="EmptyBox10"></div>
										<i class="icon-info softgray MarRight10 Fs14 Fright">Instructional
											text goes here...</i>
										<div class="EmptyBox10"></div>
										<p:separator styleClass="Wid100"></p:separator>
									</p:panel>
								</div>
							</div>
						</c:if>

					</div>
				</div>
			</div>




		</h:form>
	</ui:define>
</ui:composition>

