<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['householdDetail.title']}</ui:define>

	<ui:param name="menu" value="households" />
	<ui:param name="bodyId" value="households" />

	<ui:define name="body">
		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['householdDetail.title']}">

				<shared:instructionText
					textHeader="#{text['householdDetail.heading']}"
					textSummary="#{text['householdList.message']}" />

				
				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="householdPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
						oncomplete="PF('householdDlgWv').show();"
						disabled="#{!householdList.checked}" update="dtblHousehold" />
					<p:commandButton action="#{householdForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}">
					</p:commandButton>
				</p:panelGrid>

				<p:dataTable id="dtblHousehold" var="household"
					value="#{householdList.households}" editable="false"
					widgetVar="householdsWV" paginator="true"
					paginatorPosition="bottom" rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{household.name}"
					selection="#{householdList.selectedHousehold}">


					<p:column style="width:2%">
						<p:rowToggler />
					</p:column>

					<p:ajax event="rowSelectRadio"
						listener="#{householdList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgHousehold" />

					<p:ajax event="rowToggle" listener="#{householdList.onRowToggle}"
						update=":mainFrm:growl" />

					<p:column selectionMode="single" style="width:2%" />

					<p:column headerText="#{text['household.name']}"
						sortBy="#{household.name}" filterBy="#{household.name}">
						<h:commandLink action="#{householdForm.edit}"
							value="#{household.name}" ajaX="false" styleClass="ui-link">
							<f:param name="householdId" value="#{household.householdId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['user.address.address']}"
						sortBy="#{household.address.address}"
						filterBy="#{household.address.address}">
						<h:outputText value="#{household.address.address}" escape="true" />
					</p:column>

					<p:column headerText="#{text['user.address.city']}"
						sortBy="#{household.address.city}"
						filterBy="#{household.address.city}">
						<h:outputText value="#{household.address.city}" escape="true" />
					</p:column>


					<p:column headerText="#{text['user.phoneNumber']}"
						sortBy="#{household.phoneNumber}"
						filterBy="#{household.phoneNumber}">
						<h:outputText value="#{household.phoneNumber}" escape="true" />
					</p:column>


					<p:column headerText="#{text['household.email']}"
						sortBy="#{household.email}" filterBy="#{household.email}">
						<h:outputText value="#{household.email}" escape="true" />
					</p:column>

					<p:column headerText="#{text['household.envelopeNum']}"
						sortBy="#{household.envelopeNum}"
						filterBy="#{household.envelopeNum}">
						<h:outputText value="#{household.envelopeNum}" escape="true" />
					</p:column>

					<p:column headerText="#{text['household.status']}"
						sortBy="#{household.status}" filterBy="#{household.status}">
						<h:outputText value="#{household.status}" escape="true" />
					</p:column>

					<p:rowExpansion>

						<p:panel style="width:30%">
							<f:facet name="header">
								<h:outputText value="#{text['householdList.householdMembers']}" />
							</f:facet>
							<p:dataTable value="#{householdList.persons}" var="person">

								<p:column headerText="#{text['user.fullName']} ">

									<p:panelGrid styleClass="ui-panelgrid-blank">

										<p:row>
											<p:column style="width:2%">
												<p:graphicImage value="#{resource['images:Users24.png']}" />
											</p:column>
											<p:column>
												<h:commandLink action="addveiwhere"
													value="#{person.firstName}, #{person.lastName}"
													ajaX="false">
													<f:param name="personId" value="#{person.personId}" />
													<f:param name="from" value="list" />
												</h:commandLink>
											</p:column>

										</p:row>
									</p:panelGrid>
								</p:column>

								<p:column headerText="#{text['user.phoneNumber']}">
									<h:outputText value="#{person.phoneNumber}" />
								</p:column>

							</p:dataTable>
						</p:panel>
					</p:rowExpansion>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgHousehold"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="householdDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{householdList.selectedHousehold.name}" />
						<f:param value="#{text['householdList.household']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('householdDlgWv').hide();"
				actionListener="#{householdList.delete}"
				update=":mainFrm:dtblHousehold :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('householdDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>