<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['householdDetail.title']}</ui:define>

	<ui:param name="menu" value="householdform" />
	<ui:param name="bodyId" value="householdform" />

	<ui:define name="body">
		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />


			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['householdDetail.title']}">
				<shared:instructionText
					textHeader="#{text['householdDetail.heading']}"
					textSummary="#{text['householdDetail.message']}" />

				<f:facet name="actions">
					<p:commandLink
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						ajax="true" oncomplete="PF('dlgHelpWv').show();" update="@form">
						<h:outputText styleClass="fa fa-question-circle Fs14 white" />

						<f:setPropertyActionListener target="#{householdForm.helpKey}"
							value="household.help" />

					</p:commandLink>
				</f:facet>


				<p:panelGrid columns="2" styleClass="ui-leftright-panelgrid">

					<!-- Left Panel -->
					<p:column id="clmnLeft">
						<ui:include src="/sections/household/leftContent.xhtml" />
					</p:column>

					<!-- Right Panel -->

					<p:column id="clmnRight" styleClass="ui-leftright-panelgrid">
						<ui:include src="/sections/household/rightContent.xhtml" />
					</p:column>
				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{householdForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false" icon="fa fa-floppy-o Fs14 white"
							update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{householdForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty householdForm.household.householdId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" value="#{text['button.delete']}" oncomplete="PF('householdDlgWv').show();"
								update="growl" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}"
							action="households" immediate="true" id="cancel" styleClass="btn"
							ajax="false" icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>



			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['householdDetail.heading']}" widgetId="dlgHelpWv">

				<h:outputText value="#{householdForm.helpMessage}"
					style="font-size: 120% !important;" />

			</shared:helpdialog>

			<p:confirmDialog id="dlgHousehold"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="householdDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{householdForm.household.name}" />
							<f:param value="#{text['householdList.household']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>

				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('householdDlgWv').hide();"
					action="#{householdForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('householdDlgWv').hide();" type="button"  />

			</p:confirmDialog>

		</h:form>
	</ui:define>
	
	<!-- 
	<ui:define name="scripts">
		<ui:include src="/scripts/dirty.js" />
	</ui:define>
	 -->
	

</ui:composition>

