<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['locationDetail.title']}</ui:define>

	<ui:param name="menu" value="location" />
	<ui:param name="bodyId" value="location" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['locationDetail.title']}">
				<shared:instructionText textHeader="#{text['locationDetail.heading']}"
					textSummary="#{text['locationDetail.message']}" />
					
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<ui:include src="/sections/location/locationEdit.xhtml"/>
			
				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{locationForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false" icon="fa fa-floppy-o Fs14 white"
							update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{locationForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty locationForm.location.locationId}">
							<p:commandButton  id="delete"
								icon="fa fa-trash Fs14 white" value="#{text['button.delete']}" oncomplete="locationDlgWv.show();"
								update="growl" />
						</c:if>

						<p:commandButton action="locations"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['locationDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{locationForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgLocation"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="locationDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{locationForm.location.name}" />
							<f:param value="#{text['locationList.location']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="locationDlgWv.hide();" action="#{locationForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="locationDlgWv.hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

