<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['locationDetail.title']} </ui:define>

	<ui:param name="menu" value="location" />
	<ui:param name="bodyId" value="location" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">
		
		
	
			<ui:include src="/sections/main/message.xhtml" />

			<st:panel header="#{text['locationDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<sec:authorize access="hasAnyRole('ROLE_ALL_LOCATION')"
					var="hasRoleDelete" />

				<sec:authorize access="hasAnyRole('ROLE_ALL_LOCATION')"
					var="hasRoleEdit" />

				<st:addDialogButton dialog="dlgEditLocationWv" bttnId="add"
					targetItem="locationForm.location" />

				<st:dataTable tableId="dtblLocation" tableVar="location"
					tableSelection="#{locationList.selectedLocation}"
					tableValue="#{locationList.locations}"
					tableRowKey="#{location.locationId}">

					<p:column headerText="#{text['location.name']}"
						sortBy="#{location.locationId}" filterBy="#{location.locationId}"
						priority="1">

						<st:editCommandLink linkLabel="#{location.name}"
							dialog="dlgEditLocationWv" targetItem="#{locationForm.location}"
							value="#{location}" toolTip="#{location.descr}">
							<f:param name="locationId" value="#{location.locationId}" />
							<f:param name="from" value="list" />
						</st:editCommandLink>

					</p:column>

					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="locationDlgWv" value="#{location}"
								targetItem="#{locationList.selectedLocation}" />
						</p:column>
					</c:if>

				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="locationDlgWv"
			deleteActionMethod="#{locationList.delete}"
			deleteMessageName="#{locationList.selectedLocation.name}"
			deleteMessageCategory="#{text['location.location']}"
			dialogId="dlgLocation" />

		<st:dataEntryDialog actionListner="#{locationForm.save}"
			dialogwidgetVar="dlgEditLocationWv"
			dialogHeader="#{text['locationDetail.title']}"
			dialogId="dlgEditLocation" fieldfocus="name">

			<ui:include src="/sections/location/locationEdit.xhtml" />

		</st:dataEntryDialog>
	</ui:define>
</ui:composition>