<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['messageDetail.title']} </ui:define>

	<ui:param name="menu" value="message" />
	<ui:param name="bodyId" value="message" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />


			<st:panel header="#{text['messageDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<sec:authorize access="hasAnyRole('ROLE_DELETE_MESSAGE')"
					var="hasRoleDelete" />

				<sec:authorize access="hasAnyRole('ROLE_EDIT_MESSAGE')"
					var="hasRoleEdit" />

				<st:addButton from="list" actionMethod="#{messageForm.edit}" />



				<!-- 		<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="messagePnl">

					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white"
						value="#{text['button.home']}" />

					<p:commandButton action="#{messageForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white"
						value="#{text['button.add']}" />

					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white"
						oncomplete="messageDlgWv.show();"
						disabled="#{!messageList.checked}" update="dtblMessage"
						styleClass="#{hasRoleDelete ? '' : 'hidden'}"
						value="#{text['button.delete']}" />

				</p:panelGrid> -->


				<st:dataTable tableId="dtblMessage" tableVar="message"
					tableSelection="#{messageList.selectedMessage}"
					tableValue="#{messageList.messages}" tableRowKey="#{message.name}">

					<!-- 	<p:dataTable id="dtblMessage" var="message"
					value="#{messageList.messages}" editable="false"
					widgetVar="messagesWV" paginator="true" paginatorPosition="bottom"
					rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{message.name}"
					selection="#{messageList.selectedMessage}">


					<p:ajax event="rowSelectRadio"
						listener="#{messageList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgMessage" />

					<p:column selectionMode="single" style="width:2%" /> -->

					<p:column headerText="#{text['message.name']}"
						sortBy="#{message.messageId}" filterBy="#{message.name}"
						priority="1">
						<h:commandLink action="#{messageForm.edit}"
							value="#{message.name}" ajaX="false" styleClass="ui-link">
							<f:param name="messageId" value="#{message.messageId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['message.type']}"
						sortBy="#{message.phone}" styleClass="Wid10 TexAlCenter"
						priority="3">

						<div class="TexAlCenter">

							<h:panelGroup rendered="#{message.phone}">
								<i class="fa fa-phone Fs22"></i>
							</h:panelGroup>

							<h:panelGroup rendered="#{message.text}">
								<i class="fa fa-mobile Fs22"></i>
							</h:panelGroup>

							<h:panelGroup rendered="#{message.email}">
								<i class="fa fa-envelope-o Fs22"></i>
							</h:panelGroup>
						</div>

					</p:column>

					<p:column headerText="#{text['message.descr']}"
						sortBy="#{message.descr}" filterBy="#{message.descr}" priority="4">
						<h:outputText value="#{message.descr}" escape="true" />
					</p:column>


					<c:if test="#{hasRoleDelete}">
						<p:column priority="2">
							<st:deleteCommandLink dialog="messageDlgWv" value="#{message}"
								targetItem="#{messageList.selectedMessage}" />
						</p:column>
					</c:if>

				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">


		<st:deleteConfirmDialog dialogwidgetVar="messageDlgWv"
			deleteActionMethod="#{messageList.delete}"
			deleteMessageName="#{messageList.selectedMessage.name}"
			deleteMessageCategory="#{text['messageList.message']}"
			dialogId="dlgMessage" />

		<!-- <p:confirmDialog id="dlgMessage"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="messageDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{messageList.selectedMessage.name}" />
						<f:param value="#{text['messageList.message']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="messageDlgWv.hide();"
				actionListener="#{messageList.delete}"
				update=":mainFrm:dtblMessage :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="messageDlgWv.hide();" type="button" />

		</p:confirmDialog> -->

	</ui:define>

</ui:composition>