<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">




	<ui:define name="pageTitle">#{text['messageDetail.title']}</ui:define>

	<ui:param name="menu" value="message" />
	<ui:param name="bodyId" value="message" />
	<ui:param name="statusDialog" value="show" />

	<ui:define name="body">



		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">



			<ui:include src="/sections/main/message.xhtml" />

		

			<p:panel style="width: 95%; margin: 0 auto"
				header="#{text['messageDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />
		
				<shared:instructionText
					textHeader="#{text['messageDetail.heading']}"
					textSummary="#{text['messageDetail.message']}" />

		
				<p:wizard flowListener="#{messageForm.onFlowProcess}" id="wiz"
					widgetVar="wvWiz" showNavBar="false">

					<p:focus context="wiz" />

					<p:tab id="format">
						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="1" style="display:block;font-size: 150%;" />
								<h:outputText value="Message Definition" />
							</h:panelGroup>
						</f:facet>

						<p:panelGrid layout="grid" columns="1">

							<p:outputLabel styleClass="control-label" for="name"
								value="#{text['message.name']}" />
							<p:inputText id="name" value="#{messageForm.message.name}"
								required="true" maxlength="255" />
							<p:message for="name" styleClass="help-inline" />


							<p:outputLabel styleClass="control-label" for="descr"
								value="#{text['message.descr']}" />

							<p:inputTextarea rows="3" cols="50" counter="descrCounter"
								maxlength="100" counterTemplate="{0} characters remaining"
								autoResize="false" value="#{messageForm.message.descr}"
								id="descr" />

							<h:outputText id="descrCounter" />

						</p:panelGrid>

					</p:tab>

					<p:tab id="delievry">

						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="2" style="display:block;font-size: 150%;" />
								<h:outputText value="Delivery Method" />
							</h:panelGroup>
						</f:facet>

						<div class="EmptyBox20" />

						<p:fieldset legend="#{text['messageDetail.selectDelivery']}">

							<p:panelGrid layout="grid" columns="1">

								<o:validateOneOrMore id="oneOrMore"
									components="phone text email"
									message="#{text['errors.oneOrMore']}" />

								<p:message for="oneOrMore" />

								<p:outputLabel styleClass="control-label" for="phone"
									value="#{text['message.phone']}" />
								<p:selectBooleanButton value="#{messageForm.message.phone}"
									id="phone" onLabel="#{text['button.yes']}"
									offLabel="#{text['button.no']}" onIcon="fa fa-check Fs14 white"
									offIcon="fa fa-remove Fs14 white" style="width:65px" />
								<p:message for="phone" styleClass="help-inline" />


								<p:outputLabel styleClass="control-label" for="text"
									value="#{text['message.text']}" />
								<p:selectBooleanButton value="#{messageForm.message.text}"
									id="text" onLabel="#{text['button.yes']}"
									offLabel="#{text['button.no']}" onIcon="fa fa-check Fs14 white"
									offIcon="fa fa-remove Fs14 white" style="width:65px" />
								<p:message for="text" styleClass="help-inline" />


								<p:outputLabel styleClass="control-label" for="email"
									value="#{text['message.email']}" />

								<p:selectBooleanButton value="#{messageForm.message.email}"
									onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
									onIcon="fa fa-check Fs14 white"
									offIcon="fa fa-remove Fs14 white" style="width:65px" id="email" />

								<p:message for="email" styleClass="help-inline" />

							</p:panelGrid>
						</p:fieldset>

					</p:tab>

					<p:tab id="create">

						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="3" style="display:block;font-size: 150%;" />
								<h:outputText value="Create Message" />
							</h:panelGroup>
						</f:facet>

						<p:panelGrid columns="1" layout="grid">


							<p:outputLabel styleClass="control-label" for="sender"
								value="#{text['message.from']}" />
							<p:inputText id="sender" value="#{messageForm.message.sender}"
								required="false" maxlength="255" />
							<p:message for="sender" styleClass="help-inline" />

							<p:outputLabel styleClass="control-label" for="lang"
								value="#{text['message.lang']}" />

							<p:selectOneMenu value="#{messageForm.message.lang}" id="lang"
								required="true" effect="fade" styleClass="Wid10">
								<f:selectItems value="#{messageForm.languages}" var="l"
									itemValue="#{l}" itemLabel="#{l.value}" />
							</p:selectOneMenu>

							<p:message for="lang" styleClass="help-inline" />

							<p:outputLabel styleClass="control-label" for="voice"
								value="#{text['message.voice']}" />

							<p:selectOneMenu value="#{messageForm.message.voice}" id="voice"
								required="true" effect="fade" styleClass="Wid10">
								<f:selectItems value="#{messageForm.voices}" var="v"
									itemValue="#{v}" itemLabel="#{v.value}" />
							</p:selectOneMenu>

							<p:message for="voice" styleClass="help-inline" />


							<p:outputLabel styleClass="control-label" for="msg"
								value="#{text['message.message']}" />

							<!-- 
							<p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
								maxlength="65535" counterTemplate="{0} characters remaining"
								autoResize="false" value="#{messageForm.message.message}"
								id="msg" required="true" />
								 -->


							<p:editor id="msg" value="#{messageForm.message.message}"
								widgetVar="wvmsg" required="true" maxlength="65535" />

							<p:message for="msg" styleClass="help-inline" />

							<h:outputText id="inptxrCounter" />



						</p:panelGrid>
					</p:tab>



					<p:tab id="preview">


						<f:facet name="title">
							<h:panelGroup
								style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
								<h:outputText value="4" style="display:block;font-size: 150%;" />
								<h:outputText value="Review and Save" />
							</h:panelGroup>
						</f:facet>



						<p:panelGrid columns="1" id="reviewPnl" layout="grid">
							<p:outputLabel styleClass="control-label" for="name2"
								value="#{text['message.name']}" />
							<p:outputLabel id="name2" value="#{messageForm.message.name}" />
						</p:panelGrid>


					</p:tab>


				</p:wizard>


				<p:outputPanel 
					styleClass="Responsive100 Container100" 
					layout="block">
					
					<p:autoUpdate />

					<p:panelGrid layout="grid" columns="1">

						<div class="Fleft">
							<p:commandButton type="button" onclick="PF('wvWiz').back();"
								value="#{text['button.previous']}"
								icon="fa fa-hand-o-left Fs14 white"
								disabled="#{messageForm.currentStep eq 'format'}" global="false" />

						</div>
						<div class="Fright">
							<c:choose>
								<c:when test="#{messageForm.currentStep ne 'preview'}">
									<p:commandButton type="button" onclick="PF('wvWiz').next();"
										value="#{text['button.next']}"
										icon="fa fa-hand-o-right Fs14 white"
										disabled="#{messageForm.currentStep eq 'preview'}"
										global="false" />
								</c:when>
								<c:otherwise>

									<p:commandButton value="#{text['button.save']}"
										actionListener="#{messageForm.save}" id="save" ajax="true"
										icon="fa fa-floppy-o Fs14 white" update="@form"
										process="@form" validateClient="true" />


								</c:otherwise>
							</c:choose>

						</div>


					</p:panelGrid>

				</p:outputPanel>


				<f:facet name="footer">
					<h:panelGroup>

						<sec:authorize access="hasAnyRole('ROLE_DELETE_MESSAGE')"
							var="hasRoleDelete" />

						<c:if test="${not empty messageForm.message.messageId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" oncomplete="messageDlgWv.show();"
								update="growl" styleClass="#{hasRoleDelete ? '' : 'hidden'}" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}"
							action="messages" immediate="true" id="cancel" styleClass="btn"
							ajax="false" icon="fa fa-hand-o-left Fs14 white" />

					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['messageDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{messageForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgMessage"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="messageDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{messageForm.message.name}" />
							<f:param value="#{text['messageList.message']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="messageDlgWv.hide();" action="#{messageForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="messageDlgWv.hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

