<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="personId"
				value="#{sessionScope.currentUser.person.personId}" />
			<f:viewParam name="from" value="self" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form enctype="multipart/form-data" prependId="false">
			<p:remoteCommand actionListener="#{myInformationForm.myInformation}"
				immediate="true" global="false" autoRun="true" />
		</h:form>
	</ui:define>

</ui:composition>