<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['notificationDetail.title']} </ui:define>

	<ui:param name="menu" value="notification" />
	<ui:param name="bodyId" value="notification" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['notificationDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText
					textHeader="#{text['notificationDetail.heading']}"
					textSummary="#{text['notificationList.message']}" />


				<p:panelGrid columns="3" styleClass="norowline nocolline listbutton"
					id="notificationPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" />
					<p:commandButton action="#{notificationForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white"
						oncomplete="notificationDlgWv.show();"
						disabled="#{!notificationList.checked}" update="dtblNotification" />
				</p:panelGrid>

				<p:dataTable id="dtblNotification" var="notification"
					value="#{notificationList.notifications}" editable="false"
					widgetVar="notificationsWV" paginator="true"
					paginatorPosition="bottom" rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{notification.name}"
					selection="#{notificationList.selectedNotification}">


					<p:ajax event="rowSelectRadio"
						listener="#{notificationList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgNotification" />

					<p:column selectionMode="single" style="width:2%" />



					<p:column headerText="#{text['notification.notificationId']}"
						sortBy="#{notification.notificationId}"
						filterBy="#{notification.notificationId}">
						<h:commandLink action="#{notificationForm.edit}"
							value="#{notification.name}" ajaX="false" styleClass="ui-link">
							<f:param name="notificationId"
								value="#{notification.notificationId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['notification.createDate']}"
						sortBy="#{notification.createDate}"
						filterBy="#{notification.createDate}">
						<h:outputText value="#{notification.createDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.createdByUser']}"
						sortBy="#{notification.createdByUser}"
						filterBy="#{notification.createdByUser}">
						<h:outputText value="#{notification.createdByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.lastUpdate']}"
						sortBy="#{notification.lastUpdate}"
						filterBy="#{notification.lastUpdate}">
						<h:outputText value="#{notification.lastUpdate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.updatedByUser']}"
						sortBy="#{notification.updatedByUser}"
						filterBy="#{notification.updatedByUser}">
						<h:outputText value="#{notification.updatedByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.version']}"
						sortBy="#{notification.version}"
						filterBy="#{notification.version}">
						<h:outputText value="#{notification.version}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.completeDate']}"
						sortBy="#{notification.completeDate}"
						filterBy="#{notification.completeDate}">
						<h:outputText value="#{notification.completeDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.descr']}"
						sortBy="#{notification.descr}" filterBy="#{notification.descr}">
						<h:outputText value="#{notification.descr}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.duration']}"
						sortBy="#{notification.duration}"
						filterBy="#{notification.duration}">
						<h:outputText value="#{notification.duration}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.fieldName']}"
						sortBy="#{notification.fieldName}"
						filterBy="#{notification.fieldName}">
						<h:outputText value="#{notification.fieldName}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.name']}"
						sortBy="#{notification.name}" filterBy="#{notification.name}">
						<h:outputText value="#{notification.name}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.notificationType']}"
						sortBy="#{notification.notificationType}"
						filterBy="#{notification.notificationType}">
						<h:outputText value="#{notification.notificationType}"
							escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.priority']}"
						sortBy="#{notification.priority}"
						filterBy="#{notification.priority}">
						<h:outputText value="#{notification.priority}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.sourceID']}"
						sortBy="#{notification.sourceID}"
						filterBy="#{notification.sourceID}">
						<h:outputText value="#{notification.sourceID}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.tenantId']}"
						sortBy="#{notification.tenantId}"
						filterBy="#{notification.tenantId}">
						<h:outputText value="#{notification.tenantId}" escape="true" />
					</p:column>

					<p:column headerText="#{text['notification.user']}"
						sortBy="#{notification.user}" filterBy="#{notification.user}">
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgNotification"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="notificationDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{notificationList.selectedNotification.name}" />
						<f:param value="#{text['notificationList.notification']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="notificationDlgWv.hide();"
				actionListener="#{notificationList.delete}"
				update=":mainFrm:dtblNotification :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="notificationDlgWv.hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>