<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['notificationDetail.title']}</ui:define>

	<ui:param name="menu" value="notification" />
	<ui:param name="bodyId" value="notification" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['notificationDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText
					textHeader="#{text['notificationDetail.heading']}"
					textSummary="#{text['notificationDetail.message']}" />



				<p:panelGrid columns="1" layout="grid"
					styleClass="norowline nocolline" id="notificationPnl">


					<p:outputLabel styleClass="control-label" for="completeDate"
						value="#{text['notification.completeDate']}" />
					<p:calendar value="#{notificationForm.notification.completeDate}"
						id="completeDate" required="true" showOn="button"
						pattern="MM/dd/yyyy" mask="true" maskAutoClear="true" />
					<p:message for="completeDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="descr"
						value="#{text['notification.descr']}" />
					<p:inputText id="descr"
						value="#{notificationForm.notification.descr}" required="false"
						maxlength="100" />
					<p:message for="descr" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="duration"
						value="#{text['notification.duration']}" />
					<p:inputText id="duration"
						value="#{notificationForm.notification.duration}" required="false"
						maxlength="255" />
					<p:message for="duration" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="fieldName"
						value="#{text['notification.fieldName']}" />
					<p:inputText id="fieldName"
						value="#{notificationForm.notification.fieldName}" required="true"
						maxlength="20" />
					<p:message for="fieldName" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['notification.name']}" />
					<p:inputText id="name"
						value="#{notificationForm.notification.name}" required="true"
						maxlength="50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="notificationType"
						value="#{text['notification.notificationType']}" />
					<p:inputText id="notificationType"
						value="#{notificationForm.notification.notificationType}"
						required="false" maxlength="20" />
					<p:message for="notificationType" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="priority"
						value="#{text['notification.priority']}" />
					<p:inputText id="priority"
						value="#{notificationForm.notification.priority}" required="false"
						maxlength="10" />
					<p:message for="priority" styleClass="help-inline" />

					<p:selectOneMenu value="#{notificationForm.notification.user}"
						id="user" required="true" styleClass="select">
						<f:selectItems value="#{notificationForm.notification.user}" />
					</p:selectOneMenu>
					<p:message for="user" styleClass="help-inline" />


				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{notificationForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{notificationForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if
							test="${not empty notificationForm.notification.notificationId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white"
								oncomplete="notificationDlgWv.show();" update="growl" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}"
							action="notifications" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['notificationDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{notificationForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgNotification"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="notificationDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{notificationForm.notification.name}" />
							<f:param value="#{text['notificationList.notification']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="notificationDlgWv.hide();"
					action="#{notificationForm.delete}" update=":mainFrm:growl"
					ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="notificationDlgWv.hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

