<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">Page Not Ready</ui:define>

	<ui:define name="body">

		<ui:include src="/sections/main/message.xhtml" />

		<p:panel style="width: 100%; margin: 0 auto"
			header="Page Not Ready">
			<p:panelGrid columns="1">
				<p:graphicImage library="images" name="churchview.png"/>
			</p:panelGrid>
		</p:panel>

	</ui:define>


</ui:composition>