<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['personDetail.title']}</ui:define>

	<ui:param name="menu" value="Persons" />
	<ui:param name="bodyId" value="persons" />
	<ui:param name="tour" value="YES" />
	<ui:param name="helpId" value="#{text['persons.help']}" />

	<ui:define name="body">


		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<sec:authorize access="hasAnyRole('ROLE_ADMIN','ROLE_EDIT_CATEGORY')"
				var="hasRoleEdit" />

			<sec:authorize access="hasAnyRole('ROLE_ADMIN','ROLE_DELETE_PERSON')"
				var="hasRoleDelete" />

			<p:remoteCommand name="filterList" partialSubmit="true"
				process="@(#globalFilter)" update="@form" />


			<ui:include src="/sections/main/message.xhtml" />

			<st:panel header="#{text['personDetail.title']}" cId="pnllist">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />


				<p:panelGrid columns="2" styleClass="ui-panelgrid-blank Wid100">

					<p:outputPanel layout="inline" id="otpsearch"
						styleClass="TexAlRight">
						<i class="fa fa-search Fs24" />
						<p:spacer width="5px" />

						<p:inputText id="globalFilter"
							onkeyup="if (this.value.length > 2 || this.value.length == 0 ){filterList();}"
							placeholder="#{text['attendance.searchHere']}" styleClass="Wid80"
							value="#{personList.filter}" onblur="setConfirmUnload(false);" />
		
					</p:outputPanel> 

					<st:addButton from="list" actionMethod="#{personForm.edit}" />

				</p:panelGrid>


				<p:dataGrid id="dtblPerson" var="person"
					value="#{personList.persons}" widgetVar="personsWV"
					paginator="true" paginatorPosition="bottom" rows="50"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="50,100,150" paginatorAlwaysVisible="false"
					columns="3" layout="grid" lazy="false"
					emptyMessage="#{text['message.noInformation']}" >

					<p:panel style="text-align:center">

						<f:facet name="header">
							<b> <p:commandLink action="#{personForm.edit}"
									value="#{person.name}" ajax="false" styleClass="ui-link">
									<f:param name="personId" value="#{person.personId}" />
									<f:param name="from" value="list" />
								</p:commandLink>
							</b>
						</f:facet>

						<h:panelGrid columns="1" style="width:100%">

							<p:commandLink action="#{personForm.edit}" ajax="false"
								styleClass="ui-link">

								<f:param name="personId" value="#{person.personId}" />
								<f:param name="from" value="list" />

								<p:graphicImage value="#{personList.pictures(person.personId)}"
									id="dgpic" cache="false" height="64px" width="64px"
									styleClass="BordRadHalf" stream="false">
								</p:graphicImage>

							</p:commandLink>

							<h:outputText value="#{person.email}" escape="true" />

						<!--	<h:outputText id="phone"
								value="#{not empty person.mobileNumber ? person.mobileNumber : person.phoneNumber}"
								converter="phoneConverter">
							</h:outputText>-->

                            <h:outputText id="phone"
                                          value="#{not empty person.mobileNumber ? person.mobileNumber : person.phoneNumber}">
                            </h:outputText>

							<h:outputText value="#{person.memberType}"
								converter="#{LabelValueConverter}">
								<f:attribute name="list" value="#{personList.memberTypes}" />
							</h:outputText>

							<f:facet name="footer">
								<st:deleteCommandLink dialog="personDlgWv"
									targetItem="#{personList.selectedPerson}" value="#{person}" />
							</f:facet>

						</h:panelGrid>

					</p:panel>
				</p:dataGrid>
			</st:panel>
		</h:form>
	</ui:define>


	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="personDlgWv"
			deleteActionMethod="#{personList.delete}"
			deleteMessageName="#{personList.selectedPerson.name}"
			deleteMessageCategory="#{text['personList.person']}"
			dialogId="dlgPerson" />

	</ui:define>

</ui:composition>
