<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">


    <f:metadata>
        <f:viewParam name="personId" value="#{menuSearch.personId}"/>
        <f:viewParam name="from" value="list"/>
    </f:metadata>


    <ui:define name="head">

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <!-- <script type="text/javascript"
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUMDmceOQu15BwieTACvTvShq0jI2z2vEY&v=quarterly&callback=initMap">

         <script type="text/javascript" async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUMDmceOQu15BwieTACvTvShq0jI2z2vEY&callback=initMap"></script>

         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUMDmceOQu15BwieTACvTvShq0jI2z2vEY"></script>-->


    </ui:define>


    <ui:define name="pageTitle">
        <f:loadBundle var="text" basename="#{personForm.bundleName}"/>
        #{text['personDetail.title']}
    </ui:define>

    <ui:define name="body">


        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <sec:authorize access="hasAnyRole('ROLE_DELETE_PERSON')"
                           var="hasRoleDelete"/>
            <sec:authorize access="hasAnyRole('ROLE_EDIT_PERSON')"
                           var="hasRoleEdit"/>


            <p:remoteCommand name="disableButtons"
                             actionListener="#{personForm.turnButtonsOff}" immediate="true"
                             global="false" update="@(#otpImage)"/>

            <!-- Initialize Person data model; couldn't get ActionView to work-->
            <p:remoteCommand global="false" immediate="true" autoRun="true"
                             actionListener="#{personForm.initialize}"/>


            <p:panel id="pnlMain" style="width:95%; margin: 0 auto;">

                <!--  <p:messages globalOnly="true" showDetail="true" closable="true" showIcon="true" redisplay="true" />-->

                <f:facet name="header">
                    <h:outputText value="#{text['personDetail.title']}"/>
                </f:facet>

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <div class="Container">

                    <ui:include src="/sections/main/message.xhtml"/>

                    <!-- Person Header -->

                    <div class="Container50">
                        <div class="ContainerIndent">
                            <div style="display: table">
                                <div style="display: table-cell">
                                    <p:graphicImage value="#{personForm.personPicture}" id="pic"
                                                    cache="false" height="64px" width="64px"
                                                    styleClass="BordRadHalf"
                                                    onclick="$('#cmdlchangepic').click();" stream="false">
                                        <f:param name="personId" value="#{personForm.person.personId}"/>
                                    </p:graphicImage>

                                    <p:tooltip id="toolTipTrack" for="pic"
                                               value="#{text['person.updatePhoto']}" trackMouse="true"/>

                                    <p:commandLink value="#{text['personDetial.changePicture']}"
                                                   styleClass="ui-link DispBlock hidden" global="false"
                                                   oncomplete="PF('imageDlgWv').show();" ajax="true"
                                                   update="@ personPnl" partialSubmit="true"
                                                   process="@ personPnl" id="cmdlchangepic"
                                                   disabled="#{empty personForm.person.firstName or empty personForm.person.lastName}"/>
                                </div>

                                <div style="display: table-cell; vertical-align: top">
									<span style="display: block"
                                          class="Unselectable FontBold Fs30 ml3">#{personForm.person.name}</span>
                                    <p:commandLink id="cmlemial" styleClass="ml3"
                                                   rendered="#{!empty personForm.person.email}">
                                        <span class="fa fa-envelope Fs15">  #{personForm.person.email}</span>
                                    </p:commandLink>

                                    <span style="display: block"/>

                                    <p:panelGrid columns="3" styleClass="ui-panelgrid-blank Wid100">

                                        <p:commandLink id="cmlTraining" partialSubmit="true" global="fale"
                                                       oncomplete="PF('wvTrainning').show();">
                                            <i class="fa fa-book Fs15"/><p:spacer
                                                width="5px"/>#{text['persontab.training']}
                                        </p:commandLink>

                                        <p:commandLink id="cmlCheckin" partialSubmit="true" global="fale"
                                                       oncomplete="PF('wvCheckIn').show();">
                                            <i class="fa fa fa-check-circle Fs15"/><p:spacer
                                                width="2px"/>#{text['persontab.attendance']}
                                        </p:commandLink>

                                        <p:commandLink id="cmlConnection" partialSubmit="true" global="fale"
                                                       oncomplete="PF('wvConnection').show();">
                                            <i class="fa fa fa-phone-square Fs15"/><p:spacer
                                                width="5px"/> #{text['persontab.connections']}
                                        </p:commandLink>

                                    </p:panelGrid>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- END...Person Header -->

                <p:separator styleClass="Wid100"/>


                <p:tabView id="tbvwperson" style="width:100%; margin: 0 auto;"
                           orientation="top" prependId="false" dynamic="false" cache="true">

                    <p:ajax global="false" event="tabChange"
                            listener="#{personForm.tabOnChange}"/>

                    <p:tab title="#{text['persontab.details']}" id="tbdetails">
                        <ui:include src="/sections/person/details.xhtml"/>
                    </p:tab>


                    <p:tab title="#{text['persontab.contributions']}"
                           id="tbContributions">
                        <ui:include src="/sections/person/personContribution.xhtml"/>
                    </p:tab>

                    <p:tab title="#{text['pledgeList.pledges']}" id="tbPledge">
                        <ui:include src="/sections/person/personPledge.xhtml"/>
                    </p:tab>

                    <c:if test="#{personForm.from ne 'self'}">

                        <p:tab title="#{text['persontab.notes']}" id="notes">
                            <ui:include src="/sections/person/notes.xhtml"/>
                        </p:tab>

                        <p:tab title="#{text['persontab.activities']}" id="tbGroup">
                            <ui:include src="/sections/person/personGroup.xhtml"/>
                        </p:tab>


                        <!-- Remove login information from PersonForm; will move the associate of person to login from user form; members will have to specify a profile assocates  -->
                        <!-- <p:tab title="#{text['login.title']}" id="tbLogin">
                            <ui:include src="/sections/person/personLogins.xhtml" />
                        </p:tab> -->

                    </c:if>


                </p:tabView>

                <ui:include src="/sections/person/buttons.xhtml"/>

            </p:panel>

            <p:spacer height="5px"/>


        </h:form>

        <h:outputScript id="handleFamilyCompleteScript" target="body">

            /* <![CDATA[ */


            function handleFamComplete(xhr, status, args) {

                PrimeFaces.info('In handleComplete()');

                if (args && args.valid) {
                    famDlg.hide();
                }
            }

            function checkValue() {

                txt = $("#householdsearch_input").val();

                if (txt.trim().length === 0) {
                    $('#cmdAddExistingFamily').addClass('ui-state-disabled');
                    $('#cmdAddExistingFamily').prop('disabled', true);
                } else {
                    $('#cmdAddExistingFamily').removeClass('ui-state-disabled');
                    $('#cmdAddExistingFamily').prop('disabled', false);
                }

            }

            function validateNamesEmpty() {

                tfirstName = $("#firstName").val();
                tlastName = $("#lastName").val();

                if (tfirstName.trim().length === 0 || tlastName.trim().length === 0) {
                    $('#cmdlchangepic').addClass('ui-state-disabled');
                    $('#cmdlchangepic').prop('disabled', true);
                } else {
                    $('#cmdlchangepic').removeClass('ui-state-disabled');
                    $('#cmdlchangepic').prop('disabled', false);
                }

            }

            function handleContributionComplete(xhr, status, args) {

                PrimeFaces.info('In handleContributionComplete()');

                if (args && args.valid) {
                    PF('dlgContribWv').hide();
                }
            }

            function scrollToBottom() {
                $('.ui-datatable-scrollable-body').scrollTop(100000)
            }

            function handleClassComplete(xhr, status, args) {

                PrimeFaces.info('In handleClassComplete()');

                if (args && args.valid) {
                    PF('wvshowAddClass').hide();
                }
            }

            function handleGroupComplete(xhr, status, args) {

                PrimeFaces.info('In handleClassComplete()');

                if (args && args.valid) {
                    PF('dlgAddGroupMemberWv').hide();
                }
            }

            function handlePledgeComplete(xhr, status, args) {

                PrimeFaces.info('In handlePledgeComplete()');

                if (args && args.valid) {
                    PF('dlgAddPledgeWv').hide();
                }
            }

            function showStatus() {
                PF('wvStatusDialog').show();
            }

            function hideStatus() {
                PF('wvStatusDialog').hide();
            }


            /* ]]> */

        </h:outputScript>


    </ui:define>


    <ui:define name="confirmDialog">

        <st:dataEntryDialog dialogwidgetVar="wvsaddMember" dialogHeader="#{text['household.addPeopleFamily']}"
                            actionListener="#{personForm.flushFamilyMember}" fieldfocus="addPersonSearch"
                            id="ccAddMember" dialogId="ccAddMember"
                            closeListener="#{personForm.handleCloseAddMemberDialog}"
                            update="@(.ui-datatable) @(.ui-wizard)" validateOnSave="false"
                            showFooterButtons="true" saveTitle="#{text['button.add']}">
            <ui:include src="/sections/person/addFamilyMember.xhtml"/>
        </st:dataEntryDialog>


        <st:dataEntryDialog actionListener="#{personForm.processContribution}"
                            dialogHeader="#{text['contributionDetail.heading']}" dialogwidgetVar="dlgContribWv"
                            fieldfocus="dateGiven" id="ccshowAddContrib" dialogId="showAddContrib"
                            closeListener="#{personForm.handleCloseContribDialog}">
            <ui:include src="../sections/person/dialogs/personContributionEdit.xhtml"/>

        </st:dataEntryDialog>


        <st:dataEntryDialog actionListener="#{personForm.addClassMember}"
                            dialogHeader="#{text['person.group.addTraining']}" dialogwidgetVar="wvshowAddClass"
                            fieldfocus="slmGroupClass" id="ccshowAddClass" dialogId="showAddClass"
                            closeListener="#{personForm.handleCloseClassDialog}"
                            update="@(.dtbl-class) @(.ui-panelgrid)">
            <ui:include src="../sections/person/dialogs/personClassEdit.xhtml"/>
        </st:dataEntryDialog>


        <st:dataEntryDialog actionListener="#{personForm.addGroupMember}" dialogwidgetVar="dlgAddGroupMemberWv"
                            dialogHeader="#{text['groupDetail.heading']}" fieldfocus="slmCategoryGrp"
                            dialogId="groupDialog"
                            closeListener="#{personForm.handleCloseGroupDialog}" id="ccGroupDialog">

            <ui:include src="../sections/person/dialogs/personGroupEdit.xhtml"/>

        </st:dataEntryDialog>


        <p:dialog header="#{text['pledgeDetail.heading']}"
                  widgetVar="dlgAddPledgeWv" showEffect="clip" hideEffect="fold"
                  reszable="false" modal="true" responsive="true" dynamic="true"
                  id="dlgAddPledge">

            <ui:include src="../sections/person/dialogs/personPledgeEdit.xhtml"/>

        </p:dialog>

        <st:dataEntryDialog actionListener="#{personForm.addPledge}" dialogwidgetVar="dlgAddPledgeWv"
                            dialogHeader="#{text['pledgeDetail.heading']}" fieldfocus="slomPledge"
                            update="@(.dtbl-pledge)" dialogId="ccDlgAddPledge"
                            closeListener="#{personForm.handleClosePledgeDialog}">
            <ui:include src="../sections/person/dialogs/personPledgeEdit.xhtml"/>
        </st:dataEntryDialog>

        <p:remoteCommand name="refreshFileLinkTable" global="false"
                         update="@ dtfileLink @ pnlFileUpload" partialSubmit="true" process="@this"
                         actionListener="#{personForm.handleFileDialogClose}"/>

        <p:dialog id="dlgFileLink" widgetVar="wvdlgFileLink" resizable="false"
                  modal="true" responsive="true" dynamic="false" showEffect="clip"
                  hideEffect="fold" onHide="refreshFileLinkTable();" width="400"
                  header="#{text['upload.title']}">


            <p:panel id="pnlFileUpload">


                <p:fileUpload
                        fileUploadListener="#{personForm.handlePersonFileUpload}"
                        mode="advanced" dragDropSupport="true" sizeLimit="2048000"
                        allowTypes="/(\.|\/)(pdf|doc.*|xls.*|txt|ppt.*)$/" id="fupload"
                        widgetVar="wvfileUpload" label="#{text['button.choose']}" chooseIcon="fa fa-cloud-upload"
                        multiple="false" auto="true" update="@(#msgfilelink)"
                        oncomplete="setConfirmUnload(false);">


                    <div align="center">
                        <h2>
                            <span>
                            <h:outputText
                                    value="#{ (not empty personForm.selectedFileLink) ? text['display.heading'].concat({personForm.selectedFileLink.name}) :  ''}"/>
                            </span>
                        </h2>
                        <h3>
                            <h:outputText value="#{text['message.dragAndDrop']}"/>
                        </h3>
                        <h4>
                            <h:outputText value="#{text['message.filesToUpload']}"/>
                            <p:link value="#{text['button.choose']}"
                                    onclick="$('.ui-fileupload-choose').click(); return false;"/>
                        </h4>
                    </div>

                </p:fileUpload>

                <p:messages globalOnly="false" showIcon="true" closable="false"
                            for="fupload" id="msgfilelink"/>


                <f:facet name="footer">

                    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

                        <p:commandButton value="#{text['button.clear']}"
                                         actionListener="#{personForm.removeFile}" id="cmbFileLinkDelete"
                                         process="@this" ajax="true" icon="fa fa-trash Fs14 white"
                                         partialSubmit="true"
                                         oncomplete="PF('wvdlgFileLink').hide();refreshFileLinkTable();"
                                         update="@ dlgFileLink"
                                         rendered="#{not empty personForm.selectedFileLink}">
                        </p:commandButton>

                        <p:commandButton id="cmbFileLinkClose" icon="fa fa-hand-o-left Fs14 white"
                                         value="#{text['button.close']}"
                                         onclick="PF('wvdlgFileLink').hide();setConfirmUnload(false);refreshFileLinkTable();"
                                         update="@ dlgFileLink"
                                         type="button"/>
                    </p:panelGrid>
                </f:facet>

            </p:panel>


        </p:dialog>


        <p:confirmDialog id="dlgPerson"
                         header="#{text['dialog.deleteConfirmation']}" severity="alert"
                         widgetVar="personDlgWv" showEffect="clip" hideEffect="fold">

            <f:facet name="message">
                <p:panelGrid columns="1">
                    <h:outputFormat id="otplPersonToDelete"
                                    value="#{text['dialog.areYouSure']}">
                        <f:param value="#{personForm.person.name}"/>
                        <f:param value="#{text['personList.person']}"/>
                    </h:outputFormat>
                </p:panelGrid>
            </f:facet>

            <p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
                             oncomplete="PF('personDlgWv').hide();" action="#{personForm.delete}"
                             update=":mainFrm:growl" ajax="false"/>

            <p:commandButton id="decline" value="#{text['button.no']}"
                             onclick="PF('personDlgWv').hide();" type="button"/>

        </p:confirmDialog>


        <p:dialog id="dlgmap" widgetVar="dlgmapWv" width="625" height="400"
                  modal="true" header="#{text['button.showMap']}" resizable="false"
                  showEffect="clip" hideEffect="fold" responsive="true">

            <p:gmap center="#{personForm.center}" zoom="13" type="HYBRID"
                    style="width:600px;height:400px" id="gmap"
                    model="#{personForm.markerModel}">

                <p:ajax event="overlaySelect" listener="#{personForm.eventSelected}"/>

                <p:gmapInfoWindow id="infoWindow">
                    <p:outputPanel
                            style="text-align:center;display:block;margin:auto;font-size:12px">
                        <h:panelGrid columns="1" styleClass="ui-panelgrid-blank">
                            <p:graphicImage value="#{imageStreamer.personImage}" id="picGmap"
                                            cache="false" height="128px" width="128px">
                                <f:param name="personId" value="#{personForm.person.personId}"/>
                            </p:graphicImage>
                            <strong> <h:outputText
                                    value="#{personForm.selectedPerson.name}"/>
                            </strong>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:gmapInfoWindow>
            </p:gmap>

        </p:dialog>


        <ui:include src="/sections/person/dialogs/editPicture.xhtml"/>


    </ui:define>

</ui:composition>

