<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['pledgeDetail.title']} </ui:define>

	<ui:param name="menu" value="pledge" />
	<ui:param name="bodyId" value="pledge" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['pledgeDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['pledgeDetail.heading']}"
					textSummary="#{text['pledgeList.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="pledgePnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
											oncomplete="PF('pledgeDlgWv').show();" disabled="#{!pledgeList.checked}"
						update="dtblPledge" />
					<p:commandButton action="#{pledgeForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}" />
				</p:panelGrid>

				<p:dataTable id="dtblPledge" var="pledge"
					value="#{pledgeList.pledges}" editable="false"
					widgetVar="pledgesWV" paginator="true" paginatorPosition="bottom"
					rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{pledge.name}"
					selection="#{pledgeList.selectedPledge}">


					<p:ajax event="rowSelectRadio"
						listener="#{pledgeList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgPledge" />

					<p:column selectionMode="single" style="width:2%" />



					<p:column headerText="#{text['pledge.pledgeId']}"
						sortBy="#{pledge.pledgeId}" filterBy="#{pledge.pledgeId}">
						<h:commandLink action="#{pledgeForm.edit}" value="#{pledge.name}"
							ajaX="false" styleClass="ui-link">
							<f:param name="pledgeId" value="#{pledge.pledgeId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['pledge.createDate']}"
						sortBy="#{pledge.createDate}" filterBy="#{pledge.createDate}">
						<h:outputText value="#{pledge.createDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.createdByUser']}"
						sortBy="#{pledge.createdByUser}"
						filterBy="#{pledge.createdByUser}">
						<h:outputText value="#{pledge.createdByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.lastUpdate']}"
						sortBy="#{pledge.lastUpdate}" filterBy="#{pledge.lastUpdate}">
						<h:outputText value="#{pledge.lastUpdate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.updatedByUser']}"
						sortBy="#{pledge.updatedByUser}"
						filterBy="#{pledge.updatedByUser}">
						<h:outputText value="#{pledge.updatedByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.version']}"
						sortBy="#{pledge.version}" filterBy="#{pledge.version}">
						<h:outputText value="#{pledge.version}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.fund']}"
						sortBy="#{pledge.fund}" filterBy="#{pledge.fund}">
					</p:column>

					<p:column headerText="#{text['pledge.household']}"
						sortBy="#{pledge.household}" filterBy="#{pledge.household}">
					</p:column>

					<p:column headerText="#{text['pledge.name']}"
						sortBy="#{pledge.name}" filterBy="#{pledge.name}">
						<h:outputText value="#{pledge.name}" escape="true" />
					</p:column>

					<p:column headerText="#{text['pledge.person']}"
						sortBy="#{pledge.person}" filterBy="#{pledge.person}">
					</p:column>

					<p:column headerText="#{text['pledge.pledgeAmount']}"
						sortBy="#{pledge.pledgeAmount}" filterBy="#{pledge.pledgeAmount}">
						<h:outputText value="#{pledge.pledgeAmount}" escape="true" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgPledge"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="pledgeDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{pledgeList.selectedPledge.name}" />
						<f:param value="#{text['pledgeList.pledge']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('pledgeDlgWv').hide();"
				actionListener="#{pledgeList.delete}"
				update=":mainFrm:dtblPledge :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('pledgeDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>