<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="pageTitle">#{text['pledgeDetail.title']}</ui:define>

    <ui:param name="menu" value="pledge"/>
    <ui:param name="bodyId" value="pledge"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['pledgeSummary.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <ui:remove>
                    <p:chart type="donut" model="#{pledgeSummaryForm.donutModel2}"
                             style="width:300px;height:220px" responsive="true"/>

                    <p:chart type="bar" model="#{pledgeSummaryForm.animatedModel2}"
                             style="width:300px;"/>
                </ui:remove>


                <ui:remove>
                    <p:panelGrid columns="3"
                                 styleClass="ui-panelgrid-blank listbutton" id="pledgePnl">
                        <p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
                                         ajax="false" icon="fa fa-home Fs14 white"
                                         value="#{text['button.home']}"/>
                        <p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white"
                                         value="#{text['button.delete']}"
                                         oncomplete="PF('pledgeDlgWv').show();"
                                         disabled="#{!pledgeList.checked}" update="dtblPledge"/>
                        <p:commandButton action="#{pledgeForm.edit}" id="add"
                                         immediate="true" ajax="false" icon="fa fa-plus Fs14 white"
                                         value="#{text['button.add']}"/>
                    </p:panelGrid>
                </ui:remove>

                <p:dataGrid id="dtgPledgeChart" var="pledgeChart"
                            value="#{pledgeSummaryForm.pledgeCharts}" widgetVar="pledgeChartWV"
                            paginator="false" rows="21" emptyMessage="#{text['message.noInformation']}"
                            columns="3" layout="grid">
                    <!--
                                        <f:facet name="header">
                                            <h:outputText value="#{text['pledgeSummary.title']}" />
                                        </f:facet>-->

                    <p:panel style="text-align:center">

                        <h:panelGrid columns="1" style="width:100%">

                            <p:barChart
                                    model="#{pledgeChart.pledgeSummaryAnimatedModel}"
                                    style="width:300px;height:220px" id="brchrt">

                                <f:param name="campaignId"
                                         value="#{pledgeChart.campaign.campaignId}"/>

                                <p:ajax event="itemSelect"
                                        listener="#{pledgeSummaryForm.itemSelect}" global="false"/>

                            </p:barChart>

                            <!--<p:commandButton id="imageBtn" type="button"-->
                                             <!--icon="fa fa-info-circle Fs16 white"/>-->

                            <p:commandLink id="imageBtn" type="button">
                                <i class="fa fa-info-circle Fs16" />
                            </p:commandLink>

                            <p:overlayPanel id="imagePanel" for="imageBtn" hideEffect="fade">

                                <h:outputFormat value="#{text['pledgeSummary.goal.calc']}"
                                                styleClass="Fs10 FontBold">
                                    <f:param value="#{pledgeChart.campaign.goalAmt}"/>
                                    <f:param value="#{pledgeChart.pledgeAmount}"/>
                                    <f:param value="#{pledgeChart.receivedAmount}"/>
                                    <f:param
                                            value="#{pledgeChart.campaign.goalAmt - pledgeChart.receivedAmount}"/>
                                </h:outputFormat>

                            </p:overlayPanel>

                        </h:panelGrid>
                    </p:panel>
                </p:dataGrid>
            </st:panel>
        </h:form>
    </ui:define>
</ui:composition>