<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['pledgeDetail.title']}</ui:define>

	<ui:param name="menu" value="pledge" />
	<ui:param name="bodyId" value="pledge" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />
			
			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['pledgeDetail.title']}">
				<shared:instructionText textHeader="#{text['pledgeDetail.heading']}"
					textSummary="#{text['pledgeDetail.message']}" />

				<f:facet name="actions">
					<p:commandLink
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						ajax="true" oncomplete="PF('dlgHelpWv').show();" update="@form">
						<h:outputText styleClass="fa fa-question-circle Fs14 white" />
						<f:setPropertyActionListener target="#{pledgeForm.helpKey}"
							value="pledge.help" />
					</p:commandLink>
				</f:facet>

				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="pledgePnl">

					<h:inputHidden value="#{pledgeForm.pledge.pledgeId}" id="pledgeId" />
					<p:spacer />
					<p:spacer />


					<p:outputLabel styleClass="control-label" for="createDate"
						value="#{text['pledge.createDate']}" />
					<p:inputText id="createDate"
						value="#{pledgeForm.pledge.createDate}" required="false"
						maxlength="19" />
					<p:message for="createDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="createdByUser"
						value="#{text['pledge.createdByUser']}" />
					<p:inputText id="createdByUser"
						value="#{pledgeForm.pledge.createdByUser}" required="false"
						maxlength="255" />
					<p:message for="createdByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="lastUpdate"
						value="#{text['pledge.lastUpdate']}" />
					<p:inputText id="lastUpdate"
						value="#{pledgeForm.pledge.lastUpdate}" required="false"
						maxlength="19" />
					<p:message for="lastUpdate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="updatedByUser"
						value="#{text['pledge.updatedByUser']}" />
					<p:inputText id="updatedByUser"
						value="#{pledgeForm.pledge.updatedByUser}" required="false"
						maxlength="255" />
					<p:message for="updatedByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="version"
						value="#{text['pledge.version']}" />
					<p:inputText id="version" value="#{pledgeForm.pledge.version}"
						required="false" maxlength="255" />
					<p:message for="version" styleClass="help-inline" />


					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{pledgeForm.pledge.fund}" id="fund"
						required="true" styleClass="select">
						<f:selectItems value="#{pledgeForm.pledge.fund}" />
					</p:selectOneMenu>
					<p:message for="fund" styleClass="help-inline" />



					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{pledgeForm.pledge.household}"
						id="household" required="false" styleClass="select">
						<f:selectItems value="#{pledgeForm.pledge.household}" />
					</p:selectOneMenu>
					<p:message for="household" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['pledge.name']}" />
					<p:inputText id="name" value="#{pledgeForm.pledge.name}"
						required="true" maxlength="50" />
					<p:message for="name" styleClass="help-inline" />


					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{pledgeForm.pledge.person}" id="person"
						required="false" styleClass="select">
						<f:selectItems value="#{pledgeForm.pledge.person}" />
					</p:selectOneMenu>
					<p:message for="person" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="pledgeAmount"
						value="#{text['pledge.pledgeAmount']}" />
					<p:inputText id="pledgeAmount"
						value="#{pledgeForm.pledge.pledgeAmount}" required="true"
						maxlength="255" />
					<p:message for="pledgeAmount" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{pledgeForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false" icon="fa fa-floppy-o Fs14 white"
							update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{pledgeForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty pledgeForm.pledge.pledgeId}">
							<p:commandButton id="delete"
								icon="fa fa-trash Fs14 white" value="#{text['button.delete']}" oncomplete="PF('pledgeDlgWv').show();"
								update="growl" />
						</c:if>

						<p:commandButton  action="pledges"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['pledgeDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{pledgeForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgPledge"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="pledgeDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{pledgeForm.pledge.name}" />
							<f:param value="#{text['pledgeList.pledge']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('pledgeDlgWv').hide();" action="#{pledgeForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('pledgeDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

