<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:sec="http://www.springframework.org/security/tags">


    <ui:define name="pageTitle">#{text['pledgeDetail.title']}</ui:define>

    <ui:define name="head">

        <script type="text/javascript">

            /* <![CDATA[ */


            function scrollToBottom() {
                $('.ui-datatable-scrollable-body').scrollTop(100000)
            }


            /* ]]> */

        </script>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="campaignId"
                         value="#{pledgeSummaryForm.campaignId}"/>
            <f:viewParam name="from" value="#{pledgeSummaryForm.from}"/>
        </f:metadata>
    </ui:define>

    <ui:param name="menu" value="pledge"/>
    <ui:param name="bodyId" value="pledge"/>

    <ui:define name="body">


        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

            <ui:include src="/sections/main/message.xhtml"/>


            <sec:authorize access="hasAnyRole('ROLE_EDIT_PLEDGE')"
                           var="hasRoleEdit"/>

            <sec:authorize access="hasAnyRole('ROLE_DELETE_PLEDGE')"
                           var="hasRoleDelete"/>


            <st:panel header="#{text['pledgeDetail.title']} - #{pledgeForm.campaign.name}" id="ccPledge">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <p:focus for="autoperson"/>

                <div>

                    <div class="Container50 Fleft">


                        <p:panelGrid styleClass="Wid100 ui-panelgrid-blank" id="pledgeEntry" columns="2">


                            <c:if test="#{pledgeForm.from eq 'menu'}">
                                <p:outputLabel for="somCampaign"
                                               value="#{text['campaign.campaignId']}"/>

                                <p:selectOneMenu value="#{pledgeForm.currentCampaign}"
                                                 id="somCampaign" required="true"
                                                 converter="#{campaignConverter}">

                                    <f:selectItems value="#{pledgeForm.dataService.campaigns}"
                                                   var="cmp" itemValue="#{cmp}" itemLabel="#{cmp.name}"/>

                                    <p:ajax listener="#{pledgeForm.campaignChange}" event="change"
                                            process="@this" update="@form" global="false"/>

                                </p:selectOneMenu>
                            </c:if>

                            <ui:include src="/sections/campaign/pledgeEdit.xhtml"/>

                            <p:commandButton id="addPledge" ajax="true"
                                             icon="fa fa-plus Fs14 white" value="#{text['button.addPledge']}"
                                             partialSubmit="true" actionListener="#{pledgeForm.reinitPledge}"
                                             global="false"
                                             oncomplete="scrollToBottom();$('.autoperson').focus();"
                                             validateClient="false"
                                             update="@ brcPledges @ pledgeEntry @ otpnlPledgeDetials"
                                             process="@ pledgeEntry"/>

                        </p:panelGrid>
                    </div>

                    <div class="Container40" style="border-left: 1px solid #00AEEF;">
                        <p:barChart model="#{pledgeForm.barModel}" style="width: 100%; height: 250px;" id="brcPledges"/>
                    </div>


                    <p:defaultCommand target="addPledge" scope="pledgeEntry"/>

                    <!--
                                    <h:panelGroup layout="block">
                                        <p:commandButton id="pledgedel" update="@(#dtblPledge)"
                                                         icon="fa fa-trash Fs12 white" title="#{text['button.delete']}"
                                                         actionListener="#{pledgeForm.deletePledge}" immediate="true"
                                                         ajax="true" partialSubmit="true" global="false"
                                                         process="@this @(#dtblPledge)"
                                                         disabled="#{!pledgeForm.rowselected}"/>
                                    </h:panelGroup>-->


                    <div>


                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank" style="clear:both;">

                            <p:commandLink global="false" update="@ otpnlPledgeDetials @this"
                                           partialSubmit="true" ajax="true"
                                           process="@this"
                                           value="#{(pledgeForm.showPledgeDetails) ? text['pledgeDetail.hidePledgeDetails'] : text['pledgeDetail.showPledgeDetails']}"
                                           actionListener="#{pledgeForm.togglePledgeDetails}" styleClass="Fs12"
                                           immediate="true" id="cmlShowPledgeDetails"/>

                        </p:panelGrid>

                        <p:outputPanel id="otpnlPledgeDetials">

                            <st:dataTable tableId="dtblPledge" id="dtblPledge"
                                          tableSelection="#{pledgeForm.selectedPledge}" tableVar="pledge"
                                          tableRowKey="#{pledge.UID}" tableValue="#{pledgeForm.campaign.pledges}"
                                          tableShow="#{pledgeForm.showPledgeDetails}">

                                <p:column headerText="#{text['person.name']}">

                                    <st:editCommandLink linkLabel="#{pledge.person.name}"
                                                        dialog="dlgEditPledgeWv" targetItem="#{pledgeForm.entryPledge}"
                                                        value="#{pledge}">
                                    </st:editCommandLink>

                                </p:column>


                                <p:column headerText="#{text['pledgeDetail.pledge.amt']}"><!---->
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="$ #{pledge.pledgeAmt}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input">

                                            <p:inputNumber id="amt" value="#{pledge.pledgeAmt}"
                                                           required="true"
                                                           validatorMessage="#{text['errors.batchTotal.max']}"
                                                           symbol="$"
                                                           styleClass="Wid80 Responsive">
                                                <f:validateDoubleRange maximum="999999.99"/>
                                            </p:inputNumber>

                                            <p:message for="amt" styleClass="help-inline"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>


                                <p:column headerText="#{text['pledgeDetail.note']}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{pledge.note}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="note" value="#{pledge.note}" required="false"
                                                         maxlength="255" styleClass="Wid80 Responsive"/>
                                            <p:message for="note" styleClass="help-inline"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <c:if test="#{hasRoleDelete}">
                                    <p:column priority="3" styleClass="Wid10">
                                        <st:deleteCommandLink dialog="pledgeDlgWv" value="#{pledge}"
                                                              targetItem="#{pledgeForm.selectedPledge}"/>
                                    </p:column>
                                </c:if>
                            </st:dataTable>
                        </p:outputPanel>
                    </div>
                </div>


                <f:facet name="footer">
                    <h:panelGroup>
                        <p:splitButton value="#{text['button.save']}"
                                       actionListener="#{pledgeForm.save}" id="save"
                                       styleClass="btn btn-primary" ajax="true"
                                       icon="fa fa-floppy-o Fs14 white" immediate="true"
                                       partialSubmit="true" process="@form" onclick="setConfirmUnload(false);">
                            <p:menuitem value="#{text['button.saveReturn']}"
                                        action="#{pledgeForm.save}" icon="ui-icon-newwin"
                                        immediate="true">
                            </p:menuitem>
                        </p:splitButton>


                        <p:commandButton
                                action="#{pledgeForm.go}"
                                immediate="true" id="cancel" styleClass="btn" ajax="false"
                                icon="fa fa-hand-o-left Fs14 white"
                                value="#{text['button.cancel']}"/>

                    </h:panelGroup>
                </f:facet>

            </st:panel>


        </h:form>
    </ui:define>

    <ui:define name="confirmDialog">

        <p:confirmDialog id="dlgsavePledge"
                         header="#{text['dialog.saveConfirmation']}" severity="info"
                         widgetVar="savePledgeDlgWv" showEffect="clip" hideEffect="fold">

            <f:facet name="message">
                <p:panelGrid columns="1" layout="grid"
                             style="border:0px none;background:none">
                    <h:outputText value="#{text['attendance.madeChanges']}"/>
                    <h:outputText value="#{text['attendance.saveChanges']}"/>
                </p:panelGrid>
            </f:facet>

            <p:commandButton id="cmdYes" value="#{text['button.yes']}"
                             onclick="PF('savePledgeDlgWv').hide();" ajax="true"
                             actionListener="#{pledgeForm.switchCampaign('1')}"
                             update="@(#dtblPledge)" oncomplete="setConfirmUnload(false);"/>

            <p:commandButton id="cmdNo" value="#{text['button.no']}"
                             onclick="PF('savePledgeDlgWv').hide();" ajax="true"
                             actionListener="#{pledgeForm.switchCampaign('0')}"
                             update="@(#dtblPledge)"/>

        </p:confirmDialog>

        <st:dataEntryDialog dialogwidgetVar="dlgEditPledgeWv"
                            dialogHeader="#{text['pledgeDetail.title']}" dialogId="dlgEditPledge"
                            fieldfocus="autoperson" id="ccdlgEditPledge"
                            actionListener="#{pledgeForm.updatePledgeEntry}">

            <p:panelGrid styleClass="Wid100 ui-panelgrid-blank" id="pledgeEntryEdit" columns="2">
                <ui:include src="/sections/campaign/pledgeEdit.xhtml"/>
            </p:panelGrid>

        </st:dataEntryDialog>


        <st:deleteConfirmDialog dialogwidgetVar="pledgeDlgWv"
                                deleteActionMethod="#{pledgeForm.deletePledge}"
                                deleteMessageName="[#{pledgeForm.selectedPledge.person.name} - #{pledgeForm.selectedPledge.pledgeAmt}]"
                                dialogId="dlgPledgeDlg"
                                deleteMessageCategory="#{text['pledge.pledgeId']}" id="ccDeletePledgeDlg"/>

    </ui:define>

</ui:composition>

