<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['reminderDetail.title']} </ui:define>

	<ui:param name="menu" value="reminder" />
	<ui:param name="bodyId" value="reminder" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

		<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['reminderDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText
					textHeader="#{text['reminderDetail.heading']}"
					textSummary="#{text['reminderList.message']}" />


				<p:panelGrid columns="3" styleClass="norowline nocolline listbutton"
					id="reminderPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" />
					<p:commandButton action="#{reminderForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white"
						oncomplete="reminderDlgWv.show();"
						disabled="#{!reminderList.checked}" update="dtblReminder" />
				</p:panelGrid>

				<p:dataTable id="dtblReminder" var="reminder"
					value="#{reminderList.reminders}" editable="false"
					widgetVar="remindersWV" paginator="true" paginatorPosition="bottom"
					rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{reminder.name}"
					selection="#{reminderList.selectedReminder}">


					<p:ajax event="rowSelectRadio"
						listener="#{reminderList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgReminder" />

					<p:column selectionMode="single" style="width:2%" />



					<p:column headerText="#{text['reminder.reminderId']}"
						sortBy="#{reminder.reminderId}" filterBy="#{reminder.reminderId}">
						<h:commandLink action="#{reminderForm.edit}"
							value="#{reminder.name}" ajaX="false" styleClass="ui-link">
							<f:param name="reminderId" value="#{reminder.reminderId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['reminder.createDate']}"
						sortBy="#{reminder.createDate}" filterBy="#{reminder.createDate}">
						<h:outputText value="#{reminder.createDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.createdByUser']}"
						sortBy="#{reminder.createdByUser}"
						filterBy="#{reminder.createdByUser}">
						<h:outputText value="#{reminder.createdByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.lastUpdate']}"
						sortBy="#{reminder.lastUpdate}" filterBy="#{reminder.lastUpdate}">
						<h:outputText value="#{reminder.lastUpdate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.updatedByUser']}"
						sortBy="#{reminder.updatedByUser}"
						filterBy="#{reminder.updatedByUser}">
						<h:outputText value="#{reminder.updatedByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.version']}"
						sortBy="#{reminder.version}" filterBy="#{reminder.version}">
						<h:outputText value="#{reminder.version}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.completeDate']}"
						sortBy="#{reminder.completeDate}"
						filterBy="#{reminder.completeDate}">
						<h:outputText value="#{reminder.completeDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.descr']}"
						sortBy="#{reminder.descr}" filterBy="#{reminder.descr}">
						<h:outputText value="#{reminder.descr}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.name']}"
						sortBy="#{reminder.name}" filterBy="#{reminder.name}">
						<h:outputText value="#{reminder.name}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.priority']}"
						sortBy="#{reminder.priority}" filterBy="#{reminder.priority}">
						<h:outputText value="#{reminder.priority}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.tenantId']}"
						sortBy="#{reminder.tenantId}" filterBy="#{reminder.tenantId}">
						<h:outputText value="#{reminder.tenantId}" escape="true" />
					</p:column>

					<p:column headerText="#{text['reminder.user']}"
						sortBy="#{reminder.user}" filterBy="#{reminder.user}">
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgReminder"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="reminderDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{reminderList.selectedReminder.name}" />
						<f:param value="#{text['reminderList.reminder']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="reminderDlgWv.hide();"
				actionListener="#{reminderList.delete}"
				update=":mainFrm:dtblReminder :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="reminderDlgWv.hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>