<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['reminderDetail.title']}</ui:define>

	<ui:param name="menu" value="reminder" />
	<ui:param name="bodyId" value="reminder" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />


			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['reminderDetail.title']}">
				<shared:instructionText
					textHeader="#{text['reminderDetail.heading']}"
					textSummary="#{text['reminderDetail.message']}" />

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />



				<p:panelGrid columns="1" layout="grid"
					styleClass="norowline nocolline" id="reminderPnl">


					<h:inputHidden value="#{reminderForm.reminder.reminderId}"
						id="reminderId" />
					<p:spacer />
					<p:spacer />



					<p:outputLabel styleClass="control-label" for="completeDate"
						value="#{text['reminder.completeDate']}" />
					<p:calendar value="#{reminderForm.reminder.completeDate}"
						id="completeDate" required="true" showOn="button"
						pattern="MM/dd/yyyy" mask="true" maskAutoClear="true" />
					<p:message for="completeDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="descr"
						value="#{text['reminder.descr']}" />
					<p:inputText id="descr" value="#{reminderForm.reminder.descr}"
						required="false" maxlength="100" />
					<p:message for="descr" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['reminder.name']}" />
					<p:inputText id="name" value="#{reminderForm.reminder.name}"
						required="true" maxlength="50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="priority"
						value="#{text['reminder.priority']}" />
					<p:inputText id="priority"
						value="#{reminderForm.reminder.priority}" required="false"
						maxlength="10" />
					<p:message for="priority" styleClass="help-inline" />



					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{reminderForm.reminder.user}" id="user"
						required="true" styleClass="select">
						<f:selectItems value="#{reminderForm.reminder.user}" />
					</p:selectOneMenu>
					<p:message for="user" styleClass="help-inline" />


				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{reminderForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{reminderForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty reminderForm.reminder.reminderId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" oncomplete="reminderDlgWv.show();"
								update="growl" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}"
							action="reminders" immediate="true" id="cancel" styleClass="btn"
							ajax="false" icon="fa fa-hand-o-left Fs14 white" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['reminderDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{reminderForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgReminder"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="reminderDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{reminderForm.reminder.name}" />
							<f:param value="#{text['reminderList.reminder']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="reminderDlgWv.hide();" action="#{reminderForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="reminderDlgWv.hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

