<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

    <ui:define name="pageTitle">#{text['bookList.pageTitle']}</ui:define>

    <ui:param name="menu" value="reports"/>
    <ui:param name="bodyId" value="reports"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data">

            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['report.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>


                <div class="Container">


                    <div class="Container30 Responsive100">

                        <div class="Container100">

                            <p:fieldset legend="#{text['report.report.selection']}"
                                        style="margin-bottom:20px">

                                <p:panelMenu style="width:300px">

                                    <c:forEach items="#{menuBean.systemPanelMenu}" var="menu">
                                        <c:forEach items="#{menu.systemMenuGroups}" var="menugroup">
                                            <p:submenu label="#{menugroup.name}">
                                                <c:forEach items="#{menugroup.systemMenuItems}"
                                                           var="menuitems">
                                                    <p:menuitem value="#{menuitems.name}" ajax="true"
                                                                actionListener="#{reportForm.destinationReportPage}"
                                                                process="@this">
                                                        <f:attribute name="mode" value="#{menuitems.mode}"/>
                                                    </p:menuitem>

                                                </c:forEach>
                                            </p:submenu>
                                        </c:forEach>
                                    </c:forEach>
                                </p:panelMenu>
                            </p:fieldset>
                        </div>
                    </div>

                    <div class="Container70 Responsive100" id="divRptOptionsContainer">

                        <p:outputPanel id="otptReportOptions">

                            <p:autoUpdate/>

                            <div class="Container50 Fleft" id="divReportParamaters">

                                <st:instructionText
                                        textHeader="#{reportForm.getText(reportForm.currentReportDef.name)}"
                                        textSummary="#{reportForm.getText(reportForm.currentReportDef.descr)}"
                                        show="#{not empty reportForm.currentReportDef}"/>

                                <p:panelGrid columns="4" style="margin-left: 10px"
                                             styleClass="Wid100 ui-panelgrid-blank">

                                    <c:forEach varStatus="status"
                                               items="#{reportForm.paramHolders}">

                                        <c:set var="datatype"
                                               value="#{reportForm.paramHolders[status.index].systemParamDef.dataType.getValue()}"/>

                                        <c:if test="${datatype eq 'DT'}">

                                            <p:outputLabel for="cf#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:calendar id="cf#{status.index}"
                                                        value="#{reportForm.paramHolders[status.index].dateValue}"
                                                        required="#{reportForm.paramHolders[status.index].systemParamDef.required}"
                                                        title="#{reportForm.paramHolders[status.index].systemParamDef.descr}"
                                                        showOn="button" pattern="MM/dd/yyyy" mask="true"
                                                        maskAutoClear="true"/>

                                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                                       showEvent="focus" hideEvent="blur"/>

                                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>


                                        </c:if>

                                        <c:if test="${datatype eq 'CM'}">


                                            <p:outputLabel for="scm#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:selectCheckboxMenu id="scm#{status.index}" label="Members"
                                                                  filter="true" filterMatchMode="startsWith"
                                                                  panelStyle="width:250px"
                                                                  value="#{reportForm.paramHolders[status.index].selectedItems}">

                                                <f:selectItems
                                                        value="#{reportForm.dataService.fetchDataList(reportForm.paramHolders[status.index].systemParamDef.dataService)}"
                                                        var="type" itemLabel="#{type.label}"
                                                        itemValue="#{type.value}" noSelectionValue="false"/>

                                            </p:selectCheckboxMenu>


                                            <p:tooltip id="tltp#{status.index}" for="scm#{status.index}"
                                                       showEvent="focus" hideEvent="blur"/>

                                            <p:message for="scm#{status.index}"
                                                       id="msgscm#{status.index}"/>

                                        </c:if>

                                        <c:if test="${datatype eq 'TX'}">

                                            <p:outputLabel for="cf#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:inputText id="cf#{status.index}"
                                                         value="#{reportForm.paramHolders[status.index].textValue}"
                                                         required="#{reportForm.paramHolders[status.index].systemParamDef.required}"
                                                         styleClass="text-medium"
                                                         title="#{reportForm.paramHolders[status.index].systemParamDef.descr}"/>

                                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                                       showEvent="focus" hideEvent="blur"/>

                                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                                        </c:if>

                                        <c:if test="${datatype eq 'NM'}">

                                            <p:outputLabel for="cf#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:spinner id="cf#{status.index}"
                                                       value="#{reportForm.paramHolders[status.index].numberValue}"
                                                       required="#{reportForm.paramHolders[status.index].systemParamDef.required}"
                                                       styleClass="text-medium"
                                                       title="#{reportForm.paramHolders[status.index].systemParamDef.descr}"
                                                       min="#{reportForm.paramHolders[status.index].systemParamDef.minValue}"
                                                       max="#{reportForm.paramHolders[status.index].systemParamDef.maxValue}"
                                                       maxlength="5"/>

                                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                                       showEvent="focus" hideEvent="blur"/>

                                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                                        </c:if>

                                        <c:if test="${datatype eq 'BL'}">

                                            <p:outputLabel for="cf#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:selectBooleanCheckbox id="cf#{status.index}"
                                                                     value="#{reportForm.paramHolders[status.index].booleanValue}"
                                                                     title="#{reportForm.paramHolders[status.index].systemParamDef.descr}"
                                                                     required="#{reportForm.paramHolders[status.index].systemParamDef.required}"/>

                                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                                       showEvent="focus" hideEvent="blur"/>

                                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                                        </c:if>


                                        <c:if test="${datatype eq 'LT'}">

                                            <p:outputLabel for="cf#{status.index}"
                                                           id="otplblcf#{status.index}"
                                                           value="#{reportForm.paramHolders[status.index].systemParamDef.name}"/>

                                            <p:selectOneMenu
                                                    value="#{reportForm.paramHolders[status.index].textValue}"
                                                    effect="fade" id="cf#{status.index}">
                                                <f:selectItems
                                                        value="#{reportForm.paramHolders[status.index].systemParamDef.systemParamValues}"
                                                        var="type" itemLabel="#{type.label}"
                                                        itemValue="#{type.value}" noSelectionValue="false"/>
                                            </p:selectOneMenu>

                                            <p:tooltip id="tltp#{status.index}" for="cf#{status.index}"
                                                       value="#{reportForm.paramHolders[status.index].systemParamDef.descr}"
                                                       trackMouse="true"/>

                                            <p:message for="cf#{status.index}" id="msgcf#{status.index}"/>

                                        </c:if>
                                    </c:forEach>
                                </p:panelGrid>
                            </div>

                            <div id="divPrintFormat" style="border-left: 1px solid #00AEEF;" class="Container40">

                                <p:panelGrid columns="2" id="pnlPrintResults"
                                             rendered="#{not empty reportForm.currentReportDef}"
                                             styleClass="Wid100 ui-panelgrid-blank">

                                    <p:outputLabel for="reportFormat"
                                                   value="#{text['report.format.select']}"/>

                                    <p:selectOneMenu id="reportFormat"
                                                     value="#{reportForm.exportOption}">
                                        <f:selectItems value="#{reportForm.reportFormats}"/>

                                        <p:ajax listener="#{reportForm.reportFormatTypeChange}"
                                                event="change" process="@this"/>

                                    </p:selectOneMenu>

                                    <h:outputText/>
                                    <p:commandButton value="Print"
                                                     icon="fa fa-file-pdf-o Fs14 white"
                                                     actionListener="#{reportForm.execute()}" ajax="false"/>
                                </p:panelGrid>
                            </div>

                        </p:outputPanel>

                        <div style="clear:both;"/>

                    </div>


                </div>
            </st:panel>

        </h:form>
    </ui:define>
</ui:composition>