<ui:composition template="/templates/mainMenu.xhtml"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
				xmlns:sec="http://www.springframework.org/security/tags">

	<ui:define name="pageTitle">#{text['resourceDetail.title']} </ui:define>

	<ui:param name="menu" value="resource" />
	<ui:param name="bodyId" value="resource" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">

			<ui:include src="/sections/main/message.xhtml" />

			<sec:authorize access="hasAnyRole('ROLE_ALL_RESOURCE')"
				var="hasRoleDelete" />

			<sec:authorize access="hasAnyRole('ROLE_ALL_RESOURCE')"
				var="hasRoleEdit" />


			<st:panel header="#{text['resourceDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />


				<st:addDialogButton dialog="dlgEditResourceWv" bttnId="add" />
				
		
				<st:dataTable tableId="dtblResourc" tableVar="rsrc"
					tableSelection="#{resourceList.selectedResource}"
					tableValue="#{resourceList.resources}" tableRowKey="#{rsrc.name}">



					<p:column headerText="#{text['resource.name']}"
						sortBy="#{rsrc.name}" filterBy="#{rsrc.name}" priority="1">

						<!-- 
						<h:commandLink action="#{resourceForm.edit}" value="#{rsrc.name}"
							ajaX="false" styleClass="ui-link">
							<f:param name="resourceId" value="#{rsrc.resourceId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
 -->

						<st:editCommandLink linkLabel="#{rsrc.name}"
							dialog="dlgEditResourceWv" targetItem="#{resourceForm.resource}"
							value="#{rsrc}" toolTip="#{rsrc.descr}">

							<f:param name="resourceId" value="#{rsrc.resourceId}" />
							<f:param name="from" value="list" />

						</st:editCommandLink>
					</p:column>

					<!-- 	<p:column headerText="#{text['resource.descr']}"
						sortBy="#{rsrc.descr}" filterBy="#{rsrc.descr}">
						<h:outputText value="#{rsrc.descr}" escape="true" />
					</p:column> -->

					<p:column headerText="#{text['resource.resourceType']}"
						sortBy="#{rsrc.resourceType}" filterBy="#{rsrc.resourceType}"
						priority="2">
						<h:outputText value="#{rsrc.resourceType.value}" escape="true" />
					</p:column>


					<c:if test="#{hasRoleDelete}">
						<p:column priority="3">
							<st:deleteCommandLink dialog="resourceDlgWv" value="#{rsrc}"
								targetItem="#{resourceList.selectedResource}" />
						</p:column>
					</c:if>


				</st:dataTable>
			</st:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<st:deleteConfirmDialog dialogwidgetVar="resourceDlgWv"
			deleteActionMethod="#{resourceList.delete}"
			deleteMessageName="#{resourceList.selectedResource.name}"
			deleteMessageCategory="#{text['resourceList.resource']}"
			dialogId="dlgResource" id="ccDltCfmDlg" />

		<st:dataEntryDialog actionListener="#{resourceForm.save"
			dialogwidgetVar="dlgEditResourceWv"
			dialogHeader="#{text['resourceDetail.title']}"
			dialogId="dlgEditResource" id="dndlgDialog" fieldfocus="name">
			<ui:include src="/sections/resource/resourceEdit.xhtml" />
		</st:dataEntryDialog>

	</ui:define>

</ui:composition>
