<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<f:view contentType="text/html" locale="en">

	<h:body id="bdyMain">
		<h:form id="frmTest">
			<p:panel id="pnltest" header="Ajax Sample">
				<p:panelGrid columns="3">
					<h:outputText value="Second Page" />
					<h:commandButton value="Back" action="testPage"/>
				</p:panelGrid>
			</p:panel>
		</h:form>
	</h:body>
</f:view>
</html>