<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['mainMenu.title']}</ui:define>

	<ui:param name="menu" value="Settings" />
	<ui:param name="bodyId" value="settings" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">
		
		<ui:include src="/sections/titlebar/actionButtons.xhtml" />

		
			<ui:include src="/sections/main/message.xhtml" />
			
			<p:accordionPanel id="acdnpnlSetting"
				style="width: 100%; margin: 0 auto">

				<p:ajax event="tabChange"
					listener="#{userValueController.onTabChange}" />

				<p:tab title="#{text['userValueDetail.IndividualClassification']}">
					<ui:include src="/sections/settings/memberType.xhtml" />
				</p:tab>

				<p:tab title="#{text['userValueDetail.contactType']}">
					<ui:include src="/sections/settings/contactType.xhtml" />
				</p:tab>

			</p:accordionPanel>

		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">
		<ui:include src="/sections/settings/dialog.xhtml" />
	</ui:define>

</ui:composition>