<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['talentDetail.title']}</ui:define>

	<ui:param name="menu" value="talent" />
	<ui:param name="bodyId" value="talent" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['talentDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />
				<shared:instructionText textHeader="#{text['talentDetail.heading']}"
					textSummary="#{text['talentDetail.message']}" />

		

				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="talentPnl">

					<h:inputHidden value="#{talentForm.talent.talentId}" id="talentId" />
					<p:spacer />
					<p:spacer />


					<p:outputLabel styleClass="control-label" for="createDate"
						value="#{text['talent.createDate']}" />
					<p:inputText id="createDate"
						value="#{talentForm.talent.createDate}" required="false"
						maxlength="19" />
					<p:message for="createDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="createdByUser"
						value="#{text['talent.createdByUser']}" />
					<p:inputText id="createdByUser"
						value="#{talentForm.talent.createdByUser}" required="false"
						maxlength="255" />
					<p:message for="createdByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="lastUpdate"
						value="#{text['talent.lastUpdate']}" />
					<p:inputText id="lastUpdate"
						value="#{talentForm.talent.lastUpdate}" required="false"
						maxlength="19" />
					<p:message for="lastUpdate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="updatedByUser"
						value="#{text['talent.updatedByUser']}" />
					<p:inputText id="updatedByUser"
						value="#{talentForm.talent.updatedByUser}" required="false"
						maxlength="255" />
					<p:message for="updatedByUser" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="version"
						value="#{text['talent.version']}" />
					<p:inputText id="version" value="#{talentForm.talent.version}"
						required="false" maxlength="255" />
					<p:message for="version" styleClass="help-inline" />


					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{talentForm.talent.category}"
						id="category" required="true" styleClass="select">
						<f:selectItems value="#{talentForm.talent.category}" />
					</p:selectOneMenu>
					<p:message for="category" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="descr"
						value="#{text['talent.descr']}" />
					<p:inputText id="descr" value="#{talentForm.talent.descr}"
						required="false" maxlength="100" />
					<p:message for="descr" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['talent.name']}" />
					<p:inputText id="name" value="#{talentForm.talent.name}"
						required="true" maxlength="50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="tenantId"
						value="#{text['talent.tenantId']}" />
					<p:inputText id="tenantId" value="#{talentForm.talent.tenantId}"
						required="true" maxlength="255" />
					<p:message for="tenantId" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="type"
						value="#{text['talent.type']}" />
					<p:inputText id="type" value="#{talentForm.talent.type}"
						required="true" maxlength="2" />
					<p:message for="type" styleClass="help-inline" />


					<!-- todo: change this to read the identifier field from the other pojo -->
					<p:selectOneMenu value="#{talentForm.talent.person}" id="person"
						required="false" styleClass="select">
						<f:selectItems value="#{talentForm.talent.person}" />
					</p:selectOneMenu>
					<p:message for="person" styleClass="help-inline" />


				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{talentForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false" icon="fa fa-floppy-o Fs14 white"
							update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{talentForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty talentForm.talent.talentId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" value="#{text['button.delete']}" oncomplete="PF('talentDlgWv').show();"
								update="growl" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}" action="talents"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['talentDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{talentForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgTalent"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="talentDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{talentForm.talent.name}" />
							<f:param value="#{text['talentList.talent']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('talentDlgWv').hide();" action="#{talentForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('talentDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

