<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['talentDetail.title']} </ui:define>

	<ui:param name="menu" value="talent" />
	<ui:param name="bodyId" value="talent" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['talentDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['talentDetail.heading']}"
					textSummary="#{text['talentList.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="talentPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
						oncomplete="PF('talentDlgWv').show();" disabled="#{!talentList.checked}"
						update="dtblTalent" />
					<p:commandButton action="#{talentForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}" />
				</p:panelGrid>

				<p:dataTable id="dtblTalent" var="talent"
					value="#{talentList.talents}" editable="false"
					widgetVar="talentsWV" paginator="true" paginatorPosition="bottom"
					rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{talent.name}"
					selection="#{talentList.selectedTalent}">


					<p:ajax event="rowSelectRadio"
						listener="#{talentList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgTalent" />

					<p:column selectionMode="single" style="width:2%" />



					<p:column headerText="#{text['talent.talentId']}"
						sortBy="#{talent.talentId}" filterBy="#{talent.talentId}">
						<h:commandLink action="#{talentForm.edit}" value="#{talent.name}"
							ajaX="false" styleClass="ui-link">
							<f:param name="talentId" value="#{talent.talentId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['talent.createDate']}"
						sortBy="#{talent.createDate}" filterBy="#{talent.createDate}">
						<h:outputText value="#{talent.createDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.createdByUser']}"
						sortBy="#{talent.createdByUser}"
						filterBy="#{talent.createdByUser}">
						<h:outputText value="#{talent.createdByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.lastUpdate']}"
						sortBy="#{talent.lastUpdate}" filterBy="#{talent.lastUpdate}">
						<h:outputText value="#{talent.lastUpdate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.updatedByUser']}"
						sortBy="#{talent.updatedByUser}"
						filterBy="#{talent.updatedByUser}">
						<h:outputText value="#{talent.updatedByUser}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.version']}"
						sortBy="#{talent.version}" filterBy="#{talent.version}">
						<h:outputText value="#{talent.version}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.category']}"
						sortBy="#{talent.category}" filterBy="#{talent.category}">
					</p:column>

					<p:column headerText="#{text['talent.descr']}"
						sortBy="#{talent.descr}" filterBy="#{talent.descr}">
						<h:outputText value="#{talent.descr}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.name']}"
						sortBy="#{talent.name}" filterBy="#{talent.name}">
						<h:outputText value="#{talent.name}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.tenantId']}"
						sortBy="#{talent.tenantId}" filterBy="#{talent.tenantId}">
						<h:outputText value="#{talent.tenantId}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.type']}"
						sortBy="#{talent.type}" filterBy="#{talent.type}">
						<h:outputText value="#{talent.type}" escape="true" />
					</p:column>

					<p:column headerText="#{text['talent.person']}"
						sortBy="#{talent.person}" filterBy="#{talent.person}">
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgTalent"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="talentDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{talentList.selectedTalent.name}" />
						<f:param value="#{text['talentList.talent']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('talentDlgWv').hide();"
				actionListener="#{talentList.delete}"
				update=":mainFrm:dtblTalent :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('talentDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>