<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['tenantDetail.title']}</ui:define>

	<ui:param name="menu" value="tenant" />
	<ui:param name="bodyId" value="tenant" />


	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{tenantForm.loadTenant}" type="preRenderView" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">


		<h:form id="mainFrm" enctype="multipart/form-data">


			<ui:include src="/sections/main/message.xhtml" />


			<p:panel style="width:95%; margin: 0 auto;"
				header="#{text['tenantDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />
				
				<shared:instructionText textHeader="#{text['tenantDetail.heading']}"
					textSummary="#{text['tenantDetail.message']}" />

		

				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
					id="tenantPnl" layout="grid">

					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['tenant.name']}" />
					<p:inputText id="name" value="#{tenantForm.tenant.name}"
						required="true" maxlength="50" styleClass="Wid50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="address"
						value="#{text['tenant.address']}" />
					<p:inputText id="address" value="#{tenantForm.tenant.address}"
						required="false" maxlength="150"   styleClass="Wid70" />
					<p:message for="address" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="city"
						value="#{text['tenant.city']}" />
					<p:inputText id="city" value="#{tenantForm.tenant.city}"
						required="true" maxlength="50"  styleClass="Wid50"/>
					<p:message for="city" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="country"
						value="#{text['tenant.country']}" />
					<p:inputText id="country" value="#{tenantForm.tenant.country}"
						required="false" maxlength="100"  styleClass="Wid50"/>
					<p:message for="country" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="email"
						value="#{text['tenant.email']}" />
					<p:inputText id="email" value="#{tenantForm.tenant.email}"
						required="false" maxlength="50"  styleClass="Wid70"/>
					<p:message for="email" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="faxNumber"
						value="#{text['tenant.faxNumber']}" />
					<p:inputText id="faxNumber" value="#{tenantForm.tenant.faxNumber}"
						required="false" maxlength="255"  styleClass="Wid50"/>
					<p:message for="faxNumber" styleClass="help-inline" />


					<p:outputLabel styleClass="control-label" for="phoneNumber"
						value="#{text['tenant.phoneNumber']}" />
					<p:inputText id="phoneNumber"
						value="#{tenantForm.tenant.phoneNumber}" required="true"
						maxlength="255"  styleClass="Wid50"/>
					<p:message for="phoneNumber" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="postalCode"
						value="#{text['tenant.postalCode']}" />
					<p:inputText id="postalCode"
						value="#{tenantForm.tenant.postalCode}" required="true"
						maxlength="15"  styleClass="Wid25"/>
					<p:message for="postalCode" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="province"
						value="#{text['tenant.province']}" />
					<p:inputText id="province" value="#{tenantForm.tenant.province}"
						required="false" maxlength="100"  styleClass="Wid25"/>
					<p:message for="province" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="webSite"
						value="#{text['tenant.webSite']}" />
					<p:inputText id="webSite" value="#{tenantForm.tenant.webSite}"
						required="false" maxlength="100"   styleClass="Wid70"/>
					<p:message for="webSite" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{tenantForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false"
							icon="fa fa-floppy-o Fs14 white" update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{tenantForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<p:commandButton action="mainMenu" immediate="true" id="cancel"
							styleClass="btn" ajax="false" icon="fa fa-hand-o-left Fs14 white"
							value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['tenantDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{tenantForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

		</h:form>
	</ui:define>

</ui:composition>

