<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="pageTitle">My First Hopscotch Tour</ui:define>

	<ui:param name="menu" value="tour" />
	<ui:param name="bodyId" value="tour" />
	<ui:param name="guidedPage" value="YES" />

	<ui:define name="body">


		<!-- 

		<h:outputScript target="body">
			
			/* <![CDATA[ */
			
				$(function(){
					if (getCookie('#{bodyId}') != "1" ) {
						setCookie('#{bodyId}','1',365);
						try {
							hopscotch.startTour(#{bodyId});
						} catch(err) {
        					PrimeFaces.error(err);
    					}
					}
				});
			/* ]]> */

		</h:outputScript>
		
		 -->




		<h:form id="mainFrm" enctype="multipart/form-data" prependId="false">
			<p:panel style="width:95%; margin: 0 auto;">

				<f:facet name="header">
					<h:outputText value="My First Hopscotch Tour" />
				</f:facet>
				<f:facet name="actions">

					<p:commandLink
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						ajax="true" oncomplete="PF('dlgHelpWv').show();"
						update="@form" global="false" title="#{button.help}">
						<h:outputText styleClass="fa fa-question-circle Fs18 white" />
						<f:setPropertyActionListener target="#{personForm.helpKey}"
							value="person.help" />
					</p:commandLink>

					<p:commandLink
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						type="button" oncomplete="hopscotch.startTour(#{bodyId});"
						title="#{button.showme}" global="false">
						<i class="fa fa-eye Fs18 white"></i>
					</p:commandLink>

				</f:facet>
				<h1 id="header">My First Hopscotch Tour</h1>
				<div id="content">
					<p>Content goes here...</p>
				</div>
				<p:commandButton type="button"
					onclick="hopscotch.startTour(#{bodyId});setCookie('#{bodyId}','1',365);"
					value="Start Tour" />

			</p:panel>
		</h:form>


	</ui:define>

	<ui:define name="confirmDialog">

		<shared:helpdialog dlgid="dlgHelp" title="#{text['dialog.helpTitle']}"
			widgetId="dlgHelpWv">
			<h:outputText value="#{personForm.helpMessage}"
				style="font-size: 120% !important;" />
		</shared:helpdialog>
	</ui:define>

</ui:composition>