<ui:composition template="/templates/mainMenu.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">

    <ui:define name="pageTitle">#{text['userProfile.title']}</ui:define>

    <ui:param name="menu" value="userform"/>
    <ui:param name="bodyId" value="userform"/>

    <ui:define name="body">

        <h:form id="mainFrm" enctype="multipart/form-data" prependId="false">


            <ui:include src="/sections/main/message.xhtml"/>

            <st:panel header="#{text['userProfile.title']}">

                <ui:include src="/sections/titlebar/actionButtons.xhtml"/>

                <ui:include src="/sections/user/userDetails.xhtml"/>

                <f:facet name="footer">
                    <h:panelGroup>

                        <p:splitButton value="#{text['button.save']}"
                                       actionListener="#{userForm.save}" id="save"
                                       styleClass="btn btn-primary" ajax="false"
                                       icon="fa fa-floppy-o Fs14 white" update="@ pnlgrdUserInfo"
                                       process="@ pnlgrdUserInfo"
                                       oncomplete="setConfirmUnload(false);">
                            <p:menuitem value="#{text['button.saveReturn']}"
                                        action="#{userForm.save}" icon="ui-icon-newwin"
                                        oncomplete="setConfirmUnload(false);" ajax="false"
                                        update="@ pnlgrdUserInfo" process="@ pnlgrdUserInfo">
                            </p:menuitem>
                        </p:splitButton>

                        <p:commandButton value="#{text['button.cancel']}" action="/admin/users"
                                         immediate="true" ajax="false" icon="fa fa-hand-o-left Fs14 white"/>

                    </h:panelGroup>
                </f:facet>


            </st:panel>


        </h:form>
    </ui:define>
</ui:composition>

