<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">


	<ui:define name="pageTitle">#{text['visitDetail.title']}</ui:define>

	<ui:param name="menu" value="visit" />
	<ui:param name="bodyId" value="visit" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['visitDetail.title']}">

				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['visitDetail.heading']}"
					textSummary="#{text['visitDetail.message']}" />

				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
					id="visitPnl">

					<h:inputHidden value="#{visitForm.visit.visitId}" id="visitId" />
					<p:spacer />
					<p:spacer />


					<p:outputLabel styleClass="control-label" for="name"
						value="#{text['visit.name']}" />
					<p:inputText id="name" value="#{visitForm.visit.name}"
						required="true" maxlength="50" />
					<p:message for="name" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="visitDate"
						value="#{text['visit.visitDate']}" />
					<p:inputText id="visitDate" value="#{visitForm.visit.visitDate}"
						required="false" maxlength="19" />
					<p:message for="visitDate" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="visitType"
						value="#{text['visit.visitType']}" />
					<p:inputText id="visitType" value="#{visitForm.visit.visitType}"
						required="true" maxlength="2" />
					<p:message for="visitType" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="visitedId"
						value="#{text['visit.visitedId']}" />
					<p:inputText id="visitedId" value="#{visitForm.visit.visitedId}"
						required="true" maxlength="255" />
					<p:message for="visitedId" styleClass="help-inline" />

					<p:outputLabel styleClass="control-label" for="visitedById"
						value="#{text['visit.visitById']}" />
					<p:inputText id="visitedById" value="#{visitForm.visit.visitedById}"
						required="true" maxlength="255" />
					<p:message for="visitedById" styleClass="help-inline" />

				</p:panelGrid>

				<f:facet name="footer">
					<h:panelGroup>
						<p:splitButton value="#{text['button.save']}"
							actionListener="#{visitForm.save}" id="save"
							styleClass="btn btn-primary" ajax="false" icon="fa fa-floppy-o Fs14 white"
							update="growl">
							<p:menuitem value="#{text['button.saveReturn']}"
								action="#{visitForm.save}" icon="ui-icon-newwin">
							</p:menuitem>
						</p:splitButton>

						<c:if test="${not empty visitForm.visit.visitId}">
							<p:commandButton value="#{text['button.delete']}" id="delete"
								icon="fa fa-trash Fs14 white" value="#{text['button.delete']}" oncomplete="PF('visitDlgWv').show();"
								update="growl" />
						</c:if>

						<p:commandButton value="#{text['button.cancel']}" action="visits"
							immediate="true" id="cancel" styleClass="btn" ajax="false"
							icon="fa fa-hand-o-left Fs14 white" value="#{text['button.cancel']}" />
					</h:panelGroup>
				</f:facet>

			</p:panel>

			<shared:helpdialog dlgid="dlgHelp"
				title="#{text['visitDetail.heading']}" widgetId="dlgHelpWv">
				<h:outputText value="#{visitForm.helpMessage}"
					style="font-size: 120% !important;" />
			</shared:helpdialog>

			<p:confirmDialog id="dlgVisit"
				header="#{text['dialog.deleteConfirmation']}" severity="alert"
				widgetVar="visitDlgWv" showEffect="clip" hideEffect="fold">

				<f:facet name="message">
					<p:panelGrid columns="1">
						<h:outputFormat id="otplUserToDelete"
							value="#{text['dialog.areYouSure']}">
							<f:param value="#{visitForm.visit.name}" />
							<f:param value="#{text['visitList.visit']}" />
						</h:outputFormat>
					</p:panelGrid>
				</f:facet>


				<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
					oncomplete="PF('visitDlgWv').hide();" action="#{visitForm.delete}"
					update=":mainFrm:growl" ajax="false" />

				<p:commandButton id="decline" value="#{text['button.no']}"
					onclick="PF('visitDlgWv').hide();" type="button" />

			</p:confirmDialog>
		</h:form>
	</ui:define>

</ui:composition>

