<ui:composition template="/templates/mainMenu.xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<ui:define name="pageTitle">#{text['visitDetail.title']} </ui:define>

	<ui:param name="menu" value="visit" />
	<ui:param name="bodyId" value="visit" />

	<ui:define name="body">

		<h:form id="mainFrm" enctype="multipart/form-data">

			<ui:include src="/sections/main/message.xhtml" />

			<p:panel style="width: 100%; margin: 0 auto"
				header="#{text['visitDetail.title']}">
				
				<ui:include src="/sections/titlebar/actionButtons.xhtml" />

				<shared:instructionText textHeader="#{text['visitDetail.heading']}"
					textSummary="#{text['visitList.message']}" />


				<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
					id="visitPnl">
					<p:commandButton action="mainMenu" id="cmdCancel" immediate="true"
						ajax="false" icon="fa fa-home Fs14 white" value="#{text['button.home']}" />
					<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
						oncomplete="PF('visitDlgWv').show();" disabled="#{!visitList.checked}"
						update="dtblVisit" />
					<p:commandButton action="#{visitForm.edit}" id="add"
						immediate="true" ajax="false" icon="fa fa-plus Fs14 white" value="#{text['button.add']}" />
				</p:panelGrid>

				<p:dataTable id="dtblVisit" var="visit" value="#{visitList.visits}"
					editable="false" widgetVar="visitsWV" paginator="true"
					paginatorPosition="bottom" rows="25"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,50,100" rowKey="#{visit.name}"
					selection="#{visitList.selectedVisit}">


					<p:ajax event="rowSelectRadio"
						listener="#{visitList.radioSelected}"
						update=":mainFrm:cmdDelete :dlgFrm:dlgVisit" />

					<p:column selectionMode="single" style="width:2%" />


					<p:column headerText="#{text['visit.name']}" sortBy="#{visit.name}"
						filterBy="#{visit.name}">
						<h:commandLink action="#{visitForm.edit}" value="#{visit.name}"
							ajaX="false" styleClass="ui-link">
							<f:param name="visitId" value="#{visit.visitId}" />
							<f:param name="from" value="list" />
						</h:commandLink>
					</p:column>

					<p:column headerText="#{text['visit.visitDate']}"
						sortBy="#{visit.visitDate}" filterBy="#{visit.visitDate}">
						<h:outputText value="#{visit.visitDate}" escape="true" />
					</p:column>

					<p:column headerText="#{text['visit.visitedId']}"
						sortBy="#{visit.visitedId}" filterBy="#{visit.visitedId}">
						<h:outputText value="#{visit.visitedId}" escape="true" />
					</p:column>

					<p:column headerText="#{text['visit.visitById']}"
						sortBy="#{visit.visitedById}" filterBy="#{visit.visitedById}">
						<h:outputText value="#{visit.visitedById}" escape="true" />
					</p:column>

					<p:column headerText="#{text['visit.visitType']}"
						sortBy="#{visit.visitType}" filterBy="#{visit.visitType}">
						<h:outputText value="#{visit.visitType}" escape="true" />
					</p:column>


				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

	<ui:define name="confirmDialog">

		<p:confirmDialog id="dlgVisit"
			header="#{text['dialog.deleteConfirmation']}" severity="alert"
			widgetVar="visitDlgWv" showEffect="clip" hideEffect="fold">

			<f:facet name="message">
				<p:panelGrid columns="1">
					<h:outputFormat id="otplUserToDelete"
						value="#{text['dialog.areYouSure']}">
						<f:param value="#{visitList.selectedVisit.name}" />
						<f:param value="#{text['visitList.visit']}" />
					</h:outputFormat>
				</p:panelGrid>
			</f:facet>


			<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
				oncomplete="PF('visitDlgWv').hide();" actionListener="#{visitList.delete}"
				update=":mainFrm:dtblVisit :mainFrm:growl :mainFrm:cmdDelete" />

			<p:commandButton id="decline" value="#{text['button.no']}"
				onclick="PF('visitDlgWv').hide();" type="button" />

		</p:confirmDialog>

	</ui:define>

</ui:composition>