<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:of="http://omnifaces.org/functions">

	<f:facet name="actions">


		<p:link title="#{button.help}" target="_blank"
			styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
			onclick="showHelp('#{helpId}');" type="button" id="lnkHelp">
			<i class="fa fa-question-circle Fs18 white" />
		</p:link>
		
		<p:tooltip id="ttHelp" for="lnkHelp" value="Search for help topic" trackMouse="true" />
 

		<c:if test="#{tour eq 'YES'}">
			<p:commandLink
				styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
				type="button"
				oncomplete="hopscotch.startTour(#{bodyId});setCookie('#{bodyId}','1',365);"
				title="#{button.showme}" global="false" id="lnktour">
				<i class="fa fa-eye Fs18 white" />
			</p:commandLink>
			
			<p:tooltip id="ttTour" for="lnktour" value="#{text['button.tour']}" trackMouse="true" />
			
		</c:if>

	</f:facet>

</ui:composition>