<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<!-- INTERFACE -->
<composite:interface>
	<composite:attribute name="image" />
	<composite:attribute name="actionMethod"
		method-signature="java.lang.String action()" />
	<composite:attribute name="styleClass" default="icon" required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	<h:form>
		<p:commandLink action="#{cc.attrs.actionMethod}" immediate="true"
			ajax="false" styleClass="#{cc.attrs.styleClass}" >
			<p:graphicImage value="#{cc.attrs.image}" />
		</p:commandLink>

	</h:form>
</composite:implementation>


</html>
