<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">


    <p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
                 id="categoryPnl">

        <p:outputLabel styleClass="control-label" for="name"
                       value="#{text['category.name']}"/>
        <p:inputText id="name" value="#{categoryForm.category.name}"
                     required="true" maxlength="25"/>
        <p:message for="name"/>

        <c:if test="#{ categoryList.type eq 'FUND'}">
            <p:outputLabel for="acctnum"
                           value="#{text['fund.acctnum']}"/>
            <p:inputText id="acctnum" value="#{categoryForm.category.acctnum}"
                         required="false" maxlength="20"/>
            <p:message for="acctnum"/>
        </c:if>


        <p:outputLabel value="#{text['eventType.color']}" for="clrpckr"/>

        <p:colorPicker value="#{categoryForm.category.color}" id="clrpckr"
                       required="true"/>
        <p:message for="clrpckr"/>


        <!-- Remove Category Type; This is defaulted and implied-->
        <!--<p:outputLabel styleClass="control-label" for="categoryType"-->
        <!--value="#{text['category.categoryType']}" />-->

        <!--<p:selectOneMenu value="#{categoryForm.category.categoryType}"-->
        <!--id="categoryType" required="true" styleClass="Wid45">-->

        <!--<f:selectItems value="#{categoryForm.categoryTypeValues}" var="c"-->
        <!--itemValue="#{c}" itemLabel="#{c.value}" />-->

        <!--</p:selectOneMenu>-->

        <!--<p:message for="categoryType" styleClass="help-inline" />-->

        <p:outputLabel styleClass="control-label" for="active"
                       value="#{text['group.active']}"/>

        <p:selectBooleanCheckbox id="active" value="#{categoryForm.category.active}" />

        <p:message for="active"/>

        <p:outputLabel styleClass="control-label" for="descr"
                       value="#{text['category.descr']}"/>

        <p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
                         maxlength="100" counterTemplate="{0} characters remaining"
                         autoResize="false" value="#{categoryForm.category.descr}" id="descr"/>
        <p:spacer/>

        <p:spacer/>
        <h:outputText id="inptxrCounter"/>
        <p:spacer/>

        <c:if test="${empty categoryForm.type}">

            <p:outputLabel styleClass="control-label" for="categoryType"
                           value="#{text['category.categoryType']}"/>

            <p:selectOneMenu value="#{categoryForm.category.categoryType}"
                             id="categoryType" required="true" styleClass="Wid45">

                <f:selectItems value="#{categoryForm.categoryTypeValues}" var="c"
                               itemValue="#{c}" itemLabel="#{c.value}"/>

            </p:selectOneMenu>

            <p:message for="categoryType" styleClass="help-inline"/>

        </c:if>


    </p:panelGrid>


</ui:composition>