<ui:composition
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
        xmlns:h="http://java.sun.com/jsf/html">

  <!--  <h:outputScript>
        $(document).ready(function () {
            alert("ready!");
            $('#u_value').val("");
            $('#p_value').val("");
            alert($('#u_value').val());
            alert($('#p_value').val());
        });
    </h:outputScript>-->

    <div class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent5">
        <p:graphicImage name="church-connect-color.png" library="images"
                        height="128px" width="128px"/>
    </div>

    <div class="EmptyBox5"/>

    <p:panel styleClass="Wid50 MarAuto BordRad10 MaxWid500 white-back" id="pnlCreateAccount">

        <p:messages severity="error,info,warn" globalOnly="true" showIcon="true" styleClass="Wid90">
            <p:autoUpdate/>
        </p:messages>

        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid">

            <h1>#{text['members.createUser']}</h1>

            <c:if test="#{not inviteUserForm.user.verified}">

                <h3><h:outputText value="#{text['members.create.your.account']}"/></h3>


                <p:outputLabel for="u_value" value="#{text['user.username']}"/>

                <p:inputText value="#{inviteUserForm.user.username}" id="u_value"
                             required="true" styleClass="Wid90 Fs18">
                </p:inputText>

                <p:message for="u_value"/>

                <p:outputLabel for="p_value" value="#{text['user.password']}"/>

                <p:password id="p_value" value="#{inviteUserForm.user.password}"
                            required="true" feedback="true" match="confirmPassword"
                            redisplay="true" styleClass="Wid90 Fs18"/>


                <p:message for="p_value"/>


                <p:outputLabel for="confirmPassword"
                               value="#{text['user.confirmPassword']}"/>


                <p:password value="#{inviteUserForm.user.confirmPassword}"
                            id="confirmPassword" required="true" redisplay="true"
                            styleClass="Wid90  Fs18"/>

                <p:message for="confirmPassword"/>


                <st:showMore showMoreListener="#{inviteUserForm.toogleShowMore}" refresh="@(.ui-panelgrid)"
                             state="#{inviteUserForm.showMore}" id="ccSmUser"/>

                <p:spacer width="1px"/>

                <c:if test="#{inviteUserForm.showMore}">

                    <p:outputLabel for="passwordHint"
                                   value="#{text['user.passwordHint']}"/>

                    <p:inputText value="#{inviteUserForm.user.passwordHint}"
                                 id="passwordHint" required="false" styleClass="Wid90 Fs18"/>

                    <p:message for="passwordHint"/>

                </c:if>
            </c:if>

            <p:commandButton value="#{text['members.createUser']}" styleClass="Fs16 Wid90"
                             action="#{inviteUserForm.save}" update="@ pnlCreateAccount" process="@ pnlCreateAccount"
                             rendered="#{not inviteUserForm.user.verified}"/>

            <p:commandButton value="#{text['button.go.to.login']}" styleClass="Fs16 Wid90"
                             ajax="false" action="/login" rendered="#{inviteUserForm.user.verified}"/>

            <div class="EmptyBox5"/>

        </p:panelGrid>
    </p:panel>


</ui:composition>
