<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared" xmlns:h="http://java.sun.com/jsf/html">

    <c:choose>
        <c:when test="${param.from == 'list' or empty userForm.user.id}">
            <c:set var="message" value="#{text['userProfile.admin.message']}"/>
        </c:when>
        <c:otherwise>
            <c:set var="message" value="#{text['userProfile.message']}"/>
        </c:otherwise>
    </c:choose>

    <p:panelGrid columns="2" layout="grid"
                 styleClass="ui-panelgrid-blank Wid100" id="pnlgrdUserInfo">

        <p:outputLabel for="username" value="#{text['user.username']}"/>

        <p:outputLabel for="password" value="#{text['user.password']}"/>


        <p:inputText value="#{userForm.user.username}" id="username"
                     required="true" styleClass="Wid100"/>

        <p:password id="password" value="#{userForm.user.password}"
                    required="true" feedback="true" match="confirmPassword"
                    redisplay="true" styleClass="Wid100"/>


        <p:message for="username"/>
        <p:message id="msgpsswrd" for="password"/>


        <p:outputLabel for="confirmPassword"
                       value="#{text['user.confirmPassword']}"/>

        <p:outputLabel for="email" value="#{text['user.email']}"/>


        <p:password value="#{userForm.user.confirmPassword}"
                    id="confirmPassword" required="true" redisplay="true"
                    styleClass="Wid100"/>
        <p:inputText id="email" value="#{userForm.user.email}"
                     required="true"
                     validatorMessage="#{userForm.user.email} is not valid"
                     styleClass="Wid100">
            <f:validateRegex
                    pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
        </p:inputText>

        <p:message id="msgcnfmpsswd" for="confirmPassword"/>

        <p:message for="email"/>

        <p:outputLabel value="#{text['userProfile.assignRoles']}"
                       for="userRoles"/>


        <p:selectBooleanCheckbox id="sbcEmailUser" itemLabel="#{text['user.email.username.password']}"
                                 value="#{userForm.user.emailUserNameAndPassword}" styleClass="Fs11"/>

        <p:selectOneMenu id="userRoles"
                         value="#{userForm.role}" label="Profiles" filter="true"
                         filterMatchMode="startsWith"
                         panelStyle="width:250px" required="true" converter="omnifaces.SelectItemsConverter">

            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{userForm.roles}" var="role" itemLabel="#{role.label}" itemValue="#{role}"/>
        </p:selectOneMenu>

        <p:spacer width="1px"/>

        <p:message for="userRoles"/>

        <p:message for="sbcEmailUser"/>


        <st:showMore showMoreListener="#{userForm.toogleShowMore}" refresh="@(.ui-panelgrid-blank)"
                     state="#{userForm.showMore}" id="ccSmUser"/>

        <p:spacer width="1px"/>

        <c:if test="#{userForm.showMore}">


            <p:outputLabel for="passwordHint"
                           value="#{text['user.passwordHint']}"/>

            <h:outputText value=""/>

            <p:inputText value="#{userForm.user.passwordHint}"
                         id="passwordHint" required="false" styleClass="Wid100"/>

            <h:outputText value=""/>


            <p:message for="passwordHint"/>
            <h:outputText value=""/>


            <p:outputLabel for="firstName" value="#{text['user.firstName']}"/>
            <p:outputLabel for="lastName" value="#{text['user.lastName']}"/>


            <p:inputText id="firstName" value="#{userForm.user.firstName}"
                         maxlength="50" required="false" styleClass="Wid100"/>

            <p:inputText value="#{userForm.user.lastName}" id="lastName"
                         maxlength="50" required="false" styleClass="Wid100"/>

            <p:message for="firstName"/>
            <p:message for="lastName"/>

            <p:selectBooleanCheckbox value="#{userForm.user.enabled}"
                                     id="enabled" itemLabel="#{text['user.enabled']}"/>


            <p:selectBooleanCheckbox value="#{userForm.user.accountLocked}"
                                     id="accountLocked" itemLabel="#{text['user.accountLocked']}"/>

            <p:selectBooleanCheckbox
                    value="#{userForm.user.accountExpired}" id="accountExpired"
                    itemLabel="#{text['user.accountExpired']}"/>

            <p:selectBooleanCheckbox
                    value="#{userForm.user.credentialsExpired}"
                    id="credentialsExpired" itemLabel="#{text['user.credentialsExpired']}"/>

        </c:if>

    </p:panelGrid>


</ui:composition>