<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns="http://www.w3.org/1999/xhtml"
>

    <h:inputHidden value="#{connectForm.connect.connectId}" id="connectId"/>

    <h:inputHidden value="#{connectForm.connect.version}" id="version"/>

    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank"
                 id="connectPnl">


        <p:outputLabel styleClass="control-label" for="action"
                       value="#{text['connect.action']}"/>

        <p:selectOneMenu value="#{connectForm.connect.action}" id="action"
                         required="true" styleClass="Wid33">
            <f:selectItem itemValue="#{null}"
                          itemLabel="#{text['button.selectOne']}" noSelectionOption="true"/>
            <f:selectItems value="#{connectForm.connectActions}" var="c"
                           itemValue="#{c}" itemLabel="#{c.label}"/>
        </p:selectOneMenu>


        <p:message for="action"/>


        <p:outputLabel styleClass="control-label" for="individual"
                       value="#{text['person.personId']}"/>

        <!--
        <p:selectOneMenu value="#{connectForm.connect.individual}"
            id="individual" required="true" styleClass="Wid33"
            converter="#{personConverter}">
            <f:selectItem itemValue="#{null}"
                itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />
            <f:selectItems value="#{connectForm.dataService.persons}" />
        </p:selectOneMenu>
         -->

        <p:autoComplete id="individual" size="45"
                        completeMethod="#{connectForm.completePerson}"
                        value="#{connectForm.connect.individual}" var="person"
                        itemLabel="#{person.name}" itemValue="#{person}"
                        forceSelection="true" minQueryLength="2" dropdown="false" cache="true"
                        converter="#{personConverter}" styleClass="Wid33" required="true"
                        groupBy="#{connectForm.getPersonGroup(person)}">
            <!--
            <p:ajax event="itemSelect" listener="#{connectForm.selectPerson}"
                partialSubmit="true" process="@parent" global="false" />
             -->
            <p:column>#{person.name}</p:column>
        </p:autoComplete>


        <p:message for="individual"/>

        <p:outputLabel styleClass="control-label" for="assignee"
                       value="#{text['connect.assignee']}"/>

        <!--
        <p:selectOneMenu value="#{connectForm.connect.assignee}" id="assignee"
            required="true" styleClass="Wid33" converter="#{personConverter}">
            <f:selectItem itemValue="#{null}"
                itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />
            <f:selectItems value="#{connectForm.dataService.persons}" />
        </p:selectOneMenu>
        <p:message for="assignee" />
         -->

        <p:autoComplete id="assignee" size="45"
                        completeMethod="#{connectForm.completePerson}"
                        value="#{connectForm.connect.assignee}" var="person"
                        itemLabel="#{person.name}" itemValue="#{person}"
                        forceSelection="true" minQueryLength="2" dropdown="false" cache="true"
                        converter="#{personConverter}" styleClass="Wid33" required="true"
                        groupBy="#{connectForm.getPersonGroup(person)}">
            <p:column>#{person.name}</p:column>
        </p:autoComplete>

        <p:message for="assignee"/>

        <p:outputLabel styleClass="control-label" for="instructions"
                       value="#{text['connect.instructions']}"/>

        <p:inputTextarea rows="5" styleClass="Wid50" counter="inptxrCounter"
                         maxlength="5200" counterTemplate="{0} characters remaining"
                         autoResize="false" value="#{connectForm.connect.instructions}"
                         id="instructions" required="true"/>

        <h:outputText id="inptxrCounter"/>


        <p:outputLabel styleClass="control-label" for="completeDate"
                       value="#{text['connect.completeDate']}"/>
        <p:calendar value="#{connectForm.connect.completeDate}"
                    id="completeDate" required="true" showOn="button" styleClass="Wid33"
                    pattern="MM/dd/yyyy" mask="true" maskAutoClear="true">

            <f:validator for="completeDate" validatorId="PastDateValidator"/>
            <f:attribute name="ErrorMessage" value="errors.dateCannotBeInThePast"/>
            <f:attribute name="Validate" value="#{connectForm.newEntry}"/>

        </p:calendar>

        <p:message for="completeDate" styleClass="help-inline"/>


        <p:outputLabel styleClass="control-label" for="notifyOnComplete"
                       value="#{text['connect.notifyOnComplete']}"/>
        <p:selectBooleanButton value="#{connectForm.connect.notifyOnComplete}"
                               id="notifyOnComplete" offLabel="#{text['button.no']}"
                               onLabel="#{text['button.yes']}"/>

        <p:message for="notifyOnComplete" styleClass="help-inline"/>

    </p:panelGrid>

</ui:composition>
