<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared">


	<!--  
	<h2>
		<h:outputText value="#{connectForm.tab}" />
	</h2>
	-->
	
	
	
	<st:dataTable tableId="dtblConnect" tableVar="connect"
					tableValue="#{connectForm.connections}"
					tableSelection="#{connectForm.selectedConnect}"
					tableRowKey="#{connect.connectId}">
	

	
		<p:column headerText="#{text['connect.action']}"
			sortBy="#{connect.connectId}" filterBy="#{connect.connectId}" priority="1">
			<h:commandLink action="#{connectForm.edit}"
				value="#{connect.action.label}" ajaX="false" styleClass="ui-link">
				<f:param name="connectId" value="#{connect.connectId}" />
				<f:param name="from" value="list" />
			</h:commandLink>
		</p:column>

		<p:column headerText="#{text['connect.status']}"
			sortBy="#{connect.status}" filterBy="#{connect.status}" priority="2">
			<h:outputText value="#{connect.status.label}" escape="true" />
		</p:column>

		<p:column headerText="#{text['person.personId']}"
			sortBy="#{connect.individual}" filterBy="#{connect.individual}" priority="3">
			<h:outputText value="#{connect.individual.name}" escape="true" />
		</p:column>

		<p:column headerText="#{text['connect.assignee']}"
			sortBy="#{connect.assignee}" filterBy="#{connect.assignee}" priority="4">
			<h:outputText value="#{connect.assignee.name}" escape="true" />
		</p:column>


		<p:column headerText="#{text['connect.completeDate']}"
			sortBy="#{connect.completeDate}" filterBy="#{connect.completeDate}" priority="5">
			<h:outputText value="#{connect.completeDate}" escape="true">
				<f:convertDateTime pattern="MM/dd/yyyy" timeZone="America/New_York" />
			</h:outputText>
		</p:column>

	</st:dataTable>


</ui:composition>