<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">

	<p:panel style="width: 100%; margin: 0 auto"
		header="#{text['groupDetail.title']}" id="pnlCatGroup">


		<p:panelGrid columns="3" styleClass="ui-panelgrid-blank listbutton"
			id="groupPnl">

			<p:commandButton id="cmdDelete" icon="fa fa-trash Fs14 white" value="#{text['button.delete']}"
				oncomplete="PF('groupDlgWv').show();"
				disabled="#{!groupMaintForm.checked}" update="dtblGroup" />

			<p:commandButton actionListener="#{groupMaintForm.addGroup}" id="add"
				immediate="true" ajax="true" icon="fa fa-plus Fs14 white" value="#{text['button.add']}"
				partialSubmit="true">

				<p:ajax event="dialogReturn"
					listener="#{groupMaintForm.handleGroupReturn}"
					update=":mainFrm:dtblGroup :mainFrm:dtblMember :mainFrm:growl"
					global="false" />

			</p:commandButton>

		</p:panelGrid>

		<p:dataTable id="dtblGroup" var="group"
			value="#{groupMaintForm.groups}" editable="false"
			widgetVar="groupsWV" paginator="false" rowKey="#{group.name}"
			scrollable="true" scrollHeight="150"
			selection="#{groupMaintForm.selectedGroup}">


			<p:ajax event="rowSelectRadio"
				listener="#{groupMaintForm.radioSelected}"
				update=":mainFrm:cmdDelete :mainFrm:dlgCatGroup :mainFrm:dtblMember"
				global="false" />


			<p:column selectionMode="single" style="width:2%" />

			<p:column headerText="#{text['group.name']}" sortBy="#{group.name}"
				filterBy="#{group.name}">
				<h:outputText value="#{group.name}" escape="true" />
			</p:column>

			<p:column headerText="#{text['group.descr']}"
				filterBy="#{group.descr}">
				<h:outputText value="#{group.descr}" escape="true" />
			</p:column>


		</p:dataTable>
	</p:panel>



	<p:confirmDialog id="dlgCatGroup"
		header="#{text['dialog.deleteConfirmation']}" severity="alert"
		widgetVar="groupDlgWv" showEffect="clip" hideEffect="fold">

		<f:facet name="message">
			<p:panelGrid columns="1">
				<h:outputFormat id="optDelete" value="#{text['dialog.areYouSure']}">
					<f:param value="#{groupMaintForm.selectedGroup.name}" />
					<f:param value="#{text['groupMaint.group']}" />
				</h:outputFormat>
			</p:panelGrid>
		</f:facet>


		<p:commandButton id="cmdbtnGrpConfrim" value="#{text['button.yes']}"
			oncomplete="PF('groupDlgWv').hide();"
			actionListener="#{groupMaintForm.delete}"
			update=":mainFrm:dtblGroup :mainFrm:dtblMember :mainFrm:growl :mainFrm:cmdDelete" />

		<p:commandButton id="grpDecline" value="#{text['button.no']}"
			onclick="PF('groupDlgWv').hide();" type="button" />

	</p:confirmDialog>


</ui:composition>