<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">





	<!-- <p:panel style="width: 95%; margin: 0 auto"
		header="#{text['groupMembers.title']}" id="pnlMembers"> -->

	<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="">

		<h:outputText value="#{text['member.available']}" />
		<h:outputText value="#{text['group.role']}" />
		<p:spacer width="1" />
		<p:spacer width="1" />

		<p:autoComplete id="atcindividual" 
			completeMethod="#{groupMaintForm.completePerson}"
			value="#{groupMaintForm.selectedPerson}" var="person"
			itemLabel="#{person.name}" itemValue="#{person}"
			forceSelection="true" minQueryLength="2" dropdown="true" cache="true"
			onkeypress="if (event.keyCode == 13) {findbtn(); return false; }"
			converter="#{personConverter}" styleClass="Wid100">
			<p:ajax event="itemSelect" listener="#{groupMaintForm.selectPerson}"
				partialSubmit="true" process="@parent" global="false" />
			<p:column>#{person.name}</p:column>
		</p:autoComplete>

		<p:selectOneMenu value="#{groupMaintForm.selectedRole}"
			converter="#{groupRoleConverter}" id="slmRole" styleClass="Wid60">
			<f:selectItem itemValue="#{null}"
				itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />
			<f:selectItems value="#{groupMaintForm.groupRoles}" var="gr"
				itemValue="#{gr}" itemLabel="#{gr.name}" />
		</p:selectOneMenu>

		<p:commandButton id="cmdAddPerson" immediate="false" ajax="true"
			icon="fa fa-plus Fs14 white" value="#{text['button.add']}"
			partialSubmit="true" process="@this @(#atcindividual) @(#slmRole)"
			update="@form" actionListener="#{groupMaintForm.addMemberToGroup}">
		</p:commandButton>

		<p:commandButton actionListener="#{groupMaintForm.addPerson}"
			id="addPerson" immediate="false" ajax="true"
			icon="fa fa-user Fs14 white" value="#{text['button.create']}"
			partialSubmit="true">

			<p:ajax event="dialogReturn"
				listener="#{groupMaintForm.handlePersonReturn}" global="false" />

		</p:commandButton>

	</p:panelGrid>



	<p:panelGrid columns="1" id="memberPnl" styleClass="ui-panelgrid-blank">
		<p:commandLink id="cmdDeleteMember"
			oncomplete="PF('memberDlgWv').show();"
			disabled="#{empty groupMaintForm.selectedGroupMember}">
			<i class="fa fa-chain-broken Fs10" />
			<p:spacer width="1px" />
			<h:outputText value="#{text['button.clear']}" />
		</p:commandLink>
	</p:panelGrid>

	<p:outputPanel>
		
		<p:autoUpdate />
		
		<p:dataTable id="dtblMember" var="member"
			value="#{groupForm.selectedGroup.groupMembers}" editable="true"
			widgetVar="memberWV" paginator="false" rowKey="#{member.person.name}"
			scrollable="true" scrollHeight="150"
			selection="#{groupMaintForm.selectedGroupMember}">

			<p:ajax event="rowSelectRadio"
				listener="#{groupMaintForm.radioSelectedMember}"
				update=":mainFrm:cmdDeleteMember :mainFrm:dlgMember" />

			<!-- 
			<p:ajax event="cellEdit" listener="#{groupMaintForm.onCellEdit}" /> -->
			<p:ajax event="rowEdit" listener="#{groupMaintForm.rowEdit}"
				update="@(#growl)" />

			<p:column selectionMode="single" style="width:5%" />

			<p:column headerText="#{text['person.personId']}"
				sortBy="#{member.person.name}" filterBy="#{member.person.name}"
				style="width:40%">
				<h:outputText value="#{member.person.name}" escape="true" />
			</p:column>

			<p:column headerText="#{text['group.role']}"
				styleClass="text-align: center;" style="width:40%">

				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{member.groupRole.name}"></h:outputText>
					</f:facet>
					<f:facet name="input">
						<p:selectOneMenu value="#{member.groupRole}"
							converter="#{groupRoleConverter}" style="width:100%">
							<f:selectItems value="#{groupMaintForm.groupRoles}" var="gr"
								itemValue="#{gr}" itemLabel="#{gr.name}" />
						</p:selectOneMenu>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{text['groupMember.active']}"
				styleClass="text-align: center;" style="width:15%">

				<!-- 
				<p:inputSwitch value="#{member.active}"
					onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}" />

				 -->
				<p:cellEditor>
					<f:facet name="output">
						<p:selectBooleanButton value="#{member.active}"
							onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
							disabled="true" />
					</f:facet>

					<f:facet name="input">
						<p:selectBooleanButton value="#{member.active}"
							onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}" />
					</f:facet>
				</p:cellEditor>


			</p:column>

			<!-- 
			<p:column headerText="#{text['person.mobileNumber']}">
				<p:cellEditor>
					<f:facet name="input">
						<p:inputMask id="mobileNumber"
							value="#{member.person.mobileNumber}" required="false"
							mask="(999) 999-9999" />
					</f:facet>
					<f:facet name="output">
						<h:outputText value="#{member.person.mobileNumber}" escape="true" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			<p:column headerText="#{text['person.email']}"
				sortBy="#{member.person.email}" filterBy="#{member.person.email}">

				<p:cellEditor>
					<f:facet name="input">
						<p:inputText id="email" value="#{member.person.email}"
							required="true" maxlength="100" styleClass="text-large"
							validatorMessage="#{text['errors.email']}">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]">
							</f:validateRegex>
							<f:param value="#{member.person.email} " />
						</p:inputText>
					</f:facet>

					<f:facet name="output">
						<h:outputText value="#{member.person.email}" escape="true" />
					</f:facet>
				</p:cellEditor>
			</p:column>
 	-->
			<p:column style="width:32px">
				<p:rowEditor />
			</p:column>


		</p:dataTable>

	</p:outputPanel>
	<!-- </p:panel> -->



	<p:confirmDialog id="dlgMember"
		header="#{text['dialog.deleteConfirmation']}" severity="alert"
		widgetVar="memberDlgWv" showEffect="clip" hideEffect="fold">

		<f:facet name="message">
			<p:panelGrid columns="1">
				<h:outputFormat id="optMemberDelete"
					value="#{text['dialog.areYouSure']}">
					<f:param value="#{groupMaintForm.selectedGroupMember.person.name}" />
					<f:param value="Insert Text Here" />
				</h:outputFormat>
			</p:panelGrid>
		</f:facet>


		<p:commandButton id="cmdbtnMemberConfrim"
			value="#{text['button.yes']}" oncomplete="PF('memberDlgWv').hide();"
			actionListener="#{groupMaintForm.delete}"
			update="@(#cmdDeleteMember)" />

		<p:commandButton id="memberDecline" value="#{text['button.no']}"
			onclick="PF('memberDlgWv').hide();" type="button" />

	</p:confirmDialog>
</ui:composition>