<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:shared="http://xmlns.jcp.org/jsf/composite/components/shared">



	<p:outputLabel styleClass="control-label" for="category"
		value="#{text['category.category_id']}" />

	<p:selectOneMenu value="#{groupForm.group.category}" id="category"
		required="true" converter="#{categoryConverter}" styleClass="Wid80">

		<f:selectItem itemValue="#{null}"
			itemLabel="#{text['button.selectOne']}" noSelectionOption="true" />

		<f:selectItems value="#{groupForm.categories}" var="ct"
			itemValue="#{ct}" itemLabel="#{ct.name}" />

	</p:selectOneMenu>

	<p:message for="category" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label" for="name"
		value="#{text['group.name']}" />
	<p:inputText id="name" value="#{groupForm.group.name}" required="true"
		maxlength="45" styleClass="Wid80" />
	<p:message for="name" styleClass="help-inline" />

	<p:outputLabel styleClass="control-label" for="active"
		value="#{text['group.active']}" />

	<p:inputSwitch id="active" value="#{groupForm.group.active}"
		onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
		styleClass="Wid80" />

	<p:message for="active" styleClass="help-inline" />



	<p:outputLabel for="descr" value="#{text['category.descr']}" />

	<p:inputTextarea rows="5" counter="inptxrCounter" maxlength="100"
		counterTemplate="{0} characters remaining" autoResize="false"
		value="#{groupForm.group.descr}" id="descr" styleClass="Wid90" />
	<h:outputText id="inptxrCounter" />
	<p:spacer />
	<p:spacer />

</ui:composition>