<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:dialog id="dlgImage" header="#{text['imageDialog.dialogTitle']}"
              widgetVar="imageDlgWv" showEffect="clip" hideEffect="fold"
              styleClass="imageDialog" width="525" resizable="true"
              modal="true" onHide="disableButtons();" responsive="true">


        <p:wizard flowListener="#{messageForm.onFlowProcess}" id="wizpic"
                  widgetVar="wvwizpic" showNavBar="false" showStepStatus="false">


            <p:tab>

                <f:facet name="title">
                    <h:panelGroup
                            style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
                        <h:outputText value="1" style="display:block;font-size: 150%;"/>
                        <i class="fa fa-cloud-upload"></i> #{text['button.upload']} #{text['household.picture']}
                    </h:panelGroup>

                    <span class="Fs9"> <i
                            class="fa fa-cloud-upload"></i> #{text['button.upload']} #{text['household.picture']}</span>
                </f:facet>


                <p:panel id="pnlUploadFile">

                    <p:fileUpload fileUploadListener="#{personForm.handleFileUpload}"
                                  mode="advanced" dragDropSupport="true" sizeLimit="2621440"
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" id="fulImage"
                                  multiple="false" auto="true"
                                  oncomplete="setConfirmUnload(false); PF('wvwizpic').next();"
                                  label="#{text['button.upload.picture']}">

                        <div align="center">
                            <h3>
                                <h:outputText value="#{text['message.dragAndDrop']}"/>
                            </h3>
                            <h4>
                                <h:outputText value="#{text['message.pictureToUpload']}"/>
                                <p:link value="#{text['button.upload.picture']}"
                                        onclick="$('.ui-fileupload-choose').click(); return false;"/>
                            </h4>
                        </div>
                    </p:fileUpload>


                    <f:facet name="footer">
                        <p:panelGrid columns="2" styleClass="ui-panelgrid-blank Wid100">

                            <p:toolbar id="tlbWizardStep1">

                                <p:toolbarGroup align="left">

                                    <p:commandButton id="clear" styleClass="btn" ajax="true"
                                                     icon="fa fa-user Fs14 white"
                                                     value="#{text['button.clear']}"
                                                     actionListener="#{personForm.removeImage}" global="false"
                                                     update="@ pic @ pnlUploadFile"
                                                     process="@this" partialSubmit="true"
                                                     oncomplete="PF('imageDlgWv').hide();setConfirmUnload(false)"
                                                     rendered="#{not empty personForm.person.personBin}"/>

                                    <p:separator rendered="#{not empty personForm.person.personBin}"/>

                                    <p:commandButton id="cmbFileUploadClose" icon="fa fa-hand-o-left Fs14 white"
                                                     value="#{text['button.cancel']}"
                                                     onclick="PF('imageDlgWv').hide();setConfirmUnload(false)"
                                                     type="button"/>

                                </p:toolbarGroup>
                            </p:toolbar>
                        </p:panelGrid>
                    </f:facet>

                </p:panel>

            </p:tab>


            <p:tab>

                <f:facet name="title">
                    <h:panelGroup
                            style="display: block;padding:0em;position:relative;text-align: center;text-decoration: none;">
                        <h:outputText value="2" style="display:block;font-size: 150%;"/>
                        <i class="fa fa-paint-brush"></i> #{text['button.edit']} #{text['household.picture']}
                    </h:panelGroup>

                    <span class="Fs9">
                              <i class="fa fa-paint-brush"></i> #{text['button.edit']} #{text['household.picture']}</span>
                </f:facet>


                <p:panel id="otpImage">

                    <p:autoUpdate/>

                    <div class="Container100">

                        <div class="Container50 Fleft" style="width: 250px;height: 184px;">
                            <h:panelGroup layout="block" styleClass="uploadedimage"
                                          id="pnlCropped">

                                <p:imageCropper value="#{personForm.croppedImage}"
                                                image="#{personForm.defaultImagePath}" id="imgcrop"
                                                initialCoords="1,1,128,128" minSize="128,128" maxSize="128,128">
                                </p:imageCropper>

                            </h:panelGroup>
                        </div>

                        <div class="Container40"
                             style="border-left: 1px solid #00AEEF;width: 190px; height: 184px;padding-left: 1em;">
                            <h:outputText value="#{text['imageDialog.message']}" styleClass="Fs10"/>
                        </div>
                    </div>

                    <div style="clear:both"/>

                    <f:facet name="footer">

                        <p:toolbar id="tlbAction">

                            <p:toolbarGroup align="left">

                                <p:commandButton value="#{text['button.crop']}" id="crop"
                                                 styleClass="btn" ajax="true" icon="ui-icon-newwin"
                                                 global="false" actionListener="#{personForm.crop}"
                                                 disabled="#{personForm.disableButtons}" update="@ otpImage"
                                                 partialSubmit="true" process="@this @ wizpic"/>

                                <!--  <p:commandButton id="clear" styleClass="btn" ajax="true"
                                                   icon="fa fa-chain-broken Fs14 white"
                                                   value="#{text['button.clear']}"
                                                   actionListener="#{personForm.removeImage}" global="false"
                                                   disabled="#{personForm.disableButtons}" update="@ otpImage"
                                                   process="@this @ upldpanel" partialSubmit="true"/>-->

                                <p:separator/>

                                <p:commandButton value="#{text['button.apply']}" id="dialogdone"
                                                 ajax="true"
                                                 icon="fa fa-file-picture-o Fs14 white"
                                                 actionListener="#{personForm.done}"
                                                 oncomplete="PF('imageDlgWv').hide();setConfirmUnload(false);PF('wvwizpic').back();"
                                                 global="false" disabled="#{personForm.disableButtons}"
                                                 update="@ pic" partialSubmit="true" process="@ wizpic"/>

                                <p:commandButton id="dialogcancel" icon="fa fa-hand-o-left Fs14 white"
                                                 value="#{text['button.cancel']}"
                                                 onclick="PF('imageDlgWv').hide();setConfirmUnload(false);PF('wvwizpic').back();"
                                                 type="button"/>

                            </p:toolbarGroup>
                        </p:toolbar>
                    </f:facet>
                </p:panel>
            </p:tab>
        </p:wizard>

    </p:dialog>
</ui:composition>
