<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panelGrid columns="1" id="pnlgrdPledge"
                 styleClass="ui-panelgrid-blank">

        <p:outputLabel value="#{text['campaign.campaignId']}"
                       for="slomPledge"/>

        <p:selectOneMenu value="#{personForm.initPledge.campaign}"
                         converter="#{campaignConverter}" styleClass="Wid90 Responsive"
                         required="true" id="slomPledge">
            <f:selectItems value="#{personForm.dataService.campaigns}"
                           var="cmp" itemValue="#{cmp}" itemLabel="#{cmp.name}"/>
        </p:selectOneMenu>

        <p:message for="slomPledge"/>

        <p:outputLabel value="#{text['pledgeDetail.pledge.amt']}"
                       for="iptamt"/>

        <p:inputNumber id="iptamt"
                       value="#{personForm.initPledge.pledgeAmt}" required="true"
                       validatorMessage="#{text['errors.batchTotal.max']}" symbol="$"
                       styleClass="Wid90 Responsive">
            <f:validateDoubleRange maximum="999999.99"/>
        </p:inputNumber>

        <p:message for="iptamt"/>


        <p:outputLabel value="#{text['pledgeDetail.note']}"/>


        <p:inputTextarea rows="5" counter="optCounter" maxlength="100"
                         counterTemplate="{0} characters remaining" autoResize="false"
                         value="#{personForm.initPledge.note}" styleClass="Wid90"/>

        <h:outputText id="optCounter"/>


        <!-- <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

             <p:commandButton value="#{text['button.done']}"
                              actionListener="#{personForm.addPledge}" id="cmbAddPledge"
                              process="@this @(#pnlgrdPledge)" ajax="true"
                              icon="fa fa-floppy-o Fs14 white" partialSubmit="true"
                              update="@(#dtblPledge) @(#cmdDeletePledge)"
                              oncomplete="handlePledgeComplete(xhr, status, args)">
             </p:commandButton>

             <p:commandButton id="cmbPledgeCancel"
                              icon="fa fa-times Fs14 white" value="#{text['button.close']}"
                              onclick="PF('dlgAddPledgeWv').hide();setConfirmUnload(false);"
                              type="button"/>
         </p:panelGrid>-->
     </p:panelGrid>

</ui:composition>
