<ui:composition
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:panelGroup id="display" layout="block"
                  styleClass="ui-panelgrid-blank" style="margin:0 auto;">
        <h2>
            <p:inplace id="ajaxInplace" editor="false"
                       emptyLabel="#{text['note.setTitle']}">
                <p:inputText value="#{noteList.editNote.name}" required="false"
                             styleClass="text-large" maxlength="25"/>
            </p:inplace>

        </h2>
        <p:separator/>

        <p:editor id="editor" value="#{noteList.editNote.notes}"
                  widgetVar="wvNote" process="@ editor"/>

        <!-- <p/>
         <h:panelGroup>

             <p:commandButton id="applybtn" value="#{text['button.apply']}"
                              onclick="wvNote.saveHTML();" immediate="false"
                              icon="fa fa-check Fs14 white"
                              actionListener="#{noteList.applyEdit}" partialSubmit="true"
                              process="@(#editNoteDlg)" update="@(#dtblNote)"
                              oncomplete="handleComplete(xhr, status, args)" global="false">
             </p:commandButton>

             <p:spacer width="3"/>


             <p:commandButton value="#{text['button.cancel']}"
                              onclick="PF('noteDialog').hide();" ajax="true"
                              icon="fa fa-hand-o-left Fs14 white" type="button"/>

         </h:panelGroup>-->


    </h:panelGroup>
</ui:composition>
