<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:panelGrid columns="1" id="pnlGroupMember"
                 styleClass="ui-panelgrid-blank">

        <p:outputLabel value="#{text['category.category_id']}"
                       for="slmCategoryGrp"/>


        <p:selectOneMenu value="#{personForm.groupMemberCategory}"
                         converter="#{categoryConverter}" styleClass="Wid90"
                         id="slmCategoryGrp" required="true">


            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue="#{null}" noSelectionOption="true"/>
            <f:selectItems value="#{personForm.dataService.categoryMinistry}"
                           var="cat" itemValue="#{cat}" itemLabel="#{cat.name}"/>


            <p:ajax event="change" global="false" partialSubmit="true" update="@ slmGroupGrp"/>

        </p:selectOneMenu>


        <p:message for="slmCategoryGrp" id="msgCategoryGrp"/>


        <p:outputLabel value="#{text['group.groupId']}" for="slmGroupGrp"/>

        <p:selectOneMenu value="#{personForm.initGroupMember.group}"
                         converter="#{groupConverter}" styleClass="Wid90" id="slmGroupGrp"
                         required="true">

            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue="#{null}" noSelectionOption="true"/>

            <f:selectItems value="#{personForm.groupMemberCategory.groups}"
                           var="grp" itemValue="#{grp}" itemLabel="#{grp.name}"/>

        </p:selectOneMenu>

        <p:message for="slmGroupGrp" id="msgGroupGrp"/>

        <p:outputLabel value="#{text['category.group.role']}" for="slmRoleGrp"/>

        <p:selectOneMenu value="#{personForm.initGroupMember.groupRole}"
                         converter="#{groupRoleConverter}" styleClass="Wid90"
                         id="slmRoleGrp" required="true">

            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue="#{null}" noSelectionOption="true"/>

            <f:selectItems value="#{personForm.dataService.groupRoles}"
                           var="role" itemValue="#{role}" itemLabel="#{role.name}"/>

        </p:selectOneMenu>

        <p:message for="slmRoleGrp" id="msgRoleGrp"/>


        <p:outputLabel value="#{text['groupMember.active']}"          for="slbActiveGrp"/>

        <p:selectBooleanCheckbox value="#{personForm.initGroupMember.active}" id="slbActiveGrp"/>


        <p:message for="slbActiveGrp"/>


    </p:panelGrid>


</ui:composition>
