<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panelGrid columns="3" id="pnlgrdPledge"
                 styleClass="ui-panelgrid-blank">



        <!--    @todo Make contribution form entry a shared component -->
        <!--    @todo Make calendar a shared component -->

        <p:outputLabel value="#{text['contribution.dateGiven']}" for="dateGiven"/>

        <p:calendar value="#{personForm.entryContribution.dateGiven}"
                    id="dateGiven" required="true" styleClass="Wid90"
                    showOn="button" pattern="MM/dd/yyyy" mask="true"
                    maskAutoClear="true"/>

        <p:message for="dateGiven"/>



        <p:outputLabel value="#{text['contribution.amt']}" for="amt"/>

        <p:inputNumber id="amt"
                       value="#{personForm.entryContribution.amount}" required="true"
                       validatorMessage="#{text['errors.batchTotal.max']}"
                       onkeydown="if (event.keyCode == 13);" styleClass="Wid50">
            <f:validateDoubleRange minimum=".01" maximum="999999.99" />
        </p:inputNumber>


        <p:message for="amt" id="msgAmt"/>


        <p:outputLabel value="#{text['fund.fundId']}" for="slCategory"/>

        <p:selectOneMenu
                value="#{personForm.entryContribution.category}"
                id="slCategory" required="true" converter="#{categoryConverter}" styleClass="Wid50">
            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue=""/>
            <f:selectItems
                    value="#{contributionForm.dataService.categoryFunds}" var="cat"
                    itemLabel="#{cat.name}" itemValue="#{cat}"/>

        </p:selectOneMenu>


        <p:message for="slCategory" id="msgCategory"/>


        <p:outputLabel value="#{text['contribution.method']}" for="method"/>

        <p:selectOneMenu value="#{personForm.entryContribution.method}" effect="fade"
                         id="method" required="true" styleClass="Wid50">
            <f:selectItem itemLabel="#{text['button.selectOne']}" itemValue=""/>
            <f:selectItems value="#{contributionForm.dataService.contributionMethods}" var="method"
                           itemValue="#{method}" itemLabel="#{method.value}"/>
        </p:selectOneMenu>

        <p:message for="method" id="msgMethod"/>

        <p:outputLabel value="#{text['contribution.note']}" for="note"/>

        <p:inputText id="note"
                     value="#{personForm.entryContribution.note}"
                     required="false" maxlength="255"
                     onkeydown="if (event.keyCode == 13);" styleClass="Wid90"/>

        <p:message for="note" id="msgNote"/>



    </p:panelGrid>

</ui:composition>
