<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panelGrid columns="1" id="pnlGroupclass"
                 styleClass="ui-panelgrid-blank Wid100">


        <p:outputLabel value="#{text['category.curriculum']}"
                       for="slmGrpClass"/>


        <p:selectOneMenu value="#{personForm.groupMemberCategory}"
                         converter="#{categoryConverter}" styleClass="Wid90"
                         id="slmGrpClass" required="true">


            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue="#{null}" noSelectionOption="true"/>
            <f:selectItems value="#{personForm.dataService.categoryClasses}"
                           var="cat" itemValue="#{cat}" itemLabel="#{cat.name}"/>


            <p:ajax event="change" global="false" partialSubmit="true" update="@ slmGroupClass"/>

        </p:selectOneMenu>

        <p:outputLabel value="#{text['group.class']}" for="slmGroupClass"/>

        <p:selectOneMenu value="#{personForm.initGroupMember.group}"
                         converter="#{groupConverter}" styleClass="Wid90"
                         id="slmGroupClass" required="true">

            <f:selectItem itemLabel="#{text['button.selectOne']}"
                          itemValue="#{null}" noSelectionOption="true"/>

           <!-- <f:selectItems value="#{personForm.allGroupClasses}"
                           var="grp" itemValue="#{grp}" itemLabel="#{grp.name}"/>-->

            <f:selectItems value="#{personForm.groupMemberCategory.groups}"
                           var="grp" itemValue="#{grp}" itemLabel="#{grp.name}"/>


        </p:selectOneMenu>

        <p:message for="slmGroupClass"/>

        <p:outputLabel value="#{text['groupMember.recordDate']}"
                       for="dteRecordDate"/>


        <p:calendar value="#{personForm.initGroupMember.recordDate}"
                    id="dteRecordDate" required="true" styleClass="Wid90"
                    showOn="button" pattern="MM/dd/yyyy" mask="true"
                    maskAutoClear="true"/>

        <p:message for="dteRecordDate"/>


        <p:inputTextarea rows="5" counter="inptxrCounter" maxlength="90"
                         counterTemplate="{0} characters remaining" autoResize="false"
                         value="#{personForm.initGroupMember.note}" id="noteclass"
                         styleClass="Wid90"/>
        <h:outputText id="inptxrCounter"/>


    </p:panelGrid>

</ui:composition>
