<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<!-- INTERFACE -->
<composite:interface componentType="org.primefaces.component.column.Column" >
	<composite:attribute name="field" />
	<composite:attribute name="label" />
	<composite:attribute name="matchMode" default="contains"
		required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
 <p:column headerText="#{cc.attrs.label}" filterMatchMode="#{cc.attrs.matchMode}">
  	 <h:outputText value="#{cc.attrs.field}"></h:outputText>
  </p:column>
</composite:implementation>

</html>