/*HTML Element
body {
	color: #333333;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	background-color: #D2D2D2;
	background-repeat: repeat-x;
	background-image: url("../resources/images/background.png") !important;
	background-position: center top;
}

html,body {
	margin: 0;
	padding: 0;
}



.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); 
}

.imageCircle {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid white;
}

*/

.mr3 {
    margin-right: 5px;
}


.ml3 {
    margin-left: 5px;
}

/*
.ui-fileupload {
    border: 1px dashed #bcbec0 !important;
    cursor: default !important;
    height: 320px !important;
    width: 450px !important;
    transition: border-color 100ms ease-out 0s !important;
    white-space: nowrap !important;
    background-image: url("../resources/images/open-file64.png") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
*/

.ui-selectcheckboxmenu-token {
    background-color: #186ba0;
    color: #fff;
}

input.text-small {
    width: 94px
}

input.text-medium {
    width: 188px
}

input.text-large {
    width: 376px
}

/*DIV Styles*/
.pageContainer {
    margin: auto;
    width: 90%;
}

#header {
    width: 90%;
    margin: auto;
}

div.left-container {
    border: 1px solid #a1a1a1;
    overflow: auto;
    width: 100%;
}

div.right-container {
    border: 1px solid #a1a1a1;
    overflow: auto;
    width: 100%;
}

/*defines a 3 column layout*/
div.col-3-container {
    width: 100% !important;
}

div.col-3-left {
    float: left;
    width: 49% !important;
}

div.col-3-center {
    float: left !important;
    width: 2% !important;
}

div.col-3-right {
    float: left;
    width: 49% !important;
}

.w100 {
    width: 100% !important;
}

.w90 {
    width: 90% !important;
}

/*end*/

/*Custom Styling */
.single-select-grid {
    width: 50%;
}

.menupadding {
    padding-top: 4px !important;
    padding-right: 0 !important;
    padding-bottom: 4px !important;
    padding-left: 0 !important;
}


/**Hide panel grid lines.*/

.ui-panelgrid tbody tr td {
    border: 0px none !important;
    background: none !important;

}


.ui-panelgrid .listbutton td {
    padding: 4px 1px;
}

.center-column {
    text-align: center;
}

.panelGridCenter {
    width: 100% !important;
    margin: 0 auto !important;
}

.ui-accept-icon {
    background: url("#{resource['images/Accept16.png']}") no-repeat !important;
    height: 16px;
    width: 16px;
}

.ui-panelgrid td {
    vertical-align: top !important;
    padding: 2px !important;
}

.ui-outputlabel-rfi {
    color: red !important;
    font-weight: bold !important;
}

.ui-leftright-panelgrid {
    width: 100% !important;
}

.ui-editor {
    width: 99.5% !important;
}

.ui-autocomplete-input .text-large {
    width: 376px !important;
}

/*
.ui-megamenu {
	
    background-image: linear-gradient(#6D94BF, #446E9B 50%, #3E648D);
    background-repeat: no-repeat;
    border: 1px solid #345578;
    filter: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #446E9B;
}





.ui-menu-list {

	border-style: none !important;
	border: none !important;
}

.ui-menuitem-text {
	font-weight: bold !important;
}

.ui-megamenu td {
	border-style: none !important;
	border: none !important;
}




.uploadedimage {
	overflow: visible;
	margin-top: 1em;
	margin-bottom: 1em;
}

a.ui-link {
	text-decoration: none !important;
}

a.ui-link:hover {
	text-decoration: underline !important;
	color: #9933FF !important;
}

a.ui-link:link {
	color: #0000FF !important;
}

a.ui-link img {
	border: medium none !important;
}

body,input,select,textarea,button,.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button,.ui-menuitem-text,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content
	{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.imageDialog {
	height: auto;
	width: 700px;
}
*/

.ui-white-link {
    color: White !important;
    text-decoration: none !important;

}

.ui-icon-note-edit {
    background-image: url("#{resource['images/edit16.png']}") !important;
    height: 16px;
    width: 16px;
}

/* 

.ui-icon-add {
	background-image: url("#{resource['images/add216.png']}") !important;
	height: 16px;
	width: 16px;
}

.ui-icon-home {
	background: url("#{resource['images/home16.png']}") no-repeat !important;
	height: 16px;
	width: 16px;
}

.ui-icon-person {
	background: url("#{resource['images/Contact16.png']}") no-repeat !important;
	height: 16px;
	width: 16px;
}

.ui-icon-trash {
	height: 16px;
	width: 16px;
	background: url("#{resource['images/delete-file16.png']}") no-repeat
		!important;
}

.ui-icon-calendar {
	height: 16px;
	width: 16px;
	background: url("#{resource['images/Calendar16.png']}") no-repeat
		!important;
}

.ui-icon-clipboard {
	height: 16px;
	width: 16px;
	background: url("#{resource['images/Catalog16.png']}") no-repeat
		!important;
}


.ui-icon-print{
	height: 16px;
	width: 16px;
	background: url("#{resource['images/Reports16.png']}") no-repeat
		!important;
}

.ui-icon-calculator {
	height: 16px;
	width: 16px;
	background: url("#{resource['images/budget16.png']}") no-repeat
		!important;
}

/*
.ui-icon-gear{
	height: 16px;
	width: 16px;
	background: url("#{resource['images/Item-configuration116.png']}") no-repeat
		!important;
}
*/

.ui-icon-plusthick {
    background: url("#{resource['images/add116.png']}") no-repeat !important;
    height: 16px;
    width: 16px;
}

.ui-icon-print {
    background: url("#{resource['images/printer-green16.png']}") no-repeat !important;
    height: 16px;
    width: 16px;
}

.ui-icon-export {
    background: url("#{resource['images/export16.png']}") no-repeat !important;
    height: 16px;
    width: 16px;
}

.ui-icon-legend {
    background: url("#{resource['images/filter_16x16.gif']}") no-repeat !important;
    height: 16px;
    width: 16px;
}


.ui-icon-custom-close {
    height: 16px;
    width: 16px;
    background: url("#{resource['images/close16.png']}") no-repeat !important;
}


/* FOOTER */
#footer {
    clear: both;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    border-top: 4px solid #f0f0f0;
    text-align: center;
    background-color: white;
    color: #808080;
    font-size: 0.9em;
    width: 90%;
}

#footer a {
    color: #808080;
    text-decoration: none;
    margin-left: 5px;
}

#footer a:hover {
    text-decoration: underline;
}

#footer p {
    margin: 0;
}

/*#logo {
    background-image: url("../resources/images/churchview.png") !important;
    background-position: center top;
    background-size: contain;
    width: 50%;
    height: 40px;
    margin: 0 auto;
}*/

.standardDialog {
    width: 50% !important;
}

.event-council, .event-council .fc-event, .event-council a {
    background-color: #2E8B57 !important;
    border-color: #FFFFFF !important;
}

.event-education, .event-education .fc-event, .event-education a {
    background-color: #663399 !important;
    border-color: #FFFFFF !important;
}

.event-fellowship, .event-fellowship .fc-event, .event-fellowship a {
    background-color: #2E8B57 !important;
    border-color: #FFFFFF !important;
}

.event-service, .event-service .fc-event-skin, .event-service a {
    background-color: #4169E1 !important;
    border-color: #FFFFFF !important;
}

.event-smallgroup, .event-smallgroup .fc-event, .event-smallgroup a {
    background-color: #FF69B4 !important;
    border-color: #FFFFFF !important;
}

.event-other, .event-other .fc-event, .event-other a {
    background-color: #FFD700 !important;
    border-color: #FFFFFF !important;

}

.event-box {
    height: 20px;
    width: 20px;
    border-color: #FFFFFF !important;
}

.hidden {
    display: none !important;
}

.menu .ui-selectonemenu-label {

    color: #000000 !important;
    opacity: 1 !important;
}

.panel .ui-selectonemenu-list {
    color: #000000 !important;
    opacity: 1 !important;
}

.ui-dialog-content {
    max-width: 650px !important;
    max-height: 350px !important;
    margin-bottom: 5px !important;
}

/*Workaround for sentinel theme; triangle is being push to low*/
.ui-icon ui-icon-triangle-1-s {
    margin-top: -5px !important;
}


.ui-messages-error {
    background-color: #f8b7bd !important;
    color: #212121 !important;
    border: 0 none !important;
    margin: 10px 0 !important;
}

.ui-messages-error-summary {
    background-color: #f8b7bd !important;
    color: #212121 !important;
    border: 0 none !important;
    margin: 10px 0 !important;
}

.ui-messages-error-detail {
    background-color: #f8b7bd !important;
    color: #212121 !important;
    border: 0 none !important;
    margin: 10px 0 !important;
}

.ui-growl {
    position: fixed !important;
    top: 85px !important;
    right: 20px !important;
    width: 301px !important;
}

/*Primeface Sidebar
 */
.ui-sidebar-right {
    width: 50% !important;
}

.ui-sidebar {
    background-color: #dbe2e9;
}
.st-card-title {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: block;
    font-family: cabin, sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 24px;
    margin-block-end: 24px;
    margin-block-start: 0px;
    margin-bottom: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 799.2px;
    -webkit-font-smoothing: antialiased;
}

.st-card {

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(238, 238, 238);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(238, 238, 238);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(238, 238, 238);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: block;
    font-family: cabin, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.cd-panel__header {
    position: fixed;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.96);
    z-index: 2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}
.cd-panel__header h1 {
    color: #89ba2c;
    padding-left: 5%;
}

.fill-hover {
    background-image: linear-gradient(to right, transparent 50%, #3ee0fe 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.fill-hover:hover {
    background-position: -100%;
 }

.ui-commandlink {
    text-decoration: none !important;
}
.ui-commandlink:hover {
    text-decoration: underline !important;
}


