<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">




	<p:panelGrid columns="3" id="batchAddPnl"
		styleClass="Wid100 ui-panelgrid-blank">

		<p:outputLabel for="name" value="#{text['person.name']}" />
		
		<p:autoComplete id="name"
			value="#{contributionForm.selectedContribution.person}"
			completeMethod="#{contributionForm.completePerson}" var="person"
			itemLabel="#{person.name}" itemValue="#{person}"
			groupBy="#{contributionForm.getPersonGroup(person)}"
			scrollHeight="250" minQueryLength="1" converter="#{personConverter}"
			required="true" dropdown="false" forceSelection="true">
		</p:autoComplete>

		<p:message for="name" />




		<p:outputLabel for="amt" value="#{text['contribution.amt']}" />
		<p:inputNumber id="amt" value="#{contributionForm.selectedContribution.amount}" required="true"
			validatorMessage="#{text['errors.batchTotal.max']}" 
			styleClass="Wid100">
			<f:validateDoubleRange maximum="999999.99" />
		</p:inputNumber>

		<p:message for="amt" styleClass="help-inline" />


		<p:outputLabel for="category" value="#{text['fund.fundId']}" />
		<h:selectOneMenu value="#{contributionForm.selectedContribution.category}" id="category"
						 required="true"
						 styleClass="Wid100 ui-selectonemenu ui-selectonemenu-label ui-selectonemenu-trigger ui-selectonemenu-items"
						 converter="#{categoryConverter}">
			<f:selectItem itemLabel="#{text['button.selectOne']}" itemValue="" />
			<f:selectItems value="#{contributionForm.dataService.categoryFunds}"
						   var="cat" itemLabel="#{cat.name}" itemValue="#{cat}" />
		</h:selectOneMenu>

		<p:message for="category" />


		<p:outputLabel for="note" value="#{text['contribution.note']}" />

		<p:inputText id="note" value="#{contributionForm.selectedContribution.note}" required="false"
			maxlength="255" styleClass="Wid100" />
		<p:message for="note" styleClass="help-inline" />



	</p:panelGrid>

</ui:composition>