<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">




	<p:panelGrid columns="3" id="batchAddPnl"
		styleClass="Wid100 ui-panelgrid-blank">

		<p:outputLabel styleClass="control-label" for="name"
			value="#{text['batch.name']}" />
		<p:inputText id="name" value="#{batchForm.batch.name}" required="true"
			maxlength="50" styleClass="Wid100" />
		<p:message for="name" />
	

		<p:outputLabel styleClass="control-label" for="batchTotal"
			value="#{text['batch.batchTotal']}" />

		<p:inputNumber id="batchTotal" value="#{batchForm.batch.batchTotal}"
			required="false" validatorMessage="#{text['errors.batchTotal.max']}"
			styleClass="Wid100" decimalSeparator="." thousandSeparator="," symbol="$ ">
		</p:inputNumber>

		<p:message for="batchTotal" />

		<p:outputLabel styleClass="control-label" for="batchDate"
			value="#{text['batch.batchDate']}" />

		<p:calendar value="#{batchForm.batch.batchDate}" id="batchDate"
			required="true" showOn="button" pattern="MM/dd/yyyy" mask="true"
			maskAutoClear="true" styleClass="Wid100" />
		<p:message for="batchDate" />


		<p:outputLabel styleClass="control-label" for="dateGiven"
			value="#{text['batch.dateGiven']}" />
		<p:calendar value="#{batchForm.batch.dateReceived}" id="dateGiven"
			required="true" showOn="button" styleClass="Wid100"
			pattern="MM/dd/yyyy" mask="true" maskAutoClear="true" />

		<p:message for="dateGiven" />


		<p:outputLabel styleClass="control-label" for="posted"
			value="#{text['batch.posted']}" />
		<p:selectBooleanButton value="#{batchForm.batch.posted}"
			onLabel="#{text['button.yes']}" offLabel="#{text['button.no']}"
			id="posted" />
		<p:message for="posted" />

	</p:panelGrid>

</ui:composition>