<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:security="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	
	<c:forEach items="#{menuBean.systemMenu}" var="menu">

		<p:submenu label="#{menu.menuItem}" icon="#{menu.iconpath}" id="smb_#{menu.systemMenuId}">
			<!-- Menu Bar -->
			<c:forEach items="#{menu.systemMenuGroups}" var="menugroup">
				<p:submenu label="#{menugroup.name}" id="smbg_#{menugroup.systemMenuGroupId}">
					<c:forEach items="#{menugroup.systemMenuItems}" var="menuitems">
					<!--  
						<p:menuitem value="#{menuitems.name}" ajax="false" 
							action="#{menuitems.view}" id="mnui_#{menuitems.systemMenuItemId}"/>-->
							
							<p:menuitem value="#{menuitems.name}" ajax="false" 
							action="#{attendanceForm.edit}" id="mnui_#{menuitems.systemMenuItemId}"/>
					
					<!-- /views/attendanceForm.xhtml
						<p:menuitem value="#{menuitems.name}" ajax="false" 
							outcome="#{viewController.destinationPage}">

							<f:setPropertyActionListener
								target="#{viewController.currentPage}" value="#{menuitems.view}" />

							<f:param name="mode" value="#{menuitems.mode}" />
							<f:param name="view" value="#{menuitems.view}" />

						</p:menuitem>
						
					 -->

					</c:forEach>
				</p:submenu>
			</c:forEach>
		</p:submenu>
	</c:forEach>

</ui:composition>
