<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:security="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:body>
		<h:form id="frmMain">
			<p:panelGrid columns="1" style="width: 100%"
				styleClass="norowlines nocolumnlines" columnClasses="menupadding">
				<p:megaMenu styleClass="norowlines nocolumnlines"
					style="border:none;">
					<c:forEach items="#{menuBean.systemMenu}" var="menu">
						<!-- 
						<p:submenu label="#{menu.menuItem}" icon="#{menu.iconpath}" > -->

						<c:set var="numberOfRows" value="0" />

						<p:submenu label="#{menu.menuItem}"> <!-- Menu Bar -->
							<c:forEach items="#{menu.systemMenuGroups}" var="menugroup">
						
									<p:column>
										<p:submenu label="#{menugroup.name}">
											<c:forEach items="#{menugroup.systemMenuItems}"
												var="menuitems">
												<p:menuitem value="#{menuitems.name}" ajax="false"
													action="#{viewController.destinationPage}">

													<f:setPropertyActionListener
														target="#{viewController.currentPage}"
														value="#{menuitems.view}" />
													
													<f:param name="mode" value="#{menuitems.mode}" />	
													<f:param name="view" value="#{menuitems.view}" />	

												</p:menuitem>

											</c:forEach>
										</p:submenu>
									</p:column>
		
							</c:forEach>
						</p:submenu>
					</c:forEach>

					<!-- Menu Buttons -->


					<f:facet name="options">

						<p:panelGrid columns="4">
							<p:graphicImage name="search.png" library="images" width="24px"
								height="26px" />
							<p:inputText style="margin-right:10px" id="inptxtSearch" />
							<p:watermark for="inptxtSearch" value="Search with a keyword" />

							<c:forEach items="#{menuBean.systemMenuButton}" var="menubutton">

								<p:menuButton value="#{menubutton.menuItem}"
									icon="#{menu.iconpath}">

									<c:forEach items="#{menubutton.systemMenuGroups}"
										var="menuButtonGroup">

										<c:forEach items="#{menuButtonGroup.systemMenuItems}"
											var="menubuttonitem">
											<p:menuitem value="#{menubuttonitem.name}"
												action="#{menubuttonitem.view}">
											</p:menuitem>
										</c:forEach>
									</c:forEach>
								</p:menuButton>
							</c:forEach>
						</p:panelGrid>

					</f:facet>

				</p:megaMenu>

				<!--  End Of Menu Buttons -->
			</p:panelGrid>
		</h:form>
	</h:body>

</ui:composition>
