<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


	<p:growl severity="info,warn" life="5000" globalOnly="true" id="growl">
		<p:autoUpdate />
	</p:growl>

	<p:messages severity="error" globalOnly="true" showIcon="true">
		<p:autoUpdate />
	</p:messages>


</ui:composition>

