<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


<f:view contentType="text/html" locale="en">

	<ui:debug hotkey="x" />

	<!-- 
	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title><ui:insert name="pageTitle">Page Title</ui:insert></title>
		</f:facet>
	</h:head>
-->

	<h:head>

		<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon"
			href="#{request.contextPath}/resources/images/favicon.ico" />

		<ui:insert name="head"></ui:insert>

		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>

		<f:facet name="last">
			<h:outputStylesheet name="styles.css" library="css" />
		</f:facet>
	</h:head>

	<h:outputScript library="js" name="common.js" target="head" />

	<h:body>
		<ui:insert name="header">
			<ui:include src="/sections/main/header.xhtml" />
		</ui:insert>

		<div class="pageContainer" id="content">

			<p:ajaxStatus onstart="PF('wvStatusDialog').show();"
				onsuccess="PF('wvStatusDialog').hide();"  />

			<ui:insert name="body">Page Body</ui:insert>
		</div>

		<ui:insert name="footer">
			<ui:include src="/sections/main/footer.xhtml" />
		</ui:insert>

		<h:form id="dlgFrm">
			<ui:insert name="confirmDialog">
				<h:outputText value="Confirm Dialog" />
			</ui:insert>
		</h:form>

	</h:body>



</f:view>

</html>