<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<f:view contentType="text/html" locale="en">

	<h:head>

		<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon"
			href="#{request.contextPath}/resources/images/favicon.ico" />

		<ui:insert name="head"></ui:insert>

		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>

		<f:facet name="last">
			<h:outputStylesheet name="styles.css" library="css" />
		</f:facet>
	</h:head>

	<ui:insert name="metadata" />

	<h:outputScript library="js" name="common.js" target="body" />
	<h:outputScript library="js" name="jstz-1.0.4.min.js" target="body" />


	<c:if test="${empty bodyId}">
		<c:set var="bodyId" value="bdyMain" />
	</c:if>

	<c:if test="${empty statusDialog}">
		<c:set var="statusDialog" value="show" />
	</c:if>
<!-- <p:log id="log" /> -->
	
	<h:body id="#{bodyId}">

		<ui:debug hotkey="x" />

		<div id="header" class="pageHeader">

			<ui:debug rendered="true" hotkey="x" />

			<c:if test="${ menu != 'login'}">

				<div style="width: 100%;">
					<div style="float: left; width: 70%">
						<h3>#{text['mainMenu.heading']}
							#{sessionScope.currentUser.fullName}</h3>
					</div>
					<div style="float: right; width: 30%">

						<span style="float: right; margin: 8px 0 0;"><a
							href="#{request.contextPath}/logout"
							style="color: #0000FF; font-size: 14px" class="ui-link"
							title="Logout">#{text['user.logout']}</a> </span> <span
							class="ui-icon ui-icon-custom-close"
							style="margin: 8px 4px 0; float: right"></span> <span
							style="clear: both" />

					</div>
				</div>

				<ui:include src="/common/sessionTimeOut.xhtml" />

				<c:if test="${ menu != 'Home'}">
					<div style="width: 100%; clear: both">
						<ui:include src="/sections/main/menu.xhtml" />
					</div>
				</c:if>

			</c:if>

		</div>

		<div class="pageContainer" id="content">

			<c:if test="${statusDialog eq 'show'}">
				<p:ajaxStatus onstart="PF('wvStatusDialog').show();"
					onsuccess="PF('wvStatusDialog').hide();" />
			</c:if>

			<!-- 
			<p:ajaxExceptionHandler
				type="javax.faces.application.ViewExpiredException"
				update="exceptionDialog" onexception="PF('exceptionDialog').show();" />

			<p:ajaxExceptionHandler type="java.lang.NullPointerException"
				update="exceptionDialog" onexception="PF('exceptionDialog').show();" />
-->
			<p:focus/>
			<ui:insert name="body" />

		</div>

		<c:if test="${ menu != 'Login'}">

			<h:panelGroup layout="block" id="footer"
				styleClass="ui-panel-content ui-widget-content">

				<span>#{text['webapp.version']} <c:if
						test="${pageContext.request.remoteUser != null}">
                | #{text['user.status']} ${pageContext.request.remoteUser}
            </c:if>
				</span>
				<span> <c:set var="companyLink">#{text['company.url']}</c:set>
					&#169; #{text['copyright.year']} <a href="${companyLink}">#{text['company.name']}</a>
				</span>

				<ui:remove>
					<ui:insert name="footer">
						<ui:include src="/sections/main/footer.xhtml" />
					</ui:insert>
				</ui:remove>

			</h:panelGroup>
		</c:if>

		<h:form id="dlgFrm">
			<ui:insert name="confirmDialog" />
		</h:form>

		<p:dialog widgetVar="wvStatusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage library="images" name="animatedCircle.gif" />
		</p:dialog>

		<!--  
		<p:dialog id="exceptionDialog"
			header="Exception '#{pfExceptionHandler.type}' occured!"
			widgetVar="exceptionDialog" height="500px">

			<p:panelGrid columns="1">

				<h:outputText value="Message:#{pfExceptionHandler.message}" />

				<p:inputTextarea readonly="true"
					value="#{pfExceptionHandler.formattedStackTrace}" />

				<p:button onclick="document.location.href = document.location.href;"
					value="Reload!"
					rendered="#{pfExceptionHandler.type == 'javax.faces.application.ViewExpiredException'}" />
			</p:panelGrid>

		</p:dialog>
		
		-->


		<h:form id="frmChild">
			<ui:insert name="childForm" />
		</h:form>

		<ui:insert name="scripts" />


	</h:body>
</f:view>
</html>
