<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<f:view contentType="text/html" locale="en">

	<h:head>
		<ui:insert name="head"></ui:insert>
	</h:head>
	
	<h:body >
		<div class="pageContainer" id="content">
			<ui:insert name="body" />
		</div>
	</h:body>
</f:view>
</html>
