<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:security="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<f:view contentType="text/html" locale="en">

	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta http-equiv="pragma" content="no-cache" />
			<meta http-equiv="cache-control" content="no-cache" />
			<meta http-equiv="expires" content="0" />
		</f:facet>

		<f:facet name="last">
			<h:outputStylesheet name="styles.css" library="css" />
		</f:facet>

		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>

		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/default.css" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />

		<style type="text/css">
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}
</style>


	</h:head>

	<h:outputScript library="js" name="common.js" target="head" />

	<h:body id="bdyMain">

		<p:layout fullPage="true" id="layout" widgetVar="jsLyotMain">

			<p:layoutUnit position="north" size="75">
				<ui:include src="/sections/main/menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="east" resizable="true" size="150"
				minSize="75" maxSize="200">

				<ui:insert name="right">
					<h:outputText value="Right" />
				</ui:insert>

			</p:layoutUnit>


			<p:layoutUnit position="south" minSize="40" resizable="true">

				<ui:insert name="footer">
					<ui:include src="/sections/main/footer.xhtml" />
				</ui:insert>

			</p:layoutUnit>


			<p:layoutUnit position="west" resizable="true" size="200"
				minSize="75" maxSize="200">

				<ui:insert name="left">
					<h:outputText value="Left" />
				</ui:insert>

			</p:layoutUnit>



			<p:layoutUnit position="center" resizable="true"
				style="height: 100%;" id="lyotuntCenterContent">

				<h:form id="mainFrm">
					<ui:insert name="body">
						<h:outputText value="Center" />
					</ui:insert>
				</h:form>

			</p:layoutUnit>

		</p:layout>

		<h:form id="dlgFrm">
			<ui:insert name="confirmDialog">
				<h:outputText value="Confirm Dialog" />
			</ui:insert>
		</h:form>

	</h:body>

</f:view>
</html>