<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<f:view contentType="text/html" locale="en">

	<h:head>

		<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon"
			href="#{request.contextPath}/resources/images/logo.ico" />

		<ui:insert name="head"></ui:insert>

		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>


		<h:outputStylesheet name="styles.css" library="css" />

		<h:outputStylesheet name="css/font-icon-layout.css"
			library="sentinel-layout" />
		<h:outputStylesheet name="css/sentinel-layout.css"
			library="sentinel-layout" />
		<h:outputStylesheet name="css/core-layout.css"
			library="sentinel-layout" />

		<h:outputScript name="common.js" library="js" target="body" />

	</h:head>

	<ui:insert name="metadata" />

	<h:outputScript library="js" name="common.js" target="body" />
	<h:outputScript library="js" name="jstz-1.0.4.min.js" target="body" />


	<c:if test="${empty bodyId}">
		<c:set var="bodyId" value="bdyMain" />
	</c:if>

	<c:if test="${empty statusDialog}">
		<c:set var="statusDialog" value="show" />
	</c:if>
	<!-- 	<p:log id="log" />  -->

	<!-- 
	<h:body id="#{bodyId}" style="background-image:none; background-color:transparent"> -->

	<h:body id="#{bodyId}">

		<ui:debug hotkey="x" />

		<div id="header" class="pageHeader">
			<ui:debug rendered="true" hotkey="x" />
			<ui:include src="/common/sessionTimeOut.xhtml" />
		</div>

		<div class="xxxxxpageContainer" id="content">

			<c:if test="${statusDialog eq 'show'}">
				<p:ajaxStatus onstart="PF('wvStatusDialog').show();"
					onsuccess="PF('wvStatusDialog').hide();" />
			</c:if>

			<p:focus id="fcsMain" />

			<ui:insert name="body" />

		</div>


		<h:form id="dlgFrm">
			<ui:insert name="confirmDialog" />
		</h:form>

		<p:dialog widgetVar="wvStatusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage library="images" name="animatedCircle.gif" />
		</p:dialog>


		<h:form id="frmChild">
			<ui:insert name="childForm" />
		</h:form>

		<ui:insert name="scripts" />


	</h:body>
</f:view>
</html>
