<ui:composition xmlns="http://www.w3.org/1999/xhtml"
            xmlns:h="http://xmlns.jcp.org/jsf/html"
            xmlns:f="http://xmlns.jcp.org/jsf/core"
            xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
            xmlns:p="http://primefaces.org/ui">

    <p:themeSwitcher value="#{themeSwitcherBean.theme}" style="width:155px" effect="fade">
        <f:selectItem itemLabel="Choose Theme" itemValue="" />
        <f:selectItems value="#{themeSwitcherBean.themes}" />
        <p:ajax listener="#{themeSwitcherBean.saveTheme}" />
    </p:themeSwitcher>
    
</ui:composition>