<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util">

<!-- INTERFACE -->
<composite:interface>
	<composite:attribute name="panelTitle" />

	<composite:attribute name="instructionalText" />
	<composite:attribute name="applyButtonText" />
	<composite:attribute name="cancelButtonText" />

	<composite:attribute name="imageActionMethod"
		method-signature="java.lang.String action()" />
	<composite:attribute name="applyActionMethod"
		method-signature="java.lang.String action()" />
	<composite:attribute name="cancelActionMethod"
		method-signature="java.lang.String action()" />
	<composite:attribute name="imageStyleClass" default="text-align:right"
		required="false" />
	<composite:attribute name="gridStyleClass"
		default="row-grid-border-none col-grid-border-none" required="false" />

</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>



	<p:panel style="width: 75%; margin: 0 auto"
		header="#{cc.attrs.panelTitle}">


		<h:outputText value="#{cc.attrs.instructionalText}" />
		<p:separator id="sprtrInText" />
		<p:spacer />

		<p:panelGrid columns="1" style="width: 100%; text-align:right"
			styleClass="#{cc.attrs.gridStyleClass}">
			<util:icon actionMethod="#{cc.attrs.imageActionMethod}"
				image="#{resource['images:icon48_pdf.png']}"
				styleClass="#{cc.attrs.imageStyleClass}" />
		</p:panelGrid>

		<p:spacer height="5px" />


		<composite:insertChildren />


		<f:facet name="footer">
			<h:panelGroup>
				<p:commandButton value="#{cc.attrs.applyButtonText}"
					icon="fa fa-floppy-o Fs14 white" ajax="false" iconPos="left"
					action="#{cc.attrs.applyActionMethod}" />

				<p:commandButton value="#{cc.attrs.cancelButtonText}"
					icon="fa fa-hand-o-left Fs14 white"  ajax="false" iconPos="left"
					action="#{cc.attrs.cancelActionMethod}" />
			</h:panelGroup>
		</f:facet>
	</p:panel>

</composite:implementation>

</html>
