<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>
	<composite:valueHolder name="add" />

	<composite:attribute name="actionMethod"
		method-signature="java.lang.String action()" required="true" />

	<composite:attribute name="from" required="true" default="list"
		type="java.lang.String" />
</composite:interface>

<composite:implementation>
	<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
		<p:commandButton action="#{cc.attrs.actionMethod}" id="add"
			immediate="true" ajax="false" icon="fa fa-plus Fs14 white"
			value="#{text['button.add']}"
			styleClass="#{hasRoleEdit ? '' : 'hidden'} Fright">
			<f:param name="from" value="#{cc.attrs.from}" />
		</p:commandButton>
	</p:panelGrid>
</composite:implementation>


</html>
