<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>


	<composite:attribute name="dialog" required="true" />
	<composite:attribute name="value" default="#{text['button.add']}" />
	<composite:attribute name="targetItem"
		shortDescription="Managed bean object to save. Setter method shoudld create a empty object when a null is passed" />
	<composite:attribute name="bttnId" />

</composite:interface>

<composite:implementation>


	<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">

	<!--	<p:commandButton type="button"
			oncomplete="PF('#{cc.attrs.dialog}').show();" global="false"
			update="@widgetVar(#{cc.attrs.dialog})"
			styleClass="#{hasRoleEdit ? '' : 'hidden'} Fright" process="@this"
			partialSubmit="true" ajax="true" icon="fa fa-plus-circle Fs14 white"
			value="#{cc.attrs.value}" id="#{cc.attrs.bttnId}">
		</p:commandButton>
-->
		<p:commandButton oncomplete="PF('#{cc.attrs.dialog}').show();" global="false"
						 update="@widgetVar(#{cc.attrs.dialog})"
						 styleClass="#{hasRoleEdit ? '' : 'hidden'} Fright" process="@this"
						 partialSubmit="true" ajax="true" icon="fa fa-plus-circle Fs14 white"
						 value="#{cc.attrs.value}" id="#{cc.attrs.bttnId}">

		</p:commandButton>
	</p:panelGrid>

</composite:implementation>


</html>
