<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>


    <composite:attribute name="value" required="true"/>
    <composite:attribute name="targetItem" required="true"/>
    <composite:attribute name="actionMethod"
                         method-signature="void action()"
                         required="true"/>
    <composite:attribute name="icon" required="false"/>
    <composite:attribute name="update" required="false"/>
    <composite:attribute name="title" required="false"/>
    <composite:attribute name="render" default="true"/>

</composite:interface>

<composite:implementation>

    <p:commandLink process="@this"
                   action="#{cc.attrs.actionMethod}" rendered="#{cc.attrs.rendered}" update="#{cc.attrs.update}">
        <i class="#{cc.attrs.icon}"/>
        <p:spacer width="1px"/>
        <h:outputText value="#{cc.attrs.title}"/>
        <f:setPropertyActionListener value="#{cc.attrs.value}"
                                     target="#{cc.attrs.targetItem}"/>
    </p:commandLink>

</composite:implementation>


</html>
