<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>
    <composite:attribute name="tableId" required="true" default="dttblMain"/>
    <composite:attribute name="tableVar" required="true"/>
    <composite:attribute name="tableValue" required="true"/>
    <composite:attribute name="tableSelection" required="true"/>
    <composite:attribute name="tableRowKey" required="true"/>
    <composite:attribute name="emptyMessage" default="#{text['message.noInformation']}"/>
    <composite:attribute name="tableShow" default="true"/>
    <composite:attribute name="tableStyle"/>
    <composite:attribute name="tableClass" default="myTable"/>
</composite:interface>


<composite:implementation>
    <p:dataTable id="#{cc.attrs.tableId}"
                 value="#{cc.attrs.tableValue}" editable="false" widgetVar="#{cc.attrs.tableId}WV"
                 rowKey="#{cc.attrs.tableRowKey}" selection="#{cc.attrs.tableSelection}"
                 selectionMode="single" scrollRows="20" scrollable="true"
                 scrollHeight="400" lazy="false" virtualScroll="false" emptyMessage="#{cc.attrs.emptyMessage}"
                 styleClass="#{cc.attrs.tableClass}" rowIndexVar="rowIndex" rendered="#{cc.attrs.tableShow}" style="#{cc.attrs.tableStyle}">
        <c:set target="#{component}" property="var" value="#{cc.attrs.tableVar}"/>
        <composite:insertChildren/>
    </p:dataTable>
</composite:implementation>
</html>
