<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<composite:interface>
    <composite:attribute name="dialogId"/>
    <composite:attribute name="dialogwidgetVar" required="true"/>
    <composite:attribute name="dialogHeader" required="true"/>

    <composite:attribute name="validateOnSave" required="false" default="true"/>

    <composite:attribute name="showFooterButtons" required="false" default="true"/>

    <composite:attribute name="oncomplete" required="false" default=""/>

    <composite:attribute name="saveTitle" required="false" default="Save"/>
    <composite:attribute name="cancelTitle" required="false" default="Cancel"/>

    <composite:attribute name="actionListener"
                         method-signature="void actionListener(javax.faces.event.ActionEvent)"
                         required="true"/>

    <composite:attribute name="fieldfocus"/>

    <composite:attribute name="closeListener"
                         method-signature="java.lang.Object closeListener()" required="false"
                         default="null"/>

    <composite:attribute name="update" required="false"
                         default="@(.ui-datatable) @(.ui-panel) @(.ui-panelgrid)"/>


</composite:interface>


<composite:implementation>


    <p:dialog id="#{cc.attrs.dialogId}" header="#{cc.attrs.dialogHeader}"
              modal="true" widgetVar="#{cc.attrs.dialogwidgetVar}"
              focus="#{cc.attrs.fieldfocus}" closable="true"
              closeOnEscape="true" responsive="true" draggable="true"
              resizable="false" onHide="setConfirmUnload(false);" fitViewport="true" hideEffect="fold"
              showEffect="clip">

        <p:ajax event="close" resetValues="true"
                update="@widgetVar(#{cc.attrs.dialogwidgetVar})" global="false"
                process="@this" listener="#{cc.attrs.closeListener}" oncomplete="#{cc.attrs.oncomplete}"/>

<!--        <p:ajax event="open"  global="true" process="@this"  update="@(.ui-wizard)"/>-->

        <p:messages autoUpdate="true" for="msgDuplicate" closable="true"/>

        <h:inputHidden id="msgDuplicate"/>

        <composite:insertChildren/>


        <f:facet name="footer">

            <h:panelGroup layout="block" styleClass="Wid100" rendered="#{cc.attrs.showFooterButtons eq 'true'}">

                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">

                    <c:if test="#{cc.attrs.validateOnSave eq 'true'}">
                        <p:commandButton value="#{cc.attrs.saveTitle}"
                                         actionListener="#{cc.attrs.actionListener}"
                                         styleClass="#{hasRoleEdit ? '' : 'hidden'}" ajax="true"
                                         icon="fa fa-floppy-o Fs14 white"
                                         process="@widgetVar(#{cc.attrs.dialogwidgetVar})"
                                         validateClient="false" partialSubmit="true"
                                         update="#{cc.attrs.update}"
                                         oncomplete="if (args &amp;&amp; !args.validationFailed) PF('#{cc.attrs.dialogwidgetVar}').hide()">
                        </p:commandButton>
                    </c:if>

                    <c:if test="#{cc.attrs.validateOnSave eq 'false'}">
                        <p:fragment>
                            <p:commandButton value="#{cc.attrs.saveTitle}"
                                             actionListener="#{cc.attrs.actionListener}"
                                             styleClass="#{hasRoleEdit ? '' : 'hidden'}" ajax="true"
                                             icon="fa fa-floppy-o Fs14 white"
                                             partialSubmit="true"
                                             update="#{cc.attrs.update}"
                                             oncomplete="PF('#{cc.attrs.dialogwidgetVar}').hide()">
                            </p:commandButton>
                        </p:fragment>
                    </c:if>

                    <p:commandButton icon="fa fa-hand-o-left Fs14 white"
                                     value="#{cc.attrs.cancelTitle}" type="button"
                                     onclick="PF('#{cc.attrs.dialogwidgetVar}').hide();">
                    </p:commandButton>

                </p:panelGrid>
            </h:panelGroup>

        </f:facet>


    </p:dialog>


</composite:implementation>
</html>
