<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
	<composite:attribute name="id" />
	<composite:attribute name="var" />
	<composite:attribute name="dataSource" />
	<composite:attribute name="rowIdentifier" />
	<composite:attribute name="selected" />
	<composite:attribute name="styleClass" default="single-select-grid"
		required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>

	<p:panelGrid columns="1" style="width : 100%">

		<p:dataTable id="#{cc.attrs.id}" var="{cc.attrs.var}" value="person"
			rowKey="#{person.personId}" selection="#{cc.attrs.selected}"
			selectionMode="single" paginator="true" rows="10"
			paginatorAlwaysVisible="true" paginatorPosition="top"
			styleClass="#{cc.attrs.styleClass}">

			<composite:insertChildren />

		</p:dataTable>

	</p:panelGrid>

</composite:implementation>

</html>
