<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>
	<composite:attribute name="dialogId" />
	<composite:attribute name="dialogwidgetVar" required="true" />
	<composite:attribute name="deleteMessageName" required="true" />
	<composite:attribute name="deleteMessageCategory" required="true" />
	<composite:attribute name="deleteActionMethod"
		method-signature="void actionListener(javax.faces.event.ActionEvent)"
		required="true" />
	<composite:attribute name="updateAfterDelete" required="false" />
</composite:interface>


<composite:implementation>


	<p:confirmDialog id="#{cc.attrs.dialogId}"
		header="#{text['dialog.deleteConfirmation']}" severity="alert"
		widgetVar="#{cc.attrs.dialogwidgetVar}" showEffect="clip"
		hideEffect="fold">

		<f:facet name="message">
			<p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
				<h:outputFormat id="otplUserToDelete"
					value="#{text['dialog.areYouSure']}">
					<f:param value="#{cc.attrs.deleteMessageName}" />
					<!-- 
					<f:param value="#{cc.attrs.deleteMessageCategory}" /> -->
				</h:outputFormat>
			</p:panelGrid>
		</f:facet>

		<p:commandButton id="cmdbtnConfirm" value="#{text['button.yes']}"
			oncomplete="PF('#{cc.attrs.dialogwidgetVar}').hide();"
			actionListener="#{cc.attrs.deleteActionMethod}"
			update="@(.ui-datatable) #{cc.attrs.updateAfterDelete}" ajax="true" partialSubmit="true"
			process="@this"  icon="fa fa-check Fs14 white"/>

		<p:commandButton id="decline" value="#{text['button.no']}"
			onclick="PF('#{cc.attrs.dialogwidgetVar}').hide();" type="button"  icon="fa-close Fs14 white"/>


	</p:confirmDialog>



</composite:implementation>
</html>
