<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>


	<composite:attribute name="dialog" required="true" />
	<composite:attribute name="value" required="true" />
	<composite:attribute name="targetItem" required="true" />

</composite:interface>

<composite:implementation>

	<p:commandLink type="button" oncomplete="PF('#{cc.attrs.dialog}').show();"
		global="false" update="@widgetVar(#{cc.attrs.dialog})"
		styleClass="#{hasRoleDelete ? '' : 'hidden'}" process="@this"
		partialSubmit="true" ajax="true">
		<i class="fa fa-trash Fs12" />
		<p:spacer width="1px" />
		<h:outputText value="#{text['button.delete']}" styleClass="Fs12" />
		<f:setPropertyActionListener value="#{cc.attrs.value}"
			target="#{cc.attrs.targetItem}" />
	</p:commandLink>



</composite:implementation>


</html>
