<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>


	<composite:attribute name="dialog" required="true" />
	<composite:attribute name="value" required="true" />
	<composite:attribute name="targetItem" required="true" />
	<composite:attribute name="linkLabel" required="true" />
	<composite:attribute name="toolTip" required="false"
		default="#{cc.attrs.linkLabel}" />


</composite:interface>

<composite:implementation>

	<!--
	<p:tooltip for="@(.ui-datatable tr[role=row][data-ri=#{rowIndex}])"
		value="#{fn:substring(cc.attrs.toolTip,0,49).concat(fn:length(cc.attrs.toolTip) > 49 ? '...' : '')}" trackMouse="true" />  -->


	<c:if test="#{hasRoleEdit}">

		<p:commandLink type="button"
			oncomplete="PF('#{cc.attrs.dialog}').show();" global="false"
			update="@widgetVar(#{cc.attrs.dialog})"
			styleClass="#{hasRoleEdit ? '' : 'hidden'}  ui-link" process="@this"
			partialSubmit="true" ajax="true" title="#{cc.attrs.toolTip}">
			<h:outputText value="#{cc.attrs.linkLabel}" />
			<f:setPropertyActionListener value="#{cc.attrs.value}"
				target="#{cc.attrs.targetItem}" />
			<composite:insertChildren />
		</p:commandLink>

	</c:if>
	<c:if test="#{not hasRoleEdit}">
		<h:outputText value="#{cc.attrs.linkLabel}" />
	</c:if>


</composite:implementation>


</html>
