<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>



	<composite:attribute name="value" required="true" />
	<composite:attribute name="toolTip" required="false"
		default="#{cc.attrs.value}" />
	<composite:attribute name="icon" required="false" />
	<composite:attribute name="actionMethod"
		method-signature="java.lang.String action()" required="true" />
	<composite:attribute name="ajax" required="false"  default="false"/>



</composite:interface>

<composite:implementation>

	<!--
	<p:tooltip for="@(.ui-datatable tr[role=row][data-ri=#{rowIndex}])"
		value="#{fn:substring(cc.attrs.toolTip,0,49).concat(fn:length(cc.attrs.toolTip) > 49 ? '...' : '')}" trackMouse="true" />  -->


	<c:if test="#{hasRoleEdit}">

		<p:commandLink 	styleClass="#{hasRoleEdit ? '' : 'hidden'}  ui-link" process="@this"
			partialSubmit="true" ajax="#{cc.attrs.ajax}" title="#{cc.attrs.toolTip}"
			action="#{cc.attrs.actionMethod}">

			<c:if test="#{not empty cc.attrs.icon}">
				<i class="#{cc.attrs.icon}" />
				<p:spacer width="1px" />
			</c:if>

			<h:outputText value="#{cc.attrs.value}" />

			<composite:insertChildren />
		</p:commandLink>

	</c:if>

	<c:if test="#{not hasRoleEdit}">
		<h:outputText value="#{cc.attrs.value}" />
	</c:if>


</composite:implementation>


</html>
