<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<!-- INTERFACE -->
<composite:interface>

	<composite:attribute name="title" />
	<composite:attribute name="buttonText" required="true" default="Close" />
	<composite:attribute name="dlgid" required="true" />
	<composite:attribute name="widgetId" required="true" />

</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>


	<p:dialog id="#{cc.attrs.dlgid}"  widgetVar="#{cc.attrs.widgetId}" showEffect="clip" hideEffect="fold"
		modal="true" closable="true" closeOnEscape="true" width="480"
		height="200" showHeader="true">

		<f:facet name="header">
			<h:outputText value="#{cc.attrs.title}" />
		</f:facet>

		<p:ajax event="close" oncomplete="PF('#{cc.attrs.widgetId}').hide();" global="false" />

		<composite:insertChildren />

		<f:facet name="footer">
			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
				<p:commandButton value="#{text['button.print']}" type="button"
					global="false" icon="fa fa-print Fs14 white">
					<p:printer target="#{cc.attrs.dlgid}" />
				</p:commandButton>
				<p:commandButton value="#{cc.attrs.buttonText}"
					onclick="PF('#{cc.attrs.widgetId}').hide();" global="false" />
			</p:panelGrid>
		</f:facet>

	</p:dialog>



</composite:implementation>


</html>
