<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
	<composite:attribute name="id" />
	<composite:attribute name="label" />
	<composite:attribute name="field" />
	<composite:attribute name="required" default="false" required="false" />
	<composite:attribute name="styleClass" default="text-medium"
		required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>

	<p:panelGrid styleClass="xnorowline xnocolline">

		<p:row>

			<p:column style="width:35%">
				<p:outputLabel for="inptxt#{cc.attrs.id}" id="otplbl#{cc.attrs.id}"
					value="#{cc.attrs.label}" />
			</p:column>

			<p:column style="width:35%">
				<p:inputText id="inptxt#{cc.attrs.id}" value="#{cc.attrs.field}"
					required="#{cc.attrs.required}" styleClass="#{cc.attrs.styleClass}" />
			</p:column>

			<p:column style="width:30%">
				<p:message for="inptxt#{cc.attrs.id}" id="msg#{cc.attrs.id}" />
			</p:column>

		</p:row>

	</p:panelGrid>
</composite:implementation>

</html>
