<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
	<composite:attribute name="id" />
	<composite:attribute name="label" />
	<composite:attribute name="field" />
	<composite:attribute name="required" default="false" required="false" />
	<composite:attribute name="styleClass" default="text-medium"
		required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	<p:panelGrid columns="3">
		<p:outputLabel for="inpcld#{cc.attrs.id}" id="otplbl#{cc.attrs.id}"
			value="#{cc.attrs.label}" />

		<p:calendar value="#{cc.attrs.field}" id="inpcld#{cc.attrs.id}"
			showOn="button" required="#{cc.attrs.required}"
			styleClass="#{cc.attrs.styleClass}" pattern="MM/dd/yyyy" mask="true"
			maskAutoClear="true"/>

		<p:message for="inpcld#{cc.attrs.id}" id="msg#{cc.attrs.id}" />
	</p:panelGrid>
</composite:implementation>

</html>
