<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
	<composite:attribute name="id" />
	<composite:attribute name="label" />
	<composite:attribute name="field" />
	<composite:attribute name="itemlist" />
	<composite:attribute name="itemlabel" />
	<composite:attribute name="itemvalue" />
	<composite:attribute name="required" default="false" required="false" />
	<composite:attribute name="styleClass" default="text-medium"
		required="false" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	<p:panelGrid columns="3">

		<p:outputLabel for="inpsltonemnu#{cc.attrs.id}"
			id="otptsltonemnu#{cc.attrs.id}" value="#{cc.attrs.label}" />

		<p:selectOneMenu value="#{cc.attrs.field}"
			id="inpsltonemnu#{cc.attrs.id}" required="#{cc.attrs.required}"
			styleClass="#{cc.attrs.styleClass}">

			<f:selectItems value="#{cc.attrs.itemlist}" id="slti#{cc.attrs.id}"
				var="c" itemLabel="#{cc.attrs.itemlabel}" itemValue="#{cc.attrs.itemvalue}" />

		</p:selectOneMenu>

		<p:message for="inpsltonemnu#{cc.attrs.id}"
			id="msgsltonemnu#{cc.attrs.id}" />

	</p:panelGrid>
</composite:implementation>

</html>
