<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<!-- INTERFACE -->
<composite:interface>
	<composite:attribute name="componentId" required="true" />
	<composite:attribute name="value" required="true" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>

	<div id="#{cc.attrs.componentId}">
		<p:inputTextarea rows="4" cols="25" counter="inptxrCounter"
			maxlength="100" counterTemplate="{0} characters remaining"
			autoResize="false" value="#{cc.attrs.value}" />
	</div>
</composite:implementation>

</html>
