<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
	<composite:attribute name="textHeader" default=""
		required="false" />
	<composite:attribute name="textSummary" default="Summary"
		required="false" />
	<composite:attribute name="textDetails" />
	<composite:attribute name="show" default="true" required="false" />
</composite:interface>


<composite:implementation>

	<!--  remove this from all forms..easist way is comment out here.
	<h:outputText value="#{cc.attrs.textHeader}"
		styleClass="FontBold Fs18 hardblue" style="display: block;"
		rendered="#{cc.attrs.show}" />
	<h:outputText value="#{cc.attrs.textSummary}"
		rendered="#{cc.attrs.show}" />
	<h:outputText value="#{cc.attrs.textDetail}"
		rendered="#{cc.attrs.show}" />
	<p:separator rendered="#{cc.attrs.show}" />

	 -->

</composite:implementation>

</html>
