<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>
	<composite:valueHolder name="pnlMain" />
	<composite:attribute name="header" required="false"/>
	<composite:attribute name="cId" default="pnlMain" required="false"/>
</composite:interface>

<composite:implementation >
	<p:panel id="#{cc.attrs.cId}" style="width:95%; margin: 0 auto"	header="#{cc.attrs.header}" >
		<composite:insertFacet name="actions"/>
		<composite:insertChildren/>
		<composite:insertFacet name="footer"/>
	</p:panel>
</composite:implementation>


</html>
