<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>

	<composite:attribute name="id" />
	<composite:attribute name="label" default="" required="false" />
	<composite:attribute name="value" default="" required="true" />

</composite:interface>


<composite:implementation>

	<p:selectCheckboxMenu id="#{cc.attrs.id}" label="#{cc.attrs.label}"
		filter="true" filterMatchMode="startsWith" panelStyle="width:250px">

		<f:selectItems value="#{cc.attrs.value}" var="type"
			itemLabel="#{type.label}" itemValue="#{type.value}"
			noSelectionValue="false" />

	</p:selectCheckboxMenu>

</composite:implementation>

</html>
