<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
              xmlns:composite="http://java.sun.com/jsf/composite"
              xmlns:p="http://primefaces.org/ui"
              xmlns:h="http://xmlns.jcp.org/jsf/html">

    <composite:interface>
        <composite:attribute name="showMoreListener"
                             method-signature="void actionListener(javax.faces.event.ActionEvent)"
                             required="true" />
        <composite:attribute name="refresh"
                             required="true" />
        <composite:attribute name="state" required="true" />
    </composite:interface>

    <composite:implementation>
        <p:commandLink actionListener="#{cc.attrs.showMoreListener}"
                       ajax="true" partialSubmit="true" process="@this" update="#{cc.attrs.refresh}"
                       global="false" immediate="true">
            <h:outputText
                    value="#{cc.attrs.state ?  text['event.showLessOptions'] : text['event.showMoreOptions']}"/>
        </p:commandLink>
    </composite:implementation>

</ui:component>
