<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

<composite:interface>

    <composite:attribute name="widgetVar" required="true"/>
    <composite:attribute name="header" required="true"/>
    <composite:attribute name="fullScreen" required="false"
                         default="false"/>
    <composite:attribute name="closeTitle" required="false"
                         default="#{text['button.close']}"/>
    <composite:attribute name="position" required="false"
                         default="right"/>

</composite:interface>


<composite:implementation>


    <p:sidebar id="sbTraining" widgetVar="#{cc.attrs.widgetVar}" blockScroll="false" position="#{cc.attrs.position}" fullScreen="#{cc.attrs.fullScreen}">

        <h:outputText value="#{cc.attrs.header}" styleClass="st-card-title"/>

        <p:separator styleClass="w100"/>
        <p:spacer height="20px"/>

        <composite:insertChildren/>

        <p:spacer height="20px"/>

        <p:separator styleClass="w100"/>
        <p:commandButton type="button" onclick="PF('#{cc.attrs.widgetVar}').hide();"
                         value="#{cc.attrs.closeTitle}"/>

    </p:sidebar>

</composite:implementation>
</html>
