<ui:component xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://xmlns.jcp.org/jsf/html"
              xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
              xmlns:p="http://primefaces.org/ui"
              xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="fieldId" required="true"/>
        <composite:attribute name="fieldValue" required="true"/>
        <composite:attribute name="isRequired" default="false"/>
        <composite:attribute name="maxSize" default="100"/>
    </composite:interface>

    <composite:implementation>

        <p:outputLabel for="#{cc.attrs.fieldId}"
                       value="#{text['eventType.descr']}"/>

        <p:inputTextarea rows="3" cols="50" counter="outptx#{cc.attrs.fieldId}"
                         maxlength="#{cc.attrs.maxSize}" counterTemplate="{0} characters remaining"
                         autoResize="true" value="#{cc.attrs.fieldValue}"
                         id="#{cc.attrs.fieldId}" required="#{cc.attrs.isRequired}"/>

        <p:message for="#{cc.attrs.fieldId}"/>

        <p:spacer/>
        <h:outputText id="outptx#{cc.attrs.fieldId}"/>
        <p:spacer/>

    </composite:implementation>

</ui:component>
