<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:util="http://xmlns.jcp.org/jsf/composite/components/util"
	xmlns:st="http://xmlns.jcp.org/jsf/composite/components/shared"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
		id="groupRolePnl">

		<h:inputHidden value="#{groupRoleForm.groupRole.grouproleId}"
			id="grouproleId" />
		<p:spacer />
		<p:spacer />

		<p:outputLabel styleClass="control-label" for="name"
			value="#{text['groupRole.roleName']}" />
		<p:inputText id="name" value="#{groupRoleForm.groupRole.roleName}"
			required="true" maxlength="25" />
		<p:message for="name" styleClass="help-inline" />

		<p:outputLabel styleClass="control-label" for="descr"
			value="#{text['groupRole.descr']}" />

		<p:inputTextarea rows="3" cols="50" counter="inptxrCounter"
			maxlength="100" counterTemplate="{0} characters remaining"
			autoResize="false" value="#{groupRoleForm.groupRole.descr}"
			id="descr" />

		<p:message for="descr" styleClass="help-inline" />

		<p:spacer />
		<h:outputText id="inptxrCounter" />
		<p:spacer />


	</p:panelGrid>
</ui:composition>
