<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:progressBar id="prgBar" widgetVar="prgBarWv" ajax="true" interval="500"
                   labelTemplate0="{value}%" style="height:30px"
                   value="#{importDataForm.progress}" global="false" styleClass="Wid100" >

        <p:ajax event="complete" oncomplete="PF('wgvBackButton').enable();"/>

    </p:progressBar>


    <p:outputPanel id="otpProgressInformation" styleClass="Wid100 TexAlCenter" layout="block">
        <p:autoUpdate/>
        <h:outputText value="#{importDataForm.progressInformation}" styleClass="Fs20"/>
    </p:outputPanel>

    <p:spacer height="10px"/>

    <p:outputPanel layout="block" styleClass="Wid100">

        <p:autoUpdate/>

        <p:orderList value="#{importDataForm.errorMessages}" var="error" controlsLocation="none"
                     itemValue="#{error}"
                     rendered="#{importDataForm.showErrorMessageDetails}" styleClass="Fs20"
                     responsive="true">

            <f:facet name="caption">#{text['importData.validation.errors']}</f:facet>

            <p:column style="width:30px">
                <i class="fa fa-exclamation-triangle Fs20 red"/>
            </p:column>

            <p:column>
                <h:outputText value="#{error.label}"/>
            </p:column>

        </p:orderList>

    </p:outputPanel>


</ui:composition>